@import "asf-theme";

.chart-wrapper {
  height: calc(100% - 1px);
  width: calc(100% - 30px);
}

#sbasChart {
  height: 100%;
  width: 100%;
}
::ng-deep .sbas-label {
  @include themify($themes) {
    fill: themed('dark-primary-text');
  }
}