.chart-wrapper {
  height: calc(100% - 1px);
  width: calc(100% - 30px);
  //height: 100%;
  //border-left: lightgrey 1px solid;
}

.chart-canvas {
  //margin: 0 16px 16px 16px;
  //height: calc(100% - 80px);
}

#sbasChart {
  //color: white;
  height: 100%;
}
