@use "asf-theme-variables" as *;
@use "tokens" as *;

.chart-wrapper {
  height: calc(100% - 1px);
  width: calc(100% - 30px);
}

#sbasChart {
  height: 100%;
  width: 100%;
}

// Replaced ::ng-deep with :host for SVG elements created by D3 within this component
:host .sbas-label {
  fill: var(--asf-dark-primary-text);
}