@import "asf-theme";

$header-height: 95px;
$footer-height: 60px;
$bottom-offset: 10px;


[mat-dialog-title] {
  background: #369; // TODO: check this
  color: $light-primary-text;
  cursor: move;
  text-align: center;
}

.queue {
  @include themify($themes) {
    color: themed('dark-primary-text');
    background: themed('primary-light');
  }
  min-width: 350px;
  height: 100%;
  min-height: 500px;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 25px;
  font-weight: bold;
}

.mat-dialog-content {
  @include themify($themes) {
    background-color: themed('background-white');
  }
  position: absolute;
  
  display: block;
  top: $header-height;
  height: calc(100% - #{$header-height} - #{$footer-height} - #{$bottom-offset});
  max-height: calc(100% - #{$header-height} - #{$footer-height} - #{$bottom-offset});
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0;
  margin: 0;

  .mat-dialog-content-2 {
    top: initial;
    height: calc(100% - #{$footer-height});
    overflow: initial;
  }
}

.content-top-area {
  display: flex;
  flex-flow: row wrap;
  padding: 0 0 8px 15px;
  border-bottom: solid 2px grey;
  height: 100%;
}

.content-area {
  padding: 0 0 0 15px;
  height: 100%;
}

.content-bottom-area {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-y: auto;
}

.pq-card-title-group {
  @include themify($themes) {
    background: themed('primary-light');
    color: themed('dark-primary-text');
    border-bottom-color: themed('primary-dark');
  }
  padding: 10px 10px 0 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 100%;
  height: calc(#{$header-height} - 16px);
  position: absolute;
  top: 5px;
  flex: 1 1 auto;
  text-align: left;
}

.header-link {
  font-size: 18px;

  a {
    @include themify($themes) {
      color: themed('blue-link');
    }
    text-decoration: underline;
  }
}

.feedback-div {
  position: absolute;
  top: 53px;
  right: 16px;
  text-align: right;
  float: right;
  cursor: pointer;
}

.docs-div {
  position: absolute;
  top: 56px;
  right: 140px;
  text-align: right;
  float: right;
  cursor: pointer;
}

.content-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}

.footer {
  @include themify($themes) {
    background: themed('primary-light');
    border-top-color: themed('primary-dark');
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  border-top: 1px;
  border-top-style: solid;
}

.mat-dialog-actions {
  @include themify($themes) {
    background-color: themed('primary-light');
  }
  position: absolute;
  display: flex;
  width: 100%;
  height: $footer-height;
  bottom: $bottom-offset;
  margin-bottom: 0;
  padding: 0;
}

.subscription-footer {
  @include themify($themes) {
    background-color: themed('primary-light');
    border-top-color: themed('primary-dark');
  }
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  border-top: 1px;
  border-top-style: solid;
}

.subscription-footer-item {
  margin: 15px 25px 15px 15px;
}

.validate-toggle {
  @include themify($themes) {
    color: themed('dark-secondary-text');
  }
  margin-top: 22px;
}

.validate-only {
  @include themify($themes) {
    color: themed('dark-primary-text');
  }
}

.on-demand-branding {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: -5px;
}

.on-demand-icon {
  @include themify($themes) {
    color: themed('dark-primary-text');
  }
  @include md-icon-size(72px);

}

.on-demand-text {
  vertical-align: middle;
  margin-top: -16px;
}

.on-demand-subtitle {
  @include themify($themes) {
    color: themed('dark-secondary-text');
  }
  font-style: italic;
  font-size: 14px;
  margin-top: -15px;
}

.sub-option {
  margin-right: 8px;
}

.step-error {
  @include themify($themes) {
    color: themed('err');
  }
}

.close-x {
  @include themify($themes) {
    color: themed('dark-primary-text');
  }
  position: absolute;
  top: 10px;
  right: 24px;
  text-align: right;
  float: right;
  cursor: pointer;
  z-index: 100;
}

.navigation-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.navigation-item {
  flex: none;
}

.mobile-navigation-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hyp3-url {
  @include themify($themes) {
    color: themed('dark-secondary-text');
  }
  height: 32px;
  font-size: 12px;
  margin: -4px 0 6px 0;
}

.hyp3-url-mobile {
  margin: 17px 0 0 0;
}

.branding-block {
  display: flex;
  flex-direction: column;
}
