<div mat-dialog-title
  class="queue">
  <div class="pq-card-title-group">
    <div>
      <div class="on-demand-branding">
        <mat-icon
           class="on-demand-icon"
           svgIcon="hyp3"
           matBadgePosition="above after"
           matBadgeOverlap="true"
           matBadgeSize="small">
        </mat-icon>
      </div>

      <ng-container *ngIf="breakpoint !== breakpoints.MOBILE">
        <div class="on-demand-text">
          Create Subscription
        </div>
        <div class="on-demand-subtitle">
          powered by HyP3
        </div>
      </ng-container>
    </div>
  </div>

  <div class="feedback-div header-link">
    <a href="javascript:feedback.showForm();" onfocus="this.blur()"> <i class="fa fa-comments-o"></i> Feedback</a>
  </div>

  <div class="docs-div header-link">
    <a href="https://hyp3-docs.asf.alaska.edu/" target="_blank" onfocus="this.blur()">
      <i class="fa fa-external-link"></i> Docs
    </a>
  </div>
</div>

<mat-dialog-content
  #contentArea style="overflow: auto;" class="mat-dialog-content">
  <div class="content-block">
    <div class="content-area">
      <mat-stepper #stepper>
        <mat-step>
          <ng-template matStepLabel>Search Options</ng-template>

          <div>
            <div style="margin-bottom: 5px;">
              <b>Subscription Date</b>
              <div *ngIf="errors.dateError" class="step-error"> *{{ errors.dateError }}</div>
            </div>
            <app-date-selector [extendEndDateBy]="6"></app-date-selector>
          </div>

          <div>
            <div style="margin-bottom: 5px;">
              <b>AOI Options</b>
              <div *ngIf="errors.polygonError" class="step-error"> *{{ errors.polygonError }}</div>
            </div>
            <app-aoi-options [showHeader]="false"></app-aoi-options>
          </div>

        </mat-step>

        <mat-step label="Current Processing Options">
          <ng-template matStepLabel>Subscription Options</ng-template>

          <div style="margin-bottom: 10px;">
            <div style="margin-bottom: 5px;">
              <b>Job Type</b>
            </div>

            <mat-form-field class="sub-option">
              <mat-select
                [(value)]="jobTypeId"
                (selectionChange)="onNewJobType($event)"
                [disabled]="hyp3JobTypesList.length < 1"
                placeholder="Job Type">
                  <mat-option
                    *ngFor="let jobType of hyp3JobTypesList"
                    [value]="jobType.id"
                    [matTooltip]="jobType.name">
                      {{jobType.name}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div style="margin-bottom: 10px;">
            <div style="margin-bottom: 5px;">
              <b>Search Options</b>
            </div>

            <mat-form-field class="sub-option">
              <mat-select
                [(value)]="productType"
                (selectionChange)="onNewProductType($event)"
                [disabled]="productTypes.length < 1"
                placeholder="File Type">
                  <mat-option
                    *ngFor="let type of productTypes"
                    [value]="type.apiValue"
                    [matTooltip]="type.displayName">
                      {{type.displayName}}
                  </mat-option>
              </mat-select>

              <mat-hint align="start">
                {{ !productType ? 'Select file type' : productType + ' selected' }}
              </mat-hint>
            </mat-form-field>

            <mat-form-field class="sub-option">
              <mat-select
                (selectionChange)="onNewFlightDirection($event)"
                [(value)]="flightDirection"
                placeholder="Direction">
                <mat-option *ngFor="let direction of flightDirectionTypes" [value]="direction">
                  {{direction}}
                </mat-option>
              </mat-select>

              <mat-hint align="start">
                {{ !flightDirection ? 'No flight direction selected' : 'Flight direction selected' }}
              </mat-hint>
            </mat-form-field>

            <mat-form-field class="sub-option">
              <mat-select
                (selectionChange)="onNewPolarization($event)"
                [(value)]="polarization"
                placeholder="Polarization">
                <mat-option *ngFor="let pol of polarizations" [value]="pol">
                  {{pol}}
                </mat-option>
              </mat-select>

              <mat-hint align="start">
                {{ !polarization ? 'No polarization selected' : 'Polarization selected' }}
              </mat-hint>
            </mat-form-field>

            <mat-form-field class="sub-option">
              <mat-select
                [(value)]="subtype"
                (selectionChange)="onNewSubType($event)"
                placeholder="Sentinel-1 Type">
                  <mat-option
                    *ngFor="let type of s1Subtypes"
                    [value]="type.apiValue"
                    [matTooltip]="type.displayName">
                      {{type.displayName}}
                  </mat-option>
              </mat-select>

              <mat-hint align="start">
                {{ !productType ? 'Select type' : subtype + ' selected' }}
              </mat-hint>
            </mat-form-field>
          </div>

          <div style="margin-bottom: 5px;">
            <b>Processing Options</b>
          </div>

          <app-processing-options
                  *ngIf="selectedJobTypeId"
                  [selectedJobType]="hyp3JobTypes[jobTypeId]">
          </app-processing-options>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Review</ng-template>

          <div>
            <b>Name: </b>
            <div *ngIf="errors.projectNameError" class="step-error"> *{{ errors.projectNameError }}</div>
            <app-project-name-selector [processName]="true"></app-project-name-selector>
          </div>

          <div>
            <b>Job Type:</b> {{ jobTypeId }}
          </div>


          <h3>Search Options:</h3>
          <div>
            <div *ngIf="!!subtype">
              <b>Dataset:</b> {{ subtype }}
            </div>
            <div *ngIf="!!polygon">
              <b>Search Area:</b> {{ showSearchAreaType(polygon) }}
            </div>

            <div *ngIf="!!dateRange.start">
              <b>Start:</b> {{ dateRange.start | shortDate }}
            </div>
            <div *ngIf="!!dateRange.end">
              <b>End:</b> {{ dateRange.end | shortDate }}
            </div>

            <div *ngIf="!!productType">
              <b>File Type:</b> {{ productType }}
            </div>

            <div *ngIf="!!polarization">
              <b>Polarization:</b> {{ polarization }}
            </div>

            <div *ngIf="!!flightDirection">
              <b>Flight Dir:</b> {{ flightDirection }}
            </div>
          </div>

          <h3>Processing Options:</h3>

          <div>
            <div *ngFor="let param of filterOptions(processingOptionsList, jobTypeId)">
              <b>{{ param.name }}:</b> {{ param.val }}
            </div>
          </div>

        </mat-step>
      </mat-stepper>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="mat-dialog-actions">
  <div class="w100 hyp3-footer">
    <button (click)="onBack()" mat-flat-button
      [disabled]="stepper.selectedIndex === 0">
      Back
    </button>

    <div>
      <mat-slide-toggle
         *ngIf="breakpoint !== breakpoints.MOBILE"
        style="margin-right: 16px;"
        (change)="onValidateOnlyToggle($event.checked)"
        [(ngModel)]="validateOnly">
        Validate Only
      </mat-slide-toggle>

      <button
         (click)="onNext()"
         [disabled]=""
         mat-flat-button
         color="primary">
        {{ isLastStep() ? 'Submit' : 'Next'}}
      </button>
    </div>
  </div>
</mat-dialog-actions>
