<div>
  <div *ngIf="!!filters.reference">
    <b>{{ 'REFERENCE' | translate }}: </b> {{ filters.reference }}
  </div>
  <div *ngIf="!!filters.customPairIds && filters.customPairIds.length !== 0">
    <b>{{'CUSTOM_PAIRS' | translate}}: </b> {{ filters.customPairIds.length }}
  </div>
  <div *ngIf="filters.temporal !== null">
    <b>{{ 'TEMPORAL' | translate }}: </b> {{ filters.temporal }}
  </div>
  <div *ngIf="filters.perpendicular !== null">
    <b>{{'PERPENDICULAR' | translate}}: </b> {{ filters.perpendicular }}
  </div>
  <div *ngIf="filters.season.start !== null || filters.season.end !== null">
    <b>{{'SEASON' | translate}}: </b> {{ filters.season.start }} to {{ filters.season.end }}
  </div>
  <div>
    <b>{{'PAIR_OVERLAP_THRESHOLD' | translate}}: </b> {{ filters.thresholdOverlap}}
  </div>
</div>
