<ng-container *ngIf="header == false">
  <mat-form-field appearance="fill">
    <mat-label>Default Language</mat-label>
    <mat-select #langPreference
                (change)="onSelectionChange(langPreference.value)"
                [(value)]=selected
    >
      <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">
        {{languageName(lang)}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>

<div *ngIf="header == true"
     class="langSelect-div">
  <select class="langSelect-select" #langSelect (change)="translate.use(langSelect.value)">
    <option *ngFor="let lang of translate.getLangs()"
            [value]="lang"
            [selected]="lang === translate.currentLang">
      {{languageName(lang)}}
    </option>
  </select>
</div>

