@use "@angular/material" as mat;

@use "asf-theme-variables" as *;
@use "flex-layout-sass/mixin" as *;
@use "tokens" as *;

.langSelect-div {
  display: inline-block;
  position:absolute;
  top: -3px;
  right: spacing(xl);
}

.langSelect-select {
  border: none;
  width: auto;
  font-size: 11px;
  color: var(--asf-dark-secondary-text);
  background-color: inherit;
}

.lang-fab-button {
  display: inline-block;
  position: absolute;
  top: -12px;
  right: spacing(md);
  width: auto;
  height: 34px;
  padding: spacing(sm);
  font-size: font-size(xs);

  .mat-icon {
    font-size: font-size(sm);
    padding: spacing(xs) 0 0 0;
  }

  .icon-text {
    display: inline-block;
    margin-top: -7px;
    padding-right: spacing(sm);
  }
}
