@use "@angular/material" as mat;

@import "asf-theme";
@import "flex-layout-sass/mixin";

.langSelect-div {
  display: inline-block;
  position:absolute;
  top: -3px;
  right: 25px;
}

.langSelect-select {
  border: none;
  width: auto;
  font-size: 11px;
  @include themify($themes) {
    color: themed('dark-secondary-text');
  }
  background-color: inherit;
}

.lang-fab-button {
  display: inline-block;
  position: absolute;
  top: -12px;
  right: 15px;
  width: auto;
  height: 34px;
  padding: 5px;
  font-size: 12px;

  .mat-icon {
    font-size: 14px;
    padding: 4px 0 0 0;
  }

  .icon-text {
    display: inline-block;
    margin-top: -7px;
    padding-right: 5px;
  }

}
