<div mat-dialog-title cdkDrag cdkDragHandle cdkDragRootElement=".cdk-overlay-pane"
  cdkDragBoundary=".cdk-global-overlay-wrapper" (resized)="onResized($event)">

  <div class="dl-title-group">
    <h1>
      Layers
      <!-- {{ 'LAYER_DIALOG_TITLE' | translate }} -->
    </h1>
  </div>

  <div class="doc-feedback-div">
    <div class="docs-div header-link" [class.header-link-mobile]="breakpoint === breakpoints.MOBILE">
      <app-docs-modal class="text-link" text="Docs" url="https://docs.asf.alaska.edu/vertex/manual/#downloads-queue">
      </app-docs-modal>
    </div>

    <div class="feedback-div header-link" [class.header-link-mobile]="breakpoint === breakpoints.MOBILE">
      <a href="javascript:feedback.showForm();" onfocus="this.blur()"> <mat-icon>comment</mat-icon> {{ 'FEEDBACK' |
        translate }}</a>
    </div>
  </div>

  <div class="dl-close-x" (click)="onCloseDownloadQueue()">
    <mat-icon>close</mat-icon>
  </div>
</div>

<mat-dialog-content class="dl-mat-dialog-content">
  <div>
    <mat-list-item *ngFor="let layer of layerArray" role="listitem">
      <div matLine class="item-content" [ngClass]="{'dl-list-item-mobile' : breakpoint === breakpoints.MOBILE }">
        <button mat-button (click)="setSelectedLayer(layer)" style="width: 100%;">{{layer.label}}</button>
      </div>
    </mat-list-item>
  </div>
  <div class="sub-layer-menu">
    <ng-container *ngIf="selectedLayer">
      <div class="sub-layer-menu-content">
        <span class="layer-description">{{selectedLayer.description}}</span>
        <div *ngIf="selectedLayer.type === 'TOGGLE'">
          <mat-slide-toggle (change)="onOptionSelect($event.checked, selectedLayer)" [checked]="selectedLayer.asyncValue | async">Enabled</mat-slide-toggle>
        </div>
        <div *ngIf="selectedLayer.type === 'LIST'" style="display:flex; flex-direction: column;">
          <mat-list-item *ngFor="let item of selectedLayer.sub" class="layer-list-item">
            <mat-radio-button (click)="onOptionSelect(item.value, selectedLayer)"
              [value]="item.value" [checked]="(selectedLayer.asyncValue | async) === item.value">{{item.name}}</mat-radio-button>
          </mat-list-item>
        </div>
      </div>
    </ng-container>
  </div>
  <div>

  </div>
</mat-dialog-content>