@import "asf-theme";

$header-height: 67px;
$footer-height: 60px;
$bottom-offset: 10px;
$warn-msg-height: 27px;
$warn-msg-mobile-height: 49px;
$idk-pad: 21px;

.dl-title-group {
  @include themify($themes) {
    border-bottom-color: themed("primary-dark");
    color: themed("dark-primary-text");
  }

  padding: 0 10px;
  // margin-top: -$bottom-offset;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.dl-subtitle {
  @include themify($themes) {
    color: themed("dark-secondary-text");
  }

  margin-top: -25px;
  font-style: italic;
  font-size: 16px;
}

.dl-card-actions {
  @include themify($themes) {
    background-color: themed("primary-light");
    border-top-color: themed("primary-dark");
    color: themed("dark-primary-text");
  }

  height: 100px;
  padding: 20px 20px 0;
  border-top-style: solid;
  border-top-width: 1px;

  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

.dl-clear-button {
  text-align: left;

  .mat-button {
    font-size: 16px;

    @include themify($themes) {
      color: themed("dark-primary-text");
    }
  }

  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 15%;
}

.dl-download-buttons {
  text-align: right;

  .mat-button {
    font-size: 16px;

    @include themify($themes) {
      color: themed("dark-primary-text");
    }
  }

  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 85%;
}

.dl-close-x {
  position: absolute;
  top: 6px;
  right: 12px;
  text-align: right;
  float: right;
  cursor: pointer;
  z-index: 100;

  @include themify($themes) {
    color: themed("dark-primary-text");
  }
}

.dl-empty-message {
  text-align: center;
  font-size: 20px;

  @include themify($themes) {
    color: themed("dark-primary-text");
  }
}

.dem-warning {
  font-size: 14px;
  padding: 7px;

  @include themify($themes) {
    background-color: lighten(themed("primary-light"), 10%);
    color: themed("err");
  }

  width: 100%;
}

.dl-list-item-mobile {
  width: 200px;
  overflow: hidden;
}

.feedback-link {
  font-size: 18px;

  a {
    text-decoration: none;

    @include themify($themes) {
      color: themed("dark-primary-text");
    }
  }
}

.more-link {
  @include themify($themes) {
    color: themed("blue-link");
  }
}

button {
  height: 36px;
  font-weight: 100;
}

.buttons {
  grid-template-columns: auto auto;
  display: grid;
  font-size: 14px;

  @include themify($themes) {
    color: themed("light-primary-text");
  }

  justify-content: center;
  margin: 10px;
}

.button-clipboard-mobile {
  padding: 0 0 0 5px !important;
}

.dl-mat-dialog-content {
  display: flex;
  @include themify($themes) {
    background-color: themed("background-white");
  }

  height: calc(100% - #{$header-height} - #{$footer-height} - #{$idk-pad});
  max-height: calc(100% - #{$header-height} - #{$footer-height} - #{$idk-pad});
  padding: 0;
  margin: 0;
}

.dl-mat-dialog-content-warn {
  height: calc(100% - #{$header-height} - #{$footer-height} - #{$warn-msg-height} - #{$idk-pad});
  max-height: calc(100% - #{$header-height} - #{$footer-height} - #{$warn-msg-height} - #{$idk-pad});
}

.dl-mat-dialog-content-warn-mobile {
  height: calc(100% - #{$header-height} - #{$footer-height} - #{$warn-msg-mobile-height} - #{$idk-pad});
  max-height: calc(100% - #{$header-height} - #{$footer-height} - #{$warn-msg-mobile-height} - #{$idk-pad});
}

.dl-mat-dialog-actions {
  @include themify($themes) {
    background-color: themed("dark-secondary-text");
  }

  position: absolute;
  display: flex;
  width: 100%;
  height: $footer-height;
  bottom: $bottom-offset;
  margin-bottom: 0;
  padding: 0;
}

[mat-dialog-title] {
  margin: -24px -24px 0 !important;
  padding: 18px 24px;

  @include themify($themes) {
    background-color: themed("primary-light");
    color: themed("dark-primary-text");
  }

  cursor: move;
  text-align: left;
  height: $header-height;
}

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0 !important;
}

.on-demand-warning {
  font-size: small;
  font-style: italic;

  @include themify($themes) {
    color: themed("blue-link");
  }

  position: fixed;
  margin-top: -18px;
}

.progress-bar {
  position: absolute;
  margin-top: 23px;
  height: 2px;
  width: calc(100% - 43px);
  opacity: 0.3;
}

.item-checkbox {
  margin-right: 15px;
}

.item-second-line {
  margin-left: 20px;
}

.item-summary-checkbox {
  margin-left: 7px;
  margin-right: 17px;
}

.global-progress {
  width: calc(100% + 20px);
  left: -10px;
}

.doc-feedback-div {
  display: flex;
  justify-content: flex-end;
  margin-top: -42px;
  margin-right: 20px;
}

.header-link-mobile {
  font-size: 12px !important;
}

.docs-div {
  cursor: pointer;
  flex: 0 1 auto;
  margin-right: 20px;
  margin-top: 2px;
}

.feedback-div {
  cursor: pointer;
  flex: 0 1 auto;
}

.header-link {
  font-size: 18px;

  a {
    text-decoration: underline;

    @include themify($themes) {
      color: themed("blue-link");
    }
  }
}

.product-display {
  margin-top: 3px; 
  margin-left: 32px;
}

.product-display-mobile {
  margin-top: 3px; 
  margin-left: 16px;
}

#layer-modal-map {
  height: 100%;
  width: 100%;
}
.sub-layer-menu {
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
}
.layer-list-item {
  margin: 5px;
}
.sub-layer-menu-content {
  margin: 5px;
}