
  <mat-chip class="clickable"
            [matMenuTriggerFor]='resubmitJobMenu'
            *ngIf="isExpired(job) && !isFileDetails"
            color="primary">{{ 'EXPIRED' | translate }}...
  </mat-chip>

  <mat-chip class="clickable"
            [matMenuTriggerFor]='resubmitJobMenu'
            *ngIf="isFailed(job) && !isFileDetails"
            color="primary">{{ 'FAILED' | translate }}...
  </mat-chip>

  <mat-chip *ngIf="isExpired(job) && isFileDetails" color="primary">{{ 'EXPIRED' | translate }}</mat-chip>
  <mat-chip *ngIf="isPending(job)" color="secondary">{{ 'PENDING' | translate }}</mat-chip>
  <mat-chip *ngIf="isFailed(job) && isFileDetails" color="accent">{{ 'FAILED' | translate }}</mat-chip>
  <mat-chip *ngIf="isRunning(job)" color="secondary">{{ 'RUNNING' | translate }}</mat-chip>

<mat-menu #resubmitJobMenu = "matMenu">
  <button (click)="onReviewExpiredJob()" [disabled]="remaining < 1" mat-menu-item>
      {{ 'RESUBMIT_JOB' | translate }}...
  </button>

  <button (click) ="onReviewExpiredJobs()" mat-menu-item>
    {{ 'RESUBMIT_PROJECT' | translate }} <b>({{ job.name }})</b>...
  </button>
</mat-menu>
