  @if(job.job_parameters.scenes[0].isDummyProduct) {
    <mat-chip color="primary">Loading...</mat-chip>
  } @else {

    @if(isExpired(job) && !isFileDetails) {
      <mat-chip class="clickable"
                [matMenuTriggerFor]='resubmitJobMenu'
                color="primary">{{ 'EXPIRED' | translate }}...
      </mat-chip>
    } @else if (isFailed(job) && !isFileDetails) {
      <mat-chip class="clickable"
                [matMenuTriggerFor]='resubmitJobMenu'
                color="primary">{{ 'FAILED' | translate }}...
      </mat-chip>
    } @else if (isExpired(job) && isFileDetails) {
      <mat-chip color="primary">{{ 'EXPIRED' | translate }}</mat-chip>
    } @else if (isPending(job)) {
      <mat-chip color="secondary">{{ 'PENDING' | translate }}</mat-chip>
    } @else if (isFailed(job) && isFileDetails) {
      <mat-chip color="accent">{{ 'FAILED' | translate }}</mat-chip>
    } @else if (isRunning(job)) {
      <mat-chip color="secondary">{{ 'RUNNING' | translate }}</mat-chip>
    }
  }

<mat-menu #resubmitJobMenu = "matMenu">
  <button (click)="onReviewExpiredJob()" [disabled]="remaining < 1" mat-menu-item>
      {{ 'RESUBMIT_JOB' | translate }}...
  </button>

  <button (click) ="onReviewExpiredJobs()" mat-menu-item>
    {{ 'RESUBMIT_PROJECT' | translate }} <b>({{ job.name }})</b>...
  </button>
</mat-menu>
