@if (submenu.length === 0) {
  <fa-icon
    (click)="onCopyIconClicked($event)"
    class="clickable"
    [matTooltip]="prompt"
    matTooltipPosition="left"
    [icon]="copyIcon"
  >
  </fa-icon>
}

@if (submenu.length > 0) {
  <fa-icon
    (click)="$event.stopPropagation()"
    [matMenuTriggerFor]="promptMenu"
    class="clickable"
    matTooltipPosition="left"
    [icon]="copyIcon"
  >
  </fa-icon>
}

<mat-menu #promptMenu>
  @for (item of submenu; track item) {
    <button mat-menu-item (click)="onCopyFromMenu(item[0], item[1])">
      {{ item[0] }}
    </button>
  }
</mat-menu>
