@if (submenu.length === 0) {
  <mat-icon
    (click)="onCopyIconClicked($event)"
    class="clickable icon"
    [matTooltip]="prompt"
    matTooltipPosition="left"
    inline="true"
  >
    {{ copyIcon }}
  </mat-icon>
}

@if (submenu.length > 0) {
  <mat-icon
    (click)="$event.stopPropagation()"
    [matMenuTriggerFor]="promptMenu"
    class="clickable icon"
    [matTooltip]="prompt"
    matTooltipPosition="left"
    inline="true"
  >
    {{ copyIcon }}
  </mat-icon>
}

<mat-menu #promptMenu>
  @for (item of submenu; track item) {
    <button mat-menu-item (click)="onCopyFromMenu(item[0], item[1])">
      {{ item[0] }}
    </button>
  }
</mat-menu>
