<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ product.granuleName | truncate : 21 }}</mat-card-title>
    <mat-card-subtitle>{{ product.platform }}</mat-card-subtitle>

  </mat-card-header>

  <img mat-card-image [src]="product.browse" alt="Photo of a Shiba Inu">

  <mat-card-content>
  <mat-list>
    <h3 mat-subheader>Details</h3>
    <mat-list-item>
      <h4 mat-line> <b>Aquisition Date:</b> {{ product.processingDate }}</h4>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line><b>Beam Mode:</b> {{ product.beamMode }}</h4>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line><b>Path: </b> {{ product.relativeOrbit }}</h4>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line><b>Frame:</b> {{ product.frameNumber }}</h4>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line><b>Flight Direction:</b> {{ product.flightDirection }}</h4>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line><b>Polarization: </b> {{ product.polarization }}</h4>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line><b>Absolute Orbit: </b> {{ product.absoluteOrbit }}</h4>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line><b>Frequency: </b> {{ product.frequency }}</h4>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line> <a href="http://www.esa.int/ESA"> Data courtesy of ESA</a> </h4>
    </mat-list-item>
  </mat-list>

  </mat-card-content>

  <mat-card-actions>

    <a mat-raised-button
      matTooltip="Accessing this data requires you to log in. Some datasets also require a proposal, or agreement with a EULA which is presented after log in."
      color="primary" [href]="product.downloadUrl">
      {{ getReadableSize(product.bytes) }}
      <fa-icon class="dl-icon" [icon]="downloadIcon"></fa-icon>
    </a>

    <a mat-raised-button color="primary" href="https://baseline.asf.alaska.edu/#/baseline?granule={{ product.granuleName }}">Baseline Tool</a>
    <a mat-raised-button color="primary" href="https://www.asf.alaska.edu/about/how-to-cite-data/">Citation</a>


  </mat-card-actions>
</mat-card>
