.button-flex-row  {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.date {
  margin: 0 4px !important;
  text-align: right;
}

.icon-margin {
  margin-left: 10px;
}

.icon-disabled {
  opacity: 0.5;
}
