@use 'asf-theme-variables' as *;

.icon-margin {
  margin-left: 5px;

  span {
    margin: 0 5px;
  }

  app-copy-to-clipboard + app-copy-to-clipboard {
    margin-left: 6px;
  }
}

.file-sub-line {
  font-size: 14px !important;
}

.file-action-icons {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  app-copy-to-clipboard {
    display: inline-flex;
    align-items: center;
    margin: 0;
  }
}

.disabled-cursor {
  cursor: default;
}

.file-size {
  font-size: 14px;
  white-space: nowrap;

  @include themify($themes) {
    color: themed('light-black');
  }
}

.mdc-list-item--with-trailing-meta .mdc-list-item__end {
  margin-left: 0;
  margin-right: 0;
}


.mat-mdc-list-item-unscoped-content {
  display: flex;
}

.hype-icon-button {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 1px;

  @include themify($themes) {
    color: themed('light-black');
  }
}

.unnamed-project {
  font-style: italic;
  opacity: 0.7;
}

.job-metadata-first {
  margin-top: -18px;
}

.params-first {
  margin-top: -8px;
}
.icon {
  font-size: 1.2rem;
}

.file-type-label {
  font-size: 14px;
}

.info-icon {
  margin-left: 10px;
}

.expired-job-button {
  margin-right: 10px;
}
