@use "asf-theme-variables" as *;
@use "variables" as *;
@use "tokens" as *;
@use "component-mixins" as *;

%card-base {
  background-color: var(--asf-primary);
  color: var(--asf-dark-primary-text);
  border-radius: 0;
}

.bounds {
  height: 128px;
}

.content {
  @extend %card-base;

  box-shadow: none;
}

.sec1 {
  margin-right: spacing(sm);
}

.logo-card {
  background-color: var(--asf-primary-light);
  color: var(--asf-surface);
  padding: 0 spacing(sm) 0 0 !important;
  flex: 1 1 0%;
  box-sizing: border-box;

  .header {
    font-size: 20px;
    line-height: 33px;
    font-weight: 400;
    letter-spacing: 0.02em;
    margin-top: -10px;
  }

  .subhead {
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin-bottom: spacing(sm);
  }

  p {
    margin-top: -#{spacing(sm)};
    font-size: 12px;
    font-style: italic;
    letter-spacing: 0.02em;
  }

  a {
    color: $asf-warn;
  }
}

$icon-size: 36px;

.menu-toggle-button {
  @include clickable;
  background-color: var(--asf-primary);
  color: var(--asf-dark-primary-text);
  box-shadow: none !important;
  border: none;
  text-align: center;
  vertical-align: center;
  border-right-color: transparent;
  border-right-style: solid;
  border-right-width: 1px;
  margin-top: 19px;
  margin-left: spacing(sm);
}

.toggle-icon {
  @include md-icon-size($icon-size);
}

.toggle-text {
  line-height: 0;
  width: 100%;
}

.banner-area {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.banner-image {
  width: calc(100% - 228px);
  height: auto;
  position: absolute;
  top: 0;
  bottom: calc(100% - 120px);
  left: 0;
  margin: auto;
  mix-blend-mode: multiply;
}

.asf-logo {
  width: 113px;
  margin-top: 13px;
  margin-left: spacing(xs);
}

.asf-logo-mobile {
  height: 35px;
  margin: spacing(xs);
}

.branding-block {
  padding-top: 0;
  margin-left: spacing(sm);
  flex: 1 1 130px;
  box-sizing: border-box;
  max-width: 130px;
  min-width: 130px;
}

// Use utility class 'card-flat' on element instead of !important
// Or increase specificity:
:host .mat-mdc-card {
  box-shadow: none;
}
