<ng-container *ngIf="breakpoint$ | async as breakpoint">

  <div *ngIf="breakpoint !== breakpoints.MOBILE"
    (click)="onResetSearch()"
    class="bounds clickable fx-row">
    <mat-card  class="content logo-card mat-elevation-z10">
      <div class="branding-block">
        <img src="/assets/asf-logos/vertex/asf-vertex-outline.png" class="asf-logo">
      </div>
    </mat-card>
  </div>

  <div *ngIf="breakpoint === breakpoints.MOBILE"
    (click)="onResetSearch()" class="clickable">
    <img src="/assets/ASFLogo-Blue2.png" class="asf-logo-mobile">
  </div>
</ng-container>
