@import "asf-theme";
@import "variables";

%card-base {
  @include themify($themes) {
    background-color: themed('primary');
    color: themed('dark-primary-text');
  }
  border-radius: 0;
}

.bounds {
  height: 113px;
}

.content {
  @extend %card-base;

  box-shadow: none;
}

.sec1 {
  margin-right: 9px;
}

.logo-card {
  @include themify($themes) {
    background-color: themed('primary-light');
    color: themed('background-white');
  }

  padding: 0 8px 0 0 !important;
  flex: 1 1 0%;
  box-sizing: border-box;

  .header {
    font-size: 20px;
    line-height: 33px;
    font-weight: 400;
    letter-spacing: 0.02em;
    margin-top: -10px;
  }

  .subhead {
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
  }

  p {
    margin-top: -10px;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 0.02em;
  }

  a {
    color: $asf-warn;
  }
}

$icon-size: 36px;

.menu-toggle-button {
  @include themify($themes) {
    background-color: themed('primary');
    color: themed('dark-primary-text');
  }
  box-shadow: none !important;
  cursor: pointer;
  border: none;
  text-align: center;
  vertical-align: center;
  border-right-color: transparent;
  border-right-style: solid;
  border-right-width: 1px;
  margin-top: 19px;
  margin-left: 8px;
}

.toggle-icon {
  @include md-icon-size($icon-size);
}

.toggle-text {
  line-height: 0;
  width: 100%;
}

.banner-area {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.banner-image {
  width: calc(100% - 228px);
  height: auto;
  position: absolute;
  top: 0;
  bottom: calc(100% - 120px);
  left: 0;
  margin: auto;
  mix-blend-mode: multiply;
}

.asf-logo {
  width: 103px;
  margin-top: 12px;
  margin-left: 11px;
}

.asf-logo-mobile {
  height: 35px;
  margin: 5px;
}

.branding-block {
  padding-top: 0;
  margin-left: 10px;
  flex: 1 1 130px;
  box-sizing: border-box;
  max-width: 130px;
  min-width: 130px;
}

.mat-card {
  box-shadow: none !important;
}
