@use "asf-theme-variables" as *;
@use "tokens" as *;

.dialog-header {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: spacing(3);
}

.close-x {
  position: absolute;
  top: spacing(md);
  right: 35px;
  text-align: right;
  cursor: pointer;
}

.code-block {
  margin: 0;
  overflow: scroll;
  border-radius: spacing(2);
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: spacing(md) spacing(xl);
  background: var(--asf-surface-dark-10);
}

.flex-item {
  flex: 0 1 auto;
}

.code-export-title {
  background: var(--asf-surface-dark-10);
  margin-bottom: spacing(2);
}

