<mat-list-item>
  <div matLine>
    <span *ngIf="!isEditingName">
      {{ search.name }} <mat-icon (click)="onEditName()">edit</mat-icon>
    </span>
    <span *ngIf="isEditingName">
      <form class="name-edit-form" #nameEditForm="ngForm" onsubmit="return false">
        <mat-form-field>
          <input matInput
            [(ngModel)]="editName"
            (change)="onNewName($event.target.value)"
            (focusout)="onEditFocusLeave()"
            name="editNameInput"
            placeholder="Search Name" autofocus>
        </mat-form-field>
      </form>
    </span> - {{ search.searchType }}
  </div>

  <button
    (click)="onSetSearch()"
    mat-flat-button color="primary"
    style="margin-left: 10px;">
      Set
  </button>

  <button *ngIf="search.searchType === searchType"
    (click)="onUpdateFilters(search.id)"
    style="margin-left: 10px;"
    mat-flat-button color="primary">
      Update
  </button>

  <button (click)="onDeleteSearch()"
    mat-flat-button color="primary"
    style="margin-left: 10px;">
      Delete
  </button>
</mat-list-item>
