.name-edit-form {
  display: inline;
}

.saved-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin: 20px 0;
}

.search-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.expand-arrow {
  margin-right: 20px;
  margin-top: 2px;
}

.expand-arrow--icon {
  font-size: 38px;
}

.edit-icon {
  font-size: 18px;
}

.search-name {
  font-weight: bold;
}

.search-preview {
  margin-top: 5px;
}

.search-action {
  margin-right: 10px;
}

.detailed-view {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
