<div>
  <div>
    <mat-icon>keyboard_arrow_right</mat-icon>

    <span *ngIf="!isEditingName"
      (click)="onEditName()"
      matTooltip="Edit Name"
      class="clickable">
      {{ search.name }} <mat-icon>edit</mat-icon>
    </span>

    <span *ngIf="isEditingName">
      <form class="name-edit-form" #nameEditForm="ngForm" onsubmit="return false">
        <mat-form-field>
          <input matInput
            [(ngModel)]="editName"
            (change)="onNewName($event.target.value)"
            (keyup.enter)="onEditFocusLeave()"
            (focusout)="onEditFocusLeave()"
            name="editNameInput"
            placeholder="Search Name" #nameEditInput>
        </mat-form-field>
      </form>
    </span> - {{ search.searchType }}

  </div>

  <div>
    <span *ngIf="search.searchType === SearchType.DATASET">
      {{ search.filters.selectedDataset }} {{ formatDatesFor(search.filters) }}
    </span>
    <span *ngIf="search.searchType === SearchType.LIST">
      {{ listPreview(search.filters) }}
    </span>
  </div>

  <div>
    <button
      (click)="onSetSearch()"
      mat-flat-button color="primary"
      style="margin-left: 10px;">
        Set
    </button>

    <button *ngIf="search.searchType === searchType"
      (click)="onUpdateFilters(search.id)"
      style="margin-left: 10px;"
      mat-flat-button color="primary">
        Update
    </button>

    <button (click)="onDeleteSearch()"
      mat-flat-button color="primary"
      style="margin-left: 10px;">
        Delete
    </button>
  </div>
</div>
