<div [ngClass]="{'disable-search-type-on-demand' : !isLoggedIn && searchTypeSelector.searchType === searchTypes.CUSTOM_PRODUCTS }"
  class="menu-item mat-menu-item">
  <div class="menu-item-inner">

    <div class="fx-75 menu-item-content">
      <div class="item-title">
        {{ searchTypeSelector.nameKey | translate }}

        <span class="login-prompt"
          *ngIf="searchTypeSelector.searchType === searchTypes.CUSTOM_PRODUCTS ">
          <span [ngClass]="{'login-hidden' : isLoggedIn }">
            {{'SIGN_IN_TO_ACCESS' | translate}}
          </span>
        </span>
      </div>
      <div class="item-content" [ngClass]="{'limitTextHeight': isReadMore}">
        <span *ngFor="let key of searchTypeSelector.descriptionKeys">
          {{ key | translate }}
        </span>
      </div>

      <mat-card-actions (click)="onOpenDocsClick($event)">
        <app-docs-modal class="info-text"
          text="{{ 'MORE_INFO' | translate }}"
          url="{{ searchTypeSelector.helpUrl }}">
        </app-docs-modal>
      </mat-card-actions>
    </div>

    <div  class="fx-25 menu-item-aside">
      <span *ngIf="searchTypeSelector.iconType === iconTypes.MATERIAL" class="material-icons-outlined menu-item-icon">
        {{ searchTypeSelector.icon}}</span>

      <img *ngIf="searchTypeSelector.iconType === iconTypes.IMAGE"
        src="{{ searchTypeSelector.icon }}"
        class="menu-item-icon">
    </div>
  </div>
</div>
