.export-btn {
  margin-left: 4px;
  vertical-align: middle;
}

.aoi-form {
  display: flex;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-layout {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.mb {
  margin-bottom: 8px;
}

.horizontal-layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
