<div class="layout" [@fadeTransition] >
  <div class="header-layout mb">
    <div><b>Options</b></div>

    <div>
      <button (click)="onClose()" matTooltip="Hide options" mat-icon-button>
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="horizontal-layout mb">
    <app-draw-selector
       style="margin-right: 5px;"
      (newDrawMode)="onNewDrawMode($event)"
      [drawMode]="drawMode$ | async">
    </app-draw-selector>

    <app-interaction-selector
      (newInteraction)="onNewInteractionMode($event)"
      [interaction]="interactionMode$ | async">
    ></app-interaction-selector>
  </div>

  <div class="form-layout">
    <button (click)="onFileUpload()" mat-flat-button color="primary">
      Import Area of Interest
    </button>

    <button (click)="onClearPolygon()" mat-flat-button matTooltip="Clear Area of Intreset">
      Clear
    </button>
  </div>
</div>

