<div class="filter-menu filter-menu--sizing filter-menu--position">
  <app-search-bar
    (newSearch)="newSearch.emit($event)"
    (clearSearches)="clearSearches.emit()"
    [isLoading]="isLoading">
  </app-search-bar>

  <app-filter-selector></app-filter-selector>

  <app-platform-selector
    [platforms]="platforms$ | async"
    [selected]="selectedPlatforms$ | async"
    (removeSelected)="onPlatformRemoved($event)"
    (addSelected)="onPlatformAdded($event)">
  </app-platform-selector>
</div>
