.position {
    width: 400px;
    max-width: 100%;
    height: 100%;
    position:fixed;
    background: transparent;
    right: 100%;
    z-index:999;
}


.menu-toggle-button {
    position: fixed;
    bottom: 94%;
    left: 100%;

    margin: 0;
    padding: 0;

    width: 28px;
    height: 60px;

    float: left;
    clear: both;

    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;

    outline: none;
}

.subs-data {
    height: 100%;
    width: 94%;

    float: right;
    overflow-y: auto;
    direction: rtl;

    margin: 0;
    padding: 0;

    background: rgba(238, 238, 238, 0.2);
}

.subs-data div {
    direction: ltr;
}

.subs-list {
    list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
}
