<div class="filter-menu filter-menu--sizing filter-menu--position">
  <app-search-bar
    (newSearch)="newSearch.emit($event)"
    (clearSearches)="clearSearches.emit()"
    [isLoading]="isLoading">
  </app-search-bar>

  <app-filter-selector
    [selectedFilter]="selectedFilter$ | async"
    (newFilterSelected)="onNewFilterSelected($event)"
    ></app-filter-selector>

  <ng-container *ngIf="selectedFilter$ | async as selected">
    <app-platform-selector
      *ngIf="selected === filterType.PLATFORM"
      [platforms]="platforms$ | async"
      [selected]="selectedPlatforms$ | async"
      (removeSelected)="onPlatformRemoved($event)"
      (addSelected)="onPlatformAdded($event)">
    </app-platform-selector>

    <app-date-selector
      *ngIf="selected === filterType.DATE"
      ></app-date-selector>

    <app-path-selector
      *ngIf="selected === filterType.PATH"
      ></app-path-selector>

    <app-other-selector
      *ngIf="selected === filterType.OTHER"
      ></app-other-selector>
  </ng-container>
</div>
