<div class="saved-filter">
  <div class="filter-description">
    <div (click)="togglePanel()" class="clickable expand-arrow">
      @if (!expanded) {
        <mat-icon class="expand-arrow--icon">keyboard_arrow_right</mat-icon>
      }
      @if (expanded) {
        <mat-icon class="expand-arrow--icon">keyboard_arrow_down</mat-icon>
      }
    </div>
    <div class="filter-header-info">
      <div class="filter-title">
        <div>
          @if (!isEditingName) {
            <span (click)="onEditName()" class="filter-name clickable">
              {{ filterPreset.name }}
              <mat-icon class="edit-icon">edit</mat-icon>
            </span>
          }

          @if (isEditingName) {
            <span>
              <form class="name-edit-form" #nameEditForm="ngForm">
                <mat-form-field>
                  <input
                    matInput
                    [(ngModel)]="editName"
                    (change)="onNewName($event)"
                    name="editNameInput"
                    [placeholder]="'FILTER_PRESET_NAME' | translate"
                    #nameEditInput
                  />
                </mat-form-field>
              </form>
            </span>
          }

          {{ searchTranslation[filterPreset.searchType] | translate }}
        </div>

        <div class="filter-detail-spacing">
          @if (filterPreset.searchType === SearchType.DATASET) {
            <span>
              {{ (filterPreset.filters | geographicFilter).selectedDataset }}
            </span>
          }
        </div>
      </div>
    </div>
    <div>
      <button mat-button (click)="loadPreset()">
        {{ 'APPLY_FILTERS' | translate }}
      </button>
      <button (click)="onDeletePreset()" mat-flat-button>
        <i class="material-icons">delete_forever</i>
      </button>
    </div>
  </div>
</div>

@if (expanded) {
  <div class="detailed-view">
    <div>
      @if (filterPreset.searchType === SearchType.DATASET) {
        <app-geographic-search-filters
          [filters]="filterPreset.filters | geographicFilter"
        >
        </app-geographic-search-filters>
      }
      @if (filterPreset.searchType === SearchType.BASELINE) {
        <app-baseline-search-filters
          [filters]="filterPreset.filters | baselineFilter"
        >
        </app-baseline-search-filters>
      }
      @if (filterPreset.searchType === SearchType.SBAS) {
        <app-sbas-search-filters [filters]="filterPreset.filters | SBASFilter">
        </app-sbas-search-filters>
      }
    </div>
  </div>
}
