<div class="breadcrumb-list">
  <div class="breadcrumb">
    <button (click)="onNewSelectedFilter(filterTypes.SEARCH_TYPE)"
       [class.selected]="selectedFilter === filterTypes.SEARCH_TYPE"
       mat-raised-button>{{ searchType$ | async }}</button>

    <mat-card *ngIf="selectedFilter === filterTypes.SEARCH_TYPE"
      class="breadcrumb-filter">
      <app-detailed-search-selector
        (newSearchType)="onSetSearchType($event)"
        [selectedSearchType]="searchType$ | async">
        ></app-detailed-search-selector>
    </mat-card>
  </div>

  <ng-container *ngIf="(searchType$ | async) === searchTypes.DATASET">
    <div class="breadcrumb">
      <button (click)="onNewSelectedFilter(filterTypes.DATE)"
        [class.selected]="selectedFilter === filterTypes.DATE"
        mat-raised-button>Date</button>

      <mat-card *ngIf="selectedFilter === filterTypes.DATE"
        class="breadcrumb-filter">
          <app-date-selector></app-date-selector>
      </mat-card>
    </div>
    <div class="breadcrumb">
      <button (click)="onNewSelectedFilter(filterTypes.AOI)"
        [class.selected]="selectedFilter === filterTypes.AOI"
        mat-raised-button>Area of Interest</button>

      <mat-card *ngIf="selectedFilter === filterTypes.AOI"
        class="breadcrumb-filter">
          <app-aoi-upload></app-aoi-upload>
      </mat-card>
    </div>
    <div class="breadcrumb">
      <button (click)="onNewSelectedFilter(filterTypes.PATH_FRAME)"
        [class.selected]="selectedFilter === filterTypes.PATH_FRAME"
        mat-raised-button>Path/Frame</button>

      <mat-card *ngIf="selectedFilter === filterTypes.PATH_FRAME"
        class="breadcrumb-filter">
        <app-path-selector></app-path-selector>
      </mat-card>
    </div>
    <div class="breadcrumb">
      <button (click)="onNewSelectedFilter(filterTypes.ADDITIONAL)"
        [class.selected]="selectedFilter === filterTypes.ADDITIONAL"
        mat-raised-button>Additional Filters</button>

      <mat-card *ngIf="selectedFilter === filterTypes.ADDITIONAL"
        class="breadcrumb-filter">
        <app-other-selector></app-other-selector>
      </mat-card>
    </div>
  </ng-container>

  <div class="breadcrumb">
    <button (click)="onToggleFiltersMenu()"
      [class.selected]="selectedFilter === filterTypes.FILTERS_MENU"
       mat-raised-button>
        <mat-icon *ngIf="(searchType$ | async) === searchTypes.DATASET">more_horiz</mat-icon>
        <span *ngIf="(searchType$ | async) === searchTypes.MISSION">Mission</span>
        <span *ngIf="(searchType$ | async) === searchTypes.LIST">List</span>
    </button>
  </div>

  <div class="breadcrumb" matTooltip="clear">
    <button (click)="onClearSearch()" style="margin-left: 20px" mat-raised-button color="warn">
      <mat-icon>replay</mat-icon>
    </button>
  </div>

  <div class="breadcrumb">
    <button (click)="onDoSearch()" mat-raised-button color="accent">
      {{ (loading$ | async) ? 'Loading...' : 'Search' }}
    </button>
  </div>
</div>
