<div class="breadcrumb-list">
  <div class="breadcrumb hide-mobile">
    <button (click)="onNewSelectedFilter(filterTypes.SEARCH_TYPE)"
       color="{{ !(searchType$ | async) ? 'basic' : accent }}"
       mat-stroked-button>{{ searchType$ | async }}</button>

    <mat-card *ngIf="selectedFilter === filterTypes.SEARCH_TYPE"
      class="breadcrumb-filter">
      <app-detailed-search-selector
        (newSearchType)="onSetSearchType($event)"
        [selectedSearchType]="searchType$ | async">
        ></app-detailed-search-selector>
    </mat-card>
  </div>



  <ng-container *ngIf="(searchType$ | async) === searchTypes.DATASET">
    <div class="breadcrumb hide-mobile hide-medium">
      <button (click)="onNewSelectedFilter(filterTypes.DATASET)"
        color="{{ accent }}"
        mat-stroked-button>
        Dataset - {{ selectedPlatformName$ | async }}
      </button>

      <mat-card *ngIf="selectedFilter === filterTypes.DATASET"
        class="breadcrumb-filter">
          <app-platform-selector></app-platform-selector>
      </mat-card>
    </div>

    <div class="breadcrumb hide-mobile hide-medium">
      <button (click)="onNewSelectedFilter(filterTypes.AOI)"
        color="{{ !(isAnyAOIValue$ | async) ? 'basic' :  accent }}"
        mat-stroked-button>
          Area of Interest
      </button>

      <mat-card *ngIf="selectedFilter === filterTypes.AOI"
        class="breadcrumb-filter">
          <app-aoi-upload></app-aoi-upload>
      </mat-card>
    </div>

    <div class="breadcrumb hide-mobile hide-medium">
      <button (click)="onNewSelectedFilter(filterTypes.DATE)"
        color="{{ !(isAnyDateValues$ | async) ? 'basic' :  accent }}"
        mat-stroked-button>
          {{ (isAnyDateValues$ | async) ? (dateRangePreview$ | async): 'Date' }}
      </button>

      <mat-card *ngIf="selectedFilter === filterTypes.DATE"
        class="breadcrumb-filter">
          <app-date-selector></app-date-selector>
      </mat-card>
    </div>
  </ng-container>

  <div class="breadcrumb">
    <button (click)="onToggleFiltersMenu()"
      [class.selected]="selectedFilter === filterTypes.FILTERS_MENU"
       mat-stroked-button>
        <span *ngIf="(searchType$ | async) === searchTypes.DATASET">Additional Filters</span>
        <span *ngIf="(searchType$ | async) === searchTypes.MISSION">Mission</span>
        <span *ngIf="(searchType$ | async) === searchTypes.LIST">List</span>
    </button>
  </div>

  <div class="breadcrumb hide-mobile" style="margin-left: 20px">
    <app-max-results-selector
      [maxResults]="maxResults$ | async"
      [currentSearchAmount]="currentSearchAmount$ | async"
      (newMaxResults)="onNewMaxResults($event)"
      ></app-max-results-selector>
  </div>

  <div class="breadcrumb hide-mobile" matTooltip="clear">
    <button (click)="onClearSearch()" mat-flat-button color="warn">
      <mat-icon>replay</mat-icon>
    </button>
  </div>

  <div class="breadcrumb hide-mobile">
    <button (click)="onDoSearch()" mat-flat-button color="accent">
      {{ (loading$ | async) ? 'Loading...' : 'Search' }}
    </button>
  </div>
</div>
