<mat-card class="sizing card-spacing mat-elevation-z0">
  <h2>SAR File Searches</h2>
  <mat-divider></mat-divider>

  <mat-list>
    <mat-list-item class="clickable" (click)="onSetSearchType(searchTypes.DATASET)"
     [class.active-btn]="selectedSearchType === searchTypes.DATASET">
        <h3 matLine>Geographic</h3>
        <p matLine>Search by dataset, time, geography, and more.</p>
        <mat-icon>chevron_right</mat-icon>
    </mat-list-item>
    <mat-divider [inset]="true"></mat-divider>
    <mat-list-item class="clickable" (click)="onSetSearchType(searchTypes.LIST)"
     [class.active-btn]="selectedSearchType === searchTypes.LIST">
      <h3 matLine>List</h3>
      <p matLine>Search by a list of scene or file names.</p>
      <mat-icon>chevron_right</mat-icon>
    </mat-list-item>
    <mat-divider [inset]="true"></mat-divider>
  </mat-list>
</mat-card>
