@use "asf-theme" as *;

.ts-best-fit-formulas {
  timeseries-chart .cdk-virtual-scrollable {
    overflow: auto clip;
  }
}

.ts-snackbar {
  // timeseries-results-menu
  @include themify($themes) {
    background-color: themed('primary-light');
    color: themed('dark-primary-text');
  }

  margin-bottom: 27px !important;
  text-align: center;

}

.ts-reference-point {
  // UNUSED?? duplicates timeseries-chart ::ng-deep style
  fill: red !important;
}
