@use "./asf-theme" as *;

$mobile-breakpoint: 1130px; // Defined in screen-size service

#toast-container {
  top: 170px;
  right: 10px;
  z-index: 9999; // Higher than dialog overlay (2000) to appear above download queue
  float: right;

  @media (max-width: $mobile-breakpoint) {
    top: 100px;
  }
}

// toast style overrides
.toast.success,
#toast-container>.toast-success {
  color: $asf-background-white;
  background-color: $asf-blue;
  background-image: url("/assets/icons/check_circle_white_48dp.svg");
  box-shadow: none;

  .toast-close-button,
  #toast-container>.toast-close-button {
    color: $asf-background-white;
  }

  a {
    color: yellow;
  }
}

.toast-error,
#toast-container>.toast-error {
  color: $asf-background-white;
  background-color: red;
  background-image: url("/assets/icons/error_white_48dp.svg");
  box-shadow: none;

  .toast-message {
    color: antiquewhite;
  }

  .toast-close-button,
  #toast-container>.toast-close-button {
    color: $asf-background-white;
  }

  a {
    color: orange;
  }
}

.toast-info,
#toast-container>.toast-info {
  background-image: url("/assets/icons/info_black_48dp.svg");

  @include themify_non_host($themes) {
    color: themed('dark-primary-text');
    background-color: themed('background-white');
    box-shadow: 0 0 12px themed('primary');

    .toast-message {
      color: themed('dark-secondary-text');
    }
  }

  a {
    @include themify_non_host($themes) {
      color: themed('blue-link');
    }
  }
}

.toast-warning,
#toast-container>.toast-warning {
  color: $asf-primary-dark;
  background-color: $asf-warn;
  background-image: url("/assets/icons/warning_black_48dp.svg") !important;

  a {
    color: orangered;
  }
}

.toast-close-button,
#toast-container>.toast-close-button {
  @include themify_non_host($themes) {
    color: themed('dark-primary-text');
  }
}

.mat-mdc-progress-spinner circle {
  @include themify_non_host($themes) {
    stroke: themed('dark-primary-text');
  }
}

#toast-container>.pinkToast.toast-info {
  position: relative;
  width: 300px;
  padding: 15px 15px 15px 50px;
  margin: 0 0 6px;
  overflow: hidden;
  color: white;
  background-color: pink;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 24px;
  border-radius: 3px;
  box-shadow: 0 0 12px #999;
}

.toast-message a,
.toast-message label {
  color: $asf-primary;
}

.toast-message a:hover {
  color: $asf-blue;
  text-decoration: underline;
}
