<div>
  <app-list-search-filters
    *ngIf="search.searchType === SearchType.LIST"
    [filters]="search.filters | listFilter">
  </app-list-search-filters>

  <app-geographic-search-filters
    *ngIf="search.searchType === SearchType.DATASET"
    [filters]="search.filters | geographicFilter">
  </app-geographic-search-filters>

  <app-baseline-search-filters
    *ngIf="search.searchType === SearchType.BASELINE"
    [filters]="search.filters | baselineFilter">
  </app-baseline-search-filters>

  <app-sbas-search-filters
    *ngIf="search.searchType === SearchType.SBAS"
    [filters]="search.filters | SBASFilter">
  </app-sbas-search-filters>
</div>
