@import "asf-theme";
@import "variables";

%card-base {
  background-color: $asf-primary;
  color: white;
  border-radius: 0;
}

.bounds {
  height: 103px;
}

.content {
  @extend %card-base;

  box-shadow: none;
}

.sec1 {
  margin-right: 9px;
}

.logo-card {
  background-color: $asf-primary;
  padding: 0 8px 0 0 !important;

  .header {
    font-size: 20px;
    line-height: 33px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: white;
    margin-top: -10px;
  }

  .subhead {
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: lightgray;
    margin-bottom: 10px;
  }

  p {
    margin-top: -10px;
    font-size: 12px;
    color: lightgray;
    font-style: italic;
    letter-spacing: 0.02em;
  }

  a {
    color: $asf-warn;
  }
}

$icon-size: 36px;

.menu-toggle-button {
  background-color: $asf-primary;
  color: lightgray;
  box-shadow: none !important;
  cursor: pointer;
  border: none;
  text-align: center;
  vertical-align: center;
  border-right-color: transparent;
  border-right-style: solid;
  border-right-width: 1px;
}

.toggle-icon {
  @include md-icon-size($icon-size);
}

.toggle-text {
  line-height: 0;
  width: 100%;
}

.banner-area {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.banner-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  bottom: calc(100% - 120px);
  left: 0;
  right: 0;
  margin: auto;
  mix-blend-mode: multiply;
}

.asf-logo {
  width: 113px;
}

.branding-block {
  padding-top: 0;
}
