<div class="bounds">
  <mat-card class="content logo-card mat-elevation-z10"
       fxLayout="row"
       fxFlexFill >
    <div (click)="onToggleHide()" fxFlex="20%" class="sec1" >
      <mat-card matRipple mat-elevation-z0 class="menu-toggle-button">
        <mat-icon class="toggle-icon">
          {{ (isSidebarOpen$ | async) ?  'menu' : 'menu' }}
        </mat-icon>
        <div class="toggle-text">menu</div>
      </mat-card>
    </div>

    <div fxFlex="80%" class="sec2" >
        <div class="header">Vertex BETA</div>
        <div class="subhead">The SAR Search GUI</div>
        <p>Made by the Alaska Satellite Facility</p>
        <p><a href="mailto:vertex-beta@asf.alaska.edu?Subject=Vertex%20Beta%20Feedback" target="_top">Feedback: vertex-beta@asf.alaska.edu</a></p>
    </div>
  </mat-card>
</div>
