<div class="bounds">
  <mat-card class="content logo-card mat-elevation-z10"
       fxLayout="row"
       fxFlexFill >
    <div fxFlex="20%" class="sec1" >
      <app-toggle-button
        (click)="onToggleHide()"
        [isOpen]="isSidebarOpen$ | async">
      </app-toggle-button>
    </div>

    <div fxFlex="80%" class="sec2" >
        <div class="header">Vertex BETA</div>
        <div class="subhead">The SAR Search GUI</div>
        <p>Made by the Alaska Satellite Facility</p>
        <p><a href="mailto:vertex-beta@asf.alaska.edu?Subject=Vertex%20Beta%20Feedback" target="_top">Feedback: vertex-beta@asf.alaska.edu</a></p>
    </div>
  </mat-card>
</div>
