.inner-card {
  padding: 10px;
  margin: 10px;
}

table {
  max-height: 80%;
  width: 100%;
  overflow: scroll;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-select {
  overflow: initial;
}

.close-button {
  position: absolute;
  top: 4px;
  right: 4px;
}
