.scene-control {
  flex: 0 1 auto;
  float: left;
  font-weight: normal;
  align-self: center;
}

.mobile-size .scene-controls {
  line-height: 28px;
}

.number-queued {
  margin-left: 10px;
}

.icon-margin {
  margin-left: 10px;
}
