@use "@angular/material" as mat;

@import url("asf-theme");

$config: mat.define-typography-config();

.position-right {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 998;
  margin: 0 14px 0 0;
  padding: 2px 5px;

  &--filler {
    @extend .position-right;

    margin: 0;
    z-index: auto;
  }
}

.position-left {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 998;
  margin: 0;
  padding: 2px 5px;
}

.attribute-box {
  @include themify($themes) {
    background-color: themed("primary-light");
    color: themed("dark-primary-text");
    border-color: themed("primary-light");
  }

  border-style: solid;
  border-width: 1px 0 0 1px;
  max-width: calc(50vw - 100px);
  font-family: mat.font-family($config);
  font-weight: 400;
  font-size: 13px;
}

.lon-lat {
  margin-right: 5px;
}

.lat-margin {
  margin-right: 12px;
}

.text-spacing {
  margin: 0 5px;
}

a {
  @include themify($themes) {
    color: themed("dark-secondary-text");
  }

  text-decoration: none;
}

.bottom-search-bar {
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 999;
}

.bar-layout {
  @include themify($themes) {
    background-color: themed("primary-light");
    color: themed("dark-secondary-text");
    border-top: 1px solid themed("primary-dark");
  }

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-shrink: 0;
  padding: 10px;
}

.toggle-button-position {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.toggle-button {
  @include themify($themes) {
    background-color: themed("primary-light");
    color: themed("dark-secondary-text");
    border-bottom-color: lighten(themed("primary-light"), 10%);
  }

  pointer-events: auto;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.bar {
  @include themify($themes) {
    background: themed("primary-light");
  }

  position: absolute;
  bottom: 0;
  height: 24px;
  width: 100%;
  z-index: 997;
}
