@import "asf-theme";

$config: mat-typography-config();

.position-right {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 998;
  margin: 0;
  padding: 2px 5px;
}

.position-left {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 998;
  margin: 0;
  padding: 2px 5px;
}

.attribute-box {
  background-color: $asf-primary-light;
  border-style: solid;
  border-color: $asf-primary-light;
  border-width: 1px 0 0 1px;
  color: $asf-primary;
  max-width: calc(50vw - 100px);
  font-family: mat-font-family($config);
  font-weight: 400;
  font-size: 13px;
}

.lon-lat {
  margin-right: 5px;
}

.lat-margin {
  margin-right: 12px;
}

.text-spacing {
  margin: 0 5px;
}

a {
  color: $asf-primary;
  text-decoration: none;
}
