<div class="position-left attribute-box">
  <a href="https://www.maptiler.com/copyright/" target="_blank">© MapTiler</a>
  <span class="text-spacing">|</span>
  <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>
</div>

<div class="position-right attribute-box">
<!--  <span class="lon-lat">-->
<!--    <span class="lat-margin"><b>lat</b> {{ mousePos?.lat | number : '2.1-4'}}°</span>-->
<!--    <span><b>lon</b> {{ mousePos?.lon | number : '2.1-4'  }}°</span>-->
<!--  </span>-->
<!--  <span class="text-spacing">|</span>-->
  © {{anio}} ASF
  <span class="text-spacing">|</span>
  <a href="https://www.asf.alaska.edu/contact" target="_blank">Contact</a>
  <span class="text-spacing">|</span>
  <a href="https://www.alaska.edu/nondiscrimination" target="_blank">Non-Discrimination</a>
</div>
