@use "@angular/material" as mat;

@import "asf-theme";

$config: mat.define-typography-config();

.position-right {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 998;
  margin: 0 14px 0 0;
  padding: 2px 5px;

  &--filler {
    @extend .position-right;

    margin: 0;
    z-index: auto;
  }
}

.position-left {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 998;
  margin: 0;
  padding: 2px 5px;
}

.attribute-box {
  background-color: $asf-primary-light;
  border-style: solid;
  border-color: $asf-primary-light;
  border-width: 1px 0 0 1px;
  color: $asf-primary;
  max-width: calc(50vw - 100px);
  font-family: mat.font-family($config);
  font-weight: 400;
  font-size: 13px;
}

.lon-lat {
  margin-right: 5px;
}

.lat-margin {
  margin-right: 12px;
}

.text-spacing {
  margin: 0 5px;
}

a {
  color: $asf-primary;
  text-decoration: none;
}

.bottom-search-bar {
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 999;
}

.bar-layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-shrink: 0;
  padding: 10px;
  background-color: $asf-primary-light;
  border-top: 1px solid $asf-primary-dark;
}

.toggle-button-position {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.toggle-button {
  pointer-events: auto;
  background-color: $asf-primary-light;
  color: $asf-primary-dark;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lighten($asf-primary-light, 10%);
}

.bar {
  position: absolute;
  bottom: 0;
  height: 24px;
  background: $asf-primary-light;
  width: 100%;
  z-index: 997;
}
