<ng-container>
  @if (breakpoint > breakpoints.MOBILE) {
    <a href="http://mapbox.com/about/maps" class="mapbox-logo" target="_blank"
      >Mapbox</a
    >
    <div class="position-right attribute-box">
      © {{ anio }} ASF
      <span class="text-spacing">|</span>
      <a [href]="asfWebsite.contact" target="_blank">{{
        'CONTACT' | translate
      }}</a>
      <span class="text-spacing">|</span>
      <a href="https://www.alaska.edu/nondiscrimination" target="_blank">{{
        'NON_DISCRIMINATION' | translate
      }}</a>
      <span class="text-spacing">|</span>
      <a href="https://www.mapbox.com/about/maps/" target="_blank">© Mapbox</a>
      <span class="text-spacing">|</span>
      <a href="https://www.openstreetmap.org/copyright" target="_blank"
        >© OpenStreetMap contributors</a
      >
      <span class="text-spacing">|</span>
      <a href="https://www.mapbox.com/map-feedback/" target="_blank"
        ><strong>{{ 'IMPROVE_THIS_MAP' | translate }}</strong></a
      >
    </div>
    <div class="position-right--filler attribute-box">&nbsp;</div>
  }

  @if (breakpoint === breakpoints.MOBILE) {
    <div class="bottom-search-bar">
      <div class="bar-layout">
        <app-max-results-selector
          class="max-results-spacing"
        ></app-max-results-selector>
        <app-search-button></app-search-button>
      </div>
    </div>
  }
  @if (breakpoint === breakpoints.SMALL) {
    <div class="bar"></div>
  }
</ng-container>
