.position {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 998;
  margin: 0;
  padding: 2px 5px;
}

.attribute-box {
  background-color: rgba(255, 255, 255, 0.85);
  border-style: solid;
  border-color: #ccc;
  border-width: 1px 0 0 1px;
  color: #333;
  max-width: calc(50vw - 100px);
}

.lon-lat {
  margin-right: 5px;
}

.lat-margin {
  margin-right: 12px;
}

.text-spacing {
  margin: 0 5px;
}
