@use "tokens" as *;

// Increased specificity for Material card shadow override
:host .raised-section {
  box-shadow: var(--shadow-lg);
}

.sbas-example {
  font-style: italic;
  color: grey;
  word-break: break-all;
}

.info-icon {
  margin-left: spacing(2);
  margin-top: spacing(xs);
}
