<div class="jobs-list">

  <div class="sort-options">
    <div class="flex-field">
      <mat-form-field>
        <mat-label>Sort Criteria</mat-label>
        <mat-select (selectionChange)="onSortChange()" [(ngModel)]='sortType'>
          <div *ngFor="let item of sortTypes">
            <mat-option [value]="item">
              {{item}}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="flex-field">
      <mat-form-field>
        <mat-label>Sort Order</mat-label>
        <mat-select (selectionChange)="onSortChange()" [(ngModel)]='sortOrder'>
          <div *ngFor="let item of sortOrders">
            <mat-option [value]="item">
              {{item}}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <mat-list *ngIf="!areJobsLoading" role="list" class="flex-list">
    <ng-container
      *ngIf="jobsDisplay.length > 0 ; then jobsQueued; else emptyQueue">
    </ng-container>

    <ng-template #jobsQueued>
      <mat-list-item *ngFor="let job of jobsDisplay">
          <img matListAvatar
               [src]="job.granules[0].thumbnail"
               onerror="this.src='assets/no-thumb.png'"
               matBadgeOverlap="false"
               matListAvatar>

          <div matLine class="granule-name">
            {{ job.granules[0].name }}
          </div>

          <div *ngIf="job.job_type.name === 'RTC GAMMA'" matLine>
            <b>
              {{ job.job_type.name }}
            </b>
            <b>
              <span *ngIf="job.granules[0].bytes === 0">Virtual</span>
              <span *ngIf="job.granules[0].bytes !== 0">{{ job.granules[0].bytes.toString() | readableSizeFromBytes }}</span>
            </b>
          </div>
          <div *ngIf="job.job_type.name !== 'RTC GAMMA'" style="font-size: 14px;" matLine>
          {{job.granules[1].name}}
          </div>

          <div class="button-remove-job">
            <button (click)="onRemoveJob(job)"
                    matTooltip="Remove job"
                    mat-icon-button>
              <mat-icon>close</mat-icon>
            </button>
          </div>
      </mat-list-item>

    </ng-template>

    <ng-template #emptyQueue>
      <div class="empty-queue">
        <div class="jobs-empty-message">
          Your jobs queue is empty.
        </div>
        <div class="jobs-empty-message-docs-link">
          <a href="https://hyp3-docs.asf.alaska.edu/" target="_blank">
            On Demand (HyP3) Documentation
          </a>
        </div>
      </div>

      <div class="jobs-search">
        <button [disabled]="!isLoggedIn"
                (click)="viewCustomProducts($event)" color="primary" mat-flat-button>
          View Submitted Jobs
        </button>
        <p class="not-logged-in" *ngIf="!isLoggedIn">Sign in to view submitted jobs</p>
      </div>
    </ng-template>
  </mat-list>
</div>
