@import "asf-theme";

.clipboard-icon {
  margin: 0 10px;
}

.mat-list-base {
  padding-top: 8px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.jobs-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-list {
  .mat-list-base {
    display: flex !important;
    flex-wrap: wrap;
    width: 100% !important;
  }
}

.flex-field {
  flex: 1 0 auto;
  margin-left: 25px;
}

.sort-options {
  @include themify($themes) {
    background-color: themed('background-white');
  }
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  display: flex;
  flex: 1 1 740px;
  flex-direction: row;
  flex-wrap: wrap;
  transform: scale(0.97);
}

.button-remove-job {
  margin-left: 10px;
  margin-top: -22px;
}

.granule-name {
  width: auto;
  max-width: 100%;
}

.pqj-mobile {
  overflow-y: auto;
}

.empty-queue {
  display: block;
  width: 100%;
}

.jobs-empty-message {
  @include themify($themes) {
    color: themed('dark-primary-text');
  }
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  padding-top: 30px;
}

.jobs-search {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin: 40px auto;
}

.not-logged-in {
  font-size: small;
  font-style: italic;
  margin-top: 3px;
}

.jobs-empty-message-docs-link,
.jobs-empty-message-docs-link a {
  display: block;
  text-align: center;
  font-size: 14px;
  color: $asf-blue;
  padding-top: 10px;
  margin: 0 auto;
}

.pair-expansion-panel-header {
  @include themify($themes) {
    background-color: themed('background-white') !important;
  }
  border-style: none !important;
}
