@import "asf-theme";

.jobs-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .mat-list-base {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .mat-list-text {
    //max-width: 40%;
  }
}

.button-remove-job {
  margin-left: 10px;
  margin-top: -22px;
}

.granule-name {
  width: auto;
  max-width: 100%;
}

.job-list-item {
  display: flex;
  flex: 1 0 200px;
}

.jobs-empty-message {
  text-align: center;
  font-size: 20px;
  color: $asf-primary-dark;
}

.jobs-empty-message-docs-link,
.jobs-empty-message-docs-link a {
  display: block;
  text-align: center;
  font-size: 14px;
  color: $asf-blue;
  margin-top: 10px;
}

