@import "asf-theme";

.mat-list-base {
  padding-top: 8px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.jobs-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-list {
  //display: flex !important;
  //flex-direction: row;
  //flex-wrap: wrap;

  .mat-list-base {
    display: flex !important;
    flex-wrap: wrap;
  }

  .mat-list-text {
    //max-width: 40%;
  }
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  display: flex;
  flex: 1 1 740px;
  flex-direction: row;
  flex-wrap: wrap;
  transform: scale(0.97);
}

.button-remove-job {
  margin-left: 10px;
  margin-top: -22px;
}

.granule-name {
  width: auto;
  max-width: 100%;
}

.job-list-item {
  //flex: 1 0 auto !important;
  //flex-direction: row;
  //flex-wrap: wrap;
  //transform: scale(0.97);
}

.jobs-empty-message {
  text-align: center;
  font-size: 20px;
  color: $asf-primary-dark;
}

.jobs-empty-message-docs-link,
.jobs-empty-message-docs-link a {
  display: block;
  text-align: center;
  font-size: 14px;
  color: $asf-blue;
  margin-top: 10px;
}

