<div class="jobs-list">

  <div class="sort-options">
    <div class="flex-field">
      <mat-form-field>
        <mat-label>{{ 'SORT_CRITERIA'  |  translate }}</mat-label>
        <mat-select (selectionChange)="onSortChange()" [(ngModel)]='sortType'>
          <div *ngFor="let item of sortTypes">
            <mat-option [value]="item">
              {{item | uppercase | translate}}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="flex-field">
      <mat-form-field>
        <mat-label>{{ 'SORT_ORDER'  |  translate }}</mat-label>
        <mat-select (selectionChange)="onSortChange()" [(ngModel)]='sortOrder'>
          <div *ngFor="let item of sortOrders">
            <mat-option [value]="item">
              {{item | uppercase | translate }}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="jobsDisplay.length > 0" class="flex-field jobs-overview">
      <div>
        {{ jobsDisplay.length }} <span [ngPlural]="jobsDisplay.length">
          <ng-template ngPluralCase="=1">{{ 'JOB' | translate }}</ng-template>
          <ng-template ngPluralCase="other">{{ 'JOBS' | translate }}</ng-template>
        </span>,
        {{ costPerJob * jobsDisplay.length }} <span [ngPlural]="costPerJob * jobsDisplay.length">
          <ng-template ngPluralCase="=1">{{ 'CREDIT' | translate }}</ng-template>
          <ng-template ngPluralCase="other">{{ 'CREDITS' | translate }}</ng-template>
        </span>
      </div>
    </div>
  </div>

  <mat-list *ngIf="!areJobsLoading" role="list" class="flex-list">
    <ng-container
      *ngIf="jobsDisplay.length > 0 ; then jobsQueued; else emptyQueue">
    </ng-container>

    <ng-template #jobsQueued>
      <mat-list-item *ngFor="let job of jobsDisplay">
          <img matListItemAvatar
               [src]="job.granules[0].thumbnail"
               onerror="this.src='assets/no-thumb.png'"
               matBadgeOverlap="false"
               matListAvatar>

          <div matListItemTitle class="granule-name">
            {{ job.granules[0].name }}
          </div>

          <div *ngIf="job.job_type.name === 'RTC GAMMA'" matListItemLine>
            <b>
              {{ job.job_type.name }}
            </b>
            <b>
              <span *ngIf="job.granules[0].bytes === 0">Virtual</span>
              <span *ngIf="job.granules[0].bytes !== 0">{{ job.granules[0].bytes.toString() | readableSizeFromBytes }}</span>
            </b>
            <span> ({{costPerJob}}
              <span [ngPlural]="costPerJob * jobsDisplay.length">
            <ng-template ngPluralCase="=1">{{ 'CREDIT' | uppercase | translate }}</ng-template>
            <ng-template ngPluralCase="other">{{ 'CREDITS' | uppercase | translate }}</ng-template>
              </span>)
            </span>
          </div>
          <div *ngIf="job.job_type.name !== 'RTC GAMMA'" style="font-size: 14px;" matListItemLine>
          {{job.granules[1].name}}
          </div>

          <div class="button-remove-job" matListItemMeta>
            <button (click)="onRemoveJob(job)"
                    matTooltip="{{'REMOVE_JOB' | translate}}"
                    mat-icon-button>
              <mat-icon>close</mat-icon>
            </button>
          </div>
      </mat-list-item>

    </ng-template>

    <ng-template #emptyQueue>
      <div class="empty-queue">
        <div class="jobs-empty-message">
          {{ 'YOUR_JOBS_QUEUE_IS_EMPTY' |  translate }}
        </div>
        <div class="jobs-empty-message-docs-link">
          <a href="https://hyp3-docs.asf.alaska.edu/" target="_blank">
            {{'ON_DEMAND_HY_P3_DOCUMENTATION' | translate}}
          </a>
        </div>
      </div>

      <div class="jobs-search">
        <button [disabled]="!isLoggedIn"
                (click)="viewCustomProducts($event)" color="primary" mat-flat-button>
          {{ 'VIEW_SUBMITTED_JOBS' |  translate }}
        </button>
        <p class="not-logged-in" *ngIf="!isLoggedIn">{{ 'SIGN_IN_TO_VIEW_SUBMITTED_JOBS' |  translate }}</p>
      </div>
    </ng-template>
  </mat-list>
</div>
