@import "asf-theme";

.mat-list-base {
  padding-top: 8px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.jobs-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-list {
  //display: flex !important;
  //flex-direction: row;
  //flex-wrap: wrap;

  .mat-list-base {
    display: flex !important;
    flex-wrap: wrap;
    width: 100% !important;
  }

  .mat-list-text {
    //width: 287px;
  }
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  display: flex;
  flex: 1 1 740px;
  flex-direction: row;
  flex-wrap: wrap;
  transform: scale(0.97);
}

.button-remove-job {
  margin-left: 10px;
  margin-top: -22px;
}

.granule-name {
  width: auto;
  max-width: 100%;
}

.job-list-item {
  //flex: 1 0 auto !important;
  //flex-direction: row;
  //flex-wrap: wrap;
  //transform: scale(0.97);
}

.empty-queue {
  display: block;
  width: 100%;
}

.jobs-empty-message {
  text-align: center;
  font-size: 20px;
  color: $asf-primary-dark;
  margin: 0 auto;
  padding-top: 30px;
}

.jobs-search {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin: 40px auto;
}

.not-logged-in {
  font-size: small;
  font-style: italic;
  margin-top: 3px;
}

.jobs-empty-message-docs-link,
.jobs-empty-message-docs-link a {
  display: block;
  text-align: center;
  font-size: 14px;
  color: $asf-blue;
  padding-top-top: 10px;
  margin: 0 auto;
}

.pair-expansion-panel-header {
  background: white !important;
  border-style: none !important;
}