@import "asf-theme";

.card-title-group {
  background-color: $asf-primary-light;
  color: $asf-primary-dark;
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: $asf-primary-dark;
  border-bottom-width: 1px;
}

.jobs-list {
  overflow: auto;
  height: 550px;
}

.loading-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.loading-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  font-size: 28px;
}

.close-x {
  position: absolute;
  top: 25px;
  right: 35px;
  text-align: right;
  float: right;
  cursor: pointer;
}
