@import "asf-theme";

.view-btn {
  @include themify($themes) {
    svg {
      fill: themed('dark-primary-text');
    }
  }
  // background-size: 90px 30px;
  // content: "";
  width: 19px;
  height: 19px;
  // margin-right: 15px;
  // display: inline-block;
}

.view-button-group {
  line-height: 14px !important;
}

.arctic {
  // background-position: 32px -2px;
}

.equatorial {
  // background-position: -30px -2px;
}

.antarctic {
  // background-position: -92px -2px;
}

.view-select-button {
  @include themify($themes) {
    background: themed('background-white');
    color: themed('dark-primary-text')
  }
  margin: 0;
  // padding: 0 0 0 10px;
  font-size: 18px !important;
  height: 27px !important;
  width: 18px !important;
  min-width: 53px !important;
  border-radius: 4px !important;
  border: solid 1px rgb(0 0 0 / 12%);
  text-align: center;
  display: grid;
  place-content: center;
  line-height: 19px;
}

.view-select-icon {
  display: inline-block;
  // margin-top: -12px;
}

.view-menu-icon {
  transform: translateY(6px);
}

.bottom-right {
  @include themify($themes) {
    color: themed('primary');
  }
  position: absolute;
  bottom: -6px;
  right: -15px;
  transform: rotate(-45deg);
}
