<button mat-stroked-button class="view-select-button" [matMenuTriggerFor]="viewMenu" aria-label="Map projection view">
  <template *ngIf="view == types.ARCTIC" class="view-btn arctic"></template>
  <template *ngIf="view == types.EQUITORIAL" class="view-btn equatorial"></template>
  <template *ngIf="view == types.ANTARCTIC" class="view-btn antarctic"></template>
</button>

<mat-menu #viewMenu="matMenu">

  <button mat-menu-item aria-label="Arctic map projection"
      (click)="onArcticSelected()"
      [value]="types.ARCTIC"
  >
    <span class="view-btn arctic"></span>
    <span>Arctic Map View</span>
  </button>

  <button mat-menu-item aria-label="Equatorial map projection"
      (click)="onEquitorialSelected()"
      [value]="types.EQUITORIAL"
  >
    <span class="view-btn equatorial"></span>
    <span>Equatorial Map View</span>
  </button>

  <button mat-menu-item aria-label="Antarctic map projection"
      (click)="onAntarcticSelected()"
      [value]="types.ANTARCTIC"
  >
    <span class="view-btn antarctic"></span>
    <span>Antarctic Map View</span>
  </button>

</mat-menu>

<!--<mat-button-toggle-group [value]="view" flex-->
<!--  name="viewSelect" aria-label="Font Style"-->
<!--  class="view-button-group">-->

<!--  <mat-button-toggle-->
<!--    (click)="onArcticSelected()"-->
<!--    [value]="types.ARCTIC"-->
<!--    class="control-mat-button-toggle"-->
<!--    matTooltip="Arctic map view">-->
<!--      <div class="view-btn arctic"></div>-->
<!--  </mat-button-toggle>-->

<!--  <mat-button-toggle-->
<!--    (click)="onEquitorialSelected()"-->
<!--    [value]="types.EQUITORIAL"-->
<!--    class="control-mat-button-toggle"-->
<!--    matTooltip="Equatorial map views">-->
<!--      <div class="view-btn equatorial"></div>-->
<!--  </mat-button-toggle>-->

<!--  <mat-button-toggle-->
<!--    (click)="onAntarcticSelected()"-->
<!--    [value]="types.ANTARCTIC"-->
<!--    class="control-mat-button-toggle"-->
<!--    matTooltip="Antarctic map view">-->
<!--      <div class="view-btn antarctic"></div>-->
<!--  </mat-button-toggle>-->

<!--</mat-button-toggle-group>-->
