@import "asf-theme";

.view-btn {
  background-image: url("/assets/icons/projection-icons.png");
  background-size: 90px 30px;
  content: "";
  width: 25px;
  height: 25px;
  margin-right: 15px;
  display: inline-block;
}

.view-button-group {
  line-height: 14px !important;
}

.arctic {
  background-position: 32px -2px;
}

.equatorial {
  background-position: -30px -2px;
}

.antarctic {
  background-position: -92px -2px;
}

.view-select-button {
  margin: 0;
  padding: 0 0 0 10px;
  color: rgb(0 0 0 / 87%);
  background: white;
  font-size: 18px !important;
  height: 27px !important;
  width: 18px !important;
  min-width: 53px !important;
  border-radius: 4px !important;
  border: solid 1px rgb(0 0 0 / 12%);
  text-align: center;
}

.view-select-icon {
  display: inline-block;
  margin-top: -12px;
}

.view-menu-icon {
  transform: translateY(6px);
}

.bottom-right {
  color: $asf-primary;
  position: absolute;
  bottom: -7px;
  right: -4px;
  transform: rotate(-45deg);
}
