<div class="projection-container">
  <button
    mat-stroked-button
    class="view-select-button"
    (click)="onArcticSelected()"
    [value]="types.ARCTIC"
    [disabled]="isDisplacementSearch"
    [attr.aria-label]="'ARCTIC_MAP_PROJECTION' | translate"
  >
    <mat-icon svgIcon="arctic" class="view-btn view-select-icon"> </mat-icon>
  </button>

  <button
    mat-stroked-button
    class="view-select-button"
    [attr.aria-label]="'EQUATORIAL_MAP_PROJECTION' | translate"
    (click)="onEquatorialSelected()"
    [value]="types.EQUATORIAL"
  >
    <mat-icon svgIcon="equatorial" class="view-btn view-select-icon">
    </mat-icon>
  </button>

  <button
    mat-stroked-button
    class="view-select-button"
    [attr.aria-label]="'ANTARCTIC_MAP_PROJECTION' | translate"
    (click)="onAntarcticSelected()"
    [value]="types.ANTARCTIC"
    [disabled]="isDisplacementSearch"
  >
    <mat-icon svgIcon="antarctic" class="view-btn view-select-icon"></mat-icon>
  </button>
</div>
