@use "asf-theme";
$mat-theme-ignore-duplication-warnings: true;

.view-btn {
  @include asf-theme.themify(asf-theme.$themes) {
    svg {
      fill: asf-theme.themed('dark-primary-text');
    }
  }
  width: 19px;
  height: 19px;
  margin-right: 0;
  margin-left: 0;
}

.view-button-group {
  line-height: 14px !important;
}

.view-select-button {
  @include asf-theme.themify(asf-theme.$themes) {
    background: asf-theme.themed('background-white');
    color: asf-theme.themed('dark-primary-text')
  }
  margin: 0;
  font-size: 18px !important;
  height: 27px !important;
  width: 18px !important;
  min-width: 53px !important;
  border-radius: 4px !important;
  border: solid 1px rgb(0 0 0 / 12%);
  text-align: center;
  display: grid;
  place-content: center;
  line-height: 19px;
}

.view-select-icon {
  display: inline-block;
}

.view-menu-icon {
  margin-right: 12px;
}

.bottom-right {
  @include asf-theme.themify(asf-theme.$themes) {
    color: asf-theme.themed('primary');
  }
  position: absolute;
  bottom: -9px;
  right: -21px;
  transform: rotate(-45deg);
}
