<button
  mat-stroked-button
  class="view-select-button"
  [matMenuTriggerFor]="viewMenu"
  aria-label="Map projection view"
>
  <mat-icon *ngIf="view == types.ARCTIC" svgIcon="arctic" class="view-btn view-select-icon"  > </mat-icon>
  <mat-icon *ngIf="view == types.EQUATORIAL" svgIcon="equatorial" class="view-btn view-select-icon" > </mat-icon>
  <mat-icon *ngIf="view == types.ANTARCTIC" svgIcon="antarctic" class="view-btn view-select-icon" ></mat-icon>
  <span class="fa fa-caret-down bottom-right"></span>
</button>

<mat-menu #viewMenu="matMenu">
  <button
    mat-menu-item
    aria-label="Arctic map projection"
    (click)="onArcticSelected()"
    [value]="types.ARCTIC"
  >
    <mat-icon svgIcon="arctic" class="view-btn view-menu-icon" iconPositionEnd></mat-icon>

    <span>{{ 'ARCTIC_MAP_VIEW' |  translate }}</span>
  </button>

  <button
    mat-menu-item
    aria-label="Equatorial map projection"
    (click)="onEquatorialSelected()"
    [value]="types.EQUATORIAL"
  >
    <mat-icon svgIcon="equatorial" class="view-btn view-menu-icon" iconPositionEnd></mat-icon>
    <span>{{ 'EQUATORIAL_MAP_VIEW' |  translate }}</span>
  </button>

  <button
    mat-menu-item
    aria-label="Antarctic map projection"
    (click)="onAntarcticSelected()"
    [value]="types.ANTARCTIC"
  >
    <mat-icon svgIcon="antarctic" class="view-btn view-menu-icon" iconPositionEnd></mat-icon>

    <span>{{ 'ANTARCTIC_MAP_VIEW' |  translate }}</span>
  </button>
</mat-menu>
