@import "asf-theme";

$config: mat-typography-config();

.mp0 {
  margin: 0;
  padding: 0;
}

.mp0-ellipsis {
  width: 250px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  color: $uaf-primary-blue;
}

// Grid created at https://cssgrid-generator.netlify.com/
.browse-dialog {
  font-family: mat-font-family($config);
  max-height: 100%;
  max-width: 100%;
  position: relative;
  align-content: stretch;
  justify-content: stretch;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 200px;
  grid-template-rows: 60px minmax(0, 1fr) 230px;
  grid-column-gap: 0;
  grid-row-gap: 0;
  background-color: $asf-primary-light;
  overflow: hidden;
  text-overflow: ellipsis;

  :focus {
    outline: none;
  }

  .dialog-header {
    grid-area: 1 / 1 / 2 / 3;
    min-height: 60px;
  }

  .main-window {
    grid-area: 2 / 1 / 3 / 2;
    position: relative;
  }

  .main-window-mobile {
    grid-area: 2 / 1 / 4 / 3;
    position: relative;
  }

  .browse-list {
    grid-area: 3 / 1 / 4 / 3;
    min-height: 230px;
    width: 100%;
    border-top-color: $asf-primary-dark;
    border-top-style: solid;
    border-top-width: 1px;
    background-color: $asf-primary-light;
  }

  .scene-detail-wrapper {
    grid-area: 2 / 2 / 3 / 3;
    min-width: 200px;
    border-left-color: $asf-primary-dark;
    border-left-style: solid;
    border-left-width: 1px;
    //overflow-x: hidden;
    background-color: $asf-primary-light;

    .scene-detail {
      margin-left: 10px;
    }
  }
}

.dialog-header--layout {
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  width: 100%;
  color: $asf-primary-dark;
  //background-color: $asf-primary-light;
  border-bottom-color: $asf-primary-dark;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.browse-map--size {
  max-width: 100%;
  max-height: 100%;
  background-color: $asf-primary-light;
  position: relative;
}

.browse-map--overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block-btn {
  width: 100%;
}

.btn-group {
  display: flex;
  flex-direction: column;
}

.btn-group button {
  margin-bottom: 10px;
}

.browse-drag-handle {
  //position: absolute;
  //top: 10px;
  //left: 10px;
  color: $asf-primary;
  cursor: move;
  height: 24px;
}

.close-button {
  vertical-align: top !important;
  color: $asf-primary;
}

.file-list {
  overflow: auto;

  button {
    height: 25px;
  }

  //button:before {
  //  content: "• ";
  //}
}

.detail-header {
  font-weight: bold;
  margin-top: 8px;
}

.mat-list-base[dense] .mat-list-item .mat-list-item-content {
  padding: 0;
}

.bottom-row {
  margin-top: 10px;
}

.close-icon {
  position: absolute;
  right: 0;
}

.thumbs {
  position: absolute;
  top: 90px;
  z-index: 9;
}
