@use "@angular/material" as mat;

@import "asf-theme";

$config: mat.define-legacy-typography-config();

.mp0-ellipsis-mobile {
  width: 250px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mp0-ellipsis {
  width: 800px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  @include themify($themes) {
    color: themed('blue-link');
  }
}

.browse-dialog {
  @include themify($themes) {
    background-color: themed('primary-light');
  }

  overflow: hidden;
  font-family: mat.font-family($config);
  height: 100%;

  :focus {
    outline: none;
  }

  .dialog-header {
    min-height: 60px;
  }

  .main-window {
    position: relative;
    height: calc(100% - 285px);
  }

  .main-window-mobile {
    position: relative;
    height: 50vh;
  }

  .browse-list {
    @include themify($themes) {
      background-color: themed('primary-light');
      border-top-color: themed('primary-dark');
    }

    min-height: 140px;
    border-top-style: solid;
    border-top-width: 1px;
  }

  .scene-detail--wrapper {
    @include themify($themes) {
      background-color: themed('primary-light');
      border-left-color: themed('primary-dark');
    }

    min-width: 200px;
    border-left-style: solid;
    border-left-width: 1px;
    overflow-y: auto;
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 20%;

    .scene-detail {
      margin-left: 10px;
    }
  }
}

.dialog-header--layout {
  @include themify($themes) {
    color: themed('dark-primary-text');
    border-bottom-color: themed('dark-primary-text');
  }

  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-height: 60px;
}

.browse-map--size {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.browse-map--layout {
  flex-direction: row-reverse;
  box-sizing: border-box;
  display: flex;
  place-content: flex-end;
  align-items: flex-end;
  flex: 1 1 0%;
}

.browse-map--overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block-btn {
  width: 100%;
}

.btn-group {
  display: flex;
  flex-direction: column;
}

.btn-group button {
  margin-bottom: 10px;
}

.browse-drag-handle {
  @include themify($themes) {
    color: themed('dark-primary-text');
  }

  cursor: move;
  height: 24px;
}

.close-button {
  @include themify($themes) {
    color: themed('dark-primary-text');
  }

  vertical-align: top !important;
  margin-bottom: 5px;
}

.file-list {
  overflow-y: auto;
}

.sarviews-product-list {
  overflow-y: scroll;

  button {
    height: 25px;
  }
}

.detail-header {
  font-weight: bold;
  margin-top: 8px;
}

.mat-list-base[dense] .mat-list-item .mat-list-item-content {
  padding: 0;
}

.bottom-row {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: flex-end;
  align-items: flex-end;
}

.close-icon {
  right: 0;
  flex: 1 1 35px;
  box-sizing: border-box;
  max-width: 35px;
  min-width: 35px;
}

.thumbs {
  position: absolute;
  top: 90px;
  left: 10px;
  z-index: 9;
}

.sarviews-thumbs {
  box-sizing: border-box;
  position: relative;
  bottom: 10px;
  left: 20px;
  z-index: 9;
  overflow-x: scroll;
  width: 100%;
  min-height: 150px;
}

.mat-card-sm-image {
  width: 50px;
  height: 50px;
}

.mat-card-md-image {
  width: 125px;
  height: 125px;
}

.download-icon {
  height: 12px !important;
  width: 12px !important;
  margin-right: 15px;
}

.file-button-download {
  @include themify($themes) {
    background-color: lighten(themed('primary-light'), 10%);
  }

  border-radius: 2px !important;
  padding-left: 5px !important;
  margin-bottom: 5px;
  padding-right: 15px !important;
  width: fit-content !important;
}

.on-demand-scene-names {
  font-size: 12px;
  word-break: break-word;
  margin-bottom: 0;
}

.footer {
  @include themify($themes) {
    border-top: 1px solid themed('primary-dark');
  }

  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: sticky;
  bottom: 0;
  z-index: 1020;
  padding: 10px;
  padding-top: 13.5px;
}
