@use '~@angular/material' as mat;

@import "asf-theme";

$config: mat.define-typography-config();

.mp0-ellipsis-mobile {
  width: 250px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mp0-ellipsis {
  width: 800px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  color: $uaf-primary-blue;
}

.browse-dialog {
  overflow: hidden;
  font-family: mat.font-family($config);
  background-color: $asf-primary-light;
  height: 100%;

  :focus {
    outline: none;
  }

  .dialog-header {
    min-height: 60px;
  }

  .main-window {
    position: relative;
    height: calc(100% - 285px);
  }

  .main-window-mobile {
    position: relative;
    height: 50vh;
  }

  .browse-list {
    min-height: 140px;
    border-top-color: $asf-primary-dark;
    border-top-style: solid;
    border-top-width: 1px;
    background-color: $asf-primary-light;
  }

  .scene-detail-wrapper {
    min-width: 200px;
    border-left-color: $asf-primary-dark;
    border-left-style: solid;
    border-left-width: 1px;
    overflow-y: auto;
    background-color: $asf-primary-light;

    .scene-detail {
      margin-left: 10px;
    }
  }
}

.dialog-header--layout {
  color: $asf-primary-dark;
  border-bottom-color: $asf-primary-dark;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-height: 60px;
}

.browse-map--size {
  max-width: 100%;
  max-height: 100%;
  background-color: $asf-primary-light;
  overflow: hidden;
}

.browse-map--overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block-btn {
  width: 100%;
}

.btn-group {
  display: flex;
  flex-direction: column;
}

.btn-group button {
  margin-bottom: 10px;
}

.browse-drag-handle {
  color: $asf-primary;
  cursor: move;
  height: 24px;
}

.close-button {
  vertical-align: top !important;
  color: $asf-primary;
  margin-bottom: 5px;
}

.file-list {
  overflow-y: auto;
}

.sarviews-product-list {
  overflow-y: scroll;

  button {
    height: 25px;
  }
}

.detail-header {
  font-weight: bold;
  margin-top: 8px;
}

.mat-list-base[dense] .mat-list-item .mat-list-item-content {
  padding: 0;
}

.bottom-row {
  margin-top: 10px;
  font-size: 14px;
}

.close-icon {
  right: 0;
}

.thumbs {
  position: absolute;
  top: 90px;
  left: 10px;
  z-index: 9;
}

.sarviews-thumbs {
  // flex-direction: row;
  // flex: 1 1 0%;
  box-sizing: border-box;
  position: relative;
  bottom: 10px;
  left: 20px;
  z-index: 9;
  // display: flex;
  overflow-x: scroll;
  width: 100%;
  min-height: 150px;
  // max-height: 125px;
}

.mat-card-sm-image {
  width: 50px;
  height: 50px;
}

.mat-card-md-image {
  width: 125px;
  height: 125px;
}

.download-icon {
  height: 12px !important;
  width: 12px !important;
  margin-right: 15px;
}

.file-button-download {
  background-color: lighten($asf-primary-light, 10%);
  border-radius: 2px !important;
  padding-left: 5px !important;
  margin-bottom: 5px;
  padding-right: 15px !important;
  width: fit-content !important;
}

.on-demand-scene-names {
  font-size: 12px;
  word-break: break-word;
  margin-bottom: 0px;
}

.footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: sticky;
  bottom: 0;
  border-top: 1px solid $asf-primary-dark;
  z-index: 1020;
  padding: 10px;
  padding-top: 13.5px;
}
