<button mat-stroked-button class="layer-select-button" [matMenuTriggerFor]="layerMenu" aria-label="Map projection view">
  <ng-template [ngIf]="layerType === layerTypes.SATELLITE" [ngIfElse]="STREET_VIEW" class="layer-btn layer-select-icon arctic">
    <mat-icon class="control-icon">terrain</mat-icon>
  </ng-template>
  <ng-template #STREET_VIEW class="layer-btn layer-select-icon equatorial">
    <mat-icon class="control-icon">directions_car</mat-icon>
  </ng-template>
  <span class="fa fa-caret-down bottom-right"></span>
</button>

<mat-menu #layerMenu="matMenu">

    <button mat-menu-item class="control-mat-button-toggle"
                       (click)="onNewLayerType(layerTypes.SATELLITE)"
                       matTooltip="Satellite Layer"
                       [value]="layerTypes.SATELLITE">
      <mat-icon class="control-icon">terrain</mat-icon>
      Satellite Layer
    </button>

    <button mat-menu-item class="control-mat-button-toggle"
                       (click)="onNewLayerType(layerTypes.STREET)"
                       [value]="layerTypes.STREET"
                       matTooltip="Street Layer" >
      <mat-icon class="control-icon">directions_car</mat-icon>
      Street Layer
    </button>

  <mat-divider></mat-divider>

    <button mat-menu-item
      class="control-mat-checkbox-toggle"
      matTooltip="Overview map view"
      (click)="onToggleOverviewMap(overviewMapVisible)">

      <mat-checkbox class="checkbox"
                    [disabled]="true"
                    [checked]="overviewMapVisible"></mat-checkbox>
      Overview Map
    </button>

    <button mat-menu-item
            class="control-mat-checkbox-toggle"
            (click)="onToggleGridlines()"
            matTooltip="Gridlines Overlay"
    >
      <mat-checkbox class="checkbox"
                    [disabled]="true"
                    [checked]="gridActive"></mat-checkbox>
      Gridlines Overlay
    </button>

</mat-menu>
