<button
  mat-stroked-button
  class="layer-select-button"
  [matMenuTriggerFor]="layerMenu"
  aria-label="Map projection view"
>
  @if (layerType === layerTypes.SATELLITE) {
    <mat-icon class="control-icon layer-btn layer-select-icon arctic"
      >terrain</mat-icon
    >
  } @else {
    <mat-icon class="control-icon layer-btn layer-select-icon equatorial"
      >directions_car</mat-icon
    >
  }
  <span class="fa fa-caret-down bottom-right"></span>
</button>

<mat-menu #layerMenu="matMenu">
  <button
    mat-menu-item
    class="control-mat-button-toggle"
    (click)="onNewLayerType(layerTypes.SATELLITE)"
    [value]="layerTypes.SATELLITE | translate"
  >
    <mat-icon class="control-icon" iconPositionEnd>terrain</mat-icon>
    {{ 'SATELLITE_LAYER' | translate }}
  </button>

  <button
    mat-menu-item
    class="control-mat-button-toggle"
    (click)="onNewLayerType(layerTypes.STREET)"
    [value]="layerTypes.STREET"
  >
    <mat-icon class="control-icon" iconPositionEnd>directions_car</mat-icon>
    {{ 'STREET_LAYER' | translate }}
  </button>

  <mat-divider></mat-divider>

  <button
    mat-menu-item
    class="control-mat-checkbox-toggle"
    (click)="onToggleOverviewMap(overviewMapVisible)"
  >
    <mat-checkbox
      class="checkbox"
      [disabled]="true"
      [checked]="overviewMapVisible"
    >
    </mat-checkbox>
    {{ 'OVERVIEW_MAP' | translate }}
  </button>

  @if ((searchType$ | async) !== searchTypes.DISPLACEMENT) {
    <button
      mat-menu-item
      class="control-mat-checkbox-toggle"
      (click)="onClickCoherenceMenu()"
      [matMenuTriggerFor]="coherenceLayers"
    >
      <mat-checkbox
        class="checkbox"
        [disabled]="true"
        [checked]="coherenceLayerMonths"
      >
      </mat-checkbox>
      {{ 'COHERENCE_LAYER' | translate }}

      <mat-menu #coherenceLayers="matMenu">
        @for (layer of months; track layer) {
          <button
            (click)="onToggleCoherenceLayer(layer)"
            class="control-mat-checkbox-toggle"
            mat-menu-item
          >
            <mat-radio-button
              [disabled]="true"
              [checked]="coherenceLayerMonths === layer"
            >
            </mat-radio-button>

            {{ layer | translate }}
          </button>
        }
      </mat-menu>
    </button>
  }
  <button
    mat-menu-item
    class="control-mat-checkbox-toggle"
    (click)="onToggleGridlines()"
  >
    <mat-checkbox class="checkbox" [disabled]="true" [checked]="gridActive">
    </mat-checkbox>
    {{ 'GRIDLINES_OVERLAY' | translate }}
  </button>
</mat-menu>
