@use "asf-theme-variables" as *;
@use "tokens" as *;
@use "component-mixins" as *;

.layer-select-button {
  @include map-control-button;
  // Component-specific overrides
  padding: 0 0 0 3px;
  width: 18px;
  span {
    height: 26px;
  }
}

.layer-select-icon {
  display: inline-block;
  margin-top: 1px;
}

.layer-menu-icon {
  transform: translateY(6px);
}

.bottom-right {
  @include corner-badge(-13px, -19px);
}


.checkbox {
  @include clickable;
  margin-left: 2px;
  margin-right: spacing(md);
}
