<div>
  <div *ngIf="!!filters.filterMaster">
    <b>{{ 'REFERENCE' | translate }}: </b> {{ filters.filterMaster }}
  </div>
  <div *ngIf="!!filters.dateRange.start">
    <b>{{'START' | translate}}: </b> {{ filters.dateRange.start | shortDate }}
  </div>
  <div *ngIf="!!filters.dateRange.end">
    <b>{{'END' | translate}}: </b> {{ filters.dateRange.end | shortDate }}
  </div>
  <div *ngIf="filters.temporalRange.start !== null || filters.temporalRange.end !== null">
    <b>{{'TEMPORAL' | translate}}: </b> {{ filters.temporalRange.start }} {{ 'TO' | translate }} {{ filters.temporalRange.end }}
  </div>
  <div *ngIf="filters.perpendicularRange.start !== null || filters.perpendicularRange.end !== null">
    <b>{{'PERPENDICULAR' | translate}}: </b> {{ filters.perpendicularRange.start }} {{ 'TO' | translate }} {{ filters.perpendicularRange.end }}
  </div>
  <div *ngIf="filters.season.start !== null || filters.season.end !== null">
    <b>{{'SEASON' | translate}}: </b> {{ filters.season.start }} {{ 'TO' | translate }} {{ filters.season.end }}
  </div>
</div>
