<div [ngClass]="{'saved-searches-mobile': breakpoint <= breakpoints.SMALL,
               'saved-searches': breakpoint > breakpoints.SMALL}">
  <div class="saved-searches__header">
      <div class="saved-searches__header-title">
        <span *ngIf="sidebarType === SidebarType.SAVED_SEARCHES">Saved Searches</span>
        <span *ngIf="sidebarType === SidebarType.SEARCH_HISTORY">Search History</span>
      </div>
      <div class="saved-searches__header-actions" >
          <div class="saved-searches__more-menu">
            <mat-button-toggle-group
               (change)="onSidebarTypeChange($event.value)"
               [value]="sidebarType"
               name="SavedSearchType" aria-label="Saved Search Type">
              <mat-button-toggle
                [value]="SidebarType.SEARCH_HISTORY">History</mat-button-toggle>
              <mat-button-toggle
                [value]="SidebarType.SAVED_SEARCHES">Saved</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
      </div>
    </div>

  <div class="saved-searches__subhead">
    <div [ngClass]="{'saved-searches__filter-form-mobile': breakpoint <= breakpoints.SMALL,
                     'saved-searches__filter-form': breakpoint > breakpoints.SMALL}">
      <form onsubmit="return false">
        <mat-form-field>
          <input matInput
                 [(ngModel)]="searchFilter"
                 (change)="onNewFilter($event)"
                 (input)="onNewFilter($event)"
                 (keyup.enter)="unfocusFilter()"
                 name="filterSearches"
                 placeholder="Filter Searches">
        </mat-form-field>
      </form>
    </div>

    <div class="saved-searches__save-button">
      <button
         *ngIf="sidebarType === SidebarType.SAVED_SEARCHES &&
           (searchType$ | async) !== SearchType.CUSTOM_PRODUCTS"
         (click)="saveCurrentSearch()"
              mat-raised-button
              color="accent">
        Save Current Search
      </button>
    </div>
  </div>

  <div class="content-wrapper">
      <div *ngIf="searchType$ | async as searchType"
           [ngClass]="{'saved-searches__content-mobile': breakpoint <= breakpoints.SMALL,
                       'saved-searches__content': breakpoint > breakpoints.SMALL}">
        <div *ngIf="(searches$ | async).length > 0; else noSavedSearchBlock">
          <div *ngFor="let search of (searches$ | async)" class="saved-searches-row">
            <div *ngIf="filteredSearches.has(search.id)">
              <app-saved-search
                [search]="search"
                [searchType]="searchType"
                [isExpanded]="search.id === expandedSearchId"
                [isNew]="search.id === newSearchId"
                [isSavedSearch]="sidebarType === SidebarType.SAVED_SEARCHES"
                [lockedFocus]="lockedFocus"
                (unlockFocus)="onUnlockFocus()"
                (expand)="onExpandSearch($event)"
                (updateFilters)="updateSearchFilters($event)"
                (updateName)="updateSearchName($event)"
                (deleteSearch)="deleteSearch($event)"
                (setSearch)="onSetSearch($event)">
              </app-saved-search>
            </div>
          </div>
        </div>
        <ng-template #noSavedSearchBlock>
          <div class="no-saved-searches">
            <h2>You have no saved searches.</h2>
          </div>
        </ng-template>
      </div>
  </div>

  <div [ngClass]="{'saved-searches__footer-mobile': breakpoint <= breakpoints.SMALL,
                 'saved-searches__footer': breakpoint > breakpoints.SMALL}">
    <div class="saved-searches__close-button">
      <button (click)="onClose()"
              mat-raised-button
              color="primary">
        Done
      </button>
    </div>
  </div>
</div>
