@use "asf-theme-variables" as *;
@use "tokens" as *;

.saved-searches {
  left: 0;
  position: static;
  top: 32px;
  min-width: 600px;
  max-width: 900px;
}

.saved-searches-mobile {
  position: static;
  height: 100%;
  left: 0;
  top: 32px;
  width: 100%;
}

.saved-searches__header,
.saved-searches__footer,
.saved-searches__footer-mobile {
  background-color: var(--asf-primary-light);
}

.saved-searches__content,
.saved-searches__footer,
.saved-searches__footer-mobile {
  width: 100%;
}

.saved-searches__content {
  background-color: var(--asf-surface);
  max-height: calc(100vh - 350px);
  overflow-y: auto;
}

.saved-searches__content-mobile {
  background-color: var(--asf-surface);
  max-height: calc(100vh - 350px);
  overflow-y: auto;
  width: 100%;
}

.saved-searches-row:nth-child(odd) {
  background-color: var(--asf-primary-light-15) !important;
}

.saved-searches__header {
  border-bottom-color: var(--asf-primary);
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-left: spacing(md);
  padding-right: spacing(md);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.saved-searches__header-title {
  font-size: font-size(xl);
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  max-width: 50%;
}

.saved-searches__header-actions {
  display: flex;
  justify-content: space-between;
  padding-top: spacing(md);
  height: 100%;
}

.saved-searches__subhead {
  background-color: var(--asf-surface);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: spacing(md);
  padding-left: spacing(md);
  padding-right: spacing(md);
}

.saved-searches__filter-form {
  display: flex;
}

.saved-searches__filter-form-mobile {
  flex: 0 100px;
}

.saved-searches__more-menu {
  padding-left: spacing(md);
}

.saved-searches__footer,
.saved-searches__footer-mobile {
  background: var(--asf-primary-light);
  border-top-color: var(--asf-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  border-top-style: solid;
  border-top-width: 1px;
}

.saved-searches__footer-mobile {
  bottom: 0;
  position: absolute;
}

.close-icon {
  font-size: 32px;
}

.saved-searches__save-button {
  color: var(--asf-primary-light);
  display: flex;
  margin: spacing(sm);
}

.saved-searches__close-button {
  color: var(--asf-primary-light);
  display: flex;
  margin-right: spacing(md);
  height: fit-content;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}

.no-saved-searches {
  color: var(--asf-primary-light);
  padding-left: spacing(md);
}
