<form
[formGroup]="dateRangeForm"
  (keydown.enter)="$event.preventDefault()"
  class="date-selector">
  <mat-form-field
    [class.invalid-input-animation]="isStartError"
    class="date-input-field">
    <mat-label>{{ 'START_DATE' |  translate }}</mat-label>

    <input matInput
      name="startInput"
      formControlName="StartDateControl"
      [value]="startDate"
      (dateChange)="onStartDateChange($event)"
      [min]="minDate"
      [max]="maxDate"
      [matDatepicker]="startDatePicker"
      class="clickable"
    >
    <mat-hint>{{getDateFormatString()}}</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker touchUi="true" [startView]="!!startDate ? 'month' : 'multi-year'" #startDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="date-input-field"
    [class.invalid-input-animation]="isEndError">
    <mat-label>{{ 'END_DATE' | translate }}</mat-label>
    <input matInput
      name="endInput"
      formControlName="EndDateControl"
      [value]="endDate"
      (dateChange)="onEndDateChange($event)"
      [min]="minDate"
      [max]="maxDate"
      [matDatepicker]="endDatePicker"
    >
    <mat-hint>{{getDateFormatString()}}</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker touchUi="true" [startView]="!!endDate ? 'month' : 'multi-year'" #endDatePicker></mat-datepicker>
  </mat-form-field>
<!--  <button mat-button (click)="toggleLang()">XX</button>-->
</form>
