<mat-card class="card-spacing example-card">
  <mat-card-header>
    <mat-card-title [title]="product.name">{{ product.name | truncate : 21 }}</mat-card-title>
    <mat-card-subtitle>{{ product.platform }}</mat-card-subtitle>

  </mat-card-header>

  <img mat-card-image [src]="product.browse" alt="Sentinel1 Product browse image">

  <mat-card-content>
  <mat-list>
    <h3 mat-subheader>Details</h3>
    <mat-list-item>
      <h4 mat-line> <b>Aquisition Date:</b> {{ product.metadata.date }}</h4>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line><b>Beam Mode:</b> {{ product.metadata.beamMode }}</h4>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line><b>Path: </b> {{ product.metadata.path }}</h4>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line><b>Frame:</b> {{ product.metadata.frame }}</h4>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line><b>Flight Direction:</b> {{ product.metadata.flightDirection }}</h4>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line><b>Polarization: </b> {{ product.metadata.polarization }}</h4>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line><b>Absolute Orbit: </b> {{ product.metadata.absoluteOrbit }}</h4>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line><b>Frequency: </b> {{ product.metadata.frequency }}</h4>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line> <a href="http://www.esa.int/ESA"> Data courtesy of ESA</a> </h4>
    </mat-list-item>
  </mat-list>

  </mat-card-content>

  <mat-card-actions>

    <a mat-raised-button
      matTooltip="Accessing this data requires you to log in. Some datasets also require a proposal, or agreement with a EULA which is presented after log in."
      color="primary" [href]="product.downloadUrl">
      {{ product.bytes | readableSizeFromBytes }}
      <fa-icon class="dl-icon" [icon]="downloadIcon"></fa-icon>
    </a>
    <a mat-raised-button color="primary" href="https://baseline.asf.alaska.edu/#/baseline?granule={{ product.name }}">Baseline Tool</a>
    <a mat-raised-button color="primary" href="https://www.asf.alaska.edu/about/how-to-cite-data/">Citation</a>

  </mat-card-actions>
</mat-card>
