<div class="observation-panel">
  <mat-form-field class="polarization-select-container">
    <mat-select
      (selectionChange)="onNewDatasetPolarizations($event.value)"
      [(ngModel)]="polarizations"
      [disabled]="!(dataset | isRelevant: p.POLARIZATION)"
      [placeholder]="
        dataset?.id === 'NISAR'
          ? ('MAIN_BAND_FREQ_A_POLARIZATION' | translate)
          : ('POLARIZATION' | translate) + ' ' + ('MAIN' | translate)
      "
      multiple
    >
      <mat-select-trigger>
        {{ polarizations | join: '  ' }}
      </mat-select-trigger>
      @for (pol of dataset.polarizations; track pol) {
        <mat-option [value]="pol">
          <span class="polarization-type">{{ pol }}</span>
          <span class="polarization-count"
            >&nbsp;&nbsp;{{ pol | polarizationCount }}</span
          >
        </mat-option>
      }
    </mat-select>
    <mat-hint align="start">
      @if (dataset | isRelevant: p.POLARIZATION) {
        {{ polarizations?.length || 0 }}/{{ dataset.polarizations.length }}
        {{ 'POLARIZATIONS_SELECTED' | translate }}
      } @else {
        {{ 'NO_POLARIZATIONS_TO_SELECT' | translate }}
      }
    </mat-hint>
  </mat-form-field>

  <mat-form-field class="polarization-select-container">
    <mat-select
      (selectionChange)="onNewDatasetSidePolarizations($event.value)"
      [(ngModel)]="sidePolarizations"
      [placeholder]="
        dataset?.id === 'NISAR'
          ? ('SIDE_BAND_FREQ_B_POLARIZATION' | translate)
          : ('POLARIZATION' | translate) + ' ' + ('SIDE' | translate)
      "
      multiple
    >
      <mat-select-trigger>
        {{ sidePolarizations | join: '  ' }}
      </mat-select-trigger>
      @for (pol of dataset.sidepolarizations; track pol) {
        <mat-option [value]="pol">
          <span class="polarization-type">{{ pol }}</span>
          <span class="polarization-count"
            >&nbsp;&nbsp;{{ pol | polarizationCount }}</span
          >
        </mat-option>
      }
    </mat-select>
    <mat-hint align="start">
      @if (dataset | isRelevant: p.POLARIZATION) {
        {{ sidePolarizations?.length || 0 }}/{{ dataset.polarizations.length }}
        {{ 'POLARIZATIONS_SELECTED' | translate }}
      } @else {
        {{ 'NO_POLARIZATIONS_TO_SELECT' | translate }}
      }
    </mat-hint>
  </mat-form-field>

  <mat-form-field class="flight-direction-field">
    <mat-select
      (selectionChange)="onNewFlightDirectionsSelected($event.value)"
      [(ngModel)]="flightDirections"
      [disabled]="!(dataset | isRelevant: p.FLIGHT_DIRECTION)"
      [placeholder]="'DIRECTION' | translate"
      multiple
    >
      @for (direction of flightDirectionTypes; track direction) {
        <mat-option [value]="direction">
          {{ direction.toUpperCase() | translate }}
        </mat-option>
      }
    </mat-select>

    <mat-hint align="start">
      @if (dataset | isRelevant: p.FLIGHT_DIRECTION) {
        {{ flightDirections?.length || 0 }}/{{ flightDirectionTypes.length }}
        {{ 'FLIGHT_DIRECTIONS_SELECTED' | translate }}
      } @else {
        {{ 'NO_FLIGHT_DIRECTIONS_TO_SELECT' | translate }}
      }
    </mat-hint>
  </mat-form-field>

  @if (dataset | isRelevant: p.PLATFORM) {
    <mat-form-field>
      <mat-select
        (selectionChange)="onNewPlatformSelected($event.value)"
        [(ngModel)]="platforms"
        [disabled]="!(dataset | isRelevant: p.PLATFORM)"
        [placeholder]="'SATELLITE' | translate"
        multiple
      >
        @for (platform of dataset.platforms; track platform) {
          <mat-option [value]="platform">
            {{ platform.displayName }}
          </mat-option>
        }
      </mat-select>

      <mat-hint align="start">
        @if (dataset | isRelevant: p.PLATFORM) {
          {{ platforms?.length || 0 }}/{{ dataset.platforms?.length }}
          {{ 'SATELLITES_SELECTED' | translate }}
        } @else {
          {{ 'NO_SATELLITES_TO_SELECT' | translate }}
        }
      </mat-hint>
    </mat-form-field>
  }

  <mat-form-field>
    <mat-select
      (selectionChange)="onNewInstrument($event.value)"
      [(ngModel)]="instruments"
      [disabled]="!(dataset | isRelevant: p.INSTRUMENT)"
      [placeholder]="'INSTRUMENT' | translate"
      multiple
    >
      @for (instrument of dataset.instruments; track instrument) {
        <mat-option [value]="instrument.apiValue">
          {{ instrument.displayName }}
        </mat-option>
      }
    </mat-select>

    <mat-hint align="start">
      @if (dataset | isRelevant: p.INSTRUMENT) {
        {{ instruments?.length || 0 }}/{{ dataset.instruments.length }}
        {{ 'INSTRUMENTS_SELECTED' | translate }}
      } @else {
        {{ 'NO_INSTRUMENTS_TO_SELECT' | translate }}
      }
    </mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-select
      (selectionChange)="onNewFrameCoverageSelected($event.value)"
      [(ngModel)]="frameCoverage"
      [placeholder]="'FRAME_COVERAGE' | translate"
      multiple
    >
      <mat-option value="Full">
        {{ 'FULL' | translate }}
      </mat-option>
      <mat-option value="Partial">
        {{ 'PARTIAL' | translate }}
      </mat-option>
    </mat-select>

    <mat-hint align="start">
      @if (dataset | isRelevant: p.FRAME) {
        {{ frameCoverage?.length || 0 }}/2
        {{ 'FRAMES_SELECTED' | translate }}
      } @else {
        {{ 'NO_FRAMES_TO_SELECT' | translate }}
      }
    </mat-hint>
  </mat-form-field>

  <mat-form-field class="half-width">
    <mat-select
      (selectionChange)="onNewRangeBandwidthSelected($event.value)"
      [(ngModel)]="rangeBandwidth"
      [placeholder]="'RANGE_BANDWIDTH' | translate"
      multiple
    >
      @for (parent of dataset.bandwidth | keyvalue; track $index) {
        @for (band of parent.value; track $index) {
          <mat-option [value]="band">
            ({{ parent.key }}) {{ band }}
          </mat-option>
        }
      }
    </mat-select>

    <mat-hint align="start">
      @if (dataset | isRelevant: p.RANGE_BANDWIDTH) {
        {{ rangeBandwidth?.length || 0 }}/{{ totalBandwithCount }}
        {{ 'RANGE_BANDWITH_SELECTED' | translate }}
      } @else {
        {{ 'NO_BANDWITH_TO_SELECT' | translate }}
      }
    </mat-hint>
  </mat-form-field>

  <mat-slide-toggle
    class="joint-observation-toggle"
    (change)="onNewJointObservation($event.checked)"
    [checked]="jointObservation"
    [matTooltip]="'JOINT_OBSERVATION_ONLY_TOOLTIP' | translate"
    matTooltipPosition="right"
  >
    {{ 'JOINT_OBSERVATION_ONLY' | translate }}
  </mat-slide-toggle>
</div>
