<div class="observation-panel">
    <mat-form-field>
        <mat-select (selectionChange)="onNewDatasetPolarizations($event.value)" [(ngModel)]="polarizations"
            [disabled]="!prop.isRelevant(p.POLARIZATION)"
            placeholder="{{ 'POLARIZATION' | translate }} {{ 'MAIN' | translate }}" multiple>
            <mat-option *ngFor="let pol of dataset.polarizations" [value]="pol">
                <div class="polarization-subheader">
                    {{pol | polarizationCount | translate}}
                </div>
                {{pol}}
            </mat-option>
        </mat-select>
        <mat-hint *ngIf="prop.isRelevant(p.POLARIZATION)" align="start">
            {{ polarizations?.length || 0 }}/{{ dataset.polarizations.length }}
            {{ 'POLARIZATIONS_SELECTED' | translate }}
        </mat-hint>
        <mat-hint *ngIf="!prop.isRelevant(p.POLARIZATION)" align="start">
            {{ 'NO_POLARIZATIONS_TO_SELECT' | translate }}
        </mat-hint>

    </mat-form-field>

    <mat-form-field>
        <mat-select (selectionChange)="onNewDatasetSidePolarizations($event.value)" [(ngModel)]="sidePolarizations"
            [disabled]="!prop.isRelevant(p.SIDE_POLARIZATION)"
            placeholder="{{ 'POLARIZATION' | translate }} {{ 'SIDE' | translate }}" multiple>
            <mat-option *ngFor="let pol of dataset.sidepolarizations" [value]="pol">
                <div class="polarization-subheader">
                    {{pol | polarizationCount}}
                </div>
                {{pol}}
            </mat-option>
        </mat-select>
        <mat-hint *ngIf="prop.isRelevant(p.POLARIZATION)" align="start">
            {{ sidePolarizations?.length || 0 }}/{{ dataset.polarizations.length }}
            {{ 'POLARIZATIONS_SELECTED' | translate }}
        </mat-hint>
        <mat-hint *ngIf="!prop.isRelevant(p.POLARIZATION)" align="start">
            {{ 'NO_POLARIZATIONS_TO_SELECT' | translate }}
        </mat-hint>

    </mat-form-field>

    <mat-form-field class="flight-direction-field">
        <mat-select (selectionChange)="onNewFlightDirectionsSelected($event.value)" [(ngModel)]="flightDirections"
            [disabled]="!prop.isRelevant(p.FLIGHT_DIRECTION)" placeholder="{{ 'DIRECTION' | translate }}" multiple>
            <mat-option *ngFor="let direction of flightDirectionTypes" [value]="direction">
                {{direction.toUpperCase() | translate}}
            </mat-option>
        </mat-select>

        <mat-hint *ngIf="prop.isRelevant(p.FLIGHT_DIRECTION)" align="start">
            {{ flightDirections?.length || 0 }}/{{ flightDirectionTypes.length }}
            {{ 'FLIGHT_DIRECTIONS_SELECTED' | translate }}
        </mat-hint>
        <mat-hint *ngIf="!prop.isRelevant(p.FLIGHT_DIRECTION)" align="start">
            {{ 'NO_FLIGHT_DIRECTIONS_TO_SELECT' | translate }}
        </mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="prop.isRelevant(p.SUBTYPE)">
        <mat-select (selectionChange)="onNewSubtypeSelected($event.value)" [(ngModel)]="subtypes"
            [disabled]="!prop.isRelevant(p.SUBTYPE)" placeholder="{{ 'SUBTYPE' | translate }}" multiple>
            <mat-option *ngFor="let subtype of dataset.subtypes" [value]="subtype">
                {{ subtype.apiValue }}
            </mat-option>
        </mat-select>

        <mat-hint *ngIf="prop.isRelevant(p.SUBTYPE)" align="start">
            {{ subtypes?.length || 0 }}/{{ dataset.subtypes?.length }}
            {{ 'SUBTYPES_SELECTED' | translate }}
        </mat-hint>
        <mat-hint *ngIf="!prop.isRelevant(p.SUBTYPE)" align="start">
            {{ 'NO_SUBTYPES_TO_SELECT' | translate }}
        </mat-hint>
    </mat-form-field>

    <mat-form-field>
        <mat-select (selectionChange)="onNewInstrument($event.value)" [(ngModel)]="instruments"
            [disabled]="!prop.isRelevant(p.INSTRUMENT)" placeholder="{{ 'INSTRUMENT' | translate }}" multiple>
            <mat-option *ngFor="let instrument of dataset.instruments" [value]="instrument.apiValue">
                {{instrument.displayName.toUpperCase()}}
            </mat-option>
        </mat-select>

        <mat-hint *ngIf="prop.isRelevant(p.INSTRUMENT)" align="start">
            {{ instruments?.length || 0 }}/{{ dataset.instruments.length }}
            {{ 'INSTRUMENTS_SELECTED' | translate }}
        </mat-hint>
        <mat-hint *ngIf="!prop.isRelevant(p.INSTRUMENT)" align="start">
            {{ 'NO_INSTRUMENTS_TO_SELECT' | translate }}
        </mat-hint>
    </mat-form-field>

    <mat-form-field>
        <mat-select (selectionChange)="onNewFrameCoverageSelected($event.value)" [(ngModel)]="frameCoverage"
            placeholder="{{ 'FRAME_COVERAGE' | translate }}" multiple>
            <mat-option value="FULL">
                {{'FULL' | translate}}
            </mat-option>
            <mat-option value="PARTIAL">
                {{'PARTIAL' | translate}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-slide-toggle (change)="onNewJointObservation($event.checked)" [checked]="jointObservation">
        {{ 'JOINT_OBSERVATION_ONLY' | translate}}
    </mat-slide-toggle>

    <mat-form-field class="extra-wide">
        <mat-select (selectionChange)="onNewRangeBandwidthSelected($event.value)" [(ngModel)]="rangeBandwidth"
            placeholder="{{ 'RANGE_BANDWIDTH' | translate }}" multiple>
            @for(parent of (dataset.bandwidth | keyvalue); track $index) {
                @for(band of parent.value; track $index) {
                    <mat-option [value]="band">
                        ({{parent.key}}) {{band}}
                    </mat-option>
                }
            }
        </mat-select>
    </mat-form-field>
    <!-- <app-short-name-selector
    class="short-name-selector"
    (shortNamesChange)="onNewShortNames($event)"
     *ngIf="dataset.id === 'NISAR'"></app-short-name-selector> -->
    <!-- <app-opera-calibration-data-selector *ngIf="dataset.id === 'OPERA-S1'"></app-opera-calibration-data-selector> -->
</div>
