@import "asf-theme";

.header-mobile {
  min-height: 36px;
}

.header {
  padding-top: 20px;
}

.sbas-chart-row {
  display: flex;
  flex-direction: row;
  height: calc(100% - 137px);
}

.sbas-filter-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 137px;
  margin-top: 10px;
}

.sbas-column-1 {
  flex-basis: 150px;
  flex-shrink: 0;
  flex-grow: 0;
}

.sbas-column-2 {
  flex: 1 1 auto;
  margin-left: 10px;
}
