@import "asf-theme";

.header-mobile {
  min-height: 36px;
}

.header {
  @include themify($themes) {
    background-color: themed('primary-light');
    color: themed('dark-primary-text');
  }

  padding-top: 20px;
  height: 30px;
  margin-bottom: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  border-left: none;
}

.sbas-chart-row {
  display: flex;
  flex-direction: row;
  height: calc(100% - 137px);
}

.sbas-filter-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 137px;
  margin-top: 10px;
}

.sbas-column-1 {
  flex: 0 0 150px;
}

.sbas-column-2 {
  flex: 1 1 auto;
  margin-left: 10px;
}

.baseline-criteria-button-toggle-group {
  flex: 0 1 149px !important;
  margin-top: -5px;
}

.sbas-criteria-button-toggle-group {
  flex: 0 1 120px !important;
  margin-top: -5px;
}

.baseline-criteria-button-toggle {
  @include themify($themes) {
    background-color: themed('background-white') !important;
  }

  font-size: 14px;
}

.sbas-criteria-button-toggle {
  @include themify($themes) {
    background-color: themed('background-white') !important;
  }

  font-size: 14px;
}

.criteria-button-group {
  outline: none;
  width: auto;
  line-height: 26px !important;
}

.baseline-header-button-group {
  justify-content: center;
}

.control-mat-button-toggle {
  @include themify($themes) {
    background-color: themed('background-white');
  }
}

.more-horiz {
  font-size: 16px !important;
  margin-bottom: -11px;
}

.warn-icon {
  margin-right: 5px;

  @include themify($themes) {
    color: themed('warn');
  }
}

.gap-detected-area {
  margin-top: -5px;

  @include themify($themes) {
    color: themed('dark-primary-text') !important;
  }
}
