@use "@angular/material" as mat;

@import "asf-theme";

$config: mat.define-typography-config();

$info-background: $asf-primary-light;
$info-color: $asf-primary;

.position {
  z-index: 998;
  margin-left: 5px;
  top: 20px;
  width: 100%;
  height: 100%;
}

.icon-bar {
  background-color: $info-background;
  padding: 0;
  padding-right: 4px;
  pointer-events: auto;
}

.ribbon-info-top {
  background-color: $info-background;
  color: $info-color;
}

label {
  font-family: mat.font-family($config);
  font-size: 11px;
}

.lat-lon {
  font-family: mat.font-family($config);
  font-size: 12px;
  background-color: $asf-primary;
  color: $asf-primary-light;
  //margin-top: -3px;
}

.lat-lon-data {
  margin-left: 41px;
}

.group-margin {
  margin-right: 0;
  margin-left: 6px;
}

.control-icon {
  @include md-icon-size($asf-ribbon-icon-size);
}

.button-group {
  margin: 0 3px 3px 1px;
  pointer-events: auto;
}

.button-group-label {
  text-align: center;
  color: $info-color;
}

.move-handle {
  margin-top: 16px;
  margin-left: 7px;
  margin-right: 7px;
  color: $info-color;
  cursor: move;
  width: 24px;
  height: 24px;
}

.slim-line {
  height: 0;
}

.zoom-buttons {
  margin-left: 5px;
}

.opacity-slider-button {
  margin: 0 0 5px 0;
  padding: 0 0 0 3px;
  color: rgba(0, 0, 0, 0.87);
  background: white;
  font-size: 14px !important;
  height: 27px !important;
  width: 18px !important;
  min-width: 53px !important;
  border-radius: 4px !important;
  border: solid 1px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.opacity-slider-title {
  text-align: center;
  font-size: small;
  color: $asf-primary;
}

.bottom-right {
  color: $asf-primary;
  position: absolute;
  bottom: -7px;
  right: -4px;
  transform: rotate(-45deg);
}

::ng-deep .opacity-slider-mat-menu {
  padding: 15px 20px 0 20px;
}

.opacity-slider {
  width: 275px;
}

.opacity-button-text {
  display: inline-block;
  position: absolute;
  top: -4px;
  left: 7px;
  width: 40px;
  color: $asf-primary;
  text-align: center;
  align-content: center;
}

::ng-deep .mat-slider.mat-slider-horizontal {
  height: 28px;
}

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 50%;
}
