@use "~@angular/material" as mat;

@import "asf-theme";

$config: mat.define-typography-config();

$info-background: $asf-primary-light;
$info-color: $asf-primary;

.position {
  z-index: 998;
  margin-left: 5px;
  top: 20px;
  width: 100%;
  height: 100%;
}

.icon-bar {
  background-color: $info-background;
  padding: 0;
  padding-right: 4px;
  pointer-events: auto;
}

.ribbon-info-top {
  background-color: $info-background;
  color: $info-color;
}

label {
  font-family: mat.font-family($config);
  font-size: 11px;
}

.lat-lon {
  font-family: mat.font-family($config);
  font-size: 12px;
  background-color: $info-background;
  color: $info-color;
  margin-top: -3px;
}

.group-margin {
  margin-right: 6px;
}

.control-icon {
  @include md-icon-size($asf-ribbon-icon-size);
}

.button-group {
  margin: 0 3px 3px 1px;
  pointer-events: auto;
}

.button-group-label {
  text-align: center;
  color: $info-color;
}

.move-handle {
  margin-top: 16px;
  margin-left: 7px;
  margin-right: 7px;
  color: $info-color;
  cursor: move;
  width: 24px;
  height: 24px;
}

.slim-line {
  height: 0;
}

::ng-deep .mat-slider.mat-slider-horizontal {
  height: 28px;
}

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 50%;
}
