
@import "asf-theme";



.position {
  z-index: 998;
  margin-left: 0;
  top: 20px;
  width: 100%;
  height: 100%;
}

.icon-bar {
  @include themify($themes) {
    background-color: themed('primary-light');
  }
  padding: 0;
  pointer-events: auto;
  height: 45px !important;
  max-height: 45px !important;
}

.ribbon-info-top {
  @include themify($themes) {
    background-color: themed('primary-light');
    color: themed('primary');
  }
  background: red;
}

label {
  font-size: 11px;
}

.lat-lon {
  @include themify($themes) {
    background-color: themed('primary');
    color: themed('primary-light');
  }
  font-size: 12px;
  margin-top: 0;
  padding-left: 10px;
  max-height: 14px !important;
}

.lat-lon-data {
  margin-left: 8px;
}

.group-margin {
  margin-right: 0;
  margin-left: 6px;
}

.control-icon {
  @include md-icon-size($asf-ribbon-icon-size);
}

.button-group {
  margin: 0 3px 3px 1px;
  pointer-events: auto;
}

.button-group-label {
  text-align: center;
  @include themify($themes) {
    color: themed('primary');
  }
}

.move-handle-div {
  @include themify($themes) {
    background-color: themed('primary-light');
  }
  cursor: move;
}

.move-handle {
  @include themify($themes) {
    color: themed('primary-dark');
  }
  margin-top: 16px;
  margin-left: 7px;
  margin-right: 7px;
  cursor: move;
  width: 24px;
  height: 24px;
}

.move-handle-bottom {
  @include themify($themes) {
    background-color: themed('primary');
  }
  height: 14px;
  margin-top: 1px;
}

.slim-line {
  height: 0;
}

.zoom-buttons {
  margin-left: 5px;
}

.opacity-slider-button {
  @include themify($themes) {
    background: themify('primary-light');
    color: themify('light-primary-text');
  }
  margin: 0 0 5px;
  padding: 0 0 0 3px;
  font-size: 14px !important;
  height: 27px !important;
  width: 18px !important;
  min-width: 53px !important;
  border-radius: 4px !important;
  border: solid 1px rgb(0 0 0 / 12%);
  text-align: center;
}

.opacity-slider-title {
  @include themify($themes) {
    color: themed('primary');
  }
  text-align: center;
  font-size: small;
}

.bottom-right {
  @include themify($themes) {
    color: themed('primary');
  }
  position: absolute;
  bottom: -7px;
  right: -4px;
  transform: rotate(-45deg);
}

::ng-deep .opacity-slider-mat-menu {
  padding: 15px 20px 0;
}

.opacity-slider {
  width: 275px;
}

.opacity-button-text {
  @include themify($themes) {
    color: themed('primary');
  }
  display: inline-block;
  position: absolute;
  top: -4px;
  left: 7px;
  width: 40px;
  text-align: center;
  align-content: center;
}

.tool-bar-control {
  @include themify($themes) {
    color: themed('primary');
    background-color: themed('primary-light');
  }
  cursor: pointer;
  display: block;
  width: 30px;
  padding: 14px 0;
  margin-left: 10px;
}

.tool-bar-control-bottom {
  @include themify($themes) {
    background-color: themed('primary');
  }
  width: calc(100% + 10px);
  margin: 3px 0 0 -10px;
  height: 14px;
}
.mat-button-toggle-button {
  @include themify($themes) {
    background: themed('background-white');
    color: themed('light-primary-text')
  }
}
.visible-toggle {
  transition: all 1.2s ease-in-out;
}

.tool-bar-common {
  margin-left: 10px;
}

::ng-deep .mat-slider.mat-slider-horizontal {
  height: 28px;
}

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 50%;
}
