<div class="position"
      fxLayout="column"
      fxFill
      cdkDrag>
  <div fxLayout="row" class="icon-bar">
    <div fxLayout="column" fxFlex>
      <div fxLayout="row">

        <div *ngIf="showToolBar == true" fxLayout="column" class="visible-toggle">
          <div fxLayout="row" class="icon-bar tool-bar-common">

            <div fxFlex="" class="group-margin" *ngIf="searchType !== searchTypes.SARVIEWS_EVENTS">
              <div fxLayout="row" fxLayoutAlign="left" class="button-group-label">
                <label>&nbsp;{{ 'MAP_VIEW' |  translate }}</label>
              </div>

              <div fxLayout="row">
                <app-view-selector fxFlex="">
                </app-view-selector>
              </div>
            </div>

            <div fxFlex="" class="zoom-buttons">
              <div fxLayout="row" fxLayoutAlign="center" class="button-group-label">
                <label>{{ 'ZOOM' |  translate }}</label>
              </div>
              <div fxLayout="row">
                <div>
                  <mat-button-toggle-group fxFlex="" name="layerType">
                    <mat-button-toggle class="control-mat-button-toggle"
                                       (click)="zoomIn()"
                                       matTooltip="Zoom In">
                      <mat-icon class="control-icon">add</mat-icon>
                    </mat-button-toggle>

                    <mat-button-toggle class="control-mat-button-toggle"
                                       (click)="zoomOut()"
                                       matTooltip="Zoom out">
                      <mat-icon class="control-icon">remove</mat-icon>
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
              </div>
            </div>

            <div *ngIf="(view$ | async) === viewTypes.EQUATORIAL" fxFlex="" class="group-margin">
              <div fxLayout="row" fxLayoutAlign="center" class="button-group-label">
                <label>{{ 'LAYERS' |  translate }}</label>
              </div>
              <div fxLayout="row">
                <app-layer-selector></app-layer-selector>
              </div>
            </div>

            <div *ngIf="searchType === searchTypes.DATASET || searchType === searchTypes.SBAS" fxFlex="" class="group-margin">
              <div fxLayout="row" fxLayoutAlign="center" class="button-group-label">
                <label>{{ 'AREA_OF_INTEREST' |  translate }}</label>
              </div>
              <div fxLayout="row">
                <app-interaction-selector>
                </app-interaction-selector>
              </div>
            </div>

            <!-- Product Browse  -->
            <div fxFlex="" class="group-margin" *ngIf="searchType === searchTypes.SARVIEWS_EVENTS">
                <div  fxLayout="row" fxLayoutAlign="center" class="button-group-label" style="white-space: nowrap;">
                  <label>{{ 'PRODUCT' |  translate }}</label>
                </div>
                <div fxLayout="row" fxLayoutAlign="center">
                  <div>
                    <mat-button-toggle-group fxFlex="" name="layerType"
                    [disabled]="!(isBrowseOverlayEnabled$ | async)">
                      <mat-button-toggle class="control-mat-button-toggle "
                      *ngIf="searchType === searchTypes.SARVIEWS_EVENTS"
                      (click)="onUnpinAll()"
                      matTooltip="Unpin All Selected Products">
                      <mat-icon class="control-icon" svgIcon="unpin"></mat-icon>
                    </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
              </div>
            </div>

            <!-- Opacity Control -->
            <div fxFlex="" class="group-margin" *ngIf="searchType !== searchTypes.BASELINE && searchType !== searchTypes.SBAS">
              <div  fxLayout="row" fxLayoutAlign="center" class="button-group-label">
                <label>{{'OPACITY' | translate}}</label>
              </div>
              <div fxLayout="row">
                <button mat-stroked-button class="opacity-slider-button"
                        [disabled]="!(isBrowseOverlayEnabled$ | async)"
                        [matMenuTriggerFor]="opacitySlider"
                        aria-label="Map projection view">
                  <span class="opacity-button-text">{{ browseOverlayOpacity * 100 | number : '1.0-0' }}%</span>
                  <span class="fa fa-caret-down bottom-right"></span>
                </button>
                <mat-menu #opacitySlider="matMenu" class="opacity-slider-mat-menu">
                  <div class="opacity-slider-title">
                    {{ 'OPACITY_OF_BROWSE_IMAGES' |  translate }}
                  </div>
                  <mat-slider thumbLabel tickInterval="0.1" step="0.05" value="1" min="0.0" max="1.0"
                              class="opacity-slider"
                              name="layerType"
                              (input)="onSetOpacity($event)"
                              color="primary"
                              [disabled]="!(isBrowseOverlayEnabled$ | async)"
                              [matTooltip]="(isBrowseOverlayEnabled$ | async) ? 'Adjust Overlay Opacity' :
                               'Product Overlays for current scene dataset not available'"
                  >
                  </mat-slider>
                </mat-menu>
              </div>
            </div>
          </div>

          <div fxFlex="" class="lat-lon">
            <app-map-info [mousePos]="mousePos"></app-map-info>
          </div>
        </div>
      </div>

    </div>
    <div class="tool-bar-control"
         (click)="changeState()">
      <div *ngIf="showToolBar == true"><mat-icon>arrow_circle_left</mat-icon></div>
      <div *ngIf="showToolBar == false"><mat-icon>arrow_circle_right</mat-icon></div>
      <div class="tool-bar-control-bottom visible-toggle"></div>
    </div>
  </div>
</div>
