.position {
  height: 465px;
  max-height: 90%;
  width: 100vw;
  background: white;
  margin: 0;
  padding: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 999;
  overflow-x: auto;
}

.scrollable-card {
  height: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.toggle-button {
  position: absolute;
  top: -36px;
  left: 50%;
  transform: translateX(-50%);
}

.fit-to-container {
  max-width: 100%;
  max-height: 250px;
  object-fit: contain;
}

.bottom-menu--layout {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
}

.bottom-menu--background {
  background: rgba(238, 238, 238, 0.7);
}

.bottom-menu--column {
  width: 33%;
  min-width: 300px;
  max-height: 465px;
}
