<div
  [@changeMenuY]="(isBottomMenuOpen$ | async) ? 'shown' : 'hidden'"
  [class.hidden]="isHidden || (granules$ | async).length === 0"
  class="position">
  <div class="toggle-button-position">
    <button (click)="onToggleMenu()"
       class="toggle-button"
      mat-flat-button>
      <span>Results</span>
      <mat-icon>
        {{ (isBottomMenuOpen$ | async) ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}
      </mat-icon>
    </button>
  </div>
  <div class="bottom-menu--background  bottom-menu--layout">
    <mat-card class="card-spacing scrollable-card bottom-menu--column">
      <mat-card-subtitle class="header">
        Granule List
      </mat-card-subtitle>
      <app-granules-list
        (newFocusedGranule)="onNewFocusedGranule($event)"
        (clearFocusedGranule)="onClearFocusedGranule()"
        (newSelected)="onNewGranuleSelected($event)"
        (queueGranule)="onQueueGranuleProducts($event)"
        [granules$]="granules$"
        [platform]="searchPlatform$ | async"
        [selected]="(selectedGranule$ | async)?.name">
      </app-granules-list>
    </mat-card>

    <mat-card class="card-spacing scrollable-card bottom-menu--column">
      <mat-card-subtitle class="header">
        Granule Products
      </mat-card-subtitle>
      <app-products
        [products]="selectedProducts$ | async"
        [queuedProductIds]="queuedProductIds"
        (toggleQueueProduct)="onToggleQueueProduct($event)"
        ></app-products>
    </mat-card>

    <mat-card class="card-spacing bottom-menu--column">
      <mat-card-subtitle class="header">
        Granule Detail
      </mat-card-subtitle>
      <mat-card-content class="content">
        <app-granule-detail
          [granule]="selectedGranule$ | async"
          [searchType]="searchType$ | async"
          [platform]="searchPlatform$ | async">
        </app-granule-detail>
      </mat-card-content>
    </mat-card>
  </div>
</div>
