@import "asf-theme";

.position {
  //height: 465px + 36px;
  //max-height: 90%;
  //width: 100%;
  //margin: 0;
  //padding: 0 0 20px 0;
  //right: 0;
  //bottom: 0;
  //position: fixed;
  //z-index: 999;
  pointer-events: none;
}

.bottom-menu-wrapper {
  height: 40%;
  max-height: 90%;
  width: 100%;
  margin: 0;
  padding: 0 0 20px 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 999;
}

.bottom-menu-granule-detail-content {
  height: 100%;
  overflow-y: auto;
}

.scrollable-card {
  height: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.toggle-button-position {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.toggle-button {
  pointer-events: auto;
  background-color: $asf-primary-light;
  color: $asf-primary-dark;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lighten($asf-primary-light, 10%);
}

.bottom-menu--layout {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
}

.bottom-menu--background {
  background: rgba(238, 238, 238, 0.7);
  background: white;
  pointer-events: auto;
}

.bottom-menu--column {
  width: 34%;
  min-width: 300px;
  //max-height: 510px;
  padding: 0;
  margin: 0;
  overflow: visible;
}

.header {
  height: 30px;
  padding-top: 6px;
  margin-bottom: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  background-color: $asf-primary-light;
  color: $asf-primary-dark;
}

.queue-all-button {
  margin-right: 5px;
}
