<div
  [@changeMenuY]="(isBottomMenuOpen$ | async) ? 'shown' : 'hidden'"
  [class.hidden]="isHidden || (granules$ | async).length === 0"
  class="position">

  <div class="bottom-menu--background  bottom-menu--layout">
    <app-granules-list
      class="scrollable-card bottom-menu--column"
      (newFocusedGranule)="onNewFocusedGranule($event)"
      (clearFocusedGranule)="onClearFocusedGranule()"
      (newSelected)="onNewGranuleSelected($event)"
      (queueGranule)="onQueueGranuleProducts($event)"
      [granules$]="granules$"
      [selected]="(selectedGranule$ | async)?.name">
    </app-granules-list>

    <mat-card class="card-spacing scrollable-card bottom-menu--column">
      <app-products
        [products]="selectedProducts$ | async"
        [queuedProductIds]="queuedProductIds"
        (toggleQueueProduct)="onToggleQueueProduct($event)"
        ></app-products>
    </mat-card>

    <mat-card class="card-spacing bottom-menu--column">
      <app-granule-detail [granule]="selectedGranule$ | async">
      </app-granule-detail>
    </mat-card>
  </div>
</div>
