.position {
  height: 465px + 36px;
  max-height: 90%;
  width: 100%;
  margin: 0;
  padding: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 999;
}

.scrollable-card {
  height: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.toggle-button-position {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-menu--layout {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
}

.bottom-menu--background {
  background: rgba(238, 238, 238, 0.7);
  background: white;
}

.bottom-menu--column {
  width: 33%;
  min-width: 300px;
  max-height: 510px;
}
