<h2 mat-dialog-title>{{ 'REVIEW_SUBMISSION' |  translate }}</h2>

<div mat-dialog-content class="mat-dialog-content">

  <div class="project-selector">
    <app-project-name-selector [processName]="true">
    </app-project-name-selector>
  </div>

  <div *ngFor="let tabQueue of jobTypesWithQueued">
    <mat-selection-list>
      <mat-list-option (click)="onToggleJobType(tabQueue)"
                       checkboxPosition="before"
                       [selected]="tabQueue.selected">
        <div matListItemTitle>
          {{ tabQueue.jobType.name }}
        </div>
        <div matListItemLine>
          {{tabQueue.jobs.length}} <span [ngPlural]="tabQueue.jobs.length">
              <ng-template ngPluralCase="=1">{{ 'JOB' | titlecase | translate }}</ng-template>
              <ng-template ngPluralCase="other">{{ 'JOBS' | titlecase | translate }}</ng-template>
          </span>:
          {{ tabQueue.creditTotal }} <span [ngPlural]="tabQueue.creditTotal">
                <ng-template ngPluralCase="=1">{{ 'CREDIT' | translate }}</ng-template>
                <ng-template ngPluralCase="other">{{ 'CREDITS' | translate }}</ng-template>
              </span>
        </div>
      </mat-list-option>
    </mat-selection-list>
    <p></p>
  </div>

  <a href="https://hyp3-docs.asf.alaska.edu/using/credits" target="_blank">
    {{ 'WHAT_ARE_CREDITS' | translate }}
  </a>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancelQueue()">{{ 'CANCEL' |  translate | titlecase }}</button>
  <button mat-flat-button
          color="primary"
          (click)="onSubmitQueue()"
          [disabled]="amountSelected(jobTypesWithQueued) === 0"
          cdkFocusInitial>
    <span>
      {{ 'SUBMIT' | translate }} {{ amountSelected(jobTypesWithQueued) }}
      {{ 'JOB' | translate | titlecase }}<span *ngIf="amountSelected(jobTypesWithQueued) > 1">s</span>
      ({{ creditsSelected(jobTypesWithQueued) }} <span [ngPlural]="creditsSelected(jobTypesWithQueued)">
        <ng-template ngPluralCase="=1">{{ 'CREDIT' | translate }}</ng-template>
        <ng-template ngPluralCase="other">{{ 'CREDITS' | translate }}</ng-template>
       </span>)
    </span>
  </button>
</div>
