<h2 mat-dialog-title>{{ 'REVIEW_SUBMISSION' |  translate }}</h2>

<div mat-dialog-content class="mat-dialog-content">

  <app-project-name-selector [processName]="true">
  </app-project-name-selector>

  <div *ngFor="let tabQueue of jobTypesWithQueued">
    <mat-selection-list>
      <mat-list-option (click)="onToggleJobType(tabQueue)"
                       checkboxPosition="before"
                       [selected]="tabQueue.selected">
        {{ tabQueue.jobType.name }} ({{tabQueue.jobs.length}})
      </mat-list-option>
    </mat-selection-list>
    <p></p>
  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancelQueue()">{{ 'CANCEL' |  translate | titlecase }}</button>
  <button mat-flat-button
          color="primary"
          (click)="onSubmitQueue()"
          [disabled]="amountSelected(jobTypesWithQueued) === 0"
          cdkFocusInitial>
    <span>
      {{ 'SUBMIT' | translate }} {{ amountSelected(jobTypesWithQueued) }}
      Job<span *ngIf="amountSelected(jobTypesWithQueued) > 1">s</span>
    </span>
  </button>
</div>
