@use "asf-theme-variables" as *;
@use "tokens" as *;

$header-height: 120px;
$footer-height: 60px;
$bottom-offset: spacing(sm);

.mat-mdc-dialog-content {
  background-color: var(--asf-surface);
  display: block;
  height: 350px;
  overflow-y: auto;
  padding: spacing(sm) 175px 0 27px;
}

.mat-mdc-dialog-actions {
  float: right;
}

.project-selector {
  padding-top: spacing(md);
}

a {
  text-decoration: underline;
  color: var(--asf-blue-link);
}
