<mat-list *ngIf="products">
  <h3 mat-subheader>Granule Products</h3>

  <mat-list-item *ngFor="let product of products"
    (click)="onToggleQueueProduct(product)">
    <span>
      <span *ngIf="product.file.length > 20">
        <b>{{ product.file | truncate : 16 }}{{ product.file | truncate : -4 : '' }}</b>
      </span>
      <span *ngIf="product.file.length <= 20">
        <b>{{ product.file }}</b>
      </span>
    </span>
    <span>({{product.bytes | readableSizeFromBytes }})</span>

    <button mat-icon-button matTooltip="Download product">
      <mat-icon>cloud_download</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Queue product">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
