.granule-list {
  height: calc(100% - 72px);
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

.scroll-viewport-height {
  height: calc(100% - 0px);
  //top: 0;
  //bottom: 0;
  //position: absolute;
  width: 100%;
}

.granule-item-height {
  //height: 72px;
}

.action-list {
  padding-top: 0 !important;
}

.product--thumbnail {
  width: 30%;
}

.selected {
  background-color: rgba(0, 0, 0, 0.07);
}

.product-name {
  font-weight: bold !important;
}

.icon-margin {
  margin-left: 10px;
}
