<mat-card class="card-spacing">
  <cdk-virtual-scroll-viewport style="height: 420px; "
    minBufferPx="500" maxBufferPx="600"
    itemSize="72">
  <mat-action-list>
    <div *cdkVirtualFor="let granule of granules" style="height: 72px">
      <button
        (mouseenter)="onSetFocusedGranule(granule)"
        (mouseleave) ="onClearFocusedGranule(granule)"
        (click)="onGranuleSelected(granule.id)"
        [class.selected]="granule.name === selected"
        mat-list-item>

          <img [src]="granule.thumbnail"
            onerror="this.src='assets/error.png'"
            class="size" matListAvatar>

          <app-product-name [name]="granule.name" matLine></app-product-name>

          <div matLine>
            <span matTooltip="Path" matTooltipPosition="after">{{ granule.metadata.path }}</span>,
            <span matTooltip="Frame" matTooltipPosition="after">{{ granule.metadata.frame }}</span>,
            <span matTooltip="Polarization" matTooltipPosition="after">{{ granule.metadata.polarization }}</span>,
            <span matTooltip="Flight Direction" matTooltipPosition="after">
              {{ granule.metadata.flightDirection === 'ASCENDING' ? 'ASC' : 'DES' }}
            </span>,
            <span matTooltip="Absolute Orbit" matTooltipPosition="after">{{ granule.metadata.absoluteOrbit }}</span>
          </div>

          <fa-icon (click)="onQueueGranule($event, granule.groupId)"
            [icon]="queueIcon"
            matTooltip="Queue this granules products"
            class="ml-2">
          </fa-icon>
      </button>
    </div>
  </mat-action-list>
  </cdk-virtual-scroll-viewport>
</mat-card>
