.granule-list {
  height: 100%;
  padding: 0;
  margin: 0;
}

.scroll-viewport-height {
  height: 445px;
}

.granule-item-height {
  height: 72px;
}

.action-list {
  padding-top: 0 !important;
}

.product--container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &:hover {
    background-color: grey;
  }
}

.product--thumbnail {
  width: 30%;
}

.selected {
  background-color: rgba(0, 0, 0, 0.07);
}

.product-name {
  font-weight: bold !important;
}

.icon-margin {
  margin-left: 10px;
}
