.granule-list {
  height: 475px;
}

.product--container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &:hover {
    background-color: grey;
  }
}

.product--thumbnail {
  width: 30%;
}

.selected {
  background-color: rgba(0, 0, 0, 0.07);
}
