@import "variables";
@import "asf-theme";

$icon-size: 42px;

.menu-toggle-button {
  background-color: $asf-primary;
  color: white;
  box-shadow: none !important;
  //position: fixed;
  //top: 0;
  //left: 100%;
  //padding: 15px 1px 50px 1px;
  //margin-right: 20px;
  cursor: pointer;
  border: none;
  text-align: center;
  vertical-align: center;
  border-right-color: white;
  border-right-style: solid;
  border-right-width: 1px;
}

.toggle-icon {
  @include md-icon-size($icon-size);
}

.toggle-text {
  line-height: 0px;
  width: 100%;
}
