@import "variables";
@import "asf-theme";

.menu-toggle-button {
  background-color: $asf-primary;
  color: white;
  box-shadow: none;
  position: fixed;
  top: 0;
  left: 100%;
  padding: 15px 1px 50px 1px;
  cursor: pointer;
  border-left: none;
}

.toggle-icon {
  margin-top: 7px;
}
