<div mat-dialog-title
    cdkDrag
    cdkDragHandle
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragBoundary=".cdk-global-overlay-wrapper"
    (resized)="onResized($event)">

  <div class="dl-title-group">
    <h1>
      Downloads
    </h1>
    <div class="dl-subtitle">
<!--      <mat-checkbox class="item-summary-checkbox"-->
<!--                    [checked]=false-->
<!--                    color=primary-->
<!--                    [indeterminate]=[someChecked]-->
<!--                    >-->
<!--      </mat-checkbox>-->
<!--      <mat-icon>cloud_download</mat-icon> {{ selectedItems.length }} of-->
      {{ numberOfProducts$ | async }} Files, {{ (totalSize$ | async) | readableSizeFromBytes }}
    </div>
    <mat-progress-bar class="global-progress" mode="determinate" value="{{ dlQueueProgress }}"></mat-progress-bar>
  </div>

  <div class="feedback-div feedback-link">
    <a href="javascript:feedback.showForm();" onfocus="this.blur()"> <i class="fa fa-comments-o"></i> Feedback</a>
  </div>

  <div class="dl-close-x" (click)="onCloseDownloadQueue()">
    <mat-icon>close</mat-icon>
  </div>

</div>

<div *ngIf="showDemWarning" class="dem-warning">
  Resampled DEM (SRTM or NED) used for RTC processing.
  <a class="more-link"
     target="_blank"
     href="https://asf.alaska.edu/data-sets/derived-data-sets/alos-palsar-rtc/alos-palsar-radiometric-terrain-correction/#DEM_Information">
    More...
  </a>
</div>

<mat-dialog-content class="dl-mat-dialog-content"
                    [class.dl-mat-dialog-content-warn]="showDemWarning"
                    [class.dl-mat-dialog-content-warn-mobile]="showDemWarning && breakpoint === breakpoints.MOBILE">
          <mat-list id="matListProducts" role="list" class="dl-list">
            <ng-container *ngIf="products$ | async as products">
              <mat-list-item *ngFor="let product of products" role="listitem">
                <div matLine
                     class="item-content"
                     [ngClass]="{'dl-list-item-mobile' : breakpoint === breakpoints.MOBILE }">
                  <b *ngIf="((product.metadata.fileName | filterExtension) || product.name) as fileName">
                      <span *ngIf="breakpoint !== breakpoints.MOBILE">{{ fileName| truncate: 50 }}</span>
                      <span *ngIf="breakpoint === breakpoints.MOBILE">{{ fileName | truncate: 10 }}</span>
                      <span *ngIf="product.dataset === 'Sentinel-1B' || product.dataset === 'Sentinel-1A'"
                        >{{ fileName.substr(fileName.length - 4) }}</span>
                      <span *ngIf="product.dataset === 'Sentinel-1 Interferogram (BETA)'"
                        >{{ fileName.substr(fileName.length - 11) }}</span>
                    </b> •
                    <span>
                      <span *ngIf="product.bytes === 0">Virtual</span>
                      <span *ngIf="product.bytes !== 0">{{product.bytes | readableSizeFromBytes }}</span>
                    </span>
                  </div>
                  <div style="margin-top: 3px; margin-left: 32px;" matLine [ngClass]="{'dl-list-item-mobile' : breakpoint === breakpoints.MOBILE }">
                    {{ product.productTypeDisplay }}
                  </div>

                  <app-copy-to-clipboard
                     *ngIf="!product.isUnzippedFile && !product.metadata.job && product.groupId !== 'SARViews'"
                     style="margin-right: 15px;"
                     prompt="Copy File ID"
                     [value]="product.id"
                     >
                  </app-copy-to-clipboard>

                  <app-download-file-button
                    [attr.id]="'dlq_' + product.id"
                    [product] = "product"
                    (productDownloaded)="downloadContinue($event)"
                    (downloadCancelled)="downloadContinue($event)"
                    [useNewDownload]="true">
                  </app-download-file-button>

                  <button (click)="onRemoveProduct(product)" matTooltip="Remove file" mat-icon-button>
                    <mat-icon>close</mat-icon>
                  </button>
              </mat-list-item>
            </ng-container>
            <ng-container *ngIf="(products$ | async).length < 1">
              <div class="dl-empty-message">
                <br><br>
                Your download queue is empty.
              </div>
            </ng-container>


        </mat-list>

</mat-dialog-content>

<mat-dialog-actions class="dl-mat-dialog-actions">

    <div class="dl-card-actions" fxLayout="row" fxFlexFill *ngIf="breakpoint$ | async as breakpoint">
      <ng-container *ngIf="products$ | async as products">
        <div fxFlex="15" class="dl-clear-button">
            <button *ngIf="previousQueue === null"
                    (click)="onClearQueue(products)" mat-button>
              <mat-icon style="margin-right: 5px;">delete</mat-icon>
              <span *ngIf="breakpoint > breakpoints.MOBILE && dlWidth >= dlWidthMin">Clear</span>
            </button>

          <button *ngIf="previousQueue !== null"
                  (click)="onRestoreQueue(previousQueue)" mat-button>
            <mat-icon style="margin-right: 5px;">undo</mat-icon>
            <span>Restore</span>
          </button>
        </div>
        <ng-container>
          <div *ngIf="areAnyProducts" fxFlex="85" class="dl-download-buttons">
            <button (click)="onCopyQueue(products)" mat-button [disabled]="!areAnyProducts" class="btn-primary"
                    [class.button-clipboard-mobile]="breakpoint === breakpoints.MOBILE || dlWidth < dlWidthMin"
                    matTooltip="Copy File IDs to clipboard"
                    [matTooltipPosition]="'above'">
              <fa-icon style="margin-left: 5px;" [icon]="copyIcon"></fa-icon>
              &nbsp;
              <span *ngIf="breakpoint > breakpoints.MOBILE && dlWidth >= dlWidthMin; else mobileCopyFileIds">Copy File IDs</span>
              <ng-template #mobileCopyFileIds>IDs</ng-template>
            </button>

            <button (click)="onCopyQueueURLs(products)" mat-button [disabled]="!areAnyProducts" class="btn-primary"
                    [class.button-clipboard-mobile]="breakpoint === breakpoints.MOBILE || dlWidth < dlWidthMin"
                    matTooltip="Copy File URLs to clipboard"
                    [matTooltipPosition]="'above'">
              <fa-icon style="margin-left: 5px;" [icon]="copyIcon"></fa-icon>
              &nbsp;
              <span *ngIf="breakpoint > breakpoints.MOBILE && dlWidth >= dlWidthMin; else mobileCopyURLs">Copy URLs</span>
              <ng-template #mobileCopyURLs>URLs</ng-template>
            </button>

            <ng-container *ngIf="breakpoint > breakpoints.MOBILE && dlWidth >= dlWidthMin">
              <span *ngIf="queueHasOnDemandProducts || queueHasEventMonitoringProducts" class="on-demand-warning">
                {{limitedExportString()}}
              </span>

              <button mat-flat-button color="primary" [matMenuTriggerFor]="dataMenu" [disabled]="!areAnyProducts"
                      class="btn-primary"
                      style="margin-left: 15px;">
                Data Download
                <mat-icon>arrow_drop_up</mat-icon>
              </button>
              <button mat-flat-button color="primary" [matMenuTriggerFor]="metadataMenu" [disabled]="!areAnyProducts" class="btn-primary">
                Metadata Download
                <mat-icon>arrow_drop_up</mat-icon>
              </button>
            </ng-container>

            <ng-container *ngIf="breakpoint === breakpoints.MOBILE || dlWidth < dlWidthMin">
              <button mat-flat-button [matMenuTriggerFor]="typesMenu" style="padding: 0 0 0 5px; margin-left: 15px;">
                Downloads
                <mat-icon>arrow_drop_up</mat-icon>
              </button>

              <mat-menu #typesMenu="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="dataMenu" [disabled]="!areAnyProducts" class="btn-primary">
                  Data
                </button>
                <button mat-menu-item [matMenuTriggerFor]="metadataMenu" class="btn-primary">
                  Metadata
                </button>
              </mat-menu>
            </ng-container>

            <mat-menu #dataMenu="matMenu" yPosition="above">
              <app-download-all
                (dlAllEvent)="downloadAllFiles()"
                [disabled]="!(isLoggedIn$ | async)"
              >
              </app-download-all>
              <button mat-menu-item (click)="onMakeDownloadScript()">
                Download Python Script (.py)
              </button>
              <button mat-menu-item [disabled]="queueHasOnDemandProducts || queueHasEventMonitoringProducts" (click)="onMetalinkDownload()">
                Metadata (metalink)
              </button>
            </mat-menu>

            <mat-menu #metadataMenu="matMenu" yPosition="above">
              <button mat-menu-item [disabled]="queueHasOnDemandProducts || queueHasEventMonitoringProducts" (click)="onCsvDownload()">
                Metadata (csv)
              </button>

              <button mat-menu-item [disabled]="queueHasOnDemandProducts || queueHasEventMonitoringProducts" (click)="onKmlDownload()">
                Metadata (kml)
              </button>

              <button mat-menu-item [disabled]="queueHasOnDemandProducts || queueHasEventMonitoringProducts" (click)="onGeojsonDownload()">
                Metadata (geojson)
              </button>
            </mat-menu>
          </div>
        </ng-container>
      </ng-container>
    </div>

</mat-dialog-actions>
