@import "asf-theme";

.dl-card-content {
  height: 450px;
  overflow-y: scroll;
}

.dl-card-content-mobile {
  width: 500px;
}

.dl-card-title-group {
  background-color: $asf-primary-light;
  color: $asf-primary-dark;
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: $asf-primary-dark;
  border-bottom-width: 1px;
}

.dl-card-actions {
  height: 100px;
  background-color: $asf-primary-light;
  color: $asf-primary-dark;
  padding: 20px 20px 0 20px;
  border-top-style: solid;
  border-top-color: $asf-primary-dark;
  border-top-width: 1px;
}

.dl-clear-button {
  text-align: left;

  .mat-button {
    font-size: 16px;
    color: $asf-primary-dark;
  }
}

.dl-download-buttons {
  text-align: right;

  .mat-button {
    font-size: 16px;
    color: $asf-primary-dark;
  }
}

.dl-close-x {
  position: absolute;
  top: 15px;
  right: 35px;
  text-align: right;
  float: right;
  cursor: pointer;
}

.dem-warning {
  font-size: 14px;
  margin-top: 5px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: $asf-blue;
  background-color: rgb(220, 220, 220);
}

.dl-list-item {
  width: 100%;
  overflow: hidden;
}

.more-link {
  color: red;
}
