@import "asf-theme";

$header-height: 67px;
$footer-height: 60px;
$bottom-offset: 10px;
$warn-msg-height: 27px;
$warn-msg-mobile-height: 49px;
$idk-pad: 21px;
$background-color: $asf-primary-light;
$color: $asf-primary-dark;

.dl-title-group {
  padding: 0 10px 0 10px;
  margin-top: -$bottom-offset;
  border-bottom-style: solid;
  border-bottom-color: $asf-primary-dark;
  border-bottom-width: 1px;
}

.dl-subtitle {
  margin-top: -25px;
  font-style: italic;
  font-size: 16px;
  color: $asf-primary;
}

.dl-card-actions {
  height: 100px;
  background-color: $background-color;
  color: $color;
  padding: 20px 20px 0 20px;
  border-top-style: solid;
  border-top-color: $asf-primary-dark;
  border-top-width: 1px;
}

.dl-clear-button {
  text-align: left;

  .mat-button {
    font-size: 16px;
    color: $color;
  }
}

.dl-download-buttons {
  text-align: right;

  .mat-button {
    font-size: 16px;
    color: $color;
  }
}

.dl-close-x {
  position: absolute;
  top: 6px;
  right: 12px;
  text-align: right;
  float: right;
  cursor: pointer;
  z-index: 100;
  color: $color;
}

.dl-empty-message {
  text-align: center;
  font-size: 20px;
  color: $asf-primary-dark;
}

.dem-warning {
  font-size: 14px;
  padding: 7px;
  color: $asf-blue;
  background-color: rgb(220, 220, 220);
  width: 100%;
}

.dl-list-item-mobile {
  width: 200px;
  overflow: hidden;
}

.feedback-div {
  position: absolute;
  top: 42px;
  right: 16px;
  text-align: right;
  float: right;
  cursor: pointer;
}

.feedback-link {
  font-size: 18px;

  a {
    text-decoration: none;
    color: $asf-primary;
  }
}

.more-link {
  color: red;
}

button {
  height: 36px;
  font-weight: 100;
}

.buttons {
  grid-template-columns: auto auto;
  display: grid;
  font-size: 14px;
  color: #fff;
  justify-content: center;
  margin: 10px;

  .save {
    background-color: #e37b00;
    margin-left: 2px;
  }

  .close {
    background-color: #747578;
    margin-right: 2px;
  }
}

.button-clipboard-mobile {
  padding: 0 0 0 5px !important;
}

::ng-deep.mat-dialog-container {
  resize: both;
  overflow: auto;
  background: $background-color;
  width: 80vw;
  height: 86vh;
  min-width: 350px;
  min-height: 500px;
}

.dl-mat-dialog-content {
  height: calc(100% - #{$header-height} - #{$footer-height} - #{$idk-pad});
  max-height: calc(100% - #{$header-height} - #{$footer-height} - #{$idk-pad});
  background-color: white;
  padding: 0;
  margin: 0;
}

.dl-mat-dialog-content-warn {
  height: calc(100% - #{$header-height} - #{$footer-height} - #{$warn-msg-height} - #{$idk-pad});
  max-height: calc(100% - #{$header-height} - #{$footer-height} - #{$warn-msg-height} - #{$idk-pad});
}

.dl-mat-dialog-content-warn-mobile {
  height: calc(100% - #{$header-height} - #{$footer-height} - #{$warn-msg-mobile-height} - #{$idk-pad});
  max-height: calc(100% - #{$header-height} - #{$footer-height} - #{$warn-msg-mobile-height} - #{$idk-pad});
}

.dl-mat-dialog-actions {
  position: absolute;
  display: flex;
  background-color: $background-color;
  width: 100%;
  height: $footer-height;
  bottom: $bottom-offset;
  margin-bottom: 0;
  padding: 0;
}

[mat-dialog-title] {
  margin: -24px -24px 0 -24px !important;
  padding: 18px 24px;
  background-color: $background-color;
  color: $color;
  cursor: move;
  text-align: left;
  height: $header-height;
}

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0 !important;
}

.on-demand-warning {
  font-size: small;
  font-style: italic;
  color: $uaf-primary-blue;
  position: fixed;
  margin-top: -18px;
}

.progress-bar {
  position: absolute;
  margin-top: 23px;
  height: 2px;
  width: calc(100% - 43px);
  opacity: 30%;
}

.item-checkbox {
  margin-right: 15px;
}

.item-second-line {
  margin-left: 20px;
}

.item-summary-checkbox {
  margin-left: 7px;
  margin-right: 17px;
}

.global-progress {
  width: calc(100% + 20px);
  left: -10px;
}
