@import "asf-theme";
@import "~flex-layout-sass/mixin";

.breadcrumb {
  @extend .mat-form-field;

  @include fx-flex(auto);

  padding-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  height: 70px;
  font-size: $asf-font-size;
  line-height: $asf-line-height;
}

.additional-filters {
  color: $asf-primary;

  .mat-icon {
    @include md-icon-size(18px);
  }
}

.search-dialog-button {
  margin-top: 10px;
}

.search-controls {
  padding-top: 5px;
}

.full-width {
  width: 100%;
  max-width: 100%;
}
