@use "asf-theme-variables" as *;

.baseline-header-layout {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}

.baseline-header-wrapper {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}

.search-button-layout {
  flex: 0 1 auto;
  box-sizing: border-box;
}

.scene-selector {
  width: 670px;
}

.medium-scene-selector {
  width: 405px;
}

.small-scene-selector {
  width: 200px;
}

.flight-direction-toggle {
  padding-top: 15px;
  padding-right: 15px;
}

.displacement-header-menu {
  height: 70px;
  display: flex;
  align-items: flex-start;
}

.sat-legend {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  min-width: 156px;
  margin-left: 12px;
  margin-top: 3px;
}

.legend-text {
  color: grey;
  font-size: 12px;
  white-space: nowrap;
}

.invert-icon {
  @include themify($themes) {
    filter: themed('inverted-image');
  }
}

.flip-icon {
  transform: rotateY(180deg); // Rotate 180 degrees along the y-axis
}

