@use "asf-theme-variables" as *;
@use "deluxe-menu" as *;
@use "deluxe-menu-2" as *;
@use "asf-header-menu-button" as *;

.button-label {
    @include themify($themes) {
        color: themed("dark-primary-text");
    }

    padding-right: 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
    transform:
      translateY(-1.2812em)
      scale(0.75)
      perspective(100px);
}


.control-icon {
    @include themify($themes) {
        color: themed('dark-primary-text');
    }

    margin-top: -4px;
    transform: scale(1.5);

    @include md-icon-size($asf-ribbon-icon-size);
}

.fd-icon-button-text {
    @include themify($themes) {
        color: themed('dark-primary-text');
    }

    @include md-icon-size($asf-ribbon-icon-size);
}

.ts-menu-item {
   padding: 0 16px
}

