<div class="dialg-header">
  <div mat-dialog-title>Customize Environments</div>
</div>

<mat-dialog-content class="h100 w100">
  <form #envForm="ngForm">
    <mat-form-field class="w100">
      <mat-label>Environment File</mat-label>
      <textarea [(ngModel)]="envStr" name="environFile" [cdkTextareaAutosize]="true" matInput></textarea>
    </mat-form-field>
  </form>

  <mat-dialog-actions>
    <button mat-flat-button (click)="resetToDefaultEnv()">Reset to Default</button>
    <button mat-flat-button (click)="setCustomEnv()" color="primary">Set</button>
  </mat-dialog-actions>
</mat-dialog-content>
