  <div style="display: flex; justify-content: space-between" class="date-selector">
    <mat-form-field style="width: 48%">
      <input matInput
        [(ngModel)]="startDate"
        [min]="extrema.start.min"
        [max]="extrema.start.max"
        [matDatepicker]="start"
        (dateChanged)="onStartDateChange($event)"
        placeholder="Start Date">
      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
    </mat-form-field>

    <mat-form-field style="width: 48%">
      <input
        matInput [(ngModel)]="endDate"
        [min]="extrema.end.min"
        [max]="extrema.end.max"
        [matDatepicker]="end"
        placeholder="End Date"
        (dateChanged)="onEndDateChange($event)">
      <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
      <mat-datepicker #end></mat-datepicker>
    </mat-form-field>
  </div>
