@import "asf-theme";

.subset-option {
  color: $asf-blue;
}

button {
  font-style: italic;
  border-color: rgb(0, 0, 0, 0.5) !important;
  //font-size: 16px !important;
  //text-decoration: underline;
}
