<ng-container *ngIf="breakpoint$ | async as breakpoint">
  <div *ngIf="breakpoint > breakpoints.MOBILE"
    fxLayout="row" class="breadcrumb-row">
    <div fxLayout="row">
      <app-search-type-selector class="breadcrumb">
      </app-search-type-selector>

     <div fxFlex="nogrow" class="breadcrumb additional-filters">
        <button (click)="onToggleFiltersMenu()"
                mat-flat-button
                class="search-dialog-button">
          <mat-icon>{{ 'EDIT' |  translate }}</mat-icon>
          Edit List
        </button>
      </div>

      <div fxFlex="nogrow" class="breadcrumb search-controls">
        <app-search-button></app-search-button>
      </div>

      <div class="icon-cluster">
        <app-header-buttons>
        </app-header-buttons>
      </div>
    </div>
  </div>

  <div *ngIf="breakpoint === breakpoints.MOBILE">
    <div class="mobile-nav-bar">
      <button (click)="onToggleFiltersMenu()"
          style="margin-left: 5px;"
          mat-flat-button>
        <mat-icon>{{ 'EDIT' |  translate }}</mat-icon>
        List
      </button>

      <div class="mobile-icon-cluster">
        <app-header-buttons>
        </app-header-buttons>
      </div>
    </div>
  </div>
</ng-container>
