@use '@angular/material' as mat;
@use 'asf-theme-variables' as *;
@use 'flex-layout-sass/mixin' as *;

.bounds {
  padding: 0 !important;
  margin: 0;
  overflow: hidden;
}

$config: mat.m2-define-legacy-typography-config();

.breadcrumb-list {
  @include themify($themes) {
    background-color: themed('background-white');
  }
}

.header-buttons-input {
  margin-top: 0;
  margin-bottom: 5px;
}

.header--layout {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

.header-logo--layout {
  box-sizing: border-box;
  flex: 1 1 auto;
}

.header-inner--layout {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

.breadcrumb-filter {
  position: fixed;
  top: 100px;
  z-index: 2;
  width: 900px;
  min-width: 300px;
  max-width: 100%;
  height: auto;
  padding: 3px 16px 25px;
  margin: 0;
}

.breadcrumb {
  @extend .mat-form-field !optional;
  @include fx-flex(auto);

  height: 70px;
  padding-top: 15px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: $asf-font-size;
  line-height: $asf-line-height;
}

.max-results {
  margin-top: -5px;
  font-size: 14px;
  line-height: 28px;
  text-align: left;
}

.additional-filters {
  @include themify($themes) {
    color: themed('primary');
  }

  .mat-icon {
    @include md-icon-size(18px);
  }
}

.additional-filters-button {
  @include themify($themes) {
    color: themed('dark-secondary-text');
  }

  margin-top: 18px;
  margin-left: 0;
  line-height: 12px;
}

.selected {
  @include themify($themes) {
    background-color: themed('primary');
  }
}

.justify-right {
  justify-content: safe flex-end;
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.ghost-item {
  visibility: hidden;
}

.copy-icon {
  padding: 0;
  margin-left: 10px;
  font-size: 16px;
}

.additional-aoi-toggle {
  padding: 0;
  margin-left: 3px;
}

.search-dialog-button {
  margin-top: 10px;
}

.clear-search-icon {
  @include themify($themes) {
    color: themed('primary-dark');
  }

  @include md-icon-size(22px);

  vertical-align: middle;
}

.aoi-input {
  cursor: default;
}

.icon-cluster {
  position: absolute;
  top: 25px;
  right: 10px;
}

.mobile-nav-bar {
  @include themify($themes) {
    color: themed('primary-light');
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.mobile-icon-cluster {
  position: absolute;
  top: 15px;
  right: 5px;
}

.langSelect-div {
  position: absolute;
  top: -3px;
  right: 25px;
  display: inline-block;
}

.langSelect-select {
  width: auto;
  font-size: 11px;
  background-color: inherit;
  border: none;

  @include themify($themes) {
    color: themed('dark-secondary-text');
  }
}
