@use "@angular/material" as mat;

@use "asf-theme-variables" as *;
@use "tokens" as *;
@use "flex-layout-sass/mixin" as *;

.bounds {
  padding: 0 0 0 0 !important;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

$config: mat.m2-define-legacy-typography-config();
.breadcrumb-list {
  background-color: var(--asf-background-white);
}

.header-buttons-input {
  margin-top: 0;
  margin-bottom: spacing(1);
}

.header--layout {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

.header-logo--layout {
  flex: 1 1 auto;
  box-sizing: border-box;
}

.header-inner--layout {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

.breadcrumb-filter {
  width: 900px;
  max-width: 100%;
  min-width: 300px;
  height: auto;
  position: fixed;
  top: 100px;
  z-index: 2;
  margin: 0;
  padding: spacing(1) spacing(md) spacing(lg);
}

.breadcrumb {
  @extend .mat-form-field !optional;

  @include fx-flex(auto);

  padding-top: spacing(md);
  margin-left: spacing(sm);
  margin-right: spacing(sm);
  height: 70px;
  font-size: $asf-font-size;
  line-height: $asf-line-height;
}

.search-controls {
}

.max-results {
  text-align: left;
  font-size: font-size(sm);
  margin-top: -5px;
  line-height: 28px;
}

.additional-filters {
  color: var(--asf-primary);

  .mat-icon {
    @include md-icon-size(18px);
  }
}

.additional-filters-button {
  color: var(--asf-dark-secondary-text);
  margin-left: 0;
  line-height: spacing(3);
  margin-top: spacing(md);
}

.selected {
  background-color: var(--asf-primary);
}

.justify-right {
  justify-content: safe flex-end;
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.ghost-item {
  visibility: hidden;
}

.copy-icon {
  font-size: font-size(base);
  margin-left: spacing(2);
  padding: 0;
}

.additional-aoi-toggle {
  margin-left: spacing(1);
  padding: 0;
}

.search-dialog-button {
  margin-top: spacing(2);
}

.clear-search-icon {
  color: var(--asf-primary-dark);
  @include md-icon-size(22px);

  vertical-align: middle;
}

.aoi-input {
  cursor: default;
}

.icon-cluster {
  position: absolute;
  top: spacing(lg);
  right: spacing(2);
}

.mobile-nav-bar {
  color: var(--asf-primary-light);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-icon-cluster {
  position: absolute;
  top: spacing(md);
  right: spacing(1);
}

.langSelect-div {
  display: inline-block;
  position:absolute;
  top: -3px;
  right: spacing(lg);
}

.langSelect-select {
  border: none;
  width: auto;
  font-size: font-size(xs);
  color: var(--asf-dark-secondary-text);
  background-color: inherit;
}
