<div
  *ngIf="breakpoint$ | async as breakpoint"
  class="bounds">
  <div class="breadcrumb-list fx-row header--layout"
    [class.mobile-nav-bar]="breakpoint === breakpoints.MOBILE">
    <div class="fx-row">
      <div class="header-logo--layout">
        <app-logo></app-logo>
      </div>
    </div>

    <div *ngIf="searchType$ | async as searchType" class="header-buttons-input fx-col header-inner--layout">
      <app-dataset-header *ngIf="searchType === searchTypes.DATASET">
      </app-dataset-header>

      <app-timeseries-header *ngIf="searchType === searchTypes.TIMESERIES">
      </app-timeseries-header>

      <app-list-header *ngIf="searchType === searchTypes.LIST">
      </app-list-header>

      <app-baseline-header *ngIf="searchType === searchTypes.BASELINE">
      </app-baseline-header>

      <app-baseline-header *ngIf="searchType === searchTypes.SBAS">
      </app-baseline-header>

      <app-sarviews-header *ngIf="searchType === searchTypes.SARVIEWS_EVENTS">
      </app-sarviews-header>

      <app-hyp3-header *ngIf="searchType === searchTypes.CUSTOM_PRODUCTS">
      </app-hyp3-header>

      <app-info-bar *ngIf="breakpoint !== breakpoints.MOBILE"></app-info-bar>
    </div>
  </div>
  <mat-progress-bar *ngIf="isLoading" style="width: 100%;" mode="indeterminate"></mat-progress-bar>
</div>
