@use "@angular/material" as mat;

@import "asf-theme";
@import "flex-layout-sass/mixin";

.bounds {
  padding: 0 0 0 0 !important;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

$config: mat.define-typography-config();
.breadcrumb-list {
  @include themify($themes) {
    background-color: themed('background-white');
  }
}

.header-buttons-input {
  margin-top: 10px;
}

.header--layout {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

.header-logo--layout {
  flex: 1 1 auto;
  box-sizing: border-box;
}

.header-inner--layout {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

.breadcrumb-filter {
  width: 900px;
  max-width: 100%;
  min-width: 300px;
  height: auto;
  position: fixed;
  top: 100px;
  z-index: 1;
  margin: 0;
  padding: 3px 16px 16px;
}

.breadcrumb {
  @extend .mat-form-field;

  @include fx-flex(auto);

  padding-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  height: 70px;
  font-size: $asf-font-size;
  line-height: $asf-line-height;
}

.search-controls {
  padding-top: 5px;
}

.max-results {
  text-align: left;
  font-family: mat.font-family($config);
  font-size: 14px;
  margin-top: -5px;
  line-height: 28px;
}

.additional-filters {
  @include themify($themes) {
    color: themed('primary')
  }

  .mat-icon {
    @include md-icon-size(18px);
  }
}

.additional-filters-button {
  @include themify($themes) {
    color: themed('dark-secondary-text');
  }
  margin-left: 0;
  line-height: 12px;
  margin-top: 18px;
}

.selected {
  @include themify($themes) {
    background-color: themed('primary');
  }
}

.justify-right {
  justify-content: safe flex-end;
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.ghost-item {
  visibility: hidden;
}

.copy-icon {
  font-size: 16px;
  margin-left: 10px;
}

.additional-aoi-toggle {
  margin-left: 3px;
}

.search-dialog-button {
  margin-top: 10px;
}

.clear-search-icon {
  @include themify($themes) {
    color: themed('primary-dark');
  }
  @include md-icon-size(22px);

  vertical-align: middle;
}

.aoi-input {
  cursor: default;
}

.icon-cluster {
  position: absolute;
  top: 30px;
  right: 10px;
}

.mobile-nav-bar {
  @include themify($themes) {
    color: themed('primary-light');
  }
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-icon-cluster {
  position: absolute;
  top: 15px;
  right: 5px;
}

.langSelect-div {
  display: inline-block;
  position:absolute;
  top: -3px;
  right: 25px;
}

.langSelect-select {
  border: none;
  width: auto;
  font-size: 11px;
  @include themify($themes) {
    color: themed('dark-secondary-text');
  }
  background-color: inherit;
}
