<mat-card class="card-spacing search-bar-card">
  <button (click)="clearSearches.emit()" mat-raised-button class="mat-accent">
    Clear
  </button>

  <div class="search-bar-card">
    <app-max-results-selector
      [maxResults]="maxResults"
      [currentSearchAmount]="currentSearchAmount"
      (newMaxResults)="onNewMaxResults($event)"
    ></app-max-results-selector>

    <button (click)="newSearch.emit()" mat-raised-button color="primary" class="mr-2">
      <span *ngIf="isLoading">Loading...</span>
      <span *ngIf="!isLoading">Search</span>
    </button>
  </div>
</mat-card>
