<mat-card class="ls-card" *ngIf="listSearchMode$ | async as mode">
  <mat-card-title-group class="ls-card-title-group">
    <mat-card-title>
      <span *ngIf="mode === types.SCENE">Scene</span>
      <span *ngIf="mode === types.PRODUCT">File</span>
      List Search
    </mat-card-title>
    <mat-card-subtitle>
      <mat-button-toggle-group [value]="mode" class="ls-mat-button-toggle-group">
        <mat-button-toggle
          (click)="onSceneModeSelected()"
          [value]="types.SCENE"
          matTooltip="Scene List Search">
          Scene
        </mat-button-toggle>

        <mat-button-toggle
          (click)="onProductModeSelected()"
          [value]="types.PRODUCT"
          matTooltip="File List Search">
          File
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-subtitle>
  </mat-card-title-group>

  <mat-card-content class="ls-mat-card-content">
    <div class="ls-instruction">
        <h4>
          <span *ngIf="mode === types.SCENE">Enter a list of scene names.</span>
          <span *ngIf="mode === types.PRODUCT">Enter a list of file ids.</span>
        </h4>
    </div>
    <mat-form-field class="ls-card-content-list">
      <textarea matInput
                (input)="onTextInputChange($event.target.value)"
                [(ngModel)]="searchList"
                style="height: 150px;"
                placeholder="List of {{ mode === types.SCENE ? 'Scene names' : 'File IDs.' }}">
      </textarea>
    </mat-form-field>
  </mat-card-content>
  <div class="ls-example">
    <div>
      <span>
        Example: {{listExamples[mode]}}
      </span>
      <div>
        <app-copy-to-clipboard
          [value]="listExamples[mode]"
          [prompt]="mode === types.SCENE ? 'Copy Scene names' : 'Copy File IDs'"
          style="margin: 0 3px"
          class="clipboard-icon">
        </app-copy-to-clipboard>
      </div>
    </div>

  </div>

</mat-card>
