.ls-card {
  margin: 0;
  padding: 0;
}

.ls-card-title-group {
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.ls-card-content-list {
  width: 100%;
}

.ls-example {
  font-style: italic;
  color: grey;
}
