.position {
  position: fixed;
  right: 10px;
  top: 106px;
  z-index: 999;
}

.view-btn {
  background-image: url("/assets/icons/projection-icons.png");
  background-size: 90px 30px;
  content: '';
  width: 25px;
  height: 25px;
}

.arctic {
  background-position: 32px -2px;
}

.equatorial {
  background-position: -30px -2px;
}

.antarctic {
  background-position: -92px -2px;
}
