<a [href]="href ?? product.downloadUrl"
   (click)="hijackDownloadClick($event)"
   class="link"
>
  <button
          [disabled]="(!product?.downloadUrl && !href ) ||  disabled"
     mat-icon-button
     matTooltip="Download file"
     class="download-file-button"
  >
    <ng-container *ngIf="dFile as download">
      <template *ngIf="download.state === 'IN_PROGRESS' || download.state === 'PENDING'"
                class="progress-spinner">
        <mat-progress-spinner
          [mode]="download.state === 'IN_PROGRESS' ? 'determinate' : 'indeterminate'"
          [value]='download.progress'
          [diameter]="40">
        </mat-progress-spinner>
        <span class="progress-spinner-value">
          {{ download.progress }}
        </span>
      </template>
      <!-- <div *ngIf="dlPaused && download.state !== 'DONE'" class="paused-icon">
        <mat-icon>paused</mat-icon>
      </div> -->
    </ng-container>

    <ng-container *ngIf="dFile && dFile.state === 'DONE'">
      <mat-icon>done</mat-icon>
    </ng-container>
    <ng-container *ngIf="!dFile">
      <mat-icon>cloud_download</mat-icon>
    </ng-container>
  </button>
</a>
