@use '@angular/material' as mat;
@use "asf-theme-variables" as *;

.download-file-button {
  text-decoration: none;
  @include themify($themes) {
    color: themed('dark-primary-text');
  }
}

.progress-spinner {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  float: right;
}

.paused-icon {
  display: grid;
  place-content: center;
}

.progress-spinner-value {
  position: absolute;
  left: 7px;
  text-align: center;
  width: 25px;
  top: 10px;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-button-disabled .mat-icon {
  visibility: hidden;
}

.link {
  color: unset;
}

:host(.compact) {
  display: inline-flex;
  align-items: center;

  .mat-mdc-icon-button {
    @include mat.icon-button-overrides(
      (
        state-layer-size: 20px,
        icon-size: 20px,
        hover-state-layer-opacity: 0,
        focus-state-layer-opacity: 0,
        pressed-state-layer-opacity: 0,
        ripple-color: transparent,
      )
    );
  }

  a,
  .mat-mdc-icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;

    @include themify($themes) {
      color: themed('light-black');
    }
  }
}
