@import "asf-theme";

button {
  height: 36px;
  font-weight: 100;
}

.mat-button {
  @include themify($themes) {
    color: themed('primary-dark');
  }
  font-size: 16px;
}

.badge {
  @include themify($themes) {
    background: themed('primary-light');
  }
  display: inline;
  margin: 5px;
  padding: 5px;
  border-radius: 50px;
}
