@use "asf-theme-variables" as *;
@use "tokens" as *;

button {
  height: 36px;
  font-weight: 100;
}

.mat-mdc-button {
  color: var(--asf-dark-primary-text);
  font-size: 16px;
}

.badge {
  background: var(--asf-primary-light);
  display: inline;
  margin: spacing(xs);
  padding: spacing(xs);
  border-radius: 50px;
}
