@import url("asf-theme");

$header-height: 120px;
$footer-height: 60px;
$bottom-offset: 10px;

.mat-dialog-content {
  @include themify($themes) {
    background-color: themed("background-white");
  }

  display: block;
  height: 350px;
  overflow-y: auto;
  padding: 10px 175px 0 27px;
}

.mat-dialog-actions {
  float: right;
}

.save-search-filters {
  word-break: break-all;
}
