@use "asf-theme-variables" as *;
@use "tokens" as *;

$header-height: 120px;
$footer-height: 60px;
$bottom-offset: spacing(2);

.mat-mdc-dialog-content {
  background-color: var(--asf-surface);
  display: block;
  height: 350px;
  overflow-y: auto;
  padding: spacing(2) 175px 0 27px;
}

.mat-mdc-dialog-actions {
  float: right;
}

.save-search-filters {
  word-break: break-all;
}
