@use "@angular/material" as mat;

@use "asf-theme-variables" as *;
@use "tokens" as *;

$config: mat.m2-define-legacy-typography-config();

a {
  text-decoration: none;
  color: var(--asf-blue-link);
}

.scene-metadata {
  font-size: font-size(xs);
  margin-top: spacing(sm);
  columns: 2;

  .mat-icon {
    @include md-icon-size(12px);
    margin-left: spacing(xs);
  }
}

.scene-metadata-container {
  margin-top: spacing(md);
  word-break: break-word;
}
