<mat-card class="card-spacing">
  <form>
    <b>Path</b>
    <div class="range-selector">
      <mat-form-field class="number-input--size">
        <input matInput type="number" placeholder="Start">
      </mat-form-field>
      <mat-form-field class="number-input--size">
        <input matInput type="number" placeholder="End">
      </mat-form-field>
    </div>

    <b>Frame</b>
    <div class="range-selector">
      <mat-form-field class="number-input--size">
        <input matInput type="number" placeholder="Start">
      </mat-form-field>
      <mat-form-field class="number-input--size">
        <input matInput type="number" placeholder="End">
      </mat-form-field>
    </div>
  </form>
</mat-card>
