@import "asf-theme";

$divider-bar-color: lighten($asf-primary-light, 8%);

.subscriptions-content-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: calc(100vh - 200px);
}

.no-saved-filters-presets h2 {
  color: #c9cac4;
  padding-left: 15px;
}

.add-button-container {
  display: flex;
  justify-content: center;
  width: 100px;
  float: right;
  margin-top: -32px;
}

.fab-button {
  border-radius: 40px !important;
}

.subscription-disabled {
  color: grey !important;
}
