@import "asf-theme";

$prod-row-height: 58px;
$thumb-size: 50px;

.products-list {
  padding-top: 0;
  padding-bottom: 0;
  overflow-y: auto;
}

.event-products {
  height: 100%;
}

.zip-contents {
  padding-bottom: 20px;
}

.dem-warning {
  font-size: 14px;
  padding-left: 25px;
  padding-top: 2px;
  padding-bottom: 5px;
  color: red;
  background-color: rgb(220  220  220);
}

.more-link {
  color: red;
}

.map-icon {
  cursor: pointer;
  position: absolute;
  display: inline;
  margin-left: 5px;
}

.map-button-toggle {
  padding-right: 40px;
  font-size: 12px;
  line-height: 24px !important;
  background-color: $asf-primary !important;
  color: white !important;
  border: 1px groove rgb(0 0 0 / 25%) !important;
  border-radius: 4px !important;
}

.position-in-header {
  position: fixed;
  margin-top: -37px;
  margin-right: 290px;
}

.criteria-button-group {
  outline: none;
  // width: auto;
}

::ng-deep div.mat-menu-panel {
  min-width: 112px;

  /** set width to 500px */
  max-width: 500px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
}

.sarview-products-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.sarview-product {
  flex: 4 1 auto;
  align-self: center;
  justify-self: flex-start;
  font-size: 16px;
}

.sarview-product-sub {
  font-size: 14px;
}

.sarviews-button-display {
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 5px;
}

.event-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.event-product-map-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.event-products-wrapper {
  height: 100%;
  width: 100%;
}

.prod-viewport {
  height: 100%;
}

.prod-list-option {
  margin-right: 0 !important;
  height: $prod-row-height !important;
}

.prod-thumb {
  width: $thumb-size;
  height: $thumb-size;
  margin-right: 18px;
}

.no-scroll {
  overflow: visible !important;
}

 mat-expansion-panel-header {
  @extend .mat-header-base;

  &:hover,
  &:visited,
  &:link,
  &:active,
  &:focus,
  &[aria-disabled="true"] {
    @extend .mat-header-base;
  }
}

.mat-header-base {
  background-color: $asf-background-white !important;
  // border-bottom-left-radius: 0;
  // border-bottom-right-radius: 0;
  // border-left-width: 0;
  // border-right-width: 0;
  // border-top-width: 0;
  // border-bottom-width: 0.5px;
  border-color: $asf-background-white !important;
  border-style: none;
}
