<mat-menu #addMenu>
  <ng-template matMenuContent let-hyp3able="hyp3able">
    <div *ngFor="let productsByJobType of hyp3able" [matTooltip]="">
      <button
        [disabled]="productsByJobType.total === 0"
        [matMenuTriggerFor]="addAllByProductType"
        [matMenuTriggerData]="{ productsByJobType: productsByJobType }"
        mat-menu-item>
        {{ productsByJobType.jobType.name }}

        <mat-icon (click)="onOpenHelp(productsByJobType.jobType.infoUrl)"
          class="clickable" style="margin-left: 10px;">
            icon
        </mat-icon>
      </button>

      <div *ngIf="isBaselineStack(productsByJobType.byProductType, searchType)">
        <button
        [disabled]="productsByJobType.total === 0"
        [matMenuTriggerFor]="addBaselinePair"
        [matMenuTriggerData]="{ productsByJobType: productsByJobType, JobType: InSAR }"
        mat-menu-item>
        {{InSAR.name}}
          <mat-icon (click)="onOpenHelp(InSAR.infoUrl)" class="clickable" style="margin-left: 10px;">info</mat-icon>
        </button>

        <button
        [disabled]="productsByJobType.total === 0"
        [matMenuTriggerFor]="addBaselinePair"
        [matMenuTriggerData]="{ productsByJobType: productsByJobType, JobType: AutoRift }"
        mat-menu-item>
          {{AutoRift.name}}
          <mat-icon (click)="onOpenHelp(AutoRift.infoUrl)" class="clickable" style="margin-left: 10px;">info</mat-icon>
        </button>
      </div>
    </div>

    <div *ngIf="showSubscriptions">
      <button
        (click)="onOpenCreateSubscription()"
        [disabled]="!isLoggedIn"
        mat-menu-item> Create Subscription...
      </button>
    </div>
  </ng-template>
</mat-menu>

<mat-menu #addAllByProductType>
  <ng-template matMenuContent let-byJobType="productsByJobType">
    <div *ngFor="let prodType of byJobType.byProductType">
      <button *ngIf="prodType.products.length !== 0"
        (click)="queueAllOnDemand(prodType.products, byJobType.jobType)"
        [disabled]="" mat-menu-item>

        Add  {{ isExpired ? '' : prodType.products.length}} {{ isExpired ? '' : prodType.productType }}
        {{ byJobType.jobType.numProducts === 2 ? 'pair' : 'job' }}{{ prodType.products.length > 1 ? 's' : '' }}
      </button>
    </div>
  </ng-template>
</mat-menu>

<mat-menu #addBaselinePair>
  <ng-template matMenuContent let-byJobType="productsByJobType" let-jobType="JobType">

    <div *ngFor="let prodType of byJobType.byProductType">
      <div *ngIf="prodType.productType === 'SLC'">
        <button
          (click)="queueBaselinePairOnDemand(prodType.products, jobType)"
          [disabled]="" mat-menu-item>
          Add {{ prodType.products.length === 1 ? prodType.products.length : prodType.products.length - 1 }} {{ prodType.productType }}
          {{ 'pair' }}{{ prodType.products.length > 1 ? 's' : '' }}
        </button>
      </div>
    </div>
  </ng-template>
</mat-menu>
