<mat-menu #addMenu>
  <ng-template matMenuContent let-hyp3able="hyp3able">
    @if (userStatus === 'NOT_STARTED') {
      <button mat-menu-item (click)="onOpenSignup()">
        {{ 'REGISTER_HYP3_ACCOUNT' | translate }}
      </button>
    }
    @for (productsByJobType of hyp3able; track productsByJobType) {
      <ng-container [matTooltip]="">
        <button
          [disabled]="productsByJobType.total === 0"
          [matMenuTriggerFor]="addAllByProductType"
          [matMenuTriggerData]="{ productsByJobType: productsByJobType }"
          mat-menu-item
        >
          {{ productsByJobType.jobType.name }}
          <mat-icon
            (click)="onOpenHelp(productsByJobType.jobType.infoUrl)"
            class="clickable info-icon"
          >
            info
          </mat-icon>
        </button>
      </ng-container>
    }
  </ng-template>
</mat-menu>

<mat-menu #addAllByProductType>
  <ng-template matMenuContent let-byJobType="productsByJobType">
    @for (prodType of byJobType.byProductType; track prodType) {
      @if (prodType.products.length !== 0) {
        <button
          (click)="
            queueAllOnDemand(
              prodType.products,
              byJobType.jobType,
              isFrameBased()
            )
          "
          [disabled]="false"
          mat-menu-item
        >
          {{ 'ADD' | translate }}
          {{ isExpired ? '' : prodType.products.length }}
          {{ isExpired ? '' : prodType.productType }}
          {{
            byJobType.jobType.numProducts === 2
              ? ('PAIR' | translate)
              : ('JOB' | translate)
          }}{{ prodType.products.length > 1 ? 's' : '' }} ({{
            calculateCost(byJobType.jobType.id, prodType.products.length)
              | number
          }}
          <span
            [ngPlural]="
              calculateCost(byJobType.jobType.id, prodType.products.length)
            "
          >
            <ng-template ngPluralCase="=1">{{
              'CREDIT' | translate
            }}</ng-template>
            <ng-template ngPluralCase="other">{{
              'CREDITS' | translate
            }}</ng-template> </span
          >)
        </button>
      }
    }
  </ng-template>
</mat-menu>
