<mat-menu #addMenu>
  <ng-template matMenuContent let-hyp3able="hyp3able">
    <div *ngFor="let productsByJobType of hyp3able" [matTooltip]="">
      <button
        [disabled]="productsByJobType.total === 0"
        [matMenuTriggerFor]="addAllByProductType"
        [matMenuTriggerData]="{ productsByJobType: productsByJobType }"
        mat-menu-item>
        {{ productsByJobType.jobType.name }}

        <mat-icon (click)="onOpenHelp(productsByJobType.jobType.infoUrl)"
          class="clickable" style="margin-left: 10px;">
            help
        </mat-icon>
      </button>

      <button
      *ngIf="productsByJobType.byProductType[0].products.length > 2"
      [disabled]="productsByJobType.total === 0"
      [matMenuTriggerFor]="addByClosestPair"
      [matMenuTriggerData]="{ productsByJobType: productsByJobType }"
      mat-menu-item>
      Add closest pair
      <!-- {{ productsByJobType.jobType.name }} -->

      <mat-icon (click)="onOpenHelp(productsByJobType.jobType.infoUrl)" class="clickable" style="margin-left: 10px;">help</mat-icon>
    </button>

    <button
    *ngIf="productsByJobType.byProductType[0].products.length === 1"
    [disabled]="productsByJobType.total === 0"
    [matMenuTriggerFor]="addBaselinePair"
    [matMenuTriggerData]="{ productsByJobType: productsByJobType }"
    mat-menu-item>
    Add Pair
    <!-- {{ productsByJobType.jobType.name }} -->

    <mat-icon (click)="onOpenHelp(productsByJobType.jobType.infoUrl)" class="clickable" style="margin-left: 10px;">help</mat-icon>
  </button>

    </div>
  </ng-template>
</mat-menu>

<mat-menu #addAllByProductType>
  <ng-template matMenuContent let-byJobType="productsByJobType">
    <div *ngFor="let prodType of byJobType.byProductType">
      <button 
        (click)="queueAllOnDemand(prodType.products, byJobType.jobType)"
        [disabled]="" mat-menu-item>
        Add {{ prodType.products.length }} {{ prodType.productType }}
        {{ byJobType.jobType.numProducts === 2 ? 'pair' : 'job' }}{{ prodType.products.length > 1 ? 's' : '' }}
      </button>
    </div>
  </ng-template>
</mat-menu>

<mat-menu #addByClosestPair>
  <ng-template matMenuContent let-byJobType="productsByJobType">
    <app-closest-pair></app-closest-pair>
  </ng-template>
</mat-menu>

<mat-menu #addBaselinePair>
  <ng-template matMenuContent let-byJobType="productsByJobType">

    <div *ngFor="let prodType of byJobType.byProductType">
      <div *ngIf="prodType.productType === 'SLC' && prodType.products[0].id !== referenceScene.id">
        <button
          (click)="queuePairOnDemand(prodType.products[0][0], InSAR)"
          [disabled]="" mat-menu-item>
          Add InSAR pair
        </button>
        <button
        (click)="queuePairOnDemand(prodType.products[0][0], AutoRift)"
        [disabled]="" mat-menu-item>
        Add AutoRIFT pair
      </button>
      </div>
    </div>
    <!-- <app-closest-pair></app-closest-pair> -->
  </ng-template>
</mat-menu>