<div class="breadcrumb-list"
     fxLayout="row"
     fxLayout.lt-lg="column"
     fxFlexFill>

  <div fxLayout="row"
       fxLayout.gt-lg="column">
    <div fxFlex="auto" class="logo">
      <app-logo></app-logo>
    </div>
  </div>

  <div fxLayout="column" fxFill>

    <div fxLayout="row" fxLayout.lt-md="column" class="breadcrumb-row">

      <div fxLayout="row">

        <!-- SEARCH TYPE -->
        <div fxFlex="nogrow" class="breadcrumb">
          <mat-form-field fxFlex="120px">
            <mat-label>Search Type</mat-label>
            <mat-select
              [(ngModel)]="searchType"
              (selectionChange)="onSetSearchType($event.value)">
              <mat-option [value]="searchTypes.DATASET">Geographic</mat-option>
              <mat-option [value]="searchTypes.LIST">List</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- DATASET/GEOGRAPHIC SEARCH FILTERS -->

          <!-- DATASET FILTER -->
          <ng-container *ngIf="searchType === searchTypes.DATASET">
            <div fxFlex="130px"
                 (click)="clearSelectedBreadcrumb()"
                 class="breadcrumb">
              <app-dataset-selector></app-dataset-selector>
            </div>
          </ng-container>

          <!-- AOI FILTER -->
          <ng-container *ngIf="searchType === searchTypes.DATASET">
            <form fxFlex="160px" fxFlex.lt-md="grow"
                  #polygonForm="ngForm"
                  class="breadcrumb"
                  (mouseenter)="isHoveringAOISelector = true"
                  (mouseleave)="isHoveringAOISelector = false"
                  (keydown.enter)="$event.preventDefault()">

              <mat-form-field
                [class.invalid-input-animation]="isAOIError"
                class="full-width">
                <label>
                  <input
                    (change)="onInputSearchPolygon($event.target.value)"
                    [value]="polygon"
                    [(ngModel)]="polygon"
                    name="searchPolygon"
                    matInput placeholder="Area of Interest • WKT">
                </label>

                <mat-icon
                  *ngIf="!!polygon" (click)="onCopy()"
                  matTooltip="Copy to clipboard"
                  [class.ghost-item]="!isHoveringAOISelector"
                  class="clickable copy-icon" matSuffix>
                  file_copy
                </mat-icon>
                <mat-icon
                  (click)="onNewSelectedFilter(filterTypes.AOI)"
                  matTooltip="More options"
                  class="clickable additional-aoi-toggle"
                  matSuffix>
                  {{ selectedFilter === filterTypes.AOI ? 'arrow_drop_up' : 'arrow_drop_down' }}
                </mat-icon>
              </mat-form-field>

              <mat-card *ngIf="selectedFilter === filterTypes.AOI"
                       [@fadeTransition]
                        class="breadcrumb-filter">
                <app-aoi-options
                  (close)="clearSelectedBreadcrumb()"></app-aoi-options>
              </mat-card>
            </form>
          </ng-container>

      </div>

      <div fxLayout.lt-md="row">

        <!-- DATES START/END AND MORE ... FILTER -->
        <ng-container *ngIf="searchType === searchTypes.DATASET">
            <div fxLayout="row">
              <div fxFlex="300px" fxFlex.lt-lg="50"
                   class="breadcrumb">
                <app-date-selector></app-date-selector>
              </div>
              <div fxFlex="nogrow" class="breadcrumb">
                <button (click)="onToggleFiltersMenu()"
                        mat-button class="additional-filters-button">
                  More
                  <br>
                  <mat-icon>more_horiz</mat-icon>
                </button>
              </div>
              <div fxFlex="noshrink" class="breadcrumb search-controls">
                <app-search-button></app-search-button>
                <app-clear-button></app-clear-button>
                <div class="max-results">
                  <app-max-results-selector></app-max-results-selector>
                </div>
              </div>
            </div>
        </ng-container>

        <!-- ADDITIONAL FILTERS FOR NON-DATASET SEARCH -->
        <ng-container *ngIf="searchType !== searchTypes.DATASET">
          <div fxFlex="nogrow" class="breadcrumb additional-filters">
            <button (click)="onToggleFiltersMenu()"
                    mat-flat-button
                    class="search-dialog-button">
              <span *ngIf="searchType === searchTypes.LIST">
                <mat-icon>edit</mat-icon>
                Edit List
              </span>
            </button>
          </div>
          <div fxFlex class="breadcrumb search-controls">
            <app-search-button></app-search-button>
            <app-clear-button></app-clear-button>
          </div>
        </ng-container>

        <div class="icon-cluster">
          <app-nav-buttons
            (openQueue)="onOpenDownloadQueue()"
            [queuedProducts]="queuedProducts$ | async">
          </app-nav-buttons>
        </div>
      </div>

    </div>

    <div fxLayout="row wrap"
         fxFlexFill
         class="info-bar">

      <div fxFlex class="first-info">
        <span *ngIf="pathRange.start || pathRange.end">
          Path: {{pathRange.start}} - {{pathRange.end}}
        </span>
        <span *ngIf="frameRange.start || frameRange.end">
          Frame: {{frameRange.start}} - {{frameRange.end}}
        </span>
        <span *ngIf="season.start || season.end">
          Season: {{season.start}} - {{season.end}}
        </span>
        <span *ngIf="shouldOmitSearchPolygon">
          Omit Geo: {{true == shouldOmitSearchPolygon ? 'Yes' : 'No' }}
        </span>
        <span *ngIf="productTypes.length">
          File Types:
          <span *ngFor="let productType of productTypes; let i = index">
              {{productType.apiValue}},
          </span>
        </span>
        <span *ngIf="beamModes.length">
          Beam Modes: {{beamModes}}
        </span>
        <span *ngIf="polarizations.length">
          Polarizations: {{polarizations}}
        </span>
        <span *ngIf="flightDirections.length">
          Flight Dir: {{flightDirections}}
        </span>
        <span *ngIf="subtypes">
          Dataset: {{ subtypes }}
        </span>
      </div>
    </div>
  </div>
</div>
