<div class="breadcrumb-list">
  <div class="breadcrumb hide-mobile">
    <mat-form-field>
      <mat-label>Search Type</mat-label>
      <mat-select
        [(ngModel)]="searchType"
        (selectionChange)="onSetSearchType($event.value)">
        <mat-option [value]="searchTypes.DATASET">Geographic</mat-option>
        <mat-option [value]="searchTypes.LIST">List</mat-option>
        <mat-option [value]="searchTypes.MISSION">Mission</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <ng-container *ngIf="searchType === searchTypes.DATASET">
    <div (click)="clearSelectedBreadcrumb()"
      class="breadcrumb hide-mobile hide-medium">
        <app-platform-selector></app-platform-selector>
    </div>

    <div class="breadcrumb hide-mobile hide-medium">
      <mat-form-field style="margin-right: 10px; width: 90%;">
        <input
        (change)="onInputSearchPolygon($event.target.value)"
        [value]="polygon$ | async"
        matInput placeholder="Current Area of Interest" />

        <mat-icon
          (click)="onNewSelectedFilter(filterTypes.AOI)"
          matTooltip="More options"
          style="cursor: pointer; margin-left:10px" matSuffix>
            arrow_drop_down
        </mat-icon>
      </mat-form-field>

      <mat-card *ngIf="selectedFilter === filterTypes.AOI"
        class="breadcrumb-filter">
          <app-aoi-upload></app-aoi-upload>
      </mat-card>
    </div>

    <div class="breadcrumb hide-mobile hide-medium">
      <app-date-selector></app-date-selector>
    </div>
  </ng-container>

  <div class="breadcrumb">
    <button (click)="onToggleFiltersMenu()"
      *ngIf="searchType === searchTypes.DATASET"
       color="{{ !(isAnyAdditionalFilters$ | async) ? 'basic' : accent }}"
       mat-stroked-button>
        <mat-icon>more_horiz</mat-icon>

    </button>

    <button (click)="onToggleFiltersMenu()"
      *ngIf="searchType !== searchTypes.DATASET"
       mat-stroked-button>
        <span *ngIf="searchType === searchTypes.MISSION">Mission</span>
        <span *ngIf="searchType === searchTypes.LIST">List</span>
    </button>
  </div>

  <div class="breadcrumb hide-mobile" style="margin-left: 20px;">
    <app-max-results-selector
      [maxResults]="maxResults$ | async"
      [currentSearchAmount]="currentSearchAmount$ | async"
      (newMaxResults)="onNewMaxResults($event)"
      ></app-max-results-selector>
  </div>

  <div class="breadcrumb hide-mobile" matTooltip="clear">
    <button (click)="onClearSearch()" mat-flat-button color="warn">
      <mat-icon>replay</mat-icon>
    </button>
  </div>

  <div class="breadcrumb hide-mobile"
    matTooltip="{{ !(canSearch$ | async) ? 'No Results Found' : 'Search' }}">
    <button (click)="onDoSearch()"
      [disabled]="!(canSearch$ | async)"
      mat-flat-button color="accent">
      {{ (loading$ | async) ? 'Loading...' : (!(canSearch$ | async) ? 'No Results' : 'Search') }}
    </button>
  </div>
</div>
<app-info-bar></app-info-bar>
