@import "~flex-layout-sass/mixin";

.breadcrumb-filter {
  max-width: 370px;
  min-width: 300px;
  height: auto;
  position: fixed;
  top: 100px;
  z-index: 1;
}

$break-small: 700px;
$break-medium: 1250px;

.breadcrumb-list {
  //@include fx-layout(row wrap, center center, 0px);
  //display: flex;
  //flex-direction: row;
  //align-items: center;
}

.breadcrumb {
  @include fx-flex(auto);

  margin-right: 10px;
  width: 90%;
}

.max-width {
  //max-width: 180px !important;
}

.hide-mobile {
  //@media screen and (max-width: $break-small) {
  //  display: none;
  //}
}

.hide-medium {
  //@media screen and (max-width: $break-medium) {
  //  display: none;
  //}
}

.selected {
  background-color: #ccc;
}
