.add-files-btn {
  float: right;
}

:host {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.actions {
  justify-content: flex-end;
}

.container {
  height: 100%;
}

.drop-text-box {
  outline: 2px dashed rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.6);
  outline-offset: -10px;
}

.is-file-error {
  animation: shake 0.82s;
  color: red;
  outline-color: red;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.upload-button-spacing {
  margin: 10px 0;
}

.file-list {
  margin-top: 10px;
}

.loading-text {
  margin-bottom: 30px;
}

.loading-spinner {
  margin: 0 auto;
}
