<input (change)="onFilesAdded()"
  class="hidden" type="file" multiple #file/>

<div
  (drop)="onFileDrop($event)"
  fxLayout="column" fxLayoutAlign="space-evenly stretch"
  class="container">

  <h1 mat-dialog-title>Import Geospatial Files</h1>

  <div>
    Accepted formats are <b>shapefiles</b> (.shp), <b>geojson</b> (.geojson), <b>kml</b> (.kml)
    or a <b>zip archive</b> (.zip) of a shapefile.
  </div>

  <div class="upload-button-spacing">
    <button (click)="addFiles()"
      [disabled]="uploading"
      color="primary" class="add-files-btn" mat-raised-button>
        Select Files
    </button>
  </div>

  <mat-dialog-content fxFlex>
    <div fxFlex fxLayout="column">
      <mat-list class="file-list">
        <mat-list-item *ngFor="let file of files">
          <h4 mat-line>{{file.name}}</h4>

          <button *ngIf="!request" (click)="onRemoveFile(file)" mat-icon-button>
            <mat-icon>close</mat-icon>
          </button>

          <mat-progress-bar *ngIf="request" mode="determinate" value="100">
          </mat-progress-bar>
        </mat-list-item>
      </mat-list>

      <div [class.is-file-error]="isFileError"
        fxFlex fxLayoutAlign="center" gdAlignColumns="center"
        class="drop-text-box">

        <div *ngIf="canBeClosed"> Drag geospatial files here. </div>

        <div *ngIf="!canBeClosed">
          <div class="loading-text">
            Loading area of interest from provided files...
          </div>
          <div>
            <mat-progress-spinner class="loading-spinner" color="primary" mode="indeterminate">
            </mat-progress-spinner>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="actions">
    <button *ngIf="showCancelButton"
      mat-button mat-dialog-close>
        Cancel
    </button>

    <button mat-raised-button color="primary"
      (click)="onUpload()"
      [disabled]="!canBeClosed">
      Import
    </button>
  </mat-dialog-actions>
</div>
