<input
  (change)="onFilesAdded()"
  type="file" style="display: none"
  multiple #file/>

<div
  (drop)="onFileDrop($event)"
  class="container"
  fxLayout="column"
  fxLayoutAlign="space-evenly stretch">
  <h1 mat-dialog-title>Upload Geospatial Files</h1>

  <div>
    Accepted formats are <b>shapefiles</b> (.shp), <b>geojson</b> (.geojson), <b>kml</b> (.kml)
    or a <b>zip archive</b> (.zip) of a shapefile.
  </div>

  <div style="margin: 10px 0">
    <button mat-raised-button
      (click)="addFiles()"
      [disabled]="uploading || uploadSuccessful"
      color="primary"
      class="add-files-btn" >
        Add Files
    </button>
  </div>

  <mat-dialog-content fxFlex>
    <div fxFlex fxLayout="column">
      <mat-list style="margin-top: 10px">
        <mat-list-item *ngFor="let file of files">
          <h4 mat-line>{{file.name}}</h4>

          <button
            mat-icon-button
            *ngIf="!request"
            (click)="onRemoveFile(file)">
              <mat-icon>close</mat-icon>
          </button>

          <mat-progress-bar
            *ngIf="request"
            mode="determinate"
            value="100">
          </mat-progress-bar>

        </mat-list-item>
      </mat-list>

      <div class="drop-text-box" [ngClass]="{ 'is-file-error': isFileError }" fxFlex fxLayoutAlign="center" gdAlignColumns="center">
        <div>
           Drag geospatial files here.
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="actions">

    <button mat-button mat-dialog-close
      *ngIf="showCancelButton">
        Cancel
    </button>

    <button mat-raised-button color="primary"
      (click)="onUpload()"
      [disabled]="!canBeClosed">
        {{primaryButtonText}}
    </button>

  </mat-dialog-actions>
</div>
