@import "asf-theme";

.saved-filters {
  left: 0;
  position: static;
  top: 32px;
  min-width: 600px;
  max-width: 900px;
}

.saved-filters-presets-mobile {
  position: static;
  height: 100%;
  left: 0;
  top: 32px;
  width: 100%;
}

.saved-filters-presets__header,
.saved-filters-presets__footer,
.saved-filters-presets__footer-mobile {
  background-color: $asf-primary-light;
}

.saved-filters-presets__content,
.saved-filters-presets__footer,
.saved-filters-presets__footer-mobile {
  width: 100%;
}

.saved-filters-presets__content {
  max-height: 100%;
  overflow-y: auto;
  background-color: $asf-background-white;
}

.saved-filters-presets__content-mobile {
  max-height: 100%;
  overflow-y: auto;
  background-color: $asf-background-white;
  width: 100%;
}

.saved-filters-presets-row:nth-child(even) {
  background-color: darken($asf-primary-light, 10%) !important;
  // background-color: #e0eded !important;
}

.saved-filters-presets__header {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom-color: $asf-primary;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.saved-filters-presets__header-title {
  font-size: 24px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  max-width: 50%;
}

.saved-filters-presets__header-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  height: 100%;
}

.saved-filters-presets__subhead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $asf-background-white;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.saved-filters-presets__filter-form {
  display: flex;
}

.saved-filters-presets__filter-form-mobile {
  flex: 0 100px;
}

.saved-filters-presets__more-menu {
  padding-left: 15px;
}

.saved-filters-presets__footer,
.saved-filters-presets__footer-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  border-top-color: $asf-primary;
  border-top-style: solid;
  border-top-width: 1px;
  background-color: $asf-primary-light;
  z-index: 1;
}

.saved-filters-presets__footer-mobile {
  bottom: 0;
  position: absolute;
}

.close-icon {
  font-size: 32px;
}

.saved-filters-presets__save-button {
  display: flex;
  color: $asf-primary-light;
}

.saved-filters-presets__close-button {
  display: flex;
  color: $asf-primary-light;
  margin-right: 15px;
  height: fit-content;
}

.content-wrapper {
  flex-direction: row;
}

.no-saved-searches {
  color: $asf-primary-light;
  padding-left: 15px;
}

.header-view {
  padding: 10px 10px 10px 60px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  word-break: break-all;
}

.filter-expansion-panel {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-apply-button {
  width: 25%;
  margin-right: 25px;
  margin-top: 10px;
}

.saved-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  margin: 0;
}

.filter-description {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
}

.expand-arrow {
  margin-right: 20px;
  margin-top: -2px;
}

.expand-arrow--icon {
  font-size: 38px;
}
