@use "asf-theme-variables" as *;
@use "tokens" as *;

[mat-dialog-title] {
  margin: 0;
}

.banner-title {
  color: var(--asf-dark-primary-text);
  background-color: var(--asf-primary-light);
  padding: spacing(sm) 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: move;
  text-align: center;
  font-size: x-large !important;
  border-bottom: 1px solid $asf-primary-dark;
}

.banner-content {
  background-color: var(--asf-surface);
  font: inherit;
  padding-top: spacing(md) !important;
}

.banner-content a {
  color: var(--asf-blue-link);
}

.banner-actions {
  color: var(--asf-dark-primary-text);
  background-color: var(--asf-primary-light);
  border-top: 1px solid $asf-primary-dark;
}
