<div class="layout">
  <span *ngIf="queuedProducts" matTooltip="Download Queue">
    <button
      (click)="onOpenDownloadQueue()"
      [disabled]="queuedProducts.length <= 0"
      class="spacing cart" mat-icon-button>
        <mat-icon
          [matBadge]="queuedProducts.length"
          matBadgeColor="{{ queuedProducts.length > 0 ? 'accent' : 'primary' }}"
          matBadgePosition="above after"
          matBadgeOverlap="true"
          matBadgeSize="small">
            shopping_cart
        </mat-icon>
    <div class="text-under text-downloads faint-text">Downloads</div>
    </button>
  </span>

  <button
    *ngIf="!datapoolAuthService.isLoggedIn"
    (click)="onAccountButtonClicked()"
    class="spacing profile" color="basic"
    matTooltip="Login" mat-button>
      <mat-icon>account_circle</mat-icon>
    <div class="text-under faint-text">Sign in</div>
  </button>

  <button
    *ngIf="datapoolAuthService.isLoggedIn"
    [matMenuTriggerFor]="profileMenu"
    class="spacing profile" color="basic"
    matTooltip="Profile" mat-button>
      <mat-icon>account_circle</mat-icon>
      <div class="text-under faint-text"> {{ datapoolAuthService.user.id }}</div>
  </button>

  <mat-menu #profileMenu="matMenu">
    <button (click)="onLogout()"
      mat-menu-item matSuffix>
        <span>Logout</span>
    </button>
  </mat-menu>

<!--  <button-->
<!--    [matMenuTriggerFor]="shareMenu"-->
<!--    matTooltip="Share Search"-->
<!--    class="spacing" color="basic" mat-icon-button>-->
<!--      <mat-icon>share</mat-icon>-->
<!--  </button>-->

<!--  <mat-menu #shareMenu="matMenu">-->
<!--    <button (click)="onCopy()"-->
<!--      mat-menu-item matSuffix>-->
<!--        <mat-icon>file_copy</mat-icon>-->
<!--        <span>Copy Search Link</span>-->
<!--    </button>-->

<!--    <a (click)="onShareWithEmail()"-->
<!--      href="mailto:?subject=&body=:%20"-->
<!--      target="_blank" title="Send email"-->
<!--      mat-menu-item matSuffix>-->
<!--        <mat-icon>email</mat-icon>-->
<!--        <span>Share With Email</span>-->
<!--    </a>-->
<!--  </mat-menu>-->

  <button
    [matMenuTriggerFor]="appMenu"
    matTooltip="ASF Apps"
    class="spacing" color="basic" mat-icon-button>
      <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #appMenu="matMenu">

    <button (click)="onCopy()"
            mat-menu-item matSuffix>
      <mat-icon>link</mat-icon>
      Copy Search Link
    </button>

    <a (click)="onShareWithEmail()"
       href="mailto:?subject=&body=:%20"
       target="_blank" title="Send email"
       mat-menu-item matSuffix>
      <mat-icon>email</mat-icon>
      Share With Email
    </a>

    <hr class="menu-hr">

    <a mat-menu-item [href]="asfWebsiteUrl" target="_blank">
      <mat-icon>web</mat-icon>
      ASF Website
    </a>

    <a mat-menu-item href="https://baseline.asf.alaska.edu" target="_blank">
      <mat-icon>web</mat-icon>
      Baseline Tool
    </a>

    <a mat-menu-item href="{{ asfWebsiteUrl }}/get-data/api" target="_blank">
      <mat-icon>web</mat-icon>
     ASF API
    </a>

    <hr class="menu-hr">

    <button [matMenuTriggerFor]="thematicDatasets"
      mat-menu-item >
        Thematic Datasets
    </button>

    <button *ngIf="isDevMode()"
      [matMenuTriggerFor]="apiMaturity"
      mat-menu-item>
        Select API Maturity
    </button>

  </mat-menu>

  <mat-menu #thematicDatasets="matMenu">
    <a mat-menu-item href="{{ asfWebsiteUrl }}/other-data/gismo" target="_blank">GISMO</a>
    <a mat-menu-item href="{{ asfWebsiteUrl }}/other-data/glacier-speed" target="_blank">Glacier Speed</a>
    <a mat-menu-item href="{{ asfWebsiteUrl }}/other-data/polar-year-07-08" target="_blank">Polar Year</a>
    <a mat-menu-item href="{{ asfWebsiteUrl }}/other-data/ramp" target="_blank">RAMP</a>
    <a mat-menu-item href="{{ asfWebsiteUrl }}/sea-ice" target="_blank">Sea Ice MEaSUREs</a>
    <a mat-menu-item href="{{ asfWebsiteUrl }}/wetlands" target="_blank">Wetlands MEaSUREs</a>
  </mat-menu>

  <mat-menu #apiMaturity="matMenu">
    <button (click)="onTestSelected()"
      mat-menu-item matSuffix>
        <span>Test</span>
    </button>

    <button (click)="onProdSelected()"
      mat-menu-item matSuffix>
        <span>Production</span>
    </button>
  </mat-menu>
</div>
