@import "asf-theme";

.layout {
  //display: flex;
  //justify-content: flex-end;
  //align-items: center;
}

.spacing {
  margin-right: 4px;
  line-height: inherit !important;
}

.mat-icon {
  @include md-icon-size(28px);

  margin-right: 10px;
  color: $asf-primary-dark;
}

.mat-icon-button {
  height: 30px;
  line-height: 30px;
}
