@import "asf-theme";

.layout {
}

.spacing {
  margin-left: 0;
  line-height: inherit !important;
  vertical-align: middle;
}

.nav-icon-buttons {
  top: -6px;
}

.text-under {
  margin-left: 0;
  font-weight: 400;
}

.mat-icon {
  @include md-icon-size(34px);

  margin-right: 0;
  color: $asf-primary-dark;
  //height: 32px;
}

.mat-icon-button {
  height: 36px;
  line-height: 36px;
  min-width: 60px;
}

.menu-hr {
  color: $asf-primary-dark;
  background-color: $asf-primary-dark;
  background-image: none;
  border: none;
  height: 1px;
  opacity: 1;
}
