.files-header {
  //
}

.files-header-baseline {
  margin-top: -22px;
  padding: 0 21px 0 32px;
}

.header-row-center {
  display: flex;
  justify-content: center;
  height: 22px;
}

.header-row-right {
  display: flex;
  justify-content: flex-end;
  height: 18px;
  margin-top: 6px;
  font-size: small;
}

.header-column {
  float: right;
  text-align: end;
  width: 60px;
}
