<mat-form-field class="pair-count-field">
  <mat-label> {{ 'PAIRS' | translate }}: </mat-label>
  <input
    matInput
    type="number"
    [max]="scenes().length - 1"
    [min]="1"
    [placeholder]="points.toString()"
    (input)="updatePairCount($event)"
    (click)="$event.stopPropagation()"
  />
</mat-form-field>
<button (click)="queueClosestPair(InSAR)" [disabled]="false" mat-menu-item>
  {{ 'IN_SAR_PAIR' | translate }}
</button>
<button (click)="queueClosestPair(AutoRift)" [disabled]="false" mat-menu-item>
  {{ 'AUTO_RIFT_PAIR' | translate }}
</button>
