.platform__date {
  font-size: 11px;
}

.platform__name {
  letter-spacing: 1px;
  font-size: 16px;
  font: verdana, sans-serif;
}

.platform__info {
  transition: all .5s;
  animation-timing-function: ease-in;
  margin-left: 5px;
}

.platform__info:hover {
  color: black;
}
