<mat-slide-toggle
  (change)="onToggleSeasonalOptions($event)"
  [(ngModel)]="isSeasonalSearch"
  style="margin: 10px 0"
>
  Seasonal Search
</mat-slide-toggle>

<div *ngIf="isSeasonalSearch" class="season-selector">
  <app-circle-slider
    [startValue]="this.start"
    [endValue]="this.end"
    (newStart)="onSeasonStartChange($event)"
    (newEnd)="onSeasonEndChange($event)"
    (doneSelecting)="onSeasonDoneSelecting()"
    (swapEvent)="swap()"
  ></app-circle-slider>
  <!-- <app-date-range></app-date-range> -->
  <div class="dates">
    <div>
      <b>Season Start Day </b>
      <div class="buttons">
        <div *ngIf="start" class="date">{{ this.start | shortDateSeason }}</div>
        <button (click)="change('start', -1)" mat-raised-button color="accent">-1</button>
        <button (click)="change('start', 1)" mat-raised-button color="accent">+1</button>
      </div>
    </div>
    <div>
      <b>Season End Day </b>
      <div class="buttons">
        <div *ngIf="end" class="date">{{ end | shortDateSeason }}</div>
        <button (click)="change('end', -1)" mat-raised-button color="accent">-1</button>
        <button (click)="change('end', 1)" mat-raised-button color="accent">+1</button>
      </div>
    </div>
  </div>
</div>
