@use '@angular/material' as mat;
@use "asf-theme-variables" as *;

a {
    @include themify($themes) {
    color: themed('dark-primary-text');
  }
}

:host(.compact) {
  display: inline-flex;
  align-items: center;

  .mat-mdc-icon-button {
    @include mat.icon-button-overrides(
      (
        state-layer-size: 20px,
        icon-size: 20px,
        hover-state-layer-opacity: 0,
        focus-state-layer-opacity: 0,
        pressed-state-layer-opacity: 0,
        ripple-color: transparent,
      )
    );
  }

  a,
  .mat-mdc-icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;

    @include themify($themes) {
      color: themed('light-black');
    }
  }
}
