  .no-event-products-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 80%;

  span {
    color: rgba(0, 0, 0, 0.54);
    p {
      margin-left: 15px;
    }
  }

}
