.no-event-products-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 80%;

  span {
    color: rgba(0, 0, 0, 0.54);

    p {
      margin-left: 15px;
    }
  }
}

.more-horiz {
  font-size: 16px !important;
}

.space-filler {
  width: 20px;
}

.product-list-header {
  display: flex;
  // justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;

  span {
    margin-right: 10px;
  }

  mat-button-toggle-group {
    bottom: 7.5px;
  }
}
