.no-event-products-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  height: 80%;

  span {
    color: rgba(0, 0, 0, 0.54);

    p {
      margin-left: 15px;
    }
  }
}

.more-horiz {
  font-size: 16px !important;
}

.space-filler {
  width: 20px;
}

.product-list-header {
  display: flex;
  // justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;

  span {
    margin-right: 10px;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
  mat-button-toggle-group {
    bottom: 7.5px;
  }
}

.desktop-header--layout {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 33%;
}

.desktop-header--small-layout {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 50%;
}

.scene-detail--layout {
  height: 100%;
  width: 100%;
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 34%;
}

.file-list--layout {
  height: 100%;
  width: 100%;
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 33%;
}

.scene-info--small-layout {
  height: 100%;
  width: 100%;
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 50%;
}
