<mat-card class="card-spacing">
  <mat-action-list>
    <button
      *ngFor="let product of products"
      mat-list-item
      (click)="onProductSelected(product.file)"
      [ngClass]="{'selected': product.name === selected}" >

        <img matListAvatar
          [src]="product.browse"
          onerror="this.src='assets/error.png'"
          class="size" >

        <app-product-name [name]="product.name" matLine></app-product-name>

        <div matLine>
          <span matTooltip="Path" matTooltipPosition="after">{{ product.metadata.path }}</span>,
          <span matTooltip="Frame" matTooltipPosition="after">{{ product.metadata.frame }}</span>,
          <span matTooltip="Polarization" matTooltipPosition="after">{{ product.metadata.polarization }}</span>,
          <span matTooltip="Flight Direction" matTooltipPosition="after"
            >{{ product.metadata.flightDirection === 'ASCENDING' ? 'ASC' : 'DES' }}</span>,
          <span matTooltip="Absolute Orbit" matTooltipPosition="after">{{ product.metadata.absoluteOrbit }}</span>
        </div>

        <a matLine [href]="product.downloadUrl">
          {{ product.bytes | readableSizeFromBytes }}
          <fa-icon class="ml-2" [icon]="downloadIcon"></fa-icon>
        </a>

    </button>
  </mat-action-list>
</mat-card>
