<div>
  <div class="header">
    <div style="font-size: 18px;">Filters</div>

    <button mat-mini-fab
      matTooltip="Search based on subscription filters"
      color="primary"
      (click)="onLoadSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <hr />
  <div style="margin-left: 12px;">
    <div *ngIf="filters.platform">
      <b>Dataset:</b> {{ filters.platform }}
    </div>

    <div *ngIf="filters.intersectsWith">
      <b>Search Area:</b> {{ showSearchAreaType(filters.intersectsWith) }}
      <app-copy-to-clipboard
      [value]="filters.intersectsWith"
      [prompt]="'Copy Search Area'"
      [toast]="false"
      style="margin: 0 3px;"
      class="clipboard-icon">
    </app-copy-to-clipboard>
    </div>

    <div *ngIf="filters.relativeOrbit">
      <b>Path:</b> {{ filters.relativeOrbit }}
    </div>

    <div *ngIf="filters.frame">
      <b>Frame:</b> {{ filters.frame }}
    </div>

    <div *ngIf="filters.processingLevel">
      <b>Product Type:</b> {{ filters.processingLevel }}
    </div>

    <div *ngIf="filters.polarization">
      <b>Polarizations:</b> {{ filters.polarization }}
    </div>

    <div *ngIf="filters.flightDirection">
      <b>Flight Direction:</b> {{ filters.flightDirection }}
    </div>

    <div *ngIf="filters.beamMode">
      <b>Beam Mode:</b> {{ filters.beamMode }}
    </div>
  </div>
</div>
