<mat-card class="card-spacing mat-elevation-z0">
  <h2>SAR Product Searches</h2>
  <mat-divider></mat-divider>

  <mat-list>
    <mat-list-item (click)="onSetSearchType(searchTypes.DATASET)"
     [class.active-btn]="selectedSearchType === searchTypes.DATASET">
        <h3 matLine>Dataset</h3>
        <p matLine>Search by dataset, time, geography, and more.</p>
        <button mat-icon-button>
          <mat-icon>chevron_right</mat-icon>
        </button>
    </mat-list-item>
    <mat-divider [inset]="true"></mat-divider>
    <mat-list-item (click)="onSetSearchType(searchTypes.LIST)"
     [class.active-btn]="selectedSearchType === searchTypes.LIST">
      <h3 matLine>List</h3>
      <p matLine>Search by a list of granules or product names.</p>
      <button mat-icon-button>
        <mat-icon>chevron_right</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider [inset]="true"></mat-divider>
    <mat-list-item (click)="onSetSearchType(searchTypes.MISSION)"
     [class.active-btn]="selectedSearchType === searchTypes.MISSION">
      <h3 matLine>Mission</h3>
      <p matLine>Search for data from a specific mission.</p>
      <button mat-icon-button>
        <mat-icon>chevron_right</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider [inset]="true"></mat-divider>
    <mat-list-item>
      <h3 matLine>Thematic Datasets</h3>
      <p matLine>Search specialized datasets for specific uses.</p>
      <button mat-icon-button>
        <mat-icon>chevron_right</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider [inset]="true"></mat-divider>
    <mat-list-item>
      <h3 matLine>Saved Searches</h3>
      <p matLine>Search using prior searches.</p>
      <button mat-icon-button>
        <mat-icon>chevron_right</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider [inset]="true"></mat-divider>
    <mat-list-item>
      <h3 matLine>Preferences and Help</h3>
      <p matLine>Preferences, search help, citing data.</p>
      <button mat-icon-button>
        <mat-icon>chevron_right</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
  <mat-divider [inset]="true"></mat-divider>
  <mat-card class="mat-elevation-z0">
    <a href="https://earthdata.nasa.gov/" target="_blank">
      <img class="img-nasa-logo" src="/assets/meatball.png">
    </a>
  </mat-card>
</mat-card>
