<mat-card class="dl-card">
    <mat-card-title-group class="dl-card-title-group">
      <mat-card-title>Download Queue
        </mat-card-title>
      <div class="dl-close-x" (click)="onCloseDownloadQueue()">
        <mat-icon>close</mat-icon>
      </div>
      <mat-card-subtitle>
        {{ numberOfProducts$ | async }} products, {{ (totalSize$ | async) | readableSizeFromBytes }}
      </mat-card-subtitle>
    </mat-card-title-group>

  <mat-card-content class="dl-card-content">
    <mat-list role="list" class="dl-list">
      <ng-container *ngIf="products$ | async as products">
        <mat-list-item class="dl-list-item"
          *ngFor="let product of products"
          role="listitem">

            <div matLine>
              <b>
                <span> {{ product.name | truncate : 48 }}</span>
                <span *ngIf="product.dataset === 'Sentinel-1B' || product.dataset === 'Sentinel-1A'"
                  >{{ product.name.substr(product.name.length - 4) }}</span>
                <span *ngIf="product.dataset === 'Sentinel-1 Interferogram (BETA)'"
                  >{{ product.name.substr(product.name.length - 11) }}</span>
              </b> •

              <span>
                <span *ngIf="product.bytes === 0">Virtual</span>
                <span *ngIf="product.bytes !== 0">{{product.bytes | readableSizeFromBytes }}</span>
              </span>
            </div>
            <div style="margin-top: 3px" matLine>
              {{ product.productTypeDisplay }}
            </div>

            <app-copy-to-clipboard
               style="margin-right: 15px"
               prompt="Copy product ID"
               [value]="product.id">
            </app-copy-to-clipboard>

            <a mat-icon-button matTooltip="Download" [href]="product.downloadUrl" target="_blank" style="text-decoration: none">
              <mat-icon>cloud_download</mat-icon>
            </a>

            <button (click)="onRemoveProduct(product)" mat-icon-button>
              <mat-icon>close</mat-icon>
            </button>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-card-content>

  <div class="dl-card-actions" fxLayout="row" fxFlexFill>
    <ng-container *ngIf="products$ | async as products">
      <div fxFlex="25" class="dl-clear-button">
          <button *ngIf="previousQueue === null"
                  (click)="onClearQueue(products)" mat-button>
            <mat-icon>delete</mat-icon>
            <span>Clear Queue</span>
          </button>

        <button *ngIf="previousQueue !== null"
                (click)="onRestoreQueue(previousQueue)" mat-button>
          <mat-icon style="margin-right: 3px">undo</mat-icon>
          <span>Restore Queue</span>
        </button>
      </div>
      <div fxFlex="75" class="dl-download-buttons">
        <button (click)="onCopyQueue(products)" mat-button [disabled]="!areAnyProducts" class="btn-primary">
          Copy Product IDs
          <fa-icon style="margin-left: 5px" [icon]="copyIcon"></fa-icon>
        </button>

        <button mat-button [matMenuTriggerFor]="data" [disabled]="!areAnyProducts" class="btn-primary">
          Data Download
          <mat-icon>arrow_drop_up</mat-icon>
        </button>
        <mat-menu #data="matMenu" yPosition="above">
          <button mat-menu-item (click)="onMakeDownloadScript()">
            Download Python Script (.py)
          </button>
          <button mat-menu-item (click)="onMetalinkDownload()">
            Metadata (metalink)
          </button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="metadata" [disabled]="!areAnyProducts" class="btn-primary">
          Metadata Download
          <mat-icon>arrow_drop_up</mat-icon>
        </button>
        <mat-menu #metadata="matMenu" yPosition="above">
          <button mat-menu-item (click)="onCsvDownload()">
            Metadata (csv)
          </button>

          <button mat-menu-item (click)="onKmlDownload()">
            Metadata (kml)
          </button>

          <button mat-menu-item (click)="onGeojsonDownload()">
            Metadata (geojson)
          </button>
        </mat-menu>
      </div>
    </ng-container>
  </div>
</mat-card>
