<mat-card class="dl-card">
    <mat-card-title-group class="dl-card-title-group">
      <mat-card-title>Download Queue</mat-card-title>
      <mat-card-subtitle>
        {{ numberOfProducts$ | async }} products, {{ (totalSize$ | async) | readableSizeFromBytes }}
      </mat-card-subtitle>
    </mat-card-title-group>

  <mat-card-content class="dl-list-global dl-list">
    <mat-list role="list">
      <ng-container *ngIf="products$ | async as products">
        <mat-list-item
          *ngFor="let product of products"
          role="listitem">
          <div mat-line fxLayout="row" fxFlexFill>
            <div fxFlex="40px">
              <a [href]="product.downloadUrl" matTooltip="Download" target="_blank">
                <mat-icon style="cursor: pointer;">cloud_download</mat-icon>
              </a>
            </div>
            <div fxFlex="auto">
              <span *ngIf="product.id.length > 59">
                {{ product.id | truncate : 40 }}{{ product.id | truncate : -4 : '' }}
              </span>
              <span *ngIf="product.id.length <= 59">
                {{ product.id }}
              </span>
            </div>
            <div fxFlex="40px">
              <mat-icon (click)="onRemoveProduct(product)" style="cursor: pointer;">
                close
              </mat-icon>
            </div>
          </div>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-card-content>

  <div class="dl-card-actions" fxLayout="row"
       fxFlexFill>
    <div fxFlex="25" class="dl-clear-button">
      <ng-container *ngIf="products$ | async as products">
        <button *ngIf="previousQueue === null"
                (click)="onClearQueue(products)" mat-button>
          <mat-icon>delete</mat-icon>
          <span>Clear Queue</span>
        </button>
      </ng-container>

      <button *ngIf="previousQueue !== null"
              (click)="onRestoreQueue(previousQueue)" mat-button>
        <mat-icon style="margin-right: 3px">undo</mat-icon>
        <span>Restore Queue</span>
      </button>
    </div>
    <div fxFlex="75" class="dl-download-buttons">
      <button mat-button [matMenuTriggerFor]="data" [disabled]="!areAnyProducts" class="btn-primary">
        Data Download
        <mat-icon>arrow_drop_up</mat-icon>
      </button>
      <mat-menu #data="matMenu" yPosition="above">
        <button mat-menu-item (click)="onMakeDownloadScript()">
          Download Python Script (.py)
        </button>
        <button mat-menu-item (click)="onMetalinkDownload()">
          Metadata (metalink)
        </button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="metadata" [disabled]="!areAnyProducts" class="btn-primary">
        Metadata Download
        <mat-icon>arrow_drop_up</mat-icon>
      </button>
      <mat-menu #metadata="matMenu" yPosition="above">
        <button mat-menu-item (click)="onCsvDownload()">
          Metadata (csv)
        </button>

        <button mat-menu-item (click)="onKmlDownload()">
          Metadata (kml)
        </button>

        <button mat-menu-item (click)="onGeojsonDownload()">
          Metadata (geojson)
        </button>
      </mat-menu>
    </div>

  </div>


</mat-card>
