.dataset__date {
  font-size: 11px;
}

.dataset__name {
  font: verdana, sans-serif;
  font-size: 16px;
}

.dataset__info {
  transition: all 0.5s;
  animation-timing-function: ease-in;
  margin-left: 5px;
}

.dataset__info:hover {
  color: black;
}

.dataset__subName {
  line-height: 12px;
  font-size: 11px;
  display: block;
  position: relative;
  top: -10px;
}

.subName__adj {
  display: inline-block;
  top: -1px;
  position: relative;
}
