@use 'asf-theme-variables' as *;
@use 'deluxe-menu' as *;
@use 'deluxe-menu-2' as *;

.dataset--layout {
  white-space: normal;
  flex: 7;
}

.dataset--deprecated {
  @include themify($themes) {
    background: lighten(themed('warn'), 20%) !important;
  }
}
.deprecation-notice {
  font-weight: 800;
  @include themify($themes) {
    color: themed('err');
  }
}
.link {
  @include themify($themes) {
    color: themed('blue-link') !important;
  }
  text-decoration: underline;
}

.dataset-aside--layout {
  flex: 3;
  text-align: center;
}

.smaller-font {
  font-size: smaller;
}

.increase-right-margin {
  margin-right: 15px;
}
.disclaimer {
  font-size: large;
  margin-top: 10px;
}
.item-content {
  @include themify($themes) {
    color: themed('dark-primary-text') !important;
  }
  line-height: 18px;
}
.faint-text {
  @include themify_non_host($themes) {
    color: themed('dark-secondary-text');
  }
}
.menu-item-icon {
  img {
    @include themify($themes) {
      filter: themed('inverted-image');
    }
  }
}
