@use 'asf-theme-variables' as *;
@use 'deluxe-menu' as *;
@use 'deluxe-menu-2' as *;

.dataset--layout {
  white-space: normal;
  flex: 7;
}

.dataset-aside--layout {
  flex: 3;
  text-align: center;
}

.smaller-font {
  font-size: smaller;
}

.increase-right-margin {
  margin-right: 15px;
}
.disclaimer {
  font-size: large;
  margin-top: 10px;
}

.search-field {
  width: 80%;
  padding-left: 10%;
  input {
    @include themify($themes) {
      caret-color: themed('light-black');
    }
  }
}
.datasets-wrapper {
  min-height: calc(95vh - 48px);
  max-height: calc(95vh - 48px);
  overflow: auto;
}
.datasets-empty {
  min-width: 100vw;
  margin-left: 35%;
}
