@use "asf-theme";
$mat-theme-ignore-duplication-warnings: true;
@use "deluxe-menu";
@use "deluxe-menu-2";

.dataset--layout {
  white-space: normal;
  flex: 7;
}

.dataset-aside--layout {
  flex: 3;
  text-align: center;
}
