<mat-dialog-content>
  <div class="header">
    <div class="dialog-header" mat-dialog-title>Saved Searches</div>
    <div>
      <mat-icon (click)="onClose()" class="clickable">
        close
      </mat-icon>
    </div>
  </div>

  <mat-list *ngIf="searchType$ | async as searchType">
    <app-saved-search *ngFor="let search of (searches$ | async)"
      [search]="search"
      [searchType]="searchType"
      (updateFilters)="updateSearchFilters($event)"
      (updateName)="updateSearchName($event)"
      (deleteSearch)="deleteSearch($event)"
      (setSearch)="onSetSearch($event)">
    </app-saved-search>
  </mat-list>

  <div class="footer">
    <button (click)="saveCurrentSearch()"
      mat-flat-button style="margin-top: 15px;"
      color="primary">
        Save Search
    </button>
  </div>
</mat-dialog-content>

