<mat-dialog-content>
  <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 15px;">
    <div class="dialog-header" mat-dialog-title>Saved Searches</div>
    <div>
      <mat-icon (click)="onClose()" class="clickable">
        close
      </mat-icon>
    </div>
  </div>

  <div *ngIf="searchType$ | async as searchType">
    <app-saved-search *ngFor="let search of (searches$ | async)"
      [search]="search"
      [searchType]="searchType"
      (updateFilters)="updateSearchFilters($event)"
      (updateName)="updateSearchName($event)"
      (deleteSearch)="deleteSearch($event)">
    </app-saved-search>
  </div>

  <button (click)="saveCurrentSearch()" mat-flat-button style="margin-top: 15px;" color="primary">Save Search</button>
</mat-dialog-content>

