<div class="saved-searches">
  <div class="saved-searches__header">
    <div>
      <div class="saved-searches__title">Saved Searches</div>
      <div class="saved-searches__filter-form">
        <form onsubmit="return false">
          <mat-form-field>
            <input matInput
              [(ngModel)]="searchFilter"
              (change)="onNewFilter($event.target.value)"
              (input)="onNewFilter($event.target.value)"
              (keyup.enter)="unfocusFilter()"
              name="filterSearches"
              placeholder="Filter Searches" #filterInput>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div class="saved-searches__header-actions">
      <mat-icon (click)="onClose()" class="close-icon clickable">
        keyboard_arrow_left
      </mat-icon>

      <button (click)="saveCurrentSearch()"
        mat-flat-button style="margin-bottom: 25px;"
        color="primary">
          Save Search
      </button>
    </div>
  </div>

  <div *ngIf="searchType$ | async as searchType"
    class="saved-searches__content">
    <app-saved-search *ngFor="let search of (searches$ | async)"
      [search]="search"
      [searchType]="searchType"
      [isExpanded]="search.id === expandedSearchId"
      [isNew]="search.id === newSearchId"
      (expand)="onExpandSearch($event)"
      (updateFilters)="updateSearchFilters($event)"
      (updateName)="updateSearchName($event)"
      (deleteSearch)="deleteSearch($event)"
      (setSearch)="onSetSearch($event)">
    </app-saved-search>
  </div>

  <div class="saved-searches__footer">
  </div>
</div>
