<div *ngIf="breakpoint$ | async as breakpoint">

  <div class="menu-button-wrapper" [class.mobile-button-wrapper]="breakpoint === breakpoints.MOBILE">
    <div class="button-label">{{ 'SEARCH TYPE' | translate }}</div>
    <div>
      <button
        [matMenuTriggerFor]="searchTypeMenu" (onMenuOpen)="onSearchTypeMenuOpen()"
        class="button-menu-trigger" color="basic"
        matTooltip="{{ searchType }}"
        mat-button>
        <div class="button-text">
          {{ searchType }}
          <span class="mat-select-arrow"></span>
        </div>
      </button>
      <div class="hr-wrapper"><hr class="text-underline"></div>
    </div>
  </div>

  <div class="gtm-search-type-selector" fxFlex="nogrow">
    <mat-menu #searchTypeMenu="matMenu" [(ngModel)]="searchType" id="searchMenu">
      <div>
        <div id="firstItem" class="menu-item mat-menu-item" aria-selected="true"
             (click)="onSetSearchType(searchTypes.DATASET)">
          <div class="menu-item-inner">
            <div fxFlex="75%" class="menu-item-content">
              <div class="item-title">
                {{'GEOGRAPHIC' | translate}}
              </div>
              <div class="item-content" [ngClass]="{'limitTextHeight': isReadMore}">
                {{'GEOGRAPHIC SEARCH ALLOWS YOU TO SEARCH FOR DATA BASED UPON A GEOGRAPHIC LOCATION' | translate }}
              </div>
              <mat-card-actions>
                <app-docs-modal class="info-text"
                                text="More info"
                                url="https://docs.asf.alaska.edu/vertex/manual/#geographic-search-options">
                </app-docs-modal>
              </mat-card-actions>
            </div>
            <div fxFlex="25%" class="menu-item-aside">
              <span class="material-icons-outlined menu-item-icon">travel_explore</span>
            </div>
          </div>
        </div>

        <hr class="dataset-hr">

        <div class="menu-item mat-menu-item" (click)="onSetSearchType(searchTypes.LIST)">
          <div class="menu-item-inner">
            <div fxFlex="75%" class="menu-item-content">
              <div class="item-title">
                {{'LIST' | translate }}
              </div>
              <div class="item-content" [ngClass]="{'limitTextHeight': isReadMore}">
                {{'LIST SEARCH ALLOWS YOU TO ENTER OR UPLOAD A LIST OF SCENE OR FILE NAMES.' | translate }}
              </div>
              <mat-card-actions (click)="onOpenDocs($event)">
                <app-docs-modal class="info-text"
                                text="More info"
                                url="https://docs.asf.alaska.edu/vertex/manual/#list-search-options">
                </app-docs-modal>
              </mat-card-actions>
            </div>
            <div fxFlex="25%" class="menu-item-aside">
              <span class="material-icons-outlined menu-item-icon">{{'LIST' | translate }}</span>
            </div>
          </div>
        </div>

        <hr class="dataset-hr">

        <div class="menu-item mat-menu-item" (click)="onSetSearchType(searchTypes.BASELINE)">
          <div class="menu-item-inner">
            <div fxFlex="75%" class="menu-item-content">
              <div class="item-title">
                {{'BASELINE' | translate }}
              </div>
              <div class="item-content" [ngClass]="{'limitTextHeight': isReadMore}">
                {{'BASELINE SEARCH PROVIDES VISUALIZATION OF PERPENDICULAR AND TEMPORAL BASELINE DATA FOR A CHOSEN' | translate}}
              </div>
              <mat-card-actions (click)="onOpenDocs($event)">
                <app-docs-modal class="info-text"
                                text="More info"
                                url="https://docs.asf.alaska.edu/vertex/manual/#baseline-search-options">
                </app-docs-modal>
              </mat-card-actions>
            </div>
            <div fxFlex="25%" class="menu-item-aside">
              <img src="assets/icons/baseline-chart.jpg" class="menu-item-icon">
            </div>
          </div>
        </div>

        <hr class="dataset-hr">

        <div class="menu-item mat-menu-item" (click)="onSetSearchType(searchTypes.SBAS)">
          <div class="menu-item-inner">
            <div fxFlex="75%" class="menu-item-content">
              <div class="item-title">
                {{ 'SBAS' | translate }}
              </div>
              <div class="item-content" [ngClass]="{'limitTextHeight': isReadMore}">
                {{'SEARCH PROVIDES PERPENDICULAR AND TEMPORAL BASELINE DATA, AS WELL AS SCENE PAIRS, FOR A CHOSEN' | translate }}
                {{'REFERENCE SCENE.' | translate }}
              </div>
              <mat-card-actions (click)="onOpenDocs($event)">
                <app-docs-modal class="info-text"
                                text="More info"
                                url="https://docs.asf.alaska.edu/vertex/manual/#sbas-search-options">
                </app-docs-modal>
              </mat-card-actions>
            </div>
            <div fxFlex="25%" class="menu-item-aside">
              <img src="assets/icons/sbas-chart.jpg" class="menu-item-icon">
            </div>
          </div>
        </div>

        <hr class="dataset-hr">

        <div class="menu-item mat-menu-item" (click)="onSetSearchType(searchTypes.SARVIEWS_EVENTS)">
          <div class="menu-item-inner">
            <div fxFlex="75%" class="menu-item-content">
              <div class="item-title">
                {{'EVENT' | translate}}
              </div>
              <div class="item-content" [ngClass]="{'limitTextHeight': isReadMore}">
                {{'EVENT SEARCH HARNESSES THE CAPABILITIES OF SAR PROCESSING TO MONITOR NATURAL DISASTERS' | translate }}
              </div>
              <mat-card-actions (click)="onOpenDocs($event)">
                <app-docs-modal class="info-text"
                                text="More info"
                                url="https://docs.asf.alaska.edu/vertex/manual/#event-search-options">
                </app-docs-modal>
              </mat-card-actions>
            </div>
            <div fxFlex="25%" class="menu-item-aside">
              <span class="material-icons-outlined menu-item-icon">{{'VOLCANO' | translate }}</span>
            </div>
          </div>
        </div>

        <hr class="dataset-hr">

        <div class="menu-item mat-menu-item"
          (click)="onSetSearchType(searchTypes.CUSTOM_PRODUCTS)"
          [ngClass]="{'disable-search-type-on-demand' : !isLoggedIn}">
          <div class="menu-item-inner">
            <div fxFlex="75%" class="menu-item-content">
              <div class="item-title">
                {{'ON DEMAND PRODUCTS' | translate}}
                <span class="login-prompt" [ngClass]="{'login-hidden' : isLoggedIn}">
                  {{'SIGN IN TO ACCESS' | translate}}
                </span>
              </div>
              <div class="item-content" [ngClass]="{'limitTextHeight': isReadMore}">
                {{'ON DEMAND SEARCH ALLOWS YOU TO VIEW YOUR SUBMITTED ON DEMAND JOBS.' | translate}}
              </div>
              <mat-card-actions (click)="onOpenDocs($event)">
                <app-docs-modal
                  class="info-text"
                  text="More info"
                  url="https://docs.asf.alaska.edu/vertex/manual/#on-demand-products-search-options">
                </app-docs-modal>
              </mat-card-actions>
            </div>
            <div fxFlex="25%" class="menu-item-aside">
              <img src="assets/asf-logos/HyP3-graphic-only.png" class="menu-item-icon">
            </div>
          </div>
        </div>

        <hr class="dataset-hr">

        <div mat-menu-item class="menu-item mat-menu-item" [matMenuTriggerFor]="derivedDatasetMenu">
          <div class="menu-item-inner">
            <div fxFlex="75%" class="menu-item-content">
              <div class="item-title">
                {{'DERIVED DATASETS' | translate }}
              </div>
              <div class="item-content" [ngClass]="{'limitTextHeight': isReadMore}">
                {{'DERIVED DATASETS CONTAIN A COLLECTION OF DATASETS AVAILABLE TO VIEW AND DOWNLOAD.'| translate }}
              </div>
            </div>
            <div fxFlex="25%" class="menu-item-aside">
              <span class="material-icons-outlined menu-item-icon">dataset_linked</span>
            </div>
          </div>
        </div>
      </div>
    </mat-menu>

    <mat-menu #derivedDatasetMenu="matMenu">
      <div mat-menu-item matSuffix *ngFor="let dataset of datasets; last as isLast"
      (click)="onOpenDerivedDataset(dataset.info_url, dataset.name); $event.stopPropagation();">
        <div class="menu-item">
          <div class="menu-item-inner">
            <div fxFlex="75%" class="menu-item-content">
              <div class="item-title" (click)="onOpenDerivedDataset(dataset.info_url, dataset.name)">
                {{ dataset.name }}
              </div>
              <div class="item-content" [ngClass]="{'limitTextHeight': isReadMore}">
                {{ dataset.info }}
              </div>
              <mat-card-actions>
                <button class="blue-link" (click)="onOpenDerivedDataset(dataset.info_url, dataset.name)" mat-button>More Info</button>
                <button class="blue-link" (click)="onOpenDerivedDataset(dataset.download_url, dataset.name)" mat-button>Download</button>
              </mat-card-actions>
            </div>
            <div fxFlex="25%" class="menu-item-aside">
              <img [src]="dataset.picture" (click)="onOpenDerivedDataset(dataset.info_url, dataset.name)" class="menu-item-icon">
            </div>
          </div>
        </div>
        <hr *ngIf="!isLast" class="dataset-hr">
      </div>
    </mat-menu>

  </div>
</div>

