@import url("asf-theme");
@import url("deluxe-menu");
@import url("deluxe-menu-2");

.description-layout {
  display: flex;
}

.menu-item-icon {
  @include themify($themes) {
    color: themed("dark-primary-text");
  }

  @include md-icon-size(70px);

  margin-right: 0;
}

.dataset-hr {
  padding: 0;
}

.mat-menu-item {
  padding: 0;
}

//.menu-item {
//  display: flex;
//  margin: 5px 5px 5px 15px;
//  //margin: 16px 16px 0 26px;
//}

.mat-card-actions {
  padding: 0;
  margin: 0;
}

.mat-button {
  @include themify($themes) {
    color: themed("blue-link");
  }

  font-weight: 400;
  font-style: italic;
}

.limitTextHeight {
  height: 37px;
  overflow: hidden;
}

.formField {
  flex: 130px;
}

.selectOptions {
  width: 230px;
}

.option-description {
  text-wrap: normal;
}

.matOption {
  height: auto !important;
}

.button-label {
  @include themify($themes) {
    color: themed("dark-secondary-text");
  }

  font-size: 14px;
  font-weight: 400;
  transform:
    translateY(-1.2812em)
    scale(0.75)
    perspective(100px)
    tranlatez(0.0011px);
}

.button-menu-trigger {
  padding: 0;
}

.button-text {
  @include themify($themes) {
    color: themed("dark-primary-text");
  }

  font-size: 16px;
  font-weight: 400;
  text-align: left;
  font-style: normal;
  padding: 0;
  margin: 0;
  line-height: 29px;
}

.menu-button-wrapper {
  display: block;
}

.hr-wrapper {
  height: 1px;
  transform: matrix(1, 0, 0, 1.0001, 0, 0);
}

.text-underline {
  border: none;
  height: 1px;
  color: rgb(0 0 0 / 42%); /* old IE */
  background-color: rgb(0 0 0 / 42%); /* Modern Browsers */
}

.mat-select-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 4px 3px 10px;
  display: inline-flex;
}

.info-text {
  font-style: italic;
  font-size: 14px;
}

.item-title {
  font-weight: bold;
}

.mobile-search-item {
  margin: 0;
  padding: 3px 10px;
  height: 40px;
  line-height: 30px;
}

.blue-link {
  @include themify_non_host($themes) {
    color: themed("blue-link");
  }
  // color: $uaf-primary-blue;
}

.mobile-button-wrapper {
  transform: scale(0.82);
  margin-top: -6px;
}

::ng-deep.mat-menu-submenu-icon {
  visibility: hidden;
}

.disable-search-type-on-demand {
  pointer-events: none;

  .item-title,
  .item-content {
    opacity: 0.5;
  }

  mat-card-actions {
    pointer-events: auto;
    opacity: 1 !important;
  }
}

.login-prompt {
  font-style: italic;
}

.login-hidden {
  display: none;
}
