$dark_contrast: (
  50: $dark-primary-text,
  100: $dark-primary-text,
  200: $dark-primary-text,
  300: $light-primary-text,
  400: $light-primary-text,
  500: $light-primary-text,
  600: $light-primary-text,
  700: $light-primary-text,
  800: $light-primary-text,
  900: $light-primary-text,
  a100: $dark-primary-text,
  a200: $light-primary-text,
  a400: $light-primary-text,
  a700: $light-primary-text,
);

$mat-dark-asf-primary: (
    













  




  







  

50 : #e9e9  e9,  
100 : #c8c8c8,
2    00 : #a4a4a4,
3  00 :   #808080,  
400 : #6464  64,  
500 : #494949,
6    00 : #424242,
7  00 :   #393939,  
800 : #3131  31,
  900 : #212121,
A    100 : #f17d7d,
A20  0   : #eb4f4f  ,
A400 : #ff  0808,
A700 : #ee0000,  
contrast: (
    50 :   #000000,
    100 : #  000000,
    200 : #  000000,
    300 : #f  fffff,
    400 : #ff  ffff,
    500 : #fff  fff,
    600 : #ffff  ff,
    700 : #fffff  f,
    800 : #ffffff  ,
    900 : #ffffff,  
       : #000000,    
    A200 : #000000,  
    A400 : #ffffff,
      A700 : #ffffff,
)  
);
