$dark_contrast: (
  50: $dark-primary-text,
  100: $dark-primary-text,
  200: $dark-primary-text,
  300: $light-primary-text,
  400: $light-primary-text,
  500: $light-primary-text,
  600: $light-primary-text,
  700: $light-primary-text,
  800: $light-primary-text,
  900: $light-primary-text,
  a100: $dark-primary-text,
  a200: $light-primary-text,
  a400: $light-primary-text,
  a700: $light-primary-text,
);

$mat-dark-asf-primary: (
// 50 : #e0e0e0,
// 100 : #b3b3b3,
// 200 : #808080,
// 300 : #4d4d4d,
// 400 : #262626,
// 500 : #000000,
// 600 : #000000,
// 700 : #000000,
// 800 : #000000,
// 900 : #000000,
// A100 : #a6a6a6,
// A200 : #8c8c8c,
// A400 : #737373,
// A700 : #666666,

// 50 : #ececec,
// 100 : #cfcfcf,
// 200 : #b0b0b0,
// 300 : #909090,
// 400 : #787878,
// 500 : #606060,
// 600 : #585858,
// 700 : #4e4e4e,
// 800 : #444444,
// 900 : #333333,
// A100 : #f39595,
// A200 : #ee6868,
// A400 : #ff2424,
// A700 : #ff0a0a,
50 : #e9e9e9,
100 : #c8c8c8,
200 : #a4a4a4,
300 : #808080,
400 : #646464,
500 : #494949,
600 : #424242,
700 : #393939,
800 : #313131,
900 : #212121,
A100 : #f17d7d,
A200 : #eb4f4f,
A400 : #ff0808,
A700 : #ee0000,
contrast: (
    50 : #000,
    100 : #000,
    200 : #000,
    300 : #fff,
    400 : #fff,
    500 : #fff,
    600 : #fff,
    700 : #fff,
    800 : #fff,
    900 : #fff,
    A100 : #000,
    A200 : #000,
    A400 : #fff,
    A700 : #fff,
)
);
