// variables

$uaf-primary-blue: #236192;
$uaf-primary-yellow: #ffcd00;
$uaf-primary-white: #fff;

$uaf-neutrals-1: #efdbb2;
$uaf-neutrals-2: #c7c9c7;
$uaf-neutrals-3: #d7d2cb;

$uaf-accent-4: #65665c;
