@import url("asf-theme");

$side-padding-px: 15px;
$side-padding-only: 0 $side-padding-px 0 $side-padding-px;
$header-color: $asf-blue;
$border-color: lightgray;
$border-style: 1px solid $border-color;
$img-border-style: 1px solid black;

.help-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0;
}

.help-top-section {
  @include themify($themes) {
    background-color: lighten(themed("primary-light"), 15%) !important;
  }
  // background-color: $top-background-color;
  padding: 0 $side-padding-px 25px $side-padding-px;
  margin: 0;
}

.help-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h1,
  h2,
  h3,
  h4 {
    @include themify($themes) {
      color: themed("light-primary-text");
    }
  }
}

.help-video {
  display: flex;
  height: 525px;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  background-image: url("/assets/help-media/common/sar_search_background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.videoWrapper {
  width: 560px;
  margin: 100px auto;
}

.videoWrapper iframe {
  //position: absolute;
  border: $img-border-style;
}

.video-text-line {
  border-bottom: $border-style;
  width: 100%;
  margin: 0;
}

.help-rows {
  margin: $side-padding-only;
}

.help-text-row {
  @include themify($themes) {
    color: themed("dark-primary-text");
  }

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: $border-style;
  padding-bottom: 10px;
  padding-top: 10px;
}

.help-text-row:last-child { border: none; }

.help-icon {
  flex: 7 0 0;

  .material-icons {
    @include themify($themes) {
      color: themed("primary-light");
    }

    font-size: 53px;
    width: 54px;
    height: 53px;
  }
}

.help-text-block {
  flex: 50 0 0;
  margin-right: 10px;

  p {
    margin-block-start: 0.3em;
  }
}

.help-graphic {
  flex: 43 0 0;

  img {
    border: $img-border-style;
    max-width: 100%;
  }
}

.help-step {
  @include themify($themes) {
    color: themed("blue-link");
  }
  //color: $header-color;
  font-weight: bold;
  font-size: larger;
}
