@use '@angular/material' as mat;
@use "sass:color";
@use "variables";
@use "dark_variables";


$asf-app-primary: mat.m2-define-palette(variables.$mat-asf-primary, 700, 400, 900);
$asf-app-dark-primary: mat.m2-define-palette(dark_variables.$mat-dark-asf-primary, 700, 400, 900);

$asf-app-accent:  mat.m2-define-palette(mat.$m2-grey-palette, 300, 100, 400);
$asf-app-blue:  mat.m2-define-palette(variables.$mat-asf-blue, 700, 400, 900);

// The warn palette is optional (defaults to red).
$asf-app-warn:    mat.m2-define-palette(variables.$mat-asf-yellow, 200, 100, 500);
$asf-app-err: mat.m2-define-palette(variables.$mat-asf-red, 200, 100, 500);
// Create the theme object (a Sass map containing all of the palettes).

// Create your Sass color vars (will be available in all the project)
$asf-warn: mat.m2-get-color-from-palette($asf-app-warn);
$asf-err: mat.m2-get-color-from-palette($asf-app-err);
$asf-blue: mat.m2-get-color-from-palette($asf-app-blue);

$asf-primary: mat.m2-get-color-from-palette($asf-app-primary);
$asf-dark-primary: mat.m2-get-color-from-palette($asf-app-dark-primary);
$asf-accent: mat.m2-get-color-from-palette($asf-app-accent);
$asf-primary-light: color.adjust($asf-primary, $lightness: 40%);
$asf-primary-dark: color.adjust($asf-primary, $lightness: -15%);
$asf-background-white: color.adjust($asf-primary, $lightness: 80%);

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));
}

@mixin md-icon-size($size: 24px) {
  // color: $dark-primary-text;
  font-size: $size !important;
  height: $size !important;
  width: $size !important;
}
