@use "sass:color";
@use "asf-theme";

hr {
  @include asf-theme.themify(asf-theme.$themes) {
    $color: asf-theme.themed('primary-light');
    $color2: color.adjust($color, $alpha: 0.2);
    border-top-color: $color2;
  }
  margin-block: 0;
}

.spacing {
  margin-left: 0;
  line-height: inherit !important;
  vertical-align: middle;
}

.nav-icon-buttons {
  top: -3px;
}

.text-under {
  margin-left: 0;
  font-weight: 400;
}

.large-icon {
  @include asf-theme.md-icon-size(30px);
  min-height: 30px;
  margin-right: 0;
  @include asf-theme.themify(asf-theme.$themes) {
    $color: asf-theme.themed('dark-primary-text');
    color: $color;
  }
}

.mat-mdc-icon-button {
  height: 36px;
  line-height: 36px;
  min-width: 60px;
}
.mat-mdc-list-item {
  @include asf-theme.themify(asf-theme.$themes) {
    $color: asf-theme.themed('dark-primary-text');
    color: $color;
  }
}
.menu-hr {
  @include asf-theme.themify(asf-theme.$themes) {
    color: asf-theme.themed('dark-primary-text');
    background-color: asf-theme.themed('primary-dark');
  }
  background-image: none;
  border: none;
  height: 1px;
  opacity: 1;
}

.mobile-icon-spacing {
  margin: 0 5px;
}

::ng-deep.mat-mdc-menu-panel {
  max-width: 600px;
}

.mat-mdc-menu-item {
  @include asf-theme.themify(asf-theme.$themes) {
    $color: asf-theme.themed('background-white');
    background-color: $color !important;
  }
  font-weight: 400;
  height: auto;
}

.disabled {
  opacity: 20%;
}

.menu-item {
  //display: flex !important;
  flex-flow: row;
  margin: 10px;
}

.menu-item-content {
  white-space: normal;
  flex: 7;
}

.item-content {
  @include asf-theme.themify(asf-theme.$themes) {
    $color: asf-theme.themed('blue-link');
    color: $color !important;
  }
  line-height: 18px;
}

.item-title {
  @include asf-theme.themify_non_host(asf-theme.$themes) {
    $color: asf-theme.themed('dark-primary-text');
    color: $color;
  }
  line-height: 22px;
  font-size: 18px;
  margin-bottom: 12px;
}

.menu-item-aside {
  flex: 3;
  text-align: center;
  align-items: center;
}

.menu-item-icon {
  @include asf-theme.md-icon-size(65px);

  margin-right: 0;
  @include asf-theme.themify_non_host(asf-theme.$themes) {
    $color: asf-theme.themed('dark-primary-text');
    color: $color;
  }
}

.dataset-date-range {
  @include asf-theme.themify_non_host(asf-theme.$themes) {
    $color: asf-theme.themed('dark-disabled-text');
   color: $color !important;
  }
}
