hr {
  @include themify($themes) {
    border-top-color: rgba(themed('primary-light'), 0.2);
  }
  margin-block: 0;
}

.spacing {
  margin-left: 0;
  line-height: inherit !important;
  vertical-align: middle;
}

.nav-icon-buttons {
  top: -6px;
}

.text-under {
  margin-left: 0;
  font-weight: 400;
}

.large-icon {
  @include md-icon-size(30px);

  margin-right: 0;
  @include themify($themes) {
    color: themed('primary-dark');
  }
}

.mat-icon-button {
  height: 36px;
  line-height: 36px;
  min-width: 60px;
}
.mat-list-item {
  @include themify($themes) {
    color: themed('dark-primary-text');
  }
}
.menu-hr {
  @include themify($themes) {
    color: themed('dark-primary-text');
    background-color: themed('primary-dark');
  }
  background-image: none;
  border: none;
  height: 1px;
  opacity: 1;
}

.mobile-icon-spacing {
  margin: 0 5px;
}

::ng-deep.mat-menu-panel {
  max-width: 600px;
}

.mat-menu-item {
  font-weight: 400;
  height: auto;
}

.disabled {
  opacity: 20%;
}

.menu-item {
  //display: flex !important;
  flex-flow: row;
  margin: 10px;
}

.menu-item-content {
  white-space: normal;
  flex: 7;
}

.item-content {
  @include themify($themes) {
    color: themed('blue-link') !important;
  }
  line-height: 18px;
}

.item-title {
  @include themify_non_host($themes) {
    color: themed('dark-primary-text');
  }
  line-height: 22px;
  font-size: 18px;
  margin-bottom: 12px;
}

.menu-item-aside {
  flex: 3;
  text-align: center;
  align-items: center;
}

.menu-item-icon {
  @include md-icon-size(65px);

  margin-right: 0;
  @include themify_non_host($themes) {
    color: themed('dark-primary-text');
  }
}

.dataset-date-range {
  @include themify_non_host($themes) {
   color: themed('dark-disabled-text') !important;
  }
}