hr {
  border-top-color: rgba($asf-primary-light, 0.2);
  margin-block: 0;
}

.spacing {
  margin-left: 0;
  line-height: inherit !important;
  vertical-align: middle;
}

.nav-icon-buttons {
  top: -6px;
}

.text-under {
  margin-left: 0;
  font-weight: 400;
}

.large-icon {
  @include md-icon-size(30px);

  margin-right: 0;
  color: $asf-primary-dark;
}

.mat-icon-button {
  height: 36px;
  line-height: 36px;
  min-width: 60px;
}

.menu-hr {
  color: $asf-primary-dark;
  background-color: $asf-primary-dark;
  background-image: none;
  border: none;
  height: 1px;
  opacity: 1;
}

.mobile-icon-spacing {
  margin: 0 5px;
}

::ng-deep.mat-menu-panel {
  max-width: 600px;
}

.mat-menu-item {
  font-weight: 400;
  height: auto;
}

.disabled {
  opacity: 20%;
}

.menu-item {
  //display: flex !important;
  flex-flow: row;
  margin: 10px;
}

.menu-item-content {
  white-space: normal;
  flex: 7;
}

.item-content {
  color: $asf-primary;
  line-height: 18px;
}

.item-title {
  color: $asf-primary-dark;
  line-height: 22px;
  font-size: 18px;
  margin-bottom: 12px;
}

.menu-item-aside {
  flex: 3;
  text-align: center;
  align-items: center;
}

.menu-item-icon {
  @include md-icon-size(65px);

  margin-right: 0;
  color: $asf-primary-dark;
}
