@use "@angular/material" as mat;

// Create a config with the default typography levels.
$config: mat.define-typography-config();

.mat-header-base {
  background-color: $asf-primary-light !important;
  color: $asf-primary-dark;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0.5px;
  border-color: $asf-primary;
  border-style: solid;
}

.mat-expansion-panel-header,
.mat-expansion-panel-header.mat-expanded {
  @extend .mat-header-base;

  &:hover,
  &:visited,
  &:link,
  &:active,
  &:focus,
  &[aria-disabled="true"] {
    @extend .mat-header-base;
  }
}

.mat-expansion-panel-header-title {
  color: white;
  font-size: mat.font-size($config, subheading-2);
}

.mat-expansion-panel-header-description {
  color: white;
}
