@use "./asf-theme" as *;

.image-dialog {
  margin: 0;
  padding: 0;

  .mat-mdc-dialog-container {
    @include themify_non_host($themes) {
      // background-color: themed('primary-light');
    }
    padding-bottom: 0;
    padding-top: 11px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
