@use "./asf-theme" as *;

.primary-text {
  @include themify_non_host($themes) {
    color: themed("dark-primary-text");
  }
}

.faint-text {
  @include themify_non_host($themes) {
    color: themed("dark-secondary-text");
  }
}

.fainter-text {
  @include themify_non_host($themes) {
    color: themed("dark-disabled-text");
  }
}
