@use "./asf-theme" as *;

#toast-container {
  position: relative;
  top: 140px;
  right: 10px;
  float: right;
  z-index: 9999; // Higher than dialog overlay (2000) to appear above download queue
}

.toast.success,
#toast-container > .toast-success {
  color: $asf-background-white;
  background-color: $asf-blue;
  background-image: url("/assets/icons/check_circle_white_48dp.svg");
  box-shadow: none;

  .toast-close-button,
  #toast-container > .toast-close-button {
    color: $asf-background-white;
  }

  a {
    color: yellow;
  }
}

.toast-error,
#toast-container > .toast-error {
  color: $asf-background-white;
  background-color: red;
  background-image: url("/assets/icons/error_white_48dp.svg");
  box-shadow: none;

  .toast-message {
    color: antiquewhite;
  }

  .toast-close-button,
  #toast-container > .toast-close-button {
    color: $asf-background-white;
  }

  a {
    color: orange;
  }
}

.toast-info,
#toast-container > .toast-info {
  background-image: url("/assets/icons/info_black_48dp.svg");

  @include themify_non_host($themes) {
    box-shadow: 0 0 12px themed("primary");

    background-color: themed("background-white");
    color: themed("dark-primary-text");
    .toast-message {
      color: themed("dark-secondary-text");
    }
  }

  a {
    @include themify_non_host($themes) {
      color: themed("blue-link");
    }
  }
}

.toast-warning,
#toast-container > .toast-warning {
  color: $asf-primary-dark;
  background-color: $asf-warn;
  background-image: url("/assets/icons/warning_black_48dp.svg") !important;

  a {
    color: orangered;
  }
}

.toast-close-button,
#toast-container > .toast-close-button {
  @include themify_non_host($themes) {
    color: themed("dark-primary-text");
  }
}

#toast-container > .pinkToast.toast-info {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999;
  color: white;
  background-color: pink;
}

.toast-message a,
.toast-message label {
  color: $asf-primary;
}

.toast-message a:hover {
  color: $asf-blue;
  text-decoration: underline;
}
