@use "asf-theme-variables" as *;

.results-pane {
  min-height: 0;
}

.rectangle-wrapper {
  @include themify($themes) {
    background: themed('background-white');
  }

  display: flex;
  position: fixed;
}

#result-div {
  z-index: 0;

  @include themify($themes) {
    background-color: themed('primary-light');
  }

  display: flex;
  flex-direction: column;
}

.results-menu--layout {
  display: flex;
}

.no-results {
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.mobile-menu-offset {
  position: relative;
  bottom: 100px;
  z-index: 2000;
}

.mobile-displacement-menu-offset {
  bottom: 0;
  z-index: 2000;
}

.displacement-results {
  min-height: 425px;
}

.desktop-menu-offset {
  z-index: 2000;
  bottom: 0;
}

.results-menu--background {
  pointer-events: auto;
}

.header {
  height: 30px;
  min-height: 30px;
  margin-bottom: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;

  @include themify($themes) {
    background-color: themed('primary-light');
    color: themed('dark-primary-text');
  }

  border-left: none;
}

.app-scene-list {
  height: 100%;
  width: 100%;
}

.small-size {
  height: calc(100% - 24px);
}

.mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}

.no-left-border {
  box-shadow: none !important;
  border-left: none;
}

.left-border {
  box-shadow: none !important;

  @include themify($themes) {
    border-left: themed('primary-light') 1px solid;
  }
}

.no-box-shadow {
  border-bottom: none !important;
  box-shadow: none !important;
}

.scroll-y {
  overflow-y: auto;
}

.scroll-x {
  overflow-x: auto;
}

.resize-min,
.resize-max {
  flex: 0 0 40px;
  cursor: pointer;
  text-align: center;
  z-index: 10;
}

.resize-handle-filler {
  width: 56px;
  height: 25px;
  z-index: 9;

  // background-image: url("/assets/div-handles/hgrip.svg");
  @include themify($themes) {
    background-color: themed('primary-light');
  }

  background-position: center;
  background-repeat: no-repeat;
  cursor: ns-resize;
  display: grid;
  place-content: center;
}

.hgrip-icon {
  @include themify($themes) {
    stroke: themed('dark-primary-text');
  }

  width: 33px;
}

.resize-spacer {
  width: 64px;
  display: inline-block;
}

.min-max-controls {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 20px;
  height: 35px;
  z-index: 9;
}

.resize-controls {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25px;
  z-index: 9;
}

.mobile {
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
}

.feedback-link {
  margin-left: 10px;

  a {
    text-decoration: none;

    @include themify($themes) {
      color: themed('dark-primary-text');
    }
  }
}

.results-pane {
  justify-content: center;
}

.no-products-actions {
  display: flex;
  flex-direction: column;
}

.no-jobs-message {
  margin-bottom: 14px;
}

.action-link-spacing {
  margin-bottom: 5px;
}

.mat-mdc-card-content {
  padding: 0;
}

.mobile-displacement-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  bottom: 0;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
