@import "asf-theme";

.rectangle-wrapper {
  position: fixed;
  bottom: 0;
}

.no-results {
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.mobile-menu-offset {
  bottom: 90px;
}

.results-menu--background {
  background: rgba(238, 238, 238, 0.7);
  background: white;
  pointer-events: auto;
}

.results-menu {
  margin-top: -16px;
}

.header {
  height: 30px;
  margin-bottom: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  background-color: $asf-primary-light;
  color: $asf-primary-dark;
  border-left: none;
}

.app-scene-list {
  height: calc(100% - 36px);
  width: 100%;
}

.mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}

//.resize-handle-top {
//  position: absolute;
//  height: 16px;
//  cursor: row-resize;
//  background-image: url('/assets/div-handles/hsizegrip.png');
//  background-color: $asf-primary-light;
//  background-position: center; /* Center the image */
//  background-repeat: no-repeat; /* Do not repeat the image */
//  text-align: center;
//  top: -15px;
//  width: 45px;
//  z-index: 9;
//  display: inline-block;
//}

.resize-handle-bottom {
  bottom: 0;
}

.resize-handle-left,
.resize-handle-right {
  position: absolute;
  height: 100%;
  cursor: col-resize;
  width: 14px;
  background-image: url('/assets/div-handles/vsizegrip.png');
  background-color: $asf-primary-light;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.resize-handle-left {
  left: 0;
}

.resize-handle-right {
  right: 0;
}

.no-left-border {
  box-shadow: none !important;
  border-left: none;
}

.left-border {
  box-shadow: none !important;
  border-left: lightgrey 1px solid;
}

.no-box-shadow {
  border-bottom: none !important;
  box-shadow: none !important;
}

.scroll-y {
  overflow-y: auto;
}

.scroll-x {
  overflow-x: auto;
}

.resize-min,
.resize-max {
  flex: 0 0 25px;
  cursor: pointer;
  text-align: center;
  margin-top: -25px;
  z-index: 9;
}

.resize-handle-filler {
  cursor: row-resize;
  width: 75px;
  height: 16px;
  margin-top: -19px;
  z-index: 9;
  background-image: url('/assets/div-handles/hsizegrip.png');
  background-color: $asf-primary-light;
  background-position: center;
  background-repeat: no-repeat;
}

.resize-spacer {
  width: 64px;
  display: inline-block;
}

.min-max-controls {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 0;
  padding-top: 21px;
  background-color: $asf-primary-light;
}

.mobile {
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
}

.feedback-link {
  margin-left: 10px;

  a {
    text-decoration: none;
    color: $asf-primary;
  }
}

.no-products-actions {
  display: flex;
  flex-direction: column;
}
