@import "asf-theme";

.rectangle-wrapper {
  position: fixed;
}

.no-results {
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.mobile-menu-offset {
  bottom: 117px;
}

.desktop-menu-offset {
  bottom: 20px;
}

.results-menu--background {
  background: rgba(238, 238, 238, 0.7);
  background: white;
  pointer-events: auto;
}

.header {
  height: 30px;
  margin-bottom: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  background-color: $asf-primary-light;
  color: $asf-primary-dark;
  border-left: none;
}

.app-scene-list {
  height: calc(100% - 36px);
  //height: calc(100% - 36px);
  width: 100%;
}

.small-size {
  height: calc(100% - 24px);
}

.mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}

.no-left-border {
  box-shadow: none !important;
  border-left: none;
}

.left-border {
  box-shadow: none !important;
  border-left: lightgrey 1px solid;
}

.no-box-shadow {
  border-bottom: none !important;
  box-shadow: none !important;
}

.scroll-y {
  overflow-y: auto;
}

.scroll-x {
  overflow-x: auto;
}

.resize-min,
.resize-max {
  flex: 0 0 40px;
  cursor: pointer;
  text-align: center;
  z-index: 10;
}

.resize-handle-filler {
  width: 56px;
  height: 25px;
  z-index: 9;
  background-image: url('/assets/div-handles/hsizegrip.png');
  background-color: $asf-primary-light;
  background-position: center;
  background-repeat: no-repeat;
}

.resize-spacer {
  width: 64px;
  display: inline-block;
}

.min-max-controls {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 20px;
  height: 35px;
  z-index: 9;
}

.resize-controls {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25px;
  background-color: $asf-primary-light;
  z-index: 9;
}

.mobile {
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
}

.feedback-link {
  margin-left: 10px;

  a {
    text-decoration: none;
    color: $asf-primary;
  }
}

.no-products-actions {
  display: flex;
  flex-direction: column;
}
