@import "asf-theme";

.results-menu--background {
  background: rgba(238, 238, 238, 0.7);
  background: white;
  pointer-events: auto;
}

.header {
  height: 30px;
  padding-top: 6px;
  margin-bottom: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  background-color: $asf-primary-light;
  color: $asf-primary-dark;
}

.app-scene-list {
  height: calc(100% - 36px);
}

.mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}

.rectangle-wrapper {
  position: fixed;
  bottom: 0;
}

.resize-handle-top,
.resize-handle-bottom {
  position: absolute;
  height: 25px;
  cursor: row-resize;
  width: 100%;
  background-image: url('/assets/div-handles/hsizegrip.png');
  background-color: $asf-primary-light;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.resize-handle-top {
  top: -24px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

.resize-handle-bottom {
  bottom: 0;
}

.resize-handle-left,
.resize-handle-right {
  position: absolute;
  height: 100%;
  cursor: col-resize;
  width: 14px;
  background-image: url('/assets/div-handles/vsizegrip.png');
  background-color: $asf-primary-light;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.resize-handle-left {
  left: 0;
}

.resize-handle-right {
  right: 0;
}

.left-border-only {
  box-shadow: none !important;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.no-box-shadow {
  border-bottom: none !important;
  box-shadow: none !important;
}

#result-div {
  height: 50vh;
}
