<div class="ts-chart-details">
  <div class="ts-best-fit-nav">
    <button mat-flat-button (click)="onButtonClickPlus()" class="ts-best-fit-nav">
      <span class="material-symbols-outlined">
        arrow_forward_ios
      </span>
    </button>
  </div>
  <div class="ts-best-fit-formulas">
    <cdk-virtual-scroll-viewport
      orientation="horizontal"
      itemSize="50"
      minBufferPx="200"
      maxBufferPx="400"
      class="ts-best-fit-viewport">
       <div *cdkVirtualFor="let item of items" class="ts-best-fit-item">Series {{item}}</div>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="ts-best-fit-nav">
    <button mat-flat-button (click)="onButtonClickMinus()">
      <span class="material-symbols-outlined">
        arrow_back_ios
      </span>
    </button>
  </div>
</div>

<div #tsChartWrapper class="chart-wrapper" (resized)="onResized()">
<!--  <div *ngIf="hoveredData" class="chart-details">-->
<!--    Series: {{hoveredData?.seriesNumber}},&nbsp;&nbsp;{{tooltipDateFormat(hoveredDate)}},&nbsp;&nbsp;{{hoveredData?.short_wavelength_displacement.toFixed(2)}} meters<br>-->
<!--    Best Fit: y = ax + b-->
<!--  </div>-->
	<div #timeseriesChart id="timeseriesChart" [contextMenuTriggerFor]="menu" [contextMenuTriggerData]="{'tooltipData': hoveredData}">
	</div>
	<app-chart-modal class="ts-chart-config-button" (resetReferenceEvent)="resetBasePoint()"></app-chart-modal>
	<app-timeseries-chart-zoom class="ts-chart-zoom" (zoomInEvent)="onZoomIn()" (zoomOutEvent)="onZoomOut()"
		(zoomToFitEvent)="onZoomToFit()"></app-timeseries-chart-zoom>

	@if(isLoading){
	<div class="disp-spinner">
		<mat-spinner></mat-spinner>
	</div>
	}
	<mat-menu #menu="matMenu">
		<ng-template matMenuContent let-tooltipData="tooltipData">
			<button mat-button (click)="setReference(tooltipData)">Set as Reference</button>

		</ng-template>
	</mat-menu>
</div>
