
<div #tsChartWrapper class="chart-wrapper" (resized)="onResized()">
	<div style="width: 100%; height:100%;">
		<div #timeseriesChart id="timeseriesChart" >
		<app-chart-modal class="ts-chart-config-button"></app-chart-modal>
		<app-timeseries-chart-zoom class="ts-chart-zoom"
		(zoomInEvent)="onZoomIn()"
		(zoomOutEvent)="onZoomOut()"
		(zoomToFitEvent)="onZoomToFit()"
	  ></app-timeseries-chart-zoom>

		</div>
		@if(isLoading){
			<div class="disp-spinner">
				<mat-spinner></mat-spinner>
			</div>
		}
	</div>
	<div #timeseriesChart id="timeseriesChart"></div>

</div>
