@import "asf-theme";

.chart-wrapper {
  height: 90%;
  width: 100%;
  display: flex;
}

#timeseriesChart {
  height: 100%;
  width: 100%;
}

.chart-details {
  position: absolute;
  margin-top: 15px;
  margin-left: 70px;
  padding: 5px;
  color: #65665c;
  font-size: 14px;
  font-style: italic;
  background-color: #f5f5f5;
}

::ng-deep .timeseries-base {
  @include themify($themes) {
    fill: themed('blue-link');
  }
}

::ng-deep .baseline-selected {
  @include themify($themes) {
    fill: themed('err');
  }
}


::ng-deep .ts-chart-label {
  @include themify($themes) {
    fill: themed('dark-primary-text');
    overflow-x: visible;
    font-size: 14px;
  }
}

.ts-chart-config-button {
  position: absolute;
  top: 18px;
  right: 65px;
}

::ng-deep .loading-rect {
	@include themify($themes) {
	  fill: themed('dark-secondary-text');
	}
	fill-opacity: 40%;
}
.disp-spinner {
    position: absolute;
    top: 24%;
    left: 48%;
}
.ts-chart-zoom {
  position: absolute;
  top: 17px;
  right: 95px;
}
:host ::ng-deep .ts-reference-point {
  fill: red !important;
}
