@import "asf-theme";


#timeseriesChart {
  height: 100%;
  width: 100%;
}

.chart-wrapper {
  height: 100%;
  width: 100%;
}

::ng-deep .timeseries-base {
@include themify($themes) {
	fill: themed('blue-link');
  }
}

::ng-deep .baseline-selected {
@include themify($themes) {
	fill: themed('err');
  }
}


::ng-deep .disp-label {
	@include themify($themes) {
	  fill: themed('dark-primary-text');
	  overflow-x: visible;
	}
}
