<div #tsChartWrapper class="chart-wrapper" (resized)="onResized()">
  <div *ngIf="hoveredData" class="chart-details">
    Series: {{hoveredData?.seriesNumber}},&nbsp;&nbsp;{{tooltipDateFormat(hoveredDate)}},&nbsp;&nbsp;{{hoveredData?.short_wavelength_displacement.toFixed(2)}} meters<br>
    Best Fit: y = ax + b
  </div>
	<div #timeseriesChart id="timeseriesChart" [contextMenuTriggerFor]="menu" [contextMenuTriggerData]="{'tooltipData': hoveredData}">
	</div>
	<app-chart-modal class="ts-chart-config-button" (resetReferenceEvent)="resetBasePoint()"></app-chart-modal>
	<app-timeseries-chart-zoom class="ts-chart-zoom" (zoomInEvent)="onZoomIn()" (zoomOutEvent)="onZoomOut()"
		(zoomToFitEvent)="onZoomToFit()"></app-timeseries-chart-zoom>

	@if(isLoading){
	<div class="disp-spinner">
		<mat-spinner></mat-spinner>
	</div>
	}
	<mat-menu #menu="matMenu">
		<ng-template matMenuContent let-tooltipData="tooltipData">
			<button mat-button (click)="setReference(tooltipData)">Set as Reference</button>

		</ng-template>
	</mat-menu>
</div>
