@use "@angular/material" as mat;
@use "asf-theme-variables" as *;
@use "tokens" as *;
// $config: mat.define-legacy-typography-config();

.mat-button-toggle-button {
    border: 0;
    background: none;
    color: inherit;
    padding: 0;
    margin: 0;
    font: inherit;
    outline: none;
    width: 100%;
    cursor: pointer;
}

.ts-criteria-button-toggle-group {
    flex: 0 1 149px !important;
    margin-top: spacing(xs);
}

.ts-criteria-button-toggle {
    background-color: var(--asf-surface) !important;
    font-size: 14px;
}

.mdc-fab--mini {
  width: 25px;
  height: 20px;
  text-align: center;
  padding-top: spacing(sm);
  border-radius: 4px !important;
}

.settings-icon {
  color: var(--asf-dark-primary-text) !important;
  font-size: 16px !important;
  margin-left: 0;
}

.toggle-group-wrapper--layout {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: stretch center;
    align-items: stretch;
}

.chart-config-menu-panel {
    padding-left: spacing(md);
    padding-right: spacing(md);
}
