.breadcrumb-filter {
    max-width: 670px;
    min-width: 500px;
    height: auto;
    position: fixed;
    top: 100px;
    z-index: 1;
    margin: 0;
    padding: 3px 16px 16px 16px;
  }

.header-view {
  
}

.filter-view {
  width: 385px;
}

.filter-view-mobile {
  max-width: 180px;
}