<form #jobNameForm="ngForm">
    <mat-form-field [class.filter-view] = '!headerView'
                    [class.filter-view-mobile]='!headerView && (screenWidth <= 450 || breakpoint <= breakpoints.MOBILE)'>
        <mat-label>{{ 'PRODUCT_SOURCE_SCENE' | translate }}</mat-label>
        <div *ngIf="!headerView">
        <textarea *ngIf="!headerView" matInput placeholder="S1A..."
        (input)="onFilterProductName($event)"
        [value]="productNameFilter"

        [matAutocomplete]="jobNameSelector"
        [formControl]="myControl"
        [rows]="5">
        </textarea>
                <button *ngIf="breakpoint <= breakpoints.MOBILE" class="options-clear-button" (click)="onClearFilter()" mat-flat-button matTooltip="Clear Product Name Filter">
                <strong>{{ 'CLEAR' | translate }}</strong>
            </button>
        </div>
        <input *ngIf="headerView" matInput placeholder="S1A..."
        (input)="onFilterProductName($event)"
        [value]="productNameFilter"
        [formControl]="myControl"
        [matAutocomplete]="jobNameSelector">
        <mat-icon
        *ngIf="headerView"
        (click)="toggleJobFilterOptions()"
        matTooltip="{{ 'MORE_OPTIONS' | translate }}"
        style="vertical-align: middle;"
        matSuffix>
        {{ isJobFilterOptionsOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}
        </mat-icon>
    </mat-form-field>

    <mat-autocomplete
    [panelWidth] = "isJobFilterOptionsOpen ? 500 : 300"
    (optionSelected)="onSuggestionSelected($event)"
    #jobNameSelector="matAutocomplete">
    <mat-option *ngFor="let fileName of filteredOptions | async"
        [value]="autoCompleteEntry(fileName)">
        <div [matTooltip] = fileName>
            <span [innerHtml]="autoSuggestionDisplay(fileName)"></span>
        </div>
    </mat-option>
    </mat-autocomplete>

    </form>

    <form>
        <mat-card
        appearance="outlined"
        [@fadeTransition]
        *ngIf="isJobFilterOptionsOpen"
        class="breadcrumb-filter">

        <mat-card-header style="display: block;">
            <strong>{{ 'OPTIONS' | translate }}</strong>
            <button class="options-clear-button" (click)="onCloseOptions()" matTooltip="{{'HIDE_OPTIONS' | translate}}" mat-icon-button>
              <mat-icon>clear</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field style="width: 100%;">
                <textarea
                matInput placeholder="S1A..."
                (input)="onFilterProductName($event)"
                [value]="productNameFilter"
                [matAutocomplete]="jobNameSelector"
                [formControl]="myControl"
                [rows]="5"
                ></textarea>
            </mat-form-field>
            <button class="options-clear-button" (click)="onClearFilter()" mat-flat-button matTooltip="{{'CLEAR_PRODUCT_NAME_FILTER' | translate}}">
                <strong>{{'CLEAR' | translate }}</strong>
            </button>
        </mat-card-content>
    </mat-card>
    </form>
