<ng-container *ngIf="breakpoint$ | async as breakpoint">
  <ng-container *ngIf="searchType$ | async as selectedSearchType">

    <div *ngIf="breakpoint > breakpoints.MOBILE"
      class="breadcrumb-row baseline-header-layout">
      <div class="baseline-header-wrapper">
        <app-search-type-selector class="breadcrumb">
        </app-search-type-selector>

        <div class="breadcrumb scene-selector"
          [class.scene-selector]="breakpoint === breakpoints.FULL"
          [class.medium-scene-selector]="breakpoint === breakpoints.MEDIUM"
          [class.small-scene-selector]="breakpoint === breakpoints.SMALL">
          <app-master-scene-selector></app-master-scene-selector>
        </div>

        <div class="breadcrumb search-button-layout">
          <app-search-button></app-search-button>
        </div>

        <div class="icon-cluster">
          <app-header-buttons>
          </app-header-buttons>
        </div>
      </div>
    </div>

    <div *ngIf="breakpoint === breakpoints.MOBILE">
      <div class="mobile-nav-bar">
        <button (click)="onToggleFiltersMenu()"
            style="margin-left: 5px;"
            mat-flat-button>
          <mat-icon>edit</mat-icon>
          <ng-container [ngSwitch]="selectedSearchType">
            <span *ngSwitchCase = searchTypes.SBAS>
          SBAS
            </span>
            <span *ngSwitchCase = searchTypes.BASELINE>
          {{ 'BASELINE' | translate}}
            </span>
            <span *ngSwitchCase = searchTypes.CUSTOM_PRODUCTS>
          {{ 'ON_DEMAND' |translate}}
            </span>
            <span *ngSwitchDefault>
            </span>
          </ng-container>
        </button>

        <div class="mobile-icon-cluster">
          <app-header-buttons>
          </app-header-buttons>
        </div>
      </div>
    </div>

  </ng-container>
</ng-container>
