<div class="toggle-group-wrapper--layout">
<button mat-mini-fab [matMenuTriggerFor]="menu" type="button"
    class="control-mat-button-toggle ts-criteria-button-toggle"
    aria-label="Icon with a menu for configuring Displacement chart">
  <mat-icon class="settings-icon">
    settings
  </mat-icon>
</button>
</div>
<mat-menu #menu="matMenu">
    <div class="chart-config-menu-panel" [ngSwitch]="searchType" (click)="$event.stopPropagation()">
            <app-timeseries-chart-config *ngSwitchCase="SearchTypes.DISPLACEMENT"></app-timeseries-chart-config>
            <app-timeseries-chart-config *ngSwitchDefault></app-timeseries-chart-config>
    </div>
</mat-menu>
