@use "@angular/material" as mat;
@use "asf-theme-variables" as *;

// $config: mat.define-legacy-typography-config();

.mat-button-toggle-button {
    width: 100%;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
    background: none;
    border: 0;
}

.ts-criteria-button-toggle-group {
    flex: 0 1 149px !important;
    margin-top: 5px;
}

.ts-criteria-button-toggle {
    @include themify($themes) {
        background-color: themed('background-white') !important;
    }

    font-size: 14px;
}

.mdc-fab--mini {
  width: 20px;
  height: 20px;
  padding-top: 8px;
  text-align: center;
  border-radius: 4px !important;
}

.settings-icon {
  @include themify($themes) {
    color: themed('dark-primary-text') !important;
  }

  margin-left: 0;
  font-size: 16px !important;
}

.toggle-group-wrapper--layout {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    place-content: stretch center;
    align-items: stretch;
}

.chart-config-menu-panel {
    padding-right: 15px;
    padding-left: 15px;
}
