@use "@angular/material" as mat;
@use "asf-theme-variables" as *;
@use "tokens" as *;
@use "component-mixins" as *;

.mat-button-toggle-button {
    @include reset-button;
    width: 100%;
}

.ts-criteria-button-toggle-group {
    flex: 0 1 149px !important;
    margin-top: spacing(sm);
}

.ts-criteria-button-toggle {
    background-color: var(--asf-surface) !important;
    font-size: font-size(sm);
}

.mdc-fab--mini {
  width: spacing(lg);
  height: spacing(lg);
  text-align: center;
  padding-top: spacing(1);
  border-radius: spacing(xs) !important;
}

.settings-icon {
  color: var(--asf-dark-primary-text) !important;
  font-size: font-size(base) !important;
  margin-left: 0;
}

.toggle-group-wrapper--layout {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: stretch center;
    align-items: stretch;
}

.chart-config-menu-panel {
    padding-left: spacing(md);
    padding-right: spacing(md);
}
