@use "@angular/material" as mat;

@use "asf-theme-variables" as *;
@use "tokens" as *;

$config: mat.m2-define-legacy-typography-config();

#ASF_SEARCH {
  width: 185px;
}

.new-stuff {
  cursor: pointer;
  color: var(--asf-blue-link);
  font-weight: bold;
  margin-right: spacing(sm);
}
