@use "@angular/material" as mat;

@use "asf-theme-variables" as *;

$config: mat.m2-define-legacy-typography-config();

#ASF_SEARCH {
  width: 185px;
}

.new-stuff {
  cursor: pointer;
  @include themify($themes) {
    color: themed('blue-link');
  }
  font-weight: bold;
  margin-right: 10px;
}
