.event-label {
  color: grey;
}

.event-slider {
  flex: none;
  height: 80%;
  margin-bottom: 25px;
}

.noUi-vertical {
  width: 8px;
}

div.noUi-handle.noUi-handle-lower {
  width: 16px !important;
  right: -5px !important;
}
