
.mat-list-avatar {
  border-radius: 6px !important;
}

.scroll-viewport-height {
  height: 100%;
}

.product--thumbnail {
  width: 30%;
}

.product-name {
  font-weight: bold !important;
}

.icon-margin {
  margin-left: 10px;
}

.selected .ml-2 {
  color: red;
}
