.list-viewport {
  overflow-y: auto;
}

.mat-list-avatar {
  border-radius: 6px !important;
}

.icon-margin {
  margin-left: 10px;
}

.selected .ml-2 {
  color: red;
}

.scene-controls {
  flex: 0 1 auto;
  float: right;
  font-weight: normal;
  align-self: center;
}

.mobile-size .scene-controls {
  font-size: 12px;
  line-height: 28px;
}

.baseline-metrics {
  flex: 0 1 30%;
  float: right;
  font-weight: normal;
  align-self: center;
}

.image-flex {
  flex: 0 1 40px;
  margin-right: 10px;
}

.div-flex {
  flex: 4 1 auto;
}

.mobile-size .div-flex {
  font-size: 14px;
}

.metric-flex-field {
  flex: 1 0 60px;
  float: right;
  text-align: right;
}

.mobile-baseline.metric-flex-field {
  flex: 1 0 45px;
  float: right;
  text-align: right;
}

.metric-field {
  float: right;
  text-align: right;
}

.cart-flex-field {
  margin-left: 5px;
  flex: 1 0 auto;
  float: left;
  text-align: left;
}

.div-flex-column {
  display: flex;
  flex-direction: column;
}

.div-flex-row {
  display: flex;
  flex-direction: row;
}

.list-thumbnail {
  width: 40px;
  height: auto;
}

.date-time {
  font-size: 14px !important;
}

.number-queued {
  margin-left: 10px;
}

.mobile-size .material-icons {
  font-size: 14px;
}

.mobile-size .icon-margin.mobile-svg {
  height: 14px;
  margin-left: 10px;
}

.mobile-size .mat-list-base .mat-list-item {
  font-size: 14px;
}

.baseline-list-view {
  height: calc(100% - 20px);
}

.baseline-list-view-medium  {
  height: calc(100% - 30px);
}
