@mixin scene-list-base {
  position: fixed;
  height: calc(100%);
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

.scene-list-desktop {
  @include scene-list-base;
  width: 33%;
}

.scene-list-mobile {
  @include scene-list-base;
  width: 100%;
}

.mat-list-avatar {
  border-radius: 6px !important;
}

.scroll-viewport-height {
  height: 100%;
  width: 100%;
}

.product--thumbnail {
  width: 30%;
}

.product-name {
  font-weight: bold !important;
}

.icon-margin {
  margin-left: 10px;
}

.selected .ml-2 {
  color: red;
}

.action-list {
  //position: fixed;
  height: calc(100% - 36px);
  padding-top: 0 !important;
  overflow-y: auto;
}
