.baseline-slider {
  margin-right: 16px;
  margin-bottom: 15px;
  margin-left: 16px;
  font-weight: normal;
  line-height: 42px;
}

.perpendicular-slider {
  margin-top: 10px;
}

.temporal-slider {
  padding-bottom: 16px;
}

.baseline-label {
  color: grey;
}
