@use "tokens" as *;

.baseline-slider {
  line-height: 42px;
  font-weight: normal;
  margin-left: spacing(md);
  margin-right: spacing(md);
  margin-bottom: spacing(md);
}

.perpendicular-slider {
  margin-top: spacing(2);
}

.temporal-slider {
  padding-bottom: spacing(md);
}

.baseline-label {
  color: grey;
}
