<div *ngIf="!noFilters(filters)">
  <div *ngIf="!!filters.selectedDataset">
    <b>{{ 'DATASET' | translate }}:</b> {{ filters.selectedDataset }}
  </div>
  <div *ngIf="!!filters.polygon">
    <b>{{ 'SEARCH_AREA' | translate }}:</b> {{ showSearchAreaType(filters.polygon) }}
  </div>
  <div *ngIf="!!filters.dateRange.start">
    <b>{{ 'START' | translate}}:</b> {{ filters.dateRange.start | shortDate }}
  </div>
  <div *ngIf="!!filters.dateRange.end">
    <b>{{'END' | translate}}:</b> {{ filters.dateRange.end | shortDate }}
  </div>
  <div *ngIf="filters.pathRange.start || filters.pathRange.end">
    <b>{{ 'PATH' | translate }}:</b> {{ filters.pathRange.start }} - {{ filters.pathRange.end }}
  </div>
  <div *ngIf="filters.frameRange.start || filters.frameRange.end">
    <b>{{'FRAME' | translate }}:</b> {{filters.frameRange.start}} - {{ filters.frameRange.end }}
  </div>
  <div *ngIf="filters.season.start || filters.season.end">
    <b>{{ 'SEASON' | translate }}:</b> {{filters.season.start}} - {{filters.season.end}}
  </div>
  <div *ngIf="filters.productTypes.length">
    <b>{{ 'FILE_TYPES' | translate }}:</b> {{ formatTypesList(filters.productTypes) }}
  </div>
  <div *ngIf="filters.beamModes.length">
    <b>{{'BEAM_MODES' | translate}}:</b> {{ filters.beamModes }}
  </div>
  <div *ngIf="filters.polarizations.length">
    <b>{{ 'POLARIZATIONS' | translate }}:</b> {{ filters.polarizations }}
  </div>
  <div *ngIf="filters.flightDirections.length">
    <b>{{ 'FLIGHT_DIR' | translate }}:</b> {{ filters.flightDirections }}
  </div>
  <div *ngIf="filters.subtypes.length">
    <b>{{ 'DATASET_SUBTYPES' | translate}}:</b> {{ formatTypesList(filters.subtypes) }}
  </div>
  <div *ngIf="filters.selectedMission">
    <b>{{ 'CAMPAIGN' | translate}}:</b> {{ filters.selectedMission }}
  </div>
  <div *ngIf="filters.selectedMission">
    <b>{{ 'CAMPAIGN' | translate}}:</b> {{ filters.selectedMission }}
  </div>
  <div *ngIf="filters.fullBurstIDs">
    <b>{{ 'FULL_BURST_ID' | translate}}:</b> {{ filters.fullBurstIDs }}
  </div>
  <div *ngIf="filters.operaBurstIDs">
    <b>{{ 'OPERA_BURST_ID' | translate}}:</b> {{ filters.operaBurstIDs }}
  </div>
  <div *ngIf="filters.useCalibrationData">
    <b>{{ 'USE_OPERA_CALIBRATION_DATA' | translate}}:</b> {{ filters.useCalibrationData }}
  </div>
</div>

<div *ngIf="noFilters(filters)">
  <span class="faint-text">
    {{ 'NO_FILTERS' | translate }}
  </span>
</div>
