<div *ngIf="!noFilters(filters)">
  <div *ngIf="!!filters.selectedDataset">
    <b>Dataset:</b> {{ filters.selectedDataset }}
  </div>
  <div *ngIf="!!filters.polygon">
    <b>Search Area:</b> {{ showSearchAreaType(filters.polygon) }}
  </div>
  <div *ngIf="!!filters.dateRange.start">
    <b>Start:</b> {{ filters.dateRange.start | shortDate }}
  </div>
  <div *ngIf="!!filters.dateRange.end">
    <b>End:</b> {{ filters.dateRange.end | shortDate }}
  </div>
  <div *ngIf="filters.pathRange.start || filters.pathRange.end">
    <b>{{ 'PATH' |  translate }}:</b> {{ filters.pathRange.start }} - {{ filters.pathRange.end }}
  </div>
  <div *ngIf="filters.frameRange.start || filters.frameRange.end">
    <b>{{ 'FRAME' |  translate }}:</b> {{filters.frameRange.start}} - {{ filters.frameRange.end }}
  </div>
  <div *ngIf="filters.season.start || filters.season.end">
    <b>Season:</b> {{filters.season.start}} - {{filters.season.end}}
  </div>
  <div *ngIf="filters.productTypes.length">
    <b>File Types:</b> {{ formatTypesList(filters.productTypes) }}
  </div>
  <div *ngIf="filters.beamModes.length">
    <b>Beam Modes:</b> {{ filters.beamModes }}
  </div>
  <div *ngIf="filters.polarizations.length">
    <b>Polarizations:</b> {{ filters.polarizations }}
  </div>
  <div *ngIf="filters.flightDirections.length">
    <b>Flight Dir:</b> {{ filters.flightDirections }}
  </div>
  <div *ngIf="filters.subtypes.length">
    <b>Dataset Subtypes:</b> {{ formatTypesList(filters.subtypes) }}
  </div>
  <div *ngIf="filters.selectedMission">
    <b>Campaign:</b> {{ filters.selectedMission }}
  </div>
</div>

<div *ngIf="noFilters(filters)">
  <span class="faint-text">
    (No filters)
  </span>
</div>
