@import url("asf-theme");
@import url("deluxe-menu");

.description-layout {
  display: flex;
}

.menu-item-icon {
  @include themify($themes) {
    color: themed("dark-primary-text");
  }

  @include md-icon-size(120px);

  margin-right: 0;
}

.dataset-hr {
  padding: 0;
}

.mat-menu-item {
  padding: 0;
}

.menu-item {
  margin: 16px 16px 0 26px;
}

.mat-card-actions {
  padding: 0 0 0 11px;
  margin: 0;
}

.mat-button {
  @include themify($themes) {
    color: themed("blue-link");
  }

  font-weight: 400;
  font-style: italic;
}
