<div class="breadcrumb-row layout">
  <div class="header-wrapper">
    <app-search-type-selector class="breadcrumb"> </app-search-type-selector>

    <div class="breadcrumb dataset-selector">
      <mat-form-field>
        <mat-select
          [value]="dataset().id"
          (selectionChange)="onDatasetChange($event.value)"
        >
          @for (dataset of datasets; track dataset.id) {
            <mat-option [value]="dataset.id">{{ dataset.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    @switch (dataset().id) {
      @case (datasetIds.sentinel1) {
        <app-aoi-filter class="breadcrumb" />

        <div class="breadcrumb flight-dir-selector">
          <mat-form-field>
            <mat-label>
              {{ 'FLIGHT_DIRECTION' | translate }}
            </mat-label>

            <mat-select
              [value]="flightDirections()?.[0]"
              (selectionChange)="onFlightDirectionChange($event.value)"
            >
              <mat-option [value]="directions.ASCENDING">
                {{ directions.ASCENDING | translate }}
                <mat-icon>north_west</mat-icon>
              </mat-option>

              <mat-option [value]="directions.DESCENDING">
                {{ directions.DESCENDING | translate }}
                <mat-icon>south_west</mat-icon>
              </mat-option>

              <mat-option [value]="null"> All Directions </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      }
    }

    <div class="breadcrumb search-button">
      <app-search-button></app-search-button>
    </div>

    <div class="icon-cluster">
      <app-header-buttons> </app-header-buttons>
    </div>
  </div>
</div>
