<div class="timeseries-dialog-wrapper">
  <div class="dialog-header">
    <div mat-dialog-title class="dialog-title-overrides"> Timeseries Analysis</div>

    <div class="dl-close-x" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </div>

  </div>
</div>

<mat-dialog-content>

  <div id="timeseriesChart"></div>


  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <!-- <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container> -->

    ,'' ,''
    <!-- Weight Column -->
    <ng-container matColumnDef="unwrapped_phase">
      <th mat-header-cell *matHeaderCellDef> Unwrapped Phase </th>
      <td mat-cell *matCellDef="let element"> {{element.unwrapped_phase}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="interferometric_correlation">
      <th mat-header-cell *matHeaderCellDef> Interferometric Correlation </th>
      <td mat-cell *matCellDef="let element"> {{element.interferometric_correlation}} </td>
    </ng-container>
    <ng-container matColumnDef="temporal_coherence">
      <th mat-header-cell *matHeaderCellDef> Temporal Coherence </th>
      <td mat-cell *matCellDef="let element"> {{element.temporal_coherence}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- {{json_data}} -->
</mat-dialog-content>