<mat-button-toggle-group
  [class.invalid-input-animation]="isSearchError"
  id="dataset-button-toggle-group">
  <mat-button-toggle>
    <button
      (click)="onDoSearch()"
      [disabled]="!(canSearch$ | async) && !(isMaxResultsLoading$ | async)"
      mat-flat-button color="primary">
      {{
      (loading$ | async) ?
        'LOADING...' :
        (!(canSearch$ | async) && !(isMaxResultsLoading$ | async) ?
          'NO RESULTS' :
          (areResultsOutOfDate$ | async) ? 'UPDATE' :
          'SEARCH')
      }}
    </button>
  </mat-button-toggle>
  <mat-button-toggle
    [matMenuTriggerFor]="searchActionDropdown"
    class="arrow-button-toggle">
    <mat-icon
      [ngStyle]="{'color':'#ddd'}">arrow_drop_down</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>

<mat-menu #searchActionDropdown="matMenu">
  <button mat-menu-item (click)="onClearSearch()">
    Clear Search
  </button>

  <mat-divider></mat-divider>

  <span
  [matTooltipDisabled]="isLoggedIn"
  matTooltip="Sign in to see your saved searches"
  matTooltipPosition="after">
    <button
    mat-menu-item
    [matMenuTriggerFor]="savedSearchesMenu">
    Saved Searches
    </button>
  </span>

  <span
  [matTooltipDisabled]="isLoggedIn && searchType !== searchTypes.LIST && searchType !== searchTypes.CUSTOM_PRODUCTS"
  matTooltip="{{ isLoggedIn && (searchType === searchTypes.LIST || searchType === searchTypes.CUSTOM_PRODUCTS) ? 'Saved Filters are not available for Search Type' : 'Sign in to see your saved filters'}}"
  matTooltipPosition="after">
    <button
    [disabled]="searchType === searchTypes.LIST || searchType === searchTypes.CUSTOM_PRODUCTS"
    mat-menu-item
    [matMenuTriggerFor]="savedFiltersMenu">
    Saved Filters
    </button>
  </span>

  <mat-divider></mat-divider>
  <button mat-menu-item
    [matMenuTriggerFor]="shareSearchMenu">
      Share Search
  </button>

  <span
    matTooltip="Get help on how to user Vertex"
    matTooltipPosition="after">
      <button mat-menu-item (click)="onOpenHelp('toc')">Help & Tutorials</button>
  </span>
    <button
    mat-menu-item
    [matMenuTriggerFor]="exportSearchMenu">
    Export
    </button>

  <button *ngIf="isDevMode()" mat-menu-item [matMenuTriggerFor]="apiMaturity" matSuffix>
    <mat-icon>swap_horizontal_circle</mat-icon>
    Maturity
  </button>
</mat-menu>

<mat-menu #savedFiltersMenu="matMenu">
  <span matTooltip="Sign in to save your filters"
        [matTooltipDisabled]="isLoggedIn"
        matTooltipPosition="after">
    <button *ngIf="searchType !== searchTypes.CUSTOM_PRODUCTS && searchType !== searchTypes.LIST"
      mat-menu-item [disabled]="!isLoggedIn" (click)="saveCurrentFilters()">
      Save Filters
    </button>
  </span>

  <span
  [matTooltipDisabled]="isLoggedIn"
  matTooltip="Sign in to see your saved filters"
  matTooltipPosition="after">
    <button *ngIf="searchType !== searchTypes.CUSTOM_PRODUCTS && searchType !== searchTypes.LIST"
      (click)="onOpenSavedFilters()"
      mat-menu-item
      [disabled]="!isLoggedIn">
      View Filters...
    </button>
  </span>

</mat-menu>

<mat-menu #shareSearchMenu="matMenu">
  <button (click)="onCopy()"
      mat-menu-item matSuffix>
    <mat-icon>link</mat-icon>
    Copy Search Link
  </button>

  <a (click)="onShareWithEmail()"
      href="mailto:?subject=&body=:%20"
      target="_blank" title="Send email"
                      mat-menu-item matSuffix>
    <mat-icon>email</mat-icon>
    Share With Email
  </a>

</mat-menu>

<mat-menu #savedSearchesMenu="matMenu">

  <span matTooltip = "Sign in to save your search" [matTooltipDisabled]="isLoggedIn"
        matTooltipPosition = "after">
    <button *ngIf="searchType !== searchTypes.CUSTOM_PRODUCTS"
      mat-menu-item [disabled]="!isLoggedIn" (click)="saveCurrentSearch()">
      Save Search
    </button>
  </span>

  <span
  [matTooltipDisabled]="isLoggedIn"
  matTooltip="Sign in to see your saved searches"
  matTooltipPosition="after">
    <button mat-menu-item [disabled]="!isLoggedIn" (click)="onOpenSavedSearches()">View Searches...</button>
  </span>

  <span
    [matTooltipDisabled]="isLoggedIn"
    matTooltip="Sign in to see your search history"
    matTooltipPosition="after">
      <button mat-menu-item [disabled]="!isLoggedIn" (click)="onOpenSearchHistory()">Search History...</button>
  </span>

</mat-menu>
<mat-menu #exportSearchMenu="matMenu">
  <button mat-menu-item (click)="exportPython()" mat-menu-item matSuffix [disabled]="!(searchType === searchTypes.DATASET || searchType === searchTypes.LIST || searchType === searchTypes.BASELINE)">
    Export Python
  </button>
  <button mat-menu-item (click)="exportAPI()">
    Export API
  </button>
</mat-menu>
<mat-menu #apiMaturity="matMenu">
  <button [class.selected]="maturity === 'test'"
    (click)="onTestSelected()"
    mat-menu-item matSuffix>
      <span>Test</span>
  </button>

  <button [class.selected]="maturity === 'prod'"
    (click)="onProdSelected()"
    mat-menu-item matSuffix>
      <span>Production</span>
  </button>

  <button (click)="onOpenCustomizeEnv()" mat-menu-item matSuffix >
    <span>
      {{  'CUSTOMIZE_ENVIRONMENTS'  | translate }}
    </span>
  </button>

</mat-menu>
