@use "asf-theme-variables" as *;
@use "tokens" as *;
@use "../../header/header-buttons/header-buttons.component.scss" as *;

.arrow-button-toggle {
  padding-top: spacing(sm);
  background-color: var(--asf-primary) !important;
}
.search-button {
  height: 36px !important;
  border-radius: 0 !important;
}


