@use "asf-theme";
$mat-theme-ignore-duplication-warnings: true;
@use "../../header/header-buttons/header-buttons.component.scss";

.arrow-button-toggle {
  padding-top: 6px;
  @include asf-theme.themify(asf-theme.$themes) {
    background-color: asf-theme.themed('primary') !important;
  }
}
.search-button {
  height: 36px !important;
  border-radius: 0 !important;
}


