@use "asf-theme-variables" as *;
@use "tokens" as *;

.add-files-btn {
  float: right;
}

.limit-text {
  display: inline-block;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.drop-file-area {
  background-color: var(--asf-surface-dark-10);
  outline: 2px dashed var(--asf-primary);
  background-image: url('/assets/icons/cloud_upload_black_48dp.svg');
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center 30%;
  width: 230px;
  height: 220px;
  display: inline-block;
  outline-offset: -8px;
}

.dd-text {
  margin-top: 33px;
  font-size: font-size(lg);
  font-weight: bold;
  text-align: center;
  color: var(--asf-dark-primary-text-light-20);

  .dd-text-1 {
    margin-top: spacing(xl);
    font-size: font-size(lg);
  }

  .dd-text-2 {
    margin-top: 65px;
  }

  .dd-text-3 {
    margin-top: spacing(xs);
    font-size: font-size(xs);
  }
}

.import-button {
  margin-top: spacing(md);
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-file-error {
  color: var(--asf-warn);
  outline-color: var(--asf-warn);
  animation: shake 0.82s;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.upload-button-spacing {
  margin: spacing(2) 0;
}

.file-list {
  margin-top: spacing(2);
  max-height: 100px;
  overflow: auto;
}

.loading-text {
  margin-right: 30px;
}

.loading-spinner {
  margin: 0 auto;
}

.loading-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.import-formats {
  margin-left: spacing(2);
  margin-bottom: spacing(2);
}

.mobile-upload-button {
  border-left: solid 1px #e0e0e0;
  display: flex;
}

.file-upload--layout {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: stretch space-evenly;
  align-items: stretch;
  max-width: 100%;
}

.file-upload-target--layout {
  margin-top: -10px;
  transform: scale(.95, .95);
  place-content: center;
  align-items: stretch;
  flex-direction: row;
  box-sizing: border-box;
  display: grid;
  flex: 1 1 0%;
}
