<div class="subscription">
  <div class="subscription-header">
    <div class="subscription-header-info">
      <div (click)="onToggleExpand()" class="clickable expand-arrow">
        <mat-icon *ngIf="!isExpanded" class="expand-arrow-icon">keyboard_arrow_right</mat-icon>
        <mat-icon *ngIf="isExpanded" class="expand-arrow-icon">keyboard_arrow_down</mat-icon>
      </div>

      <div class="subscription-preview">
        <div class="preview-top">
          {{ subscription.name }} <span>&#183;</span>
          {{ subscription.jobType.name }}
        </div>
        <div>
          {{ subscription.filters.start | shortDate }} to

          <span (click)="onEditDate()"
            matTooltip="Edit end date."
            class="edit-tooltip clickable">
            {{ subscription.filters.end | shortDate }}
            <mat-icon class="edit-icon">edit</mat-icon>
          </span>
        </div>
      </div>
    </div>

    <div class="subscription-header-actions">
      <span matTooltip="Extend subscription one month">
        <button
          (click)="onRenewSubscription()"
          class="subscription-action"
          [disabled]="!isSubOutOfDate && !expiresThisMonth"
          mat-flat-button>
          <i class="material-icons">update</i>
        </button>
      </span>

      <button
        (click)="loadOnDemandSearch()"
        class="subscription-action"
        matTooltip="View Processed Products"
        mat-flat-button>
        <i class="material-icons">image_search</i>
      </button>

      <mat-slide-toggle
        *ngIf="!isSubOutOfDate"
        class="subscription-action"
        (change)="onToggleEnabled()"
        [checked]="subscription.enabled">
        <div class="t-label">
          <span *ngIf="isToggling">
            Loading...
          </span>
          <span *ngIf="!isToggling">
            {{ subscription.enabled ? 'Disable' : 'Enable' }}
          </span>
        </div>
      </mat-slide-toggle>
    </div>
  </div>

  <div *ngIf="isExpanded" class="subscription-detail">
    <div *ngIf="isEditingEndDate">

      <form #endDateForm="ngForm"
        (keydown.enter)="$event.preventDefault()"
        class="date-selector">

        <mat-form-field
          [class.invalid-input-animation]="isEndError"
          class="date-input-field">
          <mat-label>New End Date</mat-label>

          <input matInput
            [(ngModel)]="newEndDate"
            matTooltip="Subscription End Date (MM/DD/YYYY)"
            (dateChange)="onEndDateChange($event)"
            [min]="getMinDate()"
            [max]="getMaxDate()"
            [matDatepicker]="subEnd"
            class="clickable"
            name="endInput">
          <mat-datepicker-toggle matSuffix [for]="subEnd"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" [startView]="!!newEndDate ? 'month' : 'multi-year'" #subEnd></mat-datepicker>
        </mat-form-field>

        <button (click)="onDoneEditing()" mat-flat-button>Done</button>
      </form>
    </div>
    <div style="margin-bottom: 22px;">
      <app-subscription-filters
        [filters]="subscription.filters"
        (loadSearch)="onLoadSearch()">
      </app-subscription-filters>
    </div>

    <div>
      <app-subscription-job-options [options]="subscription.jobParameters.job_parameters">
      </app-subscription-job-options>
    </div>
  </div>
</div>
