<ng-container *ngIf="breakpoint$ | async as breakpoint">
  <div *ngIf="breakpoint > breakpoints.MOBILE"
    fxLayout="row" class="breadcrumb-row">
    <div fxLayout="row">
      <app-search-type-selector class="breadcrumb">
      </app-search-type-selector>

      <div class="breadcrumb scene-selector"
        [class.scene-selector]="breakpoint === breakpoints.FULL"
        [class.medium-scene-selector]="breakpoint === breakpoints.MEDIUM"
        [class.small-scene-selector]="breakpoint === breakpoints.SMALL">
        <app-master-scene-selector></app-master-scene-selector>
      </div>

      <div
        [matTooltip]="!areResultsLoaded ? 'Load results to apply filters' : ''"
        fxFlex="nogrow" class="breadcrumb">
        <button (click)="onToggleFiltersMenu()"
                [disabled]="!areResultsLoaded"
                mat-button class="additional-filters-button">
          Filters <br> <mat-icon>more_horiz</mat-icon>
        </button>
      </div>

      <div fxFlex="nogrow" class="breadcrumb">
        <app-search-button></app-search-button>
      </div>

      <div class="icon-cluster">
        <app-nav-buttons
          (openQueue)="onOpenDownloadQueue()"
          [queuedProducts]="queuedProducts$ | async">
        </app-nav-buttons>
      </div>
    </div>
  </div>

  <div *ngIf="breakpoint === breakpoints.MOBILE">
    <div class="mobile-nav-bar">
      <button (click)="onToggleFiltersMenu()"
          style="margin-left: 5px;"
          mat-flat-button>
        <mat-icon>edit</mat-icon>
        Baseline
      </button>

      <div class="mobile-icon-cluster">
        <app-nav-buttons
          (openQueue)="onOpenDownloadQueue()"
          [queuedProducts]="queuedProducts$ | async">
        </app-nav-buttons>
      </div>
    </div>
  </div>
</ng-container>
