@use "tokens" as *;

div.cdk-overlay-pane:has(>.sci-prod-select) {
  min-width: fit-content !important;
}

.sci-prod-form-field {
  width: 50%;
  margin-right: spacing(lg);
}

.sci-prod-select {
}

.sci-prod-filter-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.sci-prod-filter-flex-item {
  flex: 0 1 auto;
}

:host .mat-mdc-select-panel {
  // Panel sizing handled by Material
}

.sci-prod-optgroup {
  font-weight: bold;
}
