@import url("asf-theme");

.banner-card {
  @include themify($themes) {
    color: themed("dark-primary-text");
    background-color: themed("primary-light");
  }

  pointer-events: auto;
  padding-top: 5px;
  padding-bottom: 9px;
  border-color: $asf-primary-dark;
  border-width: 2px;
  border-style: solid;
  //color: darken($asf-accent, 50%);
  margin-left: 0;
  margin-bottom: 5px;
  line-height: 1.4;
  padding-right: 0;
}

.banner-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.inner-banner-text {
  max-height: 67px;
  overflow-y: auto;
  height: fit-content;
  width: 100%;
}

.toastr-div {
  position: relative;
}
