@use "asf-theme-variables" as *;
@use "tokens" as *;

.banner-card {
  color: var(--asf-dark-primary-text);
  background-color: var(--asf-primary-light);
  pointer-events: auto;
  padding-top: spacing(xs);
  padding-bottom: 9px;
  border-color: $asf-primary-dark;
  border-width: 2px;
  border-style: solid;
  //color: darken($asf-accent, 50%);
  margin-left: 0;
  margin-bottom: spacing(xs);
  line-height: 1.4;
  padding-right: 0;
}

.banner-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.inner-banner-text {
  max-height: 67px;
  overflow-y: auto;
  height: fit-content;
  width: 100%;
}

.toastr-div {
  position: relative;
}
