@use '~@angular/material' as mat;
@import "asf-theme";

$config: mat.define-typography-config();

a {
  text-decoration: none;
  color: $uaf-primary-blue;
}

.detail-card {
  max-width: 100%;
  border-left: lightgrey 1px solid;
}

.scrollable {
  height: calc(100% - 36px);
  overflow: auto;
}

.detail-card-header {
  word-break: break-all;
  padding-top: 5px;
}

.detail-card-info {
  margin-left: 16px;
  margin-right: 16px;
}

.clipboard-icon {
  margin: 0 10px;
}

.fit-to-container {
  max-width: 100%;
}

.browse-img {
  cursor: zoom-in;
}

.banner {
  background: #C9CAC4;
  height: 40px;
  width: calc(100% + 32px);
  margin-left: -16px;
  box-shadow: #00000038 0 7px 18px;
  color: #606368;
  mat-icon {
    color: #606368;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 24px;
  }
}
.browse-pager {
  display: inherit;
  margin-right: 5%;
  align-items: center;
}
.menu-items {
  display: inherit;
  margin-right: auto;
  margin-left: 5%;
  align-items: center;
}


.content {
  margin: 0 16px 16px 16px;
}

.detail-item-margin {
  margin-top: 5px;
}

.w40 {
  width: 40%;
}

.w50 {
  width: 50%;
}

.browse-container {
  margin-top: 0;
}

.accessing-text {
  font-size: 12px;
}

.subtitle {
  margin-bottom: 8px !important;
}

.mat-card-header .mat-card-title {
  font-size: 16px;
}

.mini-toggle-button {
  font-size: 12px;
  line-height: 24px !important;
}

.mini-toggle-button .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 24px !important;
  padding: 0 12px;
}

.tool-menu {
  position: sticky;
  bottom: 0px;
  background: #C9CAC4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  button {
    background: none;
    border: none;
  }
  button:enabled {
    cursor: pointer;
  }
}