@import "asf-theme";

$config: mat-typography-config();

a {
  text-decoration: none;
  color: $uaf-primary-blue;
}

@mixin detail-card-base {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.detail-card {
  @include detail-card-base;

  height: calc(100% - 36px);
  overflow: auto;
}

.detail-card-mobile {
  @include detail-card-base;

  height: auto;
}

.detail-card-header {
  word-break: break-all;
}

.detail-card-info {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: -16px;
}

.clipboard-icon {
  margin: 0 10px;
}

.fit-to-container {
  max-height: 250px;
  max-width: 100%;
}

.img-container {
  position: relative;
}

.browse-img {
  width: 100%;
  z-index: 90;
}

.img-overlay {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.2s ease;
  transform: translate(-50%, -50%);
}

.overlay-icon {
  margin: 0;
  opacity: 0;
  transition: 0.2s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(4);
}

.img-container:hover .img-overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.img-container:hover .overlay-icon {
  opacity: 1;
}

.content {
  margin: 0 16px 16px 16px;
}

.detail-item-margin {
  margin-top: 5px;
}

.w40 {
  width: 40%;
}

.w50 {
  width: 50%;
}

.browse-container {
  margin-top: 0;
}

.accessing-text {
  font-size: 12px;
}

.subtitle {
  margin-bottom: 8px !important;
}
