@import "asf-theme";

$divider-bar-color: lighten($asf-primary-light, 8%);

a {
  text-decoration: none;
  color: $uaf-primary-blue;
}

.detail-card {
  max-width: 100%;
  border-left: lightgrey 1px solid;
  overflow-x: hidden !important;
}

.scrollable {
  height: calc(100% - 70px);
  overflow: auto;
}

.detail-card-header {
  word-break: break-all;
  padding-top: 5px;
}

.detail-card-info {
  margin-left: 16px;
  margin-right: 16px;
}

.clipboard-icon {
  margin: 0 10px;
}

.fit-to-container {
  max-width: 100%;
}

.browse-img {
  cursor: zoom-in;
}

.banner {
  background: $divider-bar-color;
  height: 30px;
  width: calc(100% + 32px);
  margin-left: -16px;
  //box-shadow: #00000038 0 7px 18px;
  color: $asf-primary;

  mat-icon {
    color: $asf-primary;
    margin-top: 4px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
  }
}

.not-clickable {
  color: $asf-primary-light !important;
  cursor: default;
}

.browse-pager {
  display: inherit;
  align-items: center;
  margin-right: 5%;
  font-size: 12px;

  .navigation-icon {
    margin-right: 0;
    margin-left: 0;
    cursor: pointer;
  }
}

.menu-items {
  display: inherit;
  margin-right: auto;
  margin-left: 5%;
  align-items: center;
}

.content {
  margin: 0 16px 16px;
}

.detail-item-margin {
  margin-top: 5px;
}

.w40 {
  width: 40%;
}

.w50 {
  width: 50%;
}

.browse-container {
  margin-top: 0;
}

.accessing-text {
  font-size: 12px;
}

.subtitle {
  margin-bottom: 8px !important;
}

.mat-card-header .mat-card-title {
  font-size: 16px;
}

.mini-toggle-button {
  font-size: 12px;
  line-height: 24px !important;
}

.mini-toggle-button .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 24px !important;
  padding: 0 12px;
}

.tool-menu {
  z-index: 2;
  position: sticky;
  display: flex;
  justify-content: flex-start;
  background: $divider-bar-color;
  align-items: center;
  height: 40px;
  bottom: 0;

  button {
    //background: none;
    //border: none;
  }

  button:enabled {
    cursor: pointer;
  }

  button[disabled="true"] {
    cursor: default;
    background-color: $asf-primary-light !important;
    color: $asf-primary !important;
  }
}

.sarivews-radius-display {
  display: flex;
  width: 75%;
  margin-top: 15px;
  margin-left: 15px;
  // margin-left: 15px;
}

.search-button-label {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
  color: $asf-primary-dark;
}

.search-button {
  margin-left: 20px;
  background-color: $asf-primary !important;
  color: white !important;
  border: 1px groove rgb(0 0 0 / 25%) !important;
  border-radius: 4px !important;
}
