<h2 mat-dialog-title>
  {{
    (jobCount > 1 ? 'EDIT_ALL_PROJECT_NAMES' : 'EDIT_PROJECT_NAME')
      | translate
  }}
</h2>

<form (ngSubmit)="onSave()">
  <mat-dialog-content>
    @if (jobCount) {
      <p
        class="job-count-info"
        [class.job-count-warning]="jobCount >= 300"
      >
        {{ 'WILL_RENAME_JOBS' | translate: { count: jobCount } }}
      </p>
    }

    @if (uniqueProjectNames) {
      <p
        class="job-count-info"
        [class.job-count-warning]="uniqueProjectNames.size > 1"
      >
        {{ 'WILL_RENAME_PROJECTS' | translate }}
      </p>

      <mat-chip-listbox>
        @for (name of uniqueProjectNames; track name) {
          <mat-chip-option disabled>
            {{ name }}
          </mat-chip-option>
        }
      </mat-chip-listbox>
    }
    <mat-form-field class="project-name-field">
      <mat-label>{{ 'PROJECT_NAME' | translate }}</mat-label>
      <input
        matInput
        [(ngModel)]="projectName"
        name="projectName"
        cdkFocusInitial
      />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">
      {{ 'CANCEL' | translate }}
    </button>
    <button mat-flat-button color="primary" type="submit" [disabled]="!isValid">
      {{ 'SAVE' | translate }}
    </button>
  </mat-dialog-actions>
</form>
