<mat-accordion multi>
  <mat-expansion-panel
    *ngIf="(breakpoint$ | async) === breakpoints.MOBILE"
    [expanded]="defaultPanelOpenState" [disabled]="panelIsDisabled"
    (click)="selectPanel(panels.SEARCH)"
    [class.raised-section]="isSelected(panels.SEARCH)">

    <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
      <mat-panel-title>
        {{ 'SEARCH_OPTIONS' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div style="display: flex; margin-top: 25px;">
      <app-search-type-selector style="margin-right: 10px;">
      </app-search-type-selector>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel
    *ngIf="(breakpoint$ | async) === breakpoints.MOBILE || !areResultsLoaded"
    [expanded]="defaultPanelOpenState" [disabled]="panelIsDisabled"
    (click)="selectPanel(panels.MASTER)"
    [class.raised-section]="isSelected(panels.MASTER)">

    <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
      <mat-panel-title>
        {{ 'SCENE' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="w100" style="display: flex; margin-top: 25px;">
      <app-master-scene-selector class="w100"></app-master-scene-selector>
    </div>
    <div class="bl-example">
      {{ 'EXAMPLE' | translate}} S1A_IW_SLC__1SSV_20150601T010209_20150601T010236_006173_00808F_20A0
      <app-copy-to-clipboard
      value="S1A_IW_SLC__1SSV_20150601T010209_20150601T010236_006173_00808F_20A0"
      prompt="Copy Name"
      style="margin: 0 3px;"
      class="clipboard-icon">
    </app-copy-to-clipboard>
    </div>
    <div>
      <app-docs-modal url="https://docs.asf.alaska.edu/vertex/baseline/"
                      text="{{'WHAT_IS_BASELINE' | translate}}?">
      </app-docs-modal>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="defaultPanelOpenState" [disabled]="panelIsDisabled"
    (click)="selectPanel(panels.DATE)"
    *ngIf="areResultsLoaded"
    [class.raised-section]="isSelected(panels.DATE)">
    <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
      <mat-panel-title style="align-items: center;">
        {{ 'DATA_FILTERS' | translate}}
        <app-docs-modal class="info-icon"
                        url="https://docs.asf.alaska.edu/vertex/manual/#date-filters">
        </app-docs-modal>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div style="margin-top: 20px;">
      <app-date-selector></app-date-selector>
    </div>
    <div style="margin-top: 20px;">
      <app-season-selector></app-season-selector>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="defaultPanelOpenState" [disabled]="panelIsDisabled"
    (click)="selectPanel(panels.BASELINE)"
    *ngIf="areResultsLoaded"
    [class.raised-section]="isSelected(panels.BASELINE)">
    <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
      <mat-panel-title style="align-items: center;">
        {{ 'BASELINE_CRITERIA' | translate}}
        <app-docs-modal class="info-icon"
                        url="https://docs.asf.alaska.edu/vertex/baseline/#baseline-criteria">
        </app-docs-modal>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-baseline-sliders></app-baseline-sliders>
  </mat-expansion-panel>
</mat-accordion>
