@import 'asf-theme';

$side-padding-only: 0 15px 0 15px;
$header-color: $asf-blue;

.help-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: $side-padding-only;
}

.help-header {
  display: flex;
  flex-direction: row;

  h1 {
    color: $header-color;
  }
}

.help-video {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.videoWrapper {
  width: 560px;
  margin: 0 auto;
}

.videoWrapper iframe {
  //position: absolute;
}

.video-text-line {
  color: black;
  border-style: solid;
  width: 100%;
  margin: 25px 0 15px 0;
}

.help-text-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.help-icon {
  flex: 10 1 auto;
}

.help-text-block {
  flex: 40 1 auto;
}

.help-graphic {
  flex: 50 1 auto;
}
