<div *ngIf="searchType$ | async as selectedSearchType"
  [@isOpen]="isFiltersMenuOpen$ | async"
  class="dataset-filters-div padding-for-box-shadow">
  <div class="dataset-filters-card">
    <div class="header">
      <div>
        <ng-container *ngIf="selectedSearchType === searchTypes.DATASET">
          Search Filters
        </ng-container>

        <ng-container *ngIf="selectedSearchType === searchTypes.LIST">
          List Search
        </ng-container>
      </div>

      <div fxFlex="nogrow">
        <mat-icon (click)="closePanel()" class="clickable">
          close
        </mat-icon>
      </div>
    </div>

    <div class="filters-list">
      <ng-container *ngIf="selectedSearchType === searchTypes.DATASET">
        <app-dataset-search [dataset]="dataset$ | async">
        </app-dataset-search>
      </ng-container>

      <ng-container *ngIf="selectedSearchType === searchTypes.LIST">
        <app-list-search></app-list-search>
      </ng-container>
    </div>

    <div class="footer">
      <app-max-results-selector></app-max-results-selector>
      <app-clear-button></app-clear-button>
      <app-search-button></app-search-button>
    </div>
  </div>
</div>
