@import "asf-theme";

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-layout {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.mb {
  margin-bottom: 8px;
}

.horizontal-layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.aoi-input-area {
  display: flex;
  flex-direction: row;
  height: 200px;
}

.drop-text-box {
  outline: 2px dashed rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.6);
  outline-offset: -10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aoi-input--desktop {
  width: 60%;
  margin-right: 10px;
}

.aoi-input--mobile {
  width: 100%;
}
