<div class="layout">
  <div class="header-layout mb">
    <div><b>Options</b></div>

    <div>
      <button (click)="onClose()" matTooltip="Hide options" mat-icon-button>
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>

  <div class="form-layout">
    <button (click)="onFileUpload()" mat-flat-button color="primary">
      Import Area of Interest
    </button>

    <button (click)="onClearPolygon()" mat-flat-button matTooltip="Clear Area of Intreset">
      Clear
    </button>
  </div>
</div>

