.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-layout {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.mb {
  margin-bottom: 8px;
}

.horizontal-layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
