<mat-card class="position">
  <form class="search-form" [formGroup]="queryForm">
    <mat-form-field class="full-width">
      <input matInput formControlName="query" placeholder="ASF API query">
    </mat-form-field>
    <button (click)="onSubmit()" mat-raised-button color="primary" class="mr-2">
      <span *ngIf="isLoading">Loading...</span>
      <span *ngIf="!isLoading">Search</span>
    </button>
    <button (click)="clearSearches.emit()" mat-raised-button color="warn">
      Clear
    </button>
  </form>
</mat-card>
