<mat-sidenav-container class="container tophat-offset" (backdropClick)="onCloseSidebar()">
  <mat-sidenav
    [ngClass]="{'app-sidenav-mobile': breakpoint <= breakpoints.SMALL,
                'app-sidenav': breakpoint > breakpoints.SMALL}"
    #sidenav (keydown.escape)="onCloseSidebar()" disableClose>
    <app-saved-searches *ngIf="isSaveSearchPanelOpen"></app-saved-searches>
    <app-save-user-filters *ngIf="isSaveFiltersPanelOpen"></app-save-user-filters>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <app-header [isLoading]="isLoading$ | async">
      </app-header>

      <app-map (loadUrlState)="onLoadUrlState()">
      </app-map>

      <app-results-menu>
      </app-results-menu>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
