.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden;
}

.app-sidenav {
  bottom: unset;
}

@media screen and (max-width: 800px) {
  .tophat-offset {
    top: 40px;
  }
}

@media screen and (min-width: 801px) {
  .tophat-offset {
    top: 32px;
  }
}
