.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 32px);
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden;
}

.app-sidenav {
  bottom: unset;
  width: min-content;
}

.app-sidenav-mobile {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.tophat-offset {
  top: 0;
}

.no-tophat-offset {
  top: 0;
}

.sidenav-content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  height: 100%;
}

.mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

:host {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 32px);
}
