<mat-sidenav-container class="example-container" (backdropClick)="onCloseSidebar()">
  <mat-sidenav class="app-sidenav" #sidenav (keydown.escape)="onCloseSidebar()" disableClose>

    <app-logo style="width: 100%"></app-logo>

    <app-search-selector
      (newSearchType)="onSetSearchType($event)"
      [selectedSearchType]="searchType">
    </app-search-selector>

    <div>
      <div class="support_by">Support provided by...</div>
      <a href="https://earthdata.nasa.gov/" target="_blank">
        <img class="img-nasa-logo" src="/assets/meatball.png">
      </a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <app-bottom-menu>
      </app-bottom-menu>

      <app-nav-bar
        (doSearch)="onNewSearch()"
        (clearSearch)="onClearSearch()"
        [isLoading]="isLoading$ | async">
      </app-nav-bar>

      <app-map (loadUrlState)="onLoadUrlState()">
      </app-map>

      <app-additional-filters
         (newSearch)="onNewSearch()"
         (clearSearch)="onClearSearch()"
        ></app-additional-filters>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

