.nav-item-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout {
  display: flex;
  justify-content: flex-end;
}

.bounds {
  display: block;
  padding: 0 !important;
  margin: 0 20px 0 0;
}
