.nav-item-position {
  //display: block !important;
}

.layout {
  display: flex;
  justify-content: flex-end;
}

.bounds {
  display: block;
  padding: 0 !important;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
