<div
  class="bounds">
  <div>
    <div class="breadcrumb-list"
         [class.mobile-nav-bar]="(breakpoint$ | async) === breakpoints.MOBILE"
         fxLayout="row"
         fxFlexFill>
      <div fxLayout="row"
           fxLayout.gt-lg="column">
        <div fxFlex="auto" class="logo">
          <app-logo></app-logo>
        </div>
      </div>

      <div *ngIf="searchType$ | async as searchType" fxLayout="column" fxFill>
        <app-dataset-nav *ngIf="searchType === searchTypes.DATASET"
          (openQueue)="onOpenDownloadQueue()">
        </app-dataset-nav>

        <app-list-nav *ngIf="searchType === searchTypes.LIST"
          (openQueue)="onOpenDownloadQueue()">
        </app-list-nav>

        <app-info-bar *appBreak="'MOBILE'; op 'ne'"></app-info-bar>
      </div>
    </div>
  </div>
  <mat-progress-bar *ngIf="isLoading" style="width: 100%" mode="indeterminate"></mat-progress-bar>
</div>
