<mat-card class="card-spacing">
  <h2>Mission Search</h2>

  <div style="margin-bottom: 10px;">
    <mat-button-toggle-group [value]="platformFilter" name="fontStyle" aria-label="Font Style">
      <mat-button-toggle
        *ngFor="let platform of missionPlatforms"
        (click)="selectPlatformFilter(platform)"
        [value]="platform">
          {{ platform.toLowerCase().includes('beta') ?  'Beta Products' : platform }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <form [formGroup]="stateForm">
    <mat-form-field>
      <input type="text" matInput placeholder="Filter Mission" formControlName="missionFilter">
    </mat-form-field>
  </form>

  <mat-nav-list role="list">
    <ng-container *ngIf="!!selectedMission">
      <mat-list-item  class="mat-primary">
        <mat-icon mat-list-icon>arrow_right</mat-icon>
        <b>{{ selectedMission }}</b>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
    </ng-container>

    <a mat-list-item
      *ngFor="let mission of currentPageOf(filteredMissions, pageSize, pageIndex)"
      (click)="setMission(mission)"
      role="listitem">
        {{ mission }}
    </a>
  </mat-nav-list>

  <mat-paginator [length]="filteredMissions.length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="onNewPage($event)"
                #paginator>
  </mat-paginator >
</mat-card>
