<ul class="scene-metadata">
    <li style="word-wrap: anywhere;">
      <b> Group ID </b> • {{groupID}}
    </li>
    <li>
    <b> Relative Burst ID </b>  • {{burst.relativeBurstID}}

    <mat-icon *ngIf="isGeoSearch"
    [matMenuTriggerFor]="addRelativeBurstMenu"
    class="v-mid clickable">
      settings
  </mat-icon>

  <mat-menu #addRelativeBurstMenu="matMenu">
    <button (click)="setRelativeBurst()" mat-menu-item>Add relative burst id to search</button>
  </mat-menu>
    </li>

    <li>
      <b> Absolute Burst ID </b>  • {{burst.absoluteBurstID}}
      <mat-icon *ngIf="isGeoSearch"
      [matMenuTriggerFor]="addAbsoluteBurstMenu"
      class="v-mid clickable">
        settings
    </mat-icon>

    <mat-menu #addAbsoluteBurstMenu="matMenu">
      <button (click)="setAbsoluteBurst()" mat-menu-item>Add absolute burst id to search</button>
    </mat-menu>
    </li>
    <li>
      <b> Full Burst ID </b>  • {{burst.fullBurstID}}
      <mat-icon *ngIf="isGeoSearch"
      [matMenuTriggerFor]="addFullBurstMenu"
      class="v-mid clickable">
        settings
    </mat-icon>

    <mat-menu #addFullBurstMenu="matMenu">
      <button (click)="setFullBurst()" mat-menu-item>Add full burst id to search</button>
    </mat-menu>
    </li>
    <li>
      <b> Burst Index </b>  • {{burst.burstIndex}}
    </li>
    <li>
      <b> Azimuth Time </b>  • {{burst.azimuthTime}}
    </li>
    <li>
      <b> Azimuth Anx Time </b>  • {{burst.azimuthAnxTime}}
    </li>
    <li>
      <b> Samples Per Burst </b>  • {{burst.samplesPerBurst}}
    </li>
    <li>
      <b> Subswath </b>  • {{burst.subswath}}
    </li>
</ul>
