.bg-primary {
  /* background: rgb(19, 49, 91); */

  /* background: linear-gradient(0deg, rgba(19, 49, 91, 1) 0%, rgba(35, 97, 146, 1) 100%); */

  background: rgb(101, 102, 92);
  background: linear-gradient(180deg, rgba(101, 102, 92, 1) 0%, rgba(106, 106, 106, 1) 100%);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

a {
  color: #236192;
}
