@use "@angular/material" as mat;

@import "asf-theme";
$config: mat.define-typography-config();

.medium-header {
  padding-bottom: 8px;
}

.baseline-header-card--layout {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 38%;
}

.header-button-group {
  width: 189px;
  display: flex;
  justify-content: center;
}

.baseline-scene-detail--layout {
  height: 100%;
  width: 100%;
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 21%;
}

.baseline-header--medium-layout {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 45%;
}

.baseline-header-button-group {
  justify-content: center;
}

.mat-button-toggle-button {
  border: 0;
  background: none;
  color: inherit;
  padding: 0;
  margin: 0;
  font: inherit;
  outline: none;
  width: 100%;
  cursor: pointer;
}

.baseline-criteria-button-toggle-group {
  flex: 0 1 auto !important;
  margin-top: -5px;
}

.baseline-criteria-button-toggle {
  @include themify($themes) {
    background-color: themed('background-white') !important;
  }
  font-size: 14px;
}

.criteria-button-group {
  outline: none;
  width: auto;
}

.more-icon {
  cursor: pointer;
  position: absolute;
  display: inline;
}

.more-horiz {
  font-size: 16px !important;
  margin-bottom: -11px;
}

.mr-10 {
  margin-right: 10px;
}

.list-button {
  @include themify($themes) {
    background-color: themed('background-white');
  }
  border: darkgrey 1px solid;
  color: inherit;
  padding: 0 0 0 5px;
  margin: 0 5px 0 0;
  font: inherit;
  outline: none;
  width: 35px;
  height: 26px;
  cursor: pointer;
  text-align: center;
}

.list-icon {
  margin-top: -2px;
  font-size: 18px !important;
  height: 18px !important;
  width: 18px !important;
}

.list-button-group {
  max-width: fit-content;
  margin-top: -11px;
  line-height: 26px !important;
}

.button-group-label {
  @include themify($themes) {
    color: themed('dark-secondary-text');
  }
  text-align: center;
  font-size: 12px;
  margin-left: auto;
  line-height: 15px;
}

.scene-text {
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
}

.button-tabs {
  margin-left: 20px;
}

.baseline-header--wrapper {
 display: flex;
 column-gap: .4em;
}

.baseline-detail-view--layout {
  height: 100%;
  width: 100%;
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 45%;
}

.criteria-header--layout {
  height: 100%;
  width: 100%;
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 55%;
}

.criteria-header--small-layout {
  height: 100%;
  width: 100%;
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 45%;
}

.scenes-list-button-container {
  width: 100%;
  mat-button-toggle-group {
    margin: auto
  }
}
