@import "asf-help";

.doc-container {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
}

.doc-container iframe {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
}
