<div class="disp-layers--layout position">
  <div class="layers-selector fx-col">
    <mat-checkbox (change)="onToggleCumulativeLayerDisplay($event.checked)">
      <div class="selector-text">
        {{ 'CUMULATIVE_LAYER' | translate}}
      </div>
    </mat-checkbox>
    <mat-radio-group #cumulativeLayers (change)="onUpdateLayerType($event.value)"
      [disabled]="cumulativeDisplacementSelectionDisabled"
      style="display: flex; flex-direction: column; margin-left: 10px">
      <mat-radio-button [value]="DispLayerTypes.DISPLACEMENT" [disabled]="cumulativeDisplacementSelectionDisabled">
        <div class="selector-text">
          {{ 'DEFORMATION' | translate}}
        </div>
      </mat-radio-button>
      <mat-radio-button [value]="DispLayerTypes.VELOCITY" [disabled]="cumulativeDisplacementSelectionDisabled">
        <div class="selector-text">
          {{ 'VELOCITY' | translate}}
        </div>
      </mat-radio-button>
    </mat-radio-group>
    <mat-checkbox #priorityRollout (change)="onUpdatePriority($event.checked)"
    [checked]="priorityEnabled">
      <div class="selector-text">
        {{ 'ROLLOUT' | translate}}
      </div>
    </mat-checkbox>

    <div class="help-text">
      {{ 'WHAT_ARE_THESE?' | translate}}
      <app-docs-modal class="info-icon" url="https://docs.asf.alaska.edu/vertex/displacement/#map-layers">
      </app-docs-modal>
    </div>
  </div>

  <div class="footer">
    <div class="footer--text">
      {{ 'MAP_LAYERS' | translate}}
    </div>
  </div>
</div>
