<div class="disp-layers--layout position">
  <div class="layers-selector fx-col">
<!--    <mat-checkbox (change)="onToggleCumulativeLayerDisplay($event.checked)" [checked]="!!this.displacementOverview">-->
<!--      <div class="selector-text">-->
<!--        {{ 'CUMULATIVE_LAYER' | translate}}-->
<!--      </div>-->
<!--    </mat-checkbox>-->

    <mat-checkbox [value]="DispLayerTypes.DISPLACEMENT" [disabled]="!cumulativeDisplacementSelectionEnabled" [checked]="this.displacementOverview === DispLayerTypes.DISPLACEMENT">
      <div class="selector-text">
        {{ 'DEFORMATION' | translate}}
      </div>
    </mat-checkbox>

    <mat-checkbox [value]="DispLayerTypes.VELOCITY" [disabled]="!cumulativeDisplacementSelectionEnabled" [checked]="this.displacementOverview === DispLayerTypes.VELOCITY">

      <div class="selector-text" style="margin-top: 4px;">
        {{ 'VELOCITY' | translate}}
        @if (cumulativeDisplacementSelectionEnabled && this.displacementOverview) {
          <app-map-legend
            style="display: inline-block;"
            [min]="this.mapService.displacementRange?.range[0]"
            [max]="this.mapService.displacementRange?.range[1]"
            [units]="this.mapService.displacementRange?.units">
          </app-map-legend>
        }
      </div>
    </mat-checkbox>

<!--    @if (cumulativeDisplacementSelectionEnabled && this.displacementOverview) {-->
<!--        <app-map-legend-->
<!--        [min]="this.mapService.displacementRange?.range[0]"-->
<!--        [max]="this.mapService.displacementRange?.range[1]"-->
<!--        [units]="this.mapService.displacementRange?.units">-->
<!--      </app-map-legend>-->
<!--    }-->

    <mat-checkbox #priorityRollout class="rollout-checkbox"
    (change)="onUpdatePriority($event.checked)"
    [checked]="priorityEnabled">
      <div class="selector-text">
        {{ 'ROLLOUT' | translate}}
      </div>
    </mat-checkbox>

    @if (priorityEnabled) {
      <div class="priority-legend">
        <div class="priority-box first-priority"> 1st </div>
        <div class="priority-box second-priority"> 2nd </div>
        <div class="priority-box third-priority"> 3rd </div>
      </div>
    }

    <div class="help-text">
      {{ 'WHAT_ARE_THESE?' | translate}}
      <app-docs-modal class="info-icon" url="https://docs.asf.alaska.edu/vertex/displacement/#map-layers">
      </app-docs-modal>
    </div>
  </div>

  <div class="footer">
    <div class="footer--text">
      {{ 'MAP_LAYERS' | translate}}
    </div>
  </div>
</div>
