@import "asf-theme";

.disp-layers--layout {
  height: 100%;
  min-height: 100%;
  width: 220px;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
}

.position {
  z-index: 998;
  margin-left: 20px;
  top: 20px;
}

.layers-selector {
  @include themify($themes) {
    background-color: themed('primary-light');
  }

  //padding-bottom: 4px;
  //padding-right: 10px;
  pointer-events: auto;
}

.selector-text {
  font-weight: bold;
}

.help-text {
  padding-left: 10px;
  font-size: small;
}

.footer {
  @include themify($themes) {
    background-color: themed('primary');
  }

  margin: 0;
  padding: 0;
  height: 16px;
  //display: flex;
}

.footer--text {
  @include themify($themes) {
    background-color: themed('primary');
    color: themed('light-secondary-text');
  }

  font-size: 12px;
  margin-top: 0;
  //text-align: end;
  padding: 5px 10px
}

.container {
  display: flex;
}

.container.space-around {
  justify-content: space-around;
}

.container.space-between {
  justify-content: space-between;
}

.rollout-checkbox {
  margin: 4px 0;
}

.priority-legend {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  //margin: 0 5px 5px;
  margin-top: -5px;
  margin-bottom: 7px;
  margin-left: 40px;
  width: 170px;
  height: 20px;
  padding: 0;
  border-radius: 4px;
}

.priority-box {
  flex: 1;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.first-priority {
  background-color: rgba(127, 206, 255, 0.8);
}

.second-priority {
  color: white;
  background-color: rgba(45, 128, 179, 0.7);
}

.third-priority {
  color: white;
  background-color: rgba(0, 64, 103, 0.6);
}

.displacement-info-icon {
  position: absolute;
  margin: 1px 10px;
  font-size: 14px;
  color: darkslategray;

}
