@use "@angular/material" as mat;

@import "asf-theme";

$config: mat.define-typography-config();

.info-bar--size {
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

div span {
  margin-right: 2px;
}

.first-info {
  flex: 0 1 65%;
  padding-left: 10px;
  height: 32px;
}

.last-info {
  flex: 0 1 35%;
  text-align: right;
  margin-right: 25px;
}

.info-bar {
  border-top-color: $asf-primary;
  border-top-style: solid;
  border-top-width: 1px;
  background-color: $asf-primary-light;
  color: $asf-primary-dark;
  line-height: 30px;
  //font-family: mat.font-family($custom-typography);
  font-size: 14px;
  padding-right: 150px;
}

.search-input {
  width: 60px;
}

.new-stuff {
  cursor: pointer;
  color: $uaf-primary-blue;
  font-weight: bold;
  margin-right: 10px;
}

.sarviews {
  color: unset;
  font-style: italic;
  font-size: 10pt;
}

#ASF_SEARCH {
  width: 185px;
}
