<div fxLayout="row wrap"
     fxFlexFill
     *ngIf="breakpoint$ | async as breakpoint"
     class="info-bar">

  <div class="first-info">
    <span *ngIf="(searchType$ | async) === searchTypes.CUSTOM_PRODUCTS">
      <app-hyp3-url></app-hyp3-url>
    </span>
    <span *ngIf="(searchType$ | async) === searchTypes.SARVIEWS_EVENTS && !!eventProductTypes">
      <b>{{'PRODUCT_TYPES' | translate }}:</b> {{eventProductTypes}}
    </span>
    <span *ngIf="(breakpoint < breakpoints.FULL) && !!startDate">
      <b>{{ 'START' | translate }}:</b> {{ startDate | shortDate }}
    </span>
    <span *ngIf="(breakpoint < breakpoints.FULL) && !!endDate">
      <b>{{ 'END' | translate }}:</b> {{ endDate | shortDate }}
    </span>
    <span *ngIf="pathRange.start || pathRange.end">
      <b>{{'PATH' | translate }}:</b> {{pathRange.start}} - {{pathRange.end}}
    </span>
    <span *ngIf="frameRange.start || frameRange.end">
      <b>{{ 'FRAME'| translate }}:</b> {{frameRange.start}} - {{frameRange.end}}
    </span>
    <span *ngIf="season.start || season.end">
      <b>{{ 'SEASON' | translate}}:</b> {{season.start}} - {{season.end}}
    </span>
    <span *ngIf="shouldOmitSearchPolygon">
      <b>{{ 'OMIT_GEO' | translate }}:</b> {{ shouldOmitSearchPolygon ? 'Yes' : 'No' }}
    </span>
    <span *ngIf="productTypes">
      <b>{{ 'FILE_TYPES' | translate }}:</b> {{ productTypes }}
    </span>
    <span *ngIf="beamModes.length">
      <b>{{'BEAM MODES'| translate | titlecase}}:</b> {{beamModes}}
    </span>
    <span *ngIf="polarizations.length">
      <b>{{'POLARIZATIONS' | translate }}:</b> {{polarizations}}
    </span>
    <span *ngIf="flightDirections.length">
      <b>{{'FLIGHT_DIR' | translate  }}:</b> {{flightDirections}}
    </span>
    <span *ngIf="subtypes">
      <b>{{ 'DATASET' | translate }}:</b> {{ subtypes }}
    </span>
    <span *ngIf="mission">
      <b>{{'CAMPAIGN' | translate }}:</b> {{ mission }}
    </span>
    <span *ngIf="tempRange.start || tempRange.end">
      <b>{{'TEMPORAL' | translate }}:</b> {{tempRange.start}} <span *ngIf="!!tempRange.end"> to {{tempRange.end}}</span>
    </span>
    <span *ngIf="perpRange.start || perpRange.end">
      <b>{{'PERPENDICULAR' | translate}}:</b> {{perpRange.start}} <span *ngIf="!!perpRange.end"> to {{perpRange.end}} </span>
    </span>
  </div>
  <div fxFlex class="last-info">
    <app-ci-search></app-ci-search>
  </div>
</div>
