<div fxLayout="row wrap"
     fxFlexFill
     *ngIf="breakpoint$ | async as breakpoint"
     class="info-bar">

  <div class="first-info">
    <span *ngIf="(searchType$ | async) === searchTypes.CUSTOM_PRODUCTS">
      <app-hyp3-url></app-hyp3-url>
    </span>
    <span *ngIf="(searchType$ | async) === searchTypes.SARVIEWS_EVENTS && !!eventProductTypes">
      <b>Product Types:</b> {{eventProductTypes}}
    </span>
    <span *ngIf="(breakpoint < breakpoints.FULL) && !!startDate">
      <b>Start:</b> {{ startDate | shortDate }}
    </span>
    <span *ngIf="(breakpoint < breakpoints.FULL) && !!endDate">
      <b>End:</b> {{ endDate | shortDate }}
    </span>
    <span *ngIf="pathRange.start || pathRange.end">
      <b>{{ 'PATH' |  translate }}:</b> {{pathRange.start}} - {{pathRange.end}}
    </span>
    <span *ngIf="frameRange.start || frameRange.end">
      <b>{{ 'FRAME' |  translate }}:</b> {{frameRange.start}} - {{frameRange.end}}
    </span>
    <span *ngIf="season.start || season.end">
      <b>Season:</b> {{season.start}} - {{season.end}}
    </span>
    <span *ngIf="shouldOmitSearchPolygon">
      <b>Omit Geo:</b> {{ shouldOmitSearchPolygon ? 'Yes' : 'No' }}
    </span>
    <span *ngIf="productTypes">
      <b>File Types:</b> {{ productTypes }}
    </span>
    <span *ngIf="beamModes.length">
      <b>Beam Modes:</b> {{beamModes}}
    </span>
    <span *ngIf="polarizations.length">
      <b>Polarizations:</b> {{polarizations}}
    </span>
    <span *ngIf="flightDirections.length">
      <b>Flight Dir:</b> {{flightDirections}}
    </span>
    <span *ngIf="subtypes">
      <b>Dataset:</b> {{ subtypes }}
    </span>
    <span *ngIf="mission">
      <b>Campaign:</b> {{ mission }}
    </span>
    <span *ngIf="tempRange.start || tempRange.end">
      <b>Temporal:</b> {{tempRange.start}} <span *ngIf="!!tempRange.end"> to {{tempRange.end}}</span>
    </span>
    <span *ngIf="perpRange.start || perpRange.end">
      <b>Perpendicular:</b> {{perpRange.start}} <span *ngIf="!!perpRange.end"> to {{perpRange.end}} </span>
    </span>
  </div>
  <div fxFlex class="last-info">
    <app-ci-search></app-ci-search>
  </div>
</div>
