@use "@angular/material" as mat;

@import "asf-theme";

$config: mat.define-typography-config();

.info-bar--size {
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

div span {
  margin-right: 2px;
}

.first-info {
  flex: 0 1 65%;
  padding-left: 5px;
  height: 32px;
}

.last-info {
  text-align: right;
  margin-right: 25px;
  flex: 1 1 0%;
  box-sizing: border-box;
}

.info-bar {
  @include themify($themes) {
    color: themed('dark-primary-text');
    background-color: themed('primary-light');
    border-top-color: themed('primary');
  }
  border-top-style: solid;
  border-top-width: 1px;
  line-height: 30px;
  font-size: 14px;
  padding-right: 150px;
  margin-top: 15px;
  margin-bottom: -5px;
  height: 100%;  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
}

.search-input {
  width: 60px;
}

.new-stuff {
  cursor: pointer;
  @include themify($themes) {
    color: themed('blue-link');
  }
  font-weight: bold;
  margin-right: 10px;
}

.sarviews {
  color: unset;
  font-style: italic;
  font-size: 10pt;
}

#ASF_SEARCH {
  width: 185px;
}
