@use "@angular/material" as mat;

@use "asf-theme-variables" as *;
@use "tokens" as *;

$config: mat.m2-define-legacy-typography-config();

.info-bar--size {
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

div span {
  margin-right: 2px;
}

.first-info {
  flex: 0 1 65%;
  padding-left: spacing(xs);
  height: 32px;
}

.last-info {
  text-align: right;
  margin-right: spacing(lg);
  flex: 1 1 0%;
  box-sizing: border-box;
}

.info-bar {
  color: var(--asf-dark-primary-text);
  background-color: var(--asf-primary-light);
  border-top-color: var(--asf-primary);
  border-top-style: solid;
  border-top-width: 1px;
  line-height: 30px;
  font-size: 14px;
  padding-right: 150px;
  margin-top: spacing(lg);
  margin-bottom: -#{spacing(xs)};
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
}

.search-input {
  width: 60px;
}

.new-stuff {
  cursor: pointer;
  color: var(--asf-blue-link);
  font-weight: bold;
  margin-right: spacing(sm);
}

.sarviews {
  color: unset;
  font-style: italic;
  font-size: 10pt;
}

#ASF_SEARCH {
  width: 185px;
}
