@use "asf-theme-variables" as *;

.browse-list {
  @include themify($themes) {
    background-color: themed('primary-light');
    border-top-color: themed('primary-dark');
  }

  min-height: 140px;
  border-top-style: solid;
  border-top-width: 1px;
}

.browse-list-viewport .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.browse-dialog .cdk-virtual-scroll-viewport {
  overflow-x: auto;
  overflow-y: hidden !important;
}

.browse-image--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 110px;
  height: 100px;
  margin-top: 15px;
}

.browse-image {
  width: 100px;
  max-width: 100%;
  height: 100px;
  max-height: 100%;
  object-fit: contain;
}

.browse-image--date {
  height: 18px;
  margin-bottom: 5px;
  font-size: small;
}
