.noshow {
  width: 1px;
  color: transparent;
  display: none;
}

.dataset-selector--layout {
  flex: 1 1 130px !important;
  box-sizing: border-box !important;
  max-width: 130px !important;
  min-width: 130px !important;
}

$width: 330px;

.date-selector--layout {
  flex: 1 1 $width;
  box-sizing: border-box;
  max-width: $width;
  min-width: $width;
}
.more-horiz {
  margin-left: 0 !important;
}
