<mat-card class="card-spacing">
    <h4>Acquisition Date</h4>

  <mat-form-field>
    <input matInput [(ngModel)]="startDate" [min]="extrema.start.min" [max]="extrema.start.max" [matDatepicker]="start" placeholder="Start Date"
      (dateInput)="onStartDateChange($event)"
      (dateChanged)="onStartDateChange($event)">
    <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
    <mat-datepicker #start></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="endDate" [min]="extrema.end.min" [max]="extrema.end.max" [matDatepicker]="end" placeholder="End Date"
    (dateInput)="onEndDateChange($event)"
    (dateChanged)="onEndDateChange($event)">
    <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
    <mat-datepicker #end></mat-datepicker>
  </mat-form-field>
</mat-card>
