<div *ngIf="(breakpoint$ | async) as breakpoint" class="breadcrumb-row fx-row">
  <ng-container *ngIf="breakpoint !== breakpoints.MOBILE">
    <div class="fx-row">
      <app-search-type-selector
        (click)="closeAOIOptions()"
        class="breadcrumb">
      </app-search-type-selector>
    </div>

    <div>
      <div class="fx-row">
        <div
          *ngIf="breakpoint === breakpoints.FULL"
          class="breadcrumb medium-selector--layout">
          <app-sarviews-event-search-selector></app-sarviews-event-search-selector>
        </div>
        <div
          *ngIf="breakpoint === breakpoints.FULL"
          class="breadcrumb medium-selector--layout">
          <app-sarviews-event-type-selector></app-sarviews-event-type-selector>
        </div>
        <div
          *ngIf="breakpoint === breakpoints.FULL"
          class="breadcrumb large-selector--layout">
          <app-date-selector></app-date-selector>
        </div>

        <div class="breadcrumb">
          <button (click)="onToggleFiltersMenu()"
            mat-button class="additional-filters-button">
            Filters <br> <mat-icon>more_horiz</mat-icon>
          </button>
        </div>

        <div class="breadcrumb">
          <app-search-button></app-search-button>
        </div>
      </div>

      <div class="icon-cluster">
        <app-header-buttons>
        </app-header-buttons>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="breakpoint === breakpoints.MOBILE">
    <div class="mobile-nav-bar">
      <button
        (click)="onToggleFiltersMenu()"
        style="margin-left: 5px;"
        mat-flat-button>
        Filters
      </button>

      <div class="mobile-icon-cluster">
        <app-header-buttons>
        </app-header-buttons>
      </div>
    </div>
  </ng-container>
</div>
