$width: 330px;

.medium-selector--layout {
  flex: 1 1 175px;
  box-sizing: border-box;
  max-width: 212px;
  min-width: 212px;
}

.large-selector--layout {
  flex: 1 1 $width;
  box-sizing: border-box;
  max-width: $width;
  min-width: $width;
}
