.medium-selector--layout {
  flex: 1 1 175px;
  box-sizing: border-box;
  max-width: 212px;
  min-width: 212px;
}

.large-selector--layout {
  flex: 1 1 300px;
  box-sizing: border-box;
  max-width: 300px;
  min-width: 300px;
}
