<div *ngIf="breakpoint$ | async as breakpoint" fxLayout="row" class="breadcrumb-row">
  <ng-container *ngIf="breakpoint !== breakpoints.MOBILE">
    <div fxLayout="row">
      <app-search-type-selector
        (click)="closeAOIOptions()"
        class="breadcrumb">
      </app-search-type-selector>

      <app-project-name-selector class="breadcrumb">
      </app-project-name-selector>

      <div
      *ngIf="breakpoint > breakpoints.SMALL"
      fxFlex="300px"
      class="breadcrumb">
      <app-date-selector></app-date-selector>
      </div>

      <app-job-product-name-selector [headerView]="true" *ngIf="breakpoint === breakpoints.FULL" class="breadcrumb">
      </app-job-product-name-selector>

      <app-job-status-selector *ngIf="breakpoint === breakpoints.FULL" class="breadcrumb">
      </app-job-status-selector>

      <div *ngIf="breakpoint !== breakpoints.FULL"
           fxFlex="nogrow" class="breadcrumb">
        <button (click)="onToggleFiltersMenu()"
                mat-button class="additional-filters-button">
          {{ 'FILTERS' | translate }} <br> <mat-icon>{{  'MORE_HORIZ'  | translate }}</mat-icon>
        </button>
      </div>

      <div class="breadcrumb">
        <div fxFlex="nogrow" class="breadcrumb search-controls">
          <app-search-button></app-search-button>
        </div>
      </div>

      <div class="icon-cluster">
        <app-header-buttons>
        </app-header-buttons>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="breakpoint === breakpoints.MOBILE">
    <div class="mobile-nav-bar">
      <button
        (click)="onToggleFiltersMenu()"
         style="margin-left: 5px;"
        mat-flat-button>
        {{ 'FILTERS' | translate }}
      </button>

      <div class="mobile-icon-cluster">
        <app-header-buttons>
        </app-header-buttons>
      </div>
    </div>
  </ng-container>
</div>
