<mat-card class="ls-card" *ngIf="listSearchMode$ | async as mode">
  <mat-card-title-group class="ls-card-title-group">
    <mat-card-title>
      <span *ngIf="mode === types.GRANULE">Granule</span>
      <span *ngIf="mode === types.PRODUCT">Product</span>
      List Search
    </mat-card-title>
    <mat-card-subtitle>
      <mat-button-toggle-group [value]="mode" class="ls-mat-button-toggle-group">
        <mat-button-toggle
          (click)="onGranuleModeSelected()"
          [value]="types.GRANULE"
          matTooltip="Granule List Search">
          Granule
        </mat-button-toggle>

        <mat-button-toggle
          (click)="onProductModeSelected()"
          [value]="types.PRODUCT"
          matTooltip="Product List Search">
          Product
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-subtitle>
  </mat-card-title-group>

  <mat-card-content class="ls-mat-card-content">
    <div class="ls-instruction">
        <h4>
          <span *ngIf="mode === types.GRANULE">Enter a list of granule names.</span>
          <span *ngIf="mode === types.PRODUCT">Enter a list of product ids.</span>
        </h4>
    </div>
    <mat-form-field class="ls-card-content-list">
      <textarea matInput
                (input)="onTextInputChange($event.target.value)"
                [(ngModel)]="searchList"
                style="height: 150px;"
                placeholder="List of {{ mode === types.GRANULE ? 'granule names' : 'product ids.' }}">
      </textarea>
    </mat-form-field>
  </mat-card-content>
  <div class="ls-example">
    <div>Example:
      <span>
        {{listExamples[mode]}}
      </span>
      <app-copy-to-clipboard
        [value]="listExamples[mode]"
        prompt="Copy {{ mode }} Name"
        style="margin: 0 3px"
        class="clipboard-icon">
      </app-copy-to-clipboard>
    </div>
  </div>

</mat-card>
