<div class="sbas-selector-container">
  <mat-form-field class="sbas-selector-form-field">
    <mat-label>{{ 'OVERLAP_THRESHOLD' | translate }}</mat-label>
    <mat-select
      [(ngModel)]="SBASOverlapThreshold"
      (selectionChange)="onSetThreshold($event.value)"
    >
      <mat-option [value]="SBASOverlapTypes.HALF_OVERLAP">{{
        overlapTranslation[SBASOverlapTypes.HALF_OVERLAP] | translate
      }}</mat-option>
      <mat-option [value]="SBASOverlapTypes.ANY_OVERLAP">{{
        overlapTranslation[SBASOverlapTypes.ANY_OVERLAP] | translate
      }}</mat-option>
      <mat-option [value]="SBASOverlapTypes.ALL">{{
        overlapTranslation[SBASOverlapTypes.ALL] | translate
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
