@use "asf-theme-variables" as *;
@use "tokens" as *;

.raised-section {
  box-shadow: var(--shadow-lg) !important;
}

.selector-card-spacing {
  margin-top: spacing(lg);
}

.info-icon {
  margin-left: spacing(2);
  margin-top: spacing(xs);
}

.header {
  background-color: var(--asf-primary-light);
}