@import url("asf-theme");

.raised-section {
  box-shadow:
    0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%),
    0 5px 10px -3px rgb(0 0 0 / 40%) !important;
}

.selector-card-spacing {
  margin-top: 20px;
}

.info-icon {
  margin-left: 10px;
  margin-top: 4px;
}

.header {
  @include themify($themes) {
    background-color: themed("primary-light");
  }
}
