<div class="dialg-header">
  <div mat-dialog-title>Profile Preferences</div>
<!--  <div>-->
<!--    <mat-icon (click)="onClose()" class="clickable">-->
<!--      close-->
<!--    </mat-icon>-->
<!--  </div>-->
</div>

<mat-dialog-content>
  <div style="margin-bottom: 20px;">
    Search preferences for {{ userAuth.id }}
  </div>

  <div class="display: flex;">
    <form #preferencesForm="ngForm" onsubmit="return false">
      <mat-form-field class="w100">
        <mat-label>Default Dataset</mat-label>
        <mat-select
            [(ngModel)]="defaultDataset"
            (selectionChange)="onSelectionChange($event.value)" name="dataset"
            #defaultDatasetSelector>
          <mat-option
            *ngFor="let dataset of (datasets$ | async)"
            [class.selected]="dataset.id === defaultDataset"
            [value]="dataset.id">
            <ng-container *ngIf="defaultDatasetSelector.panelOpen">
              <app-dataset
                class="list-group-item list-group-item-action"
                [dataset]="dataset">
              </app-dataset>
            </ng-container>
            <ng-container *ngIf="!defaultDatasetSelector.panelOpen">
              {{ dataset.name }}
            </ng-container>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Default Max Result Amount</mat-label>
        <mat-select
          [(ngModel)]="defaultMaxResults"
          (selectionChange)="onChangeMaxResultsDefault($event.value)" name="maxResult">
          <mat-option *ngFor="let resultAmount of maxResults" [value]="resultAmount">
            {{resultAmount}} files
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Default Map Layer</mat-label>
        <mat-select
          [(ngModel)]="defaultMapLayer"
          (selectionChange)="onChangeDefaultLayerType($event.value)" name="amount">
          <mat-option [value]="mapLayerTypes.SATELLITE">
            {{ mapLayerTypes.SATELLITE }}
          </mat-option>
          <mat-option [value]="mapLayerTypes.STREET ">
            {{ mapLayerTypes.STREET  }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

</mat-dialog-content>

<mat-dialog-actions class="action-controls">
  <div class="feedback-link">
    <a href="javascript:feedback.showForm();">Leave Feedback</a>
  </div>
  <div class="done-button">
    <button (click)="onClose()" color="primary" mat-flat-button>
      Done
    </button>
  </div>
</mat-dialog-actions>

