@use "asf-theme-variables" as *;
@use "asf-header-menu-button" as *;
@use "tokens" as *;

.draw-icon {
  @include md-icon-size($asf-ribbon-icon-size);
  color: var(--asf-dark-primary-text);
}

.draw-svg {
  fill: var(--asf-dark-primary-text);
}

.draw-text {
  font-size: font-size(sm);
  line-height: spacing(2);
}

.shape-select-icon {
  display: inline-block;
}

.view-menu-icon {
  transform: translateY(spacing(sm));
}

.bottom-right {
  color: var(--asf-primary);
  position: absolute;
  bottom: -8px;
  right: -spacing(lg);
  transform: rotate(-45deg);
}

.shape-select-button {
  background: var(--asf-surface);
  color: var(--asf-light-primary-text);
  margin: 0;
  padding: 0;
  font-size: font-size(lg) !important;
  line-height: spacing(md);
  height: 27px !important;
  width: spacing(lg) !important;
  min-width: 53px !important;
  border-radius: spacing(xs) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.control-button {
  background: var(--asf-surface);
  color: var(--asf-light-primary-text);
  padding: 0 spacing(md);
}

.draw-button-wrapper {
}

.draw-toggle {
}

.draw-toggle-wrapper {
  margin: 2px 0 0 spacing(1);
  display: block;
  transform: scale(0.9);
}

:host .theme-light .mat-mdc-slide-toggle.mat-accent {
  --mat-slide-toggle-selected-focus-state-layer-color: #757575;
  --mat-slide-toggle-selected-handle-color: #236192;
  --mat-slide-toggle-selected-hover-state-layer-color: #757575;
  --mat-slide-toggle-selected-pressed-state-layer-color: #757575;
  --mat-slide-toggle-selected-focus-handle-color: #236192;
  --mat-slide-toggle-selected-hover-handle-color: #236192;
  --mat-slide-toggle-selected-pressed-handle-color: #236192;
  --mat-slide-toggle-selected-focus-track-color: #e0e0e0;
  --mat-slide-toggle-selected-hover-track-color: #e0e0e0;
  --mat-slide-toggle-selected-pressed-track-color: #e0e0e0;
  --mat-slide-toggle-selected-track-color: #e0e0e0;
  --mat-slide-toggle-unselected-focus-handle-color: #757575;
  --mat-slide-toggle-unselected-hover-handle-color: #757575;
  --mat-slide-toggle-unselected-pressed-handle-color: #757575;
}

