@import "asf-theme";
@import "asf-header-menu-button";

.draw-icon {
  @include md-icon-size($asf-ribbon-icon-size);
  @include themify($themes) {
    color: themed('dark-primary-text');
  }
}
.draw-svg {
  @include themify($themes) {
    fill: themed('dark-primary-text');
  }
}
.draw-text {
  font-size: 14px;
  line-height: 10px;
}

.shape-select-icon {
  display: inline-block;
}

.view-menu-icon {
  transform: translateY(6px);
}

.bottom-right {
  @include themify($themes) {
    color: themed('primary');
  }
  position: absolute;

  bottom: -8px;
  right: -20px;
  transform: rotate(-45deg);
}

.shape-select-button {
  @include themify($themes) {
    background: themed('background-white');
    color: themed('light-primary-text')

  }
  margin: 0;
  padding: 0;
  font-size: 18px !important;
  line-height: 16px;
  height: 27px !important;
  width: 18px !important;
  min-width: 53px !important;
  border-radius: 4px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: solid 1px rgb(0 0 0 / 12%);
  text-align: center;
}

.control-button {
  @include themify($themes) {
    background: themed('background-white');
    color: themed('light-primary-text')
  }
}

.draw-button-wrapper {
}

.draw-toggle {
}

.draw-toggle-wrapper {
  margin: 2px 0 0 10px;
  display: block;
  transform: scale(0.9);
}

::ng-deep .theme-light .mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: #757575;
  --mdc-switch-selected-handle-color: #757575;
  --mdc-switch-selected-hover-state-layer-color: #757575;
  --mdc-switch-selected-pressed-state-layer-color: #757575;
  --mdc-switch-selected-focus-handle-color: #236192;
  --mdc-switch-selected-hover-handle-color: #236192;
  --mdc-switch-selected-pressed-handle-color: #236192;
  --mdc-switch-selected-focus-track-color: #e0e0e0;
  --mdc-switch-selected-hover-track-color: #e0e0e0;
  --mdc-switch-selected-pressed-track-color: #e0e0e0;
  --mdc-switch-selected-track-color: #e0e0e0;

  --mdc-switch-unselected-focus-handle-color: #757575;
  --mdc-switch-unselected-hover-handle-color: #757575;
  --mdc-switch-unselected-pressed-handle-color: #757575;

}

