@import "asf-theme";

.draw-icon {
  @include md-icon-size($asf-ribbon-icon-size);

  color: rgba(0, 0, 0, 0.87);
}

.draw-text {
  font-size: 14px;
  line-height: 10px;
}

.shape-select-icon {
  display: inline-block;
  margin-top: -5px;
}

.view-menu-icon {
  transform: translateY(6px);
}

.bottom-right {
  color: $asf-primary;
  position: absolute;
  bottom: -6px;
  right: -2px;
  transform: rotate(-45deg);
}

.shape-select-button {
  margin: 0;
  padding: 0 0 0 0;
  color: rgba(0, 0, 0, 0.87);
  background: white;
  font-size: 18px !important;
  height: 27px !important;
  width: 18px !important;
  min-width: 53px !important;
  border-radius: 4px !important;
  border: solid 1px rgba(0, 0, 0, 0.12);
  text-align: center;
}
