@use "asf-theme-variables" as *;
@use "asf-header-menu-button" as *;

.draw-icon {
  @include md-icon-size($asf-ribbon-icon-size);

  @include themify($themes) {
    color: themed('dark-primary-text');
  }
}

.draw-svg {
  @include themify($themes) {
    fill: themed('dark-primary-text');
  }
}

.draw-svg-icon {
  width: 18px;
  height: 18px;
}

.menu-draw-icon {
  font-size: 16px;
  vertical-align: -9px;
}

.draw-text {
  font-size: 14px;
  line-height: 10px;
}

.shape-select-icon {
  display: inline-block;
}

.view-menu-icon {
  transform: translateY(6px);
}

.bottom-right {
  @include themify($themes) {
    color: themed('primary');
  }

  position: absolute;
  right: -20px;
  bottom: -8px;
  transform: rotate(-45deg);
}

.shape-select-button {
  @include themify($themes) {
    color: themed('light-primary-text');
    background: themed('background-white')

  }

  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px !important;
  min-width: 53px !important;
  height: 27px !important;
  padding: 0;
  margin: 0;
  font-size: 18px !important;
  line-height: 16px;

  // border: solid 1px rgb(0 0 0 / 12%);
  text-align: center;
  border-radius: 4px !important;
}

.control-button {
  @include themify($themes) {
    color: themed('light-primary-text');
    background: themed('background-white')
  }

  padding: 0 16px
}

.draw-button-wrapper {
}

.draw-toggle {
}

.draw-toggle-wrapper {
  display: block;
  margin: -2px 0 0 3px;
  transform: scale(0.6);
}

::ng-deep .theme-light .mat-mdc-slide-toggle.mat-accent {
  --mat-slide-toggle-selected-focus-state-layer-color: #757575;
  --mat-slide-toggle-selected-handle-color: #236192;
  --mat-slide-toggle-selected-hover-state-layer-color: #757575;
  --mat-slide-toggle-selected-pressed-state-layer-color: #757575;
  --mat-slide-toggle-selected-focus-handle-color: #236192;
  --mat-slide-toggle-selected-hover-handle-color: #236192;
  --mat-slide-toggle-selected-pressed-handle-color: #236192;
  --mat-slide-toggle-selected-focus-track-color: #e0e0e0;
  --mat-slide-toggle-selected-hover-track-color: #e0e0e0;
  --mat-slide-toggle-selected-pressed-track-color: #e0e0e0;
  --mat-slide-toggle-selected-track-color: #e0e0e0;
  --mat-slide-toggle-unselected-focus-handle-color: #757575;
  --mat-slide-toggle-unselected-hover-handle-color: #757575;
  --mat-slide-toggle-unselected-pressed-handle-color: #757575;

}

