@use "asf-theme-variables" as *;
@use "tokens" as *;

.dialog-title {
  background: var(--asf-surface-dark-10);
  margin-bottom: spacing(2);
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: spacing(md) spacing(xl) 0 spacing(xl);
  background: var(--asf-surface-dark-10);
}

.flex-item {
  flex: 0 1 auto;
}

