<div *ngIf="granule">
  <mat-card-header>
    <mat-card-title>
      <span [title]="granule.name">{{ granule.name | truncate : 34 }}</span>
      <app-copy-to-clipboard style="margin: 0 5px; " [value]="granule.name"></app-copy-to-clipboard>
    </mat-card-title>
    <mat-card-subtitle>{{ granule.platform }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="w100" fxFlex fxLayout="row" fxLayoutAlign="space-between">
    <div style="width: 50%">
      <ul>
        <li> <b>Aquisition Date:</b> {{ granule.metadata.date | shortDate }} </li>
        <li> <b>Beam Mode:</b> {{ granule.metadata.beamMode }}</li>
        <li> <b>Path: </b> {{ granule.metadata.path }}</li>
        <li> <b>Frame:</b> {{ granule.metadata.frame }}</li>
        <li> <b>Flight Direction:</b> {{ granule.metadata.flightDirection }}</li>
        <li> <b>Polarization: </b> {{ granule.metadata.polarization }}</li>
        <li> <b>Absolute Orbit: </b> {{ granule.metadata.absoluteOrbit }}</li>
        <li> <b>Frequency: </b> {{ granule.metadata.frequency }}</li>
        <li> <a href="http://www.esa.int/ESA"> Data courtesy of ESA</a></li>
      </ul>

      <p class="faint-text">Accessing this data requires you to log in. Some datasets also require a proposal, or agreement with a EULA which is presented after log in.</p>

    </div>
    <div fxFlexAlign="center" style="width: 40%;">
      <img
        class="fit-to-container"
        [src]="granule.browse"
        (click)="onOpenImage(granule);"
        style="cursor: pointer; "
        onerror="this.src='assets/error.png'"
        alt="Sentinel1 granule browse image">
    </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <a mat-raised-button color="primary"
      target="_blank"
      href="https://baseline.asf.alaska.edu/#/baseline?granule={{ granule.name }}">
      Baseline Tool
    </a>
    <a mat-raised-button color="primary"
      target="_blank"
      href="https://www.asf.alaska.edu/about/how-to-cite-data/">
      Citation
    </a>
  </mat-card-actions>
</div>

<div *ngIf="!granule" style="height: 100%;">
  <div fxFlex fxLayoutAlign="center" gdAlignColumns="center">
    <span class="faint-text">No Granule Selected</span>
  </div>
</div>
