.detail-card {
  height: 435px;
  margin-top: 4px;
  //overflow: auto;
}

.clipboard-icon {
  margin: 0 10px;
}

.granule-metadata {
  font-size: 14px;
}

.fit-to-container {
  max-height: 250px;
  max-width: 100%;
}

.img-container {
  position: relative;
}

.browse-img {
  width: 100%;
  z-index: 90;
}

.img-overlay {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.2s ease;
  transform: translate(-50%, -50%);
}

.overlay-icon {
  margin: 0;
  opacity: 0;
  transition: 0.2s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(4);
}

.img-container:hover .img-overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.img-container:hover .overlay-icon {
  opacity: 1;
}

.content {
  margin: 0 16px 25px 16px;
  height: 300px;
  overflow: auto;
}

.action-buttons {
  padding: 0 24px;
  margin: 0;
}

.detail-item-margin {
  margin-top: 5px;
}

.w40 {
  width: 40%;
}

.w50 {
  width: 50%;
}
