@use "asf-theme";

.map-legend {
  //position: absolute;
  margin-bottom: 7px;
  margin-left: 40px;
  width: 170px;
  height: 20px;
  padding: 0;
  color: white;
  font-size: 12px;
  background-image: linear-gradient(to right,
        rgba(0, 18, 97),
        rgba(3, 62, 125),
        rgba(30, 111, 157),
        rgba(113, 168, 196),
        rgba(201, 221, 231),
        rgba(234, 206, 189),
        rgba(211, 151, 116),
        rgba(190, 101, 51),
        rgba(139, 39, 6),
        rgba(89, 0, 8),
  );
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  //margin: 0;
  //width: 100px;
}
