@use "asf-theme-variables" as *;
@use "component-mixins" as *;

.map-legend {
  //position: absolute;
  margin-bottom: 7px;
  margin-left: 40px;
  width: 170px;
  height: 20px;
  padding: 0;
  color: white;
  font-size: 12px;
  background-image: linear-gradient(to right,
        rgb(0 18 97),
        rgb(3 62 125),
        rgb(30 111 157),
        rgb(113 168 196),
        rgb(201 221 231),
        rgb(234 206 189),
        rgb(211 151 116),
        rgb(190 101 51),
        rgb(139 39 6),
        rgb(89 0 8),
  );
  border-radius: 4px;
  display: inline-flex;
  @include flex-between; // Replaces align-items + justify-content
}

.layout {
  @include flex-between;
  //margin: 0;
  //width: 100px;
}
