<mat-form-field>
  <mat-select
    [(value)]="productTypesList"
    (selectionChange)="onNewProductTypes($event)"
    [disabled]="dataset.productTypes.length < 1"
    placeholder="{{ 'FILE_TYPE' | translate }}" multiple>
      <mat-option
        *ngFor="let type of dataset.productTypes"
        [value]="type.apiValue"
        [matTooltip]="type.displayName">
          {{type.displayName}}
      </mat-option>
  </mat-select>
  <mat-hint *ngIf="dataset.productTypes.length >= 1" align="start">
    {{ productTypesList?.length || 0 }}/{{ dataset.productTypes.length }}
    {{ 'FILE_TYPES_SELECTED' | translate }}
  </mat-hint>

  <mat-hint *ngIf="dataset.productTypes.length < 1" align="start">
    {{ 'NO_FILE_TYPES_TO_SELECT' | translate }}
  </mat-hint>
</mat-form-field>
