@if (!isAriaS1Gunw) {
  <mat-form-field>
    <mat-label>{{ 'FILE_TYPE' | translate }}</mat-label>
    <mat-select
      [(value)]="productTypesList"
      (selectionChange)="onNewProductTypes($event)"
      [disabled]="selectableProductTypes.length < 1 || burstSelected"
      panelClass="product-type-selector"
      multiple
      #productTypeSelector
    >
      @for (type of selectableProductTypes; track type) {
        <mat-option [value]="type.apiValue" [matTooltip]="type.displayName">
          {{ type.displayName }}
        </mat-option>
      }

      @if (dataset.id === 'OPERA-S1') {
        <div
          class="tropo-redirect"
          [matTooltip]="'OPERA_TROPO_ZENITH_REDIRECT' | translate"
        >
          <mat-icon [inline]="true" class="tropo-redirect-icon warn-color"
            >dataset_linked</mat-icon
          >
          <a (click)="queryTropoZenith()" class="warn-color">
            L4 Troposphere Zenith Radar Delays (TROPO-ZENITH)
          </a>
        </div>
      }
    </mat-select>

    @if (selectableProductTypes.length >= 1) {
      <mat-hint align="start">
        {{ productTypesList?.length || 0 }}/{{ selectableProductTypes.length }}
        {{ 'FILE_TYPES_SELECTED' | translate }}
      </mat-hint>
    }

    @if (selectableProductTypes.length < 1) {
      <mat-hint align="start">
        {{ 'NO_FILE_TYPES_TO_SELECT' | translate }}
      </mat-hint>
    }
  </mat-form-field>
}
