@use "@angular/material" as mat;

@import "asf-theme";

$config: mat.define-typography-config();

a {
  text-decoration: none;
  color: $uaf-primary-blue;
}

.scene-metadata {
  font-size: 12px;
  margin-top: 5px;
  columns: 2;

  .mat-icon {
    @include md-icon-size(12px);
    @include themify($themes) {
      color: themed('dark-primary-text');
    }
    margin-left: 4px;
  }
}
