/* Contenedor principal del slider */
.displacement-slider {
  box-sizing: border-box;
  display: block;
  margin: -10px 60px 20px 75px; /* Centra el slider horizontalmente */
}

.noUi-connect {
  height: 6px; /* Ajusta el grosor de la barra conectada */
  background-color: #007BFF; /* Color principal */
}

.noUi-handle {
  width: 20px;
  height: 20px;
  background-color: #FFF;
  border: 2px solid #007BFF; /* Borde que combine con el color principal */
  border-radius: 50%; /* Hace que el control sea redondo */
}

.noUi-tooltip {
  font-size: 12px;
  color: #fff;
  background-color: #333;
  border-radius: 4px;
}

/* Estilos de las etiquetas debajo del slider */
.slider-labels {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ocupa todo el ancho del slider */
  max-width: 95%; /* Limita el ancho para alinearse con el slider */
  margin: 10px auto 0; /* Centra y da espacio superior al slider */
}

.slider-labels span {
  font-size: 12px;
  color: #666; /* Color de las etiquetas */
}

.noUi-vertical {
  width: 8px;
}

div.noUi-handle.noUi-handle-lower {
  right: -5px !important;
  width: 16px !important;
}
