<mat-accordion multi>
	<mat-expansion-panel
	  *ngIf="(breakpoint$ | async) === breakpoints.MOBILE"
	  [expanded]="defaultPanelOpenState" [disabled]="panelIsDisabled"
	  (click)="selectPanel(panels.SEARCH)"
	  [class.raised-section]="isSelected(panels.SEARCH)">
  
	  <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
		<mat-panel-title>
		  {{ 'SEARCH_OPTIONS' | translate }}
		</mat-panel-title>
	  </mat-expansion-panel-header>
  
	  <div style="display: flex; margin-top: 25px;">
		<app-search-type-selector style="margin-right: 10px;">
		</app-search-type-selector>
	  </div>
	</mat-expansion-panel>

  </mat-accordion>
  