<mat-accordion multi>
  @if ((breakpoint$ | async) === breakpoints.MOBILE) {
    <mat-expansion-panel
      [expanded]="defaultPanelOpenState"
      [disabled]="panelIsDisabled"
      (click)="selectPanel(panels.SEARCH)"
      [class.raised-section]="isSelected(panels.SEARCH)"
    >
      <mat-expansion-panel-header
        [collapsedHeight]="customCollapsedHeight"
        [expandedHeight]="customExpandedHeight"
      >
        <mat-panel-title>
          {{ 'SEARCH_OPTIONS' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="search-options-row">
        <app-search-type-selector> </app-search-type-selector>
      </div>
    </mat-expansion-panel>
  }
</mat-accordion>
