<form>
  <mat-form-field>
    <input type="text"
           placeholder="Project Name"
           aria-label="Project Name"
           matInput
           (input)="onProjectNameInput($event.target.value)"
           (change)="onProjectNameChange($event.target.value)"
           [value]="projectName"
           [matAutocomplete]="projectNameAuto">
    <mat-autocomplete
           (optionSelected)="onProjectNameChange($event.option.value)"
           #projectNameAuto="matAutocomplete">
      <mat-option *ngFor="let projectName of projectNamesFiltered" [value]="projectName">
        {{projectName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

