<form #projectNameForm="ngForm">
  <mat-form-field [class.invalid-input-animation]="isNameError">
    <input type="text"
           name="projectNameInput"
           placeholder="{{'PROJECT_NAME' | translate}}"
           aria-label="Project Name"
           matInput
           (input)="onProjectNameInput($event)"
           (change)="onProjectNameChange($event)"
           [value]="projectName"
           [(ngModel)]="projectName"

           [matAutocomplete]="projectNameAuto">

    <mat-autocomplete
           (optionSelected)="onPNameChange($event.option.value)"
           #projectNameAuto="matAutocomplete">
      <mat-option *ngFor="let projectName of projectNamesFiltered" [value]="projectName">
        {{projectName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

