<form>
  <mat-form-field class="granule-field">
    <mat-label>{{ 'GRANULE_LIST' | translate }}</mat-label>
    <textarea [formField]="granuleListForm.list" matInput class="granule-box" placeholder="S1C*, *2025*, *202?*"> </textarea>
    @if(granuleListForm.list().invalid() && !granuleListForm.list().pending()) {
      <mat-error>{{ granuleListForm.list().errors()[0].message | translate }}</mat-error>
    } @else {
      <mat-hint>Supports wildcard matching (* for multiple characters, ? for single characters) e.g. S1C* matches all granules that start with S1C.  </mat-hint>
    }
  </mat-form-field>
</form>
