<mat-form-field class="w100">
  <mat-label>Dataset</mat-label>
  <mat-select
      [(ngModel)]="selected"
      (selectionChange)="onSelectionChange($event.value)"
      #platformSelector>
    <mat-option
      *ngFor="let platform of (platforms$ | async)"
      [class.selected]="platform.name === selected"
      [value]="platform.name">
      <ng-container *ngIf="platformSelector.panelOpen">
        <app-platform
          class="list-group-item list-group-item-action"
          [platform]="platform">
        </app-platform>
      </ng-container>
      <ng-container *ngIf="!platformSelector.panelOpen">
        {{ platform.name }}
      </ng-container>
    </mat-option>
  </mat-select>
</mat-form-field>
