<mat-form-field>
  <mat-label>Dataset</mat-label>
  <mat-select
      [(ngModel)]="selected"
      (selectionChange)="onSelectionChange($event.value)"
    >
    <mat-option
      *ngFor="let platform of (platforms$ | async)"
      [class.selected]="platform.name === (selectedPlatformName$ | async)"
      [value]="platform.name">
        <app-platform
          class="list-group-item list-group-item-action"
          [platform]="platform">
        </app-platform>
    </mat-option>
  </mat-select>
</mat-form-field>
