@use "asf-theme-variables" as *;
@use "tokens" as *;

.preferences-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: spacing(sm);
}

.action-controls {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 13px;
}

.preferences-form--layout {
  padding: 0 spacing(lg);
  width: 100%;
}

.feedback-link {
  margin-right: spacing(sm);
  flex: 30px;

  a {
    color: var(--asf-blue-link);
    text-decoration: none;
  }
}

.done-button {
  display: flex;
  justify-content: flex-end;
}

.dialog-header {
  color: var(--asf-dark-primary-text);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 22px !important;
}

.preferences-body {
  background-color: var(--asf-surface);
  display: flex;
  width: 100%;
  padding-top: spacing(md);
}

.default-dataset,
.default-max-result,
.default-max-concurrent-downloads,
.default-filters-presets,
.default-map {
  margin-right: 30px;
  width: 220px;
}

.section-heading {
  margin: 0;
  font-weight: 500;
  width: 137px;
  font-size: 18px;
}

.section-heading-mobile {
  width: 100%;
}

.dialog-title-overrides {
  font-size: 24px;
  font-weight: 400;
}

.language-theme {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
