<div class="dialog-header">
  <div mat-dialog-title class="dialog-title-overrides">{{ 'PREFERENCES_FOR' | translate}} {{ userAuth.id }}</div>

  <div class="dl-close-x" (click)="onCloseDownloadQueue()">
    <mat-icon>close</mat-icon>
  </div>

</div>

<mat-dialog-content>
  <div class="preferences-body">
    <form class="preferences-form--layout" #preferencesForm="ngForm" onsubmit="return false">

      <div class="preferences-group">
        <div class="section-heading"
             [class.section-heading-mobile]="breakpoint <= breakpoints.SMALL">
          {{ 'DEFAULT_LANGUAGE_AND_THEME' | translate }}
        </div>

        <mat-form-field class="default-filters-presets">
          <mat-label>{{ 'DEFAULT_LANGUAGE' | translate }}</mat-label>
          <mat-select
            [(value)]="defaultLanguage"
            (selectionChange)="onChangeDefaultLanguage($event.value)"
            name="preset">
            <mat-option [value]="lang" *ngFor="let lang of translate.getLangs()">
              {{ language.getName(lang) | titlecase}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="default-filters-presets">
          <mat-label>{{ 'DEFAULT_THEME' | translate }}</mat-label>
          <mat-select
            [(value)]="currentTheme"
            (selectionChange)="onChangeDefaultTheme($event.value)"
            name="preset">
            <mat-option [value]="theme" *ngFor="let theme of themeOptions">
              {{ theme | titlecase | uppercase| translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <hr>

      <div class="preferences-group">
        <div class="section-heading"
             [class.section-heading-mobile]="breakpoint <= breakpoints.SMALL">
          {{ 'DEFAULT_SEARCH_PRESETS' | translate }}
        </div>
        <div class="default-dataset">
          <app-dataset-selector
            class="mobile-button-wrapper"
            [(selected)]="defaultDataset"
            (selectedChange)="onDatasetSelectionChange($event)"
            [datasets]="datasets">
          </app-dataset-selector>
        </div>

        <mat-form-field class="default-max-result">
          <mat-label>{{ 'DEFAULT_MAX_RESULT_AMOUNT' | translate }}</mat-label>
          <mat-select
            [(ngModel)]="defaultMaxResults"
            (selectionChange)="onChangeMaxResultsDefault($event.value)" name="maxResult">
            <mat-option *ngFor="let resultAmount of maxResults" [value]="resultAmount">
              {{resultAmount}} {{ 'FILES' | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="default-map">
          <mat-label>{{ 'DEFAULT_MAP_LAYER' | translate }}</mat-label>
          <mat-select
            [(ngModel)]="defaultMapLayer"
            (selectionChange)="onChangeDefaultLayerType($event.value)" name="amount">
            <mat-option [value]="mapLayerTypes.SATELLITE">
              {{ mapLayerTypes.SATELLITE | uppercase | translate }}
            </mat-option>
            <mat-option [value]="mapLayerTypes.STREET ">
              {{ mapLayerTypes.STREET | uppercase | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <hr>

      <div class="preferences-group">
        <div class="section-heading"
             [class.section-heading-mobile]="breakpoint <= breakpoints.SMALL">
          {{ 'DEFAULT_SEARCH_FILTERS_PRESETS' | translate }}
        </div>
        <mat-form-field class="default-filters-presets" *ngFor="let type of searchTypeKeys">
          <mat-label>{{type  === 'DATASET' ? ('GEOGRAPHIC'|translate) : type|translate}}</mat-label>
          <mat-select
          [(value)]="currentFilterDisplayNames[searchType[type]]"
          (selectionChange)="onChangeDefaultFilterType($event.value, type)"
          name="preset">
            <mat-option [value]="preset.id" *ngFor="let preset of userFiltersBySearchType[searchType[type]]">
              {{ preset.name | uppercase | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <hr>

      <div class="preferences-group">
        <div class="section-heading"
             [class.section-heading-mobile]="breakpoint <= breakpoints.SMALL">
          {{ 'DEFAULT_ON_DEMAND_PRESETS' | translate }}
        </div>
        <mat-form-field class="default-filters-presets hyp3-url">
          <mat-label>{{ 'HY_P3_API_URL' | translate }}</mat-label>
          <input matInput
            [(ngModel)]="hyp3BackendUrl"
            name="backendUrl">
          <button matSuffix mat-icon-button aria-label="Clear" (click)="resetHyp3Url()">
            <mat-icon>refresh</mat-icon>
          </button>
        </mat-form-field>
      </div>

    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="action-controls">
  <div class="feedback-link">
    <a href="javascript:feedback.showForm();"> <mat-icon>comment</mat-icon> {{ 'FEEDBACK' | translate }}</a>
  </div>
  <div class="done-button">
    <button (click)="onClose()" color="primary" mat-flat-button>
      {{ 'DONE' | translate }}
    </button>
  </div>
</mat-dialog-actions>
