<div class="dialog-header">
  <div mat-dialog-title class="dialog-title-overrides">Preferences For {{ userAuth.id }}</div>
</div>

<mat-dialog-content>
  <div class="display: flex;">
    <form #preferencesForm="ngForm" onsubmit="return false">

      <div class="section-heading">Default Search Presets</div>
      <div class="default-dataset">
        <app-dataset-selector
          [(selected)]="defaultDataset"
          (selectedChange)="onDatasetSelectionChange($event)"
          [datasets]="datasets">
        </app-dataset-selector>
      </div>

      <mat-form-field class="default-max-result">
        <mat-label>Default Max Result Amount</mat-label>
        <mat-select
          [(ngModel)]="defaultMaxResults"
          (selectionChange)="onChangeMaxResultsDefault($event.value)" name="maxResult">
          <mat-option *ngFor="let resultAmount of maxResults" [value]="resultAmount">
            {{resultAmount}} files
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="default-map">
        <mat-label>Default Map Layer</mat-label>
        <mat-select
          [(ngModel)]="defaultMapLayer"
          (selectionChange)="onChangeDefaultLayerType($event.value)" name="amount">
          <mat-option [value]="mapLayerTypes.SATELLITE">
            {{ mapLayerTypes.SATELLITE }}
          </mat-option>
          <mat-option [value]="mapLayerTypes.STREET ">
            {{ mapLayerTypes.STREET  }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="section-heading">Default Search Filters Presets</div>
      <mat-form-field class="default-filters-presets" *ngFor="let type of searchTypeKeys">
        <mat-label>{{type}}</mat-label>
        <mat-select
        [(value)]="currentFilterDisplayNames[searchType[type]]"
        (selectionChange)="onChangeDefaultFilterType($event.value, type)"
        name="preset">
          <mat-option [value]="preset.id" *ngFor="let preset of userFiltersBySearchType[searchType[type]]">
            {{ preset.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="section-heading">Default HyP3 Presets</div>
      <mat-form-field class="default-filters-presets">
        <mat-label>API URL</mat-label>
        <input matInput
          (input)="onChangeBackendUrl()"
          [(ngModel)]="hyp3BackendUrl"
          name="backendUrl">
        <button matSuffix mat-icon-button aria-label="Clear" (click)="resetHyp3Url()">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>

</mat-dialog-content>

<mat-dialog-actions class="action-controls">
  <div class="feedback-link">
    <a href="javascript:feedback.showForm();"> <mat-icon>comment</mat-icon> Feedback</a>
  </div>
  <div class="done-button">
    <button (click)="onClose()" color="primary" mat-flat-button>
      Done
    </button>
  </div>
</mat-dialog-actions>

