.map {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #1a1e27;
}

.meatball__position {
  position: fixed;
  right: 0;
  bottom: 30px;
  z-index: 999;
  margin: 0;
}

.settings-btn {
  position: fixed;
  right: 10px;
  top: 42px;
  z-index: 999;
}

.download-queue-btn {
  position: fixed;
  right: 140px;
  top: 42px;
  z-index: 999;
}

.share-btn {
  position: fixed;
  right: 75px;
  top: 42px;
  z-index: 999;
}
