<div
  (dragover)="onFileHovered($event)"
  id="map"
  class="map w100 h100"
  #map
></div>

<div
  #AriaPopup
  class="ol-popup"
  [class.on-demand-popup-menu]="this.OnDemandFrames.length > 0"
  [class.hidden]="this.OnDemandFrames.length === 0"
>
  <button mat-button (click)="buildOnDemandStack()">
    <mat-icon>show_chart</mat-icon>
    <span>Build SBAS SLC Stack</span>
  </button>
</div>

<div class="map-header">
  <div
    class="header-controls fx-row"
    [class.map-control-margin]="
      (areResultsLoaded$ | async) && breakpoint === breakpoints.MOBILE
    "
  >
    @if (breakpoint > breakpoints.MOBILE) {
      <div class="fx-col">
        <div class="map-controls">
          <app-map-controls></app-map-controls>
        </div>
        @if (
          searchType === searchTypes.DISPLACEMENT &&
          breakpoint > breakpoints.MOBILE
        ) {
          <div class="disp-layers">
            <app-displacement-layers></app-displacement-layers>
          </div>
        }
      </div>
    }

    <div class="fx-row banner-row">
      <div class="fx-col">
        <app-banners [banners]="banners$ | async"> </app-banners>
      </div>
    </div>

    @if (breakpoint === breakpoints.MOBILE) {
      <div
        [class.after-load]="isResultsMenuOpen"
        [class.before-load]="!isResultsMenuOpen"
        class="mobile-map-controls"
      >
        <button
          (click)="openMapControl()"
          style="margin: 4px"
          color="white"
          mat-fab
        >
          <mat-icon>layers</mat-icon>
        </button>
      </div>
    }

    @if (breakpoint === breakpoints.MOBILE) {
      @if (fullscreenControl !== fc.NONE) {
        <div
          (click)="closeMobileFullscreenControls()"
          class="mobile-controls-background"
        ></div>
      }
      @if (fullscreenControl === fc.MAP) {
        <div class="mobile-map-controls-full">
          <div class="mobile-control-group">
            <app-interaction-selector></app-interaction-selector>
          </div>
          <div class="mobile-control-group">
            @if (searchType !== searchTypes.SARVIEWS_EVENTS) {
              <app-view-selector style="margin-right: 5px"> </app-view-selector>
            }
            @if ((view$ | async) === viewTypes.EQUATORIAL) {
              <app-layer-selector> </app-layer-selector>
            }
          </div>
        </div>
      }
    }
  </div>
</div>

@if (breakpoint > breakpoints.MOBILE) {
  <img src="/assets/NASA_logo.svg" class="meatball" />
}

<app-filters-dropdown></app-filters-dropdown>

@if (searchType === searchTypes.DATASET) {
  <app-file-upload
    (dialogClose)="onFileUploadDialogClosed($event)"
    (newSearchPolygon)="onNewSearchPolygon($event)"
    [interaction$]="interactionMode$"
  >
  </app-file-upload>
}

<app-attributions [breakpoint]="breakpoint"> </app-attributions>

<div
  (mouseenter)="enterDrawPopup()"
  (mouseleave)="leaveDrawPopup()"
  id="popup"
  class="ol-popup"
  #overlay
></div>

<div #browsetooltip style="width: 100px; height: 100px">
  {{ 'TOOLTIP' | translate }}
</div>

<span #overviewMapIcon>
  <mat-icon> map </mat-icon>
</span>
