@import "asf-theme";

.map {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #1a1e27;
}

.map-header {
  position: relative;
  float: right;
  top: 5px;
  width: 100vw;
  pointer-events: none;
}

.additional-filters {
  position: relative;
  top: 15px;
}

.header-controls {
  margin-left: 20px;
}

.banner-card {
  pointer-events: auto;
  max-height: 212px;
  height: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  border-color: $asf-primary-dark;
  border-width: 2px;
  border-style: solid;
  color: $uaf-primary-blue;
}

.mat-icon-button {
  color: black;
}

.map-buttons {
  pointer-events: auto;
  margin-left: 0;
  margin-right: 40px;
}
