@import "asf-theme";

.map {
  position: fixed;
  background-color: #1a1e27;
}

.map-header {
  position: relative;
  top: 12px;
  width: 100vw;
  pointer-events: none;
}

.additional-filters {
  position: relative;
  top: 15px;
}

.banner-row {
  padding-right: 10px;
}

.map-controls {
  height: 58px;
}

.map-control-margin {
  margin-right: 72px;
}

.mat-icon-button {
  color: black;
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 24px;
  flex-shrink: 1;
  line-height: 24px;
  border-radius: 50%;
}

.map-buttons {
  pointer-events: none;
  margin-left: 0;
  margin-right: 20px;
}

button {
  outline: none;
}

.ol-popup {
  position: absolute;
  filter: drop-shadow(0 1px 4px rgb(0 0 0 / 20%));
  filter: drop-shadow(0 1px 4px rgb(0 0 0 / 20%));
  bottom: 12px;
  left: -50px;
}

.meatball {
  position: fixed;
  pointer-events: none;
  bottom: 30px;
  right: 10px;
}

.mobile-map-controls {
  pointer-events: auto;
  position: fixed;
  right: 4px;
  display: flex;
  flex-direction: column;
}

.after-load {
  top: 94px;
}

.before-load {
  bottom: 62px;
}

.mobile-map-controls-full {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1101;
}

.mobile-controls-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 25%);
  z-index: 1100;
  pointer-events: auto;
}

.mobile-control-group {
  margin: 10px auto;
  zoom: 160%;
  pointer-events: auto;
}

::ng-deep.ol-overviewmap {
  top: 0.5em;
  right: 0.5em;
  left: inherit !important;
  bottom: inherit !important;
}

::ng-deep.map .ol-custom-overviewmap,
::ng-deep.map .ol-custom-overviewmap.ol-uncollapsible {
  right: 0;
  top: 0;
}

::ng-deep.map .ol-custom-overviewmap:not(.ol-collapsed) {
  border: 1px solid black;
}

::ng-deep.map .ol-custom-overviewmap .ol-overviewmap-map {
  border: none;
  width: 300px;
}

::ng-deep.map .ol-overviewmap.ol-custom-overviewmap.ol-unselectable.ol-control button {
  visibility: hidden !important;
}

::ng-deep.map .ol-overviewmap.ol-custom-overviewmap.ol-unselectable.ol-control {
  background: rgb(0 0 0 / 0%);
}

::ng-deep.map .ol-custom-overviewmap:not(.ol-collapsed) {
  background: rgb(255 255 255 / 80%) !important;
}

::ng-deep.map .ol-custom-overviewmap .ol-overviewmap-box {
  border: 2px solid red;
  cursor: grab;
}

::ng-deep.map .ol-custom-overviewmap:not(.ol-collapsed) button {
  bottom: auto;
  left: auto;
  right: 1px;
  top: 1px;
}
