<div (dragover)="onFileHovered($event)"
  id="map" class="map">
</div>

<div class="map-header">
  <div class="header-controls">
    <mat-card>
      This is a banner!
    </mat-card>
    <div class="map-buttons">
      <div>
        <a
          href="mailto:vertex-beta@asf.alaska.edu?Subject=Vertex%20Beta%20Feedback"
          mat-raised-button>
          Give us feedback!
        </a>
      </div>

      <app-map-controls></app-map-controls>
    </div>
  </div>
</div>

<app-file-upload
  (dialogClose)="onFileUploadDialogClosed($event)"
  (newSearchPolygon)="onNewSearchPolygon($event)"
  [interaction$]="interactionMode$">
</app-file-upload>


<app-attributions [mousePos]="mousePosition$ | async">
</app-attributions>
