.product--container: {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.product--container:hover {
  background-color: grey;
}

.product-name {
}

.product--thumbnail {
  width: 30%;
}

.product--info {
}
