<mat-card class="card-spacing">
  <mat-action-list>
    <button
      *ngFor="let granule of granules"
      mat-list-item
      (click)="onGranuleSelected(granule.file)"
      [ngClass]="{'selected': granule.name === selected}" >

        <img matListAvatar
          [src]="granule.browse"
          onerror="this.src='assets/error.png'"
          class="size" >

        <app-product-name [name]="granule.name" matLine></app-product-name>

        <div matLine>
          <span matTooltip="Path" matTooltipPosition="after">{{ granule.metadata.path }}</span>,
          <span matTooltip="Frame" matTooltipPosition="after">{{ granule.metadata.frame }}</span>,
          <span matTooltip="Polarization" matTooltipPosition="after">{{ granule.metadata.polarization }}</span>,
          <span matTooltip="Flight Direction" matTooltipPosition="after"
            >{{ granule.metadata.flightDirection === 'ASCENDING' ? 'ASC' : 'DES' }}</span>,
          <span matTooltip="Absolute Orbit" matTooltipPosition="after">{{ granule.metadata.absoluteOrbit }}</span>
        </div>

        <a matLine [href]="granule.downloadUrl">
          {{ granule.bytes | readableSizeFromBytes }}
          <fa-icon class="ml-2" [icon]="downloadIcon"></fa-icon>
        </a>
        <fa-icon class="ml-2"
          (click)="onQueueGranule($event, granule.groupId)"
          [icon]="queueIcon"></fa-icon>

    </button>
  </mat-action-list>
</mat-card>
