@use "@angular/material" as mat;

@use "asf-theme";
$mat-theme-ignore-duplication-warnings: true;

.ts-toggle-group {
  height: 20px !important;
  box-shadow: rgb(0 0 0 / 20%) 0 3px 5px -1px,
              rgb(0 0 0 / 14%) 0 6px 10px 0,
              rgb(0 0 0 / 12%) 0 1px 18px 0;
}

.control-icon {
  font-size: 16px;
}

:host ::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  padding: 0 5px !important;
}
