<mat-accordion multi>
  <mat-expansion-panel
    *ngIf="(breakpoint$ | async) === breakpoints.MOBILE"
    [expanded]="defaultPanelOpenState" [disabled]="panelIsDisabled"
    (click)="selectPanel(panels.SEARCH)"
    [class.raised-section]="isSelected(panels.SEARCH)">

    <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
      <mat-panel-title>
        {{ panels.SEARCH }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div style="display: flex; margin-top: 25px;">
      <app-search-type-selector style="margin-right: 10px;">
      </app-search-type-selector>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel
    *ngIf="(breakpoint$ | async) === breakpoints.MOBILE"
    [expanded]="defaultPanelOpenState" [disabled]="panelIsDisabled"
    (click)="selectPanel(panels.DATE_FILTER)"
    [class.raised-section]="isSelected(panels.DATE_FILTER)">

    <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
      <mat-panel-title>
        Date Filters
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div style="margin-top: 20px;">
      <app-date-selector></app-date-selector>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel
    *ngIf="(breakpoint$ | async) === breakpoints.MOBILE"
    [expanded]="defaultPanelOpenState" [disabled]="panelIsDisabled"
    (click)="selectPanel(panels.PROJECT_NAME)"
    [class.raised-section]="isSelected(panels.PROJECT_NAME)">

    <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
      <mat-panel-title>
        Job Filters
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="w100" style="display: flex; margin-top: 25px;">
      <app-project-name-selector></app-project-name-selector>
    </div>

    <div class="w100" style="display: flex; margin-top: 25px;">
      <app-job-status-selector></app-job-status-selector>
    </div>
  </mat-expansion-panel>
</mat-accordion>
