<mat-accordion multi>
  <mat-expansion-panel
    [expanded]="defaultPanelOpenState" [disabled]="panelIsDisabled"
    (click)="selectPanel(panels.SEARCH)"
    [class.raised-section]="isSelected(panels.SEARCH)">

    <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
      <mat-panel-title>
        {{ panels.SEARCH }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div style="display: flex; margin-top: 25px;">
      <app-search-type-selector style="margin-right: 10px;">
      </app-search-type-selector>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel
    [expanded]="defaultPanelOpenState" [disabled]="panelIsDisabled"
    (click)="selectPanel(panels.DATE_FILTER)"
    [class.raised-section]="isSelected(panels.DATE_FILTER)">

    <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
      <mat-panel-title>
        {{ 'DATE_FILTERS' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div style="margin-top: 20px;">
      <app-date-selector></app-date-selector>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel
    [expanded]="defaultPanelOpenState" [disabled]="panelIsDisabled"
    (click)="selectPanel(panels.PROJECT_NAME)"
    [class.raised-section]="isSelected(panels.PROJECT_NAME)">

    <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
      <mat-panel-title>
        {{ 'JOB_FILTERS' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="w100" style="display: flex; flex-wrap: wrap; margin-top: 25px;">
      <div class="w100" style="display: flex; flex-wrap: wrap; margin-top: 25px;">
      <app-project-name-selector style="margin-right: 25px;"></app-project-name-selector>
      <app-job-status-selector></app-job-status-selector>
    </div>
      <app-job-product-name-selector [headerView]="false"></app-job-product-name-selector>
    </div>

  </mat-expansion-panel>
</mat-accordion>
