@use 'asf-theme-variables' as *;

.gdal-button-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 20px;
  height: 20px;

  mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;

    @include themify($themes) {
      color: themed('light-black');
    }
  }
}

.group-file-wrapper {
  padding: 10px 24px 8px 24px;
  margin-bottom: 2px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.group-file-row {
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 10px;
}

.file-name {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include themify($themes) {
    color: themed('dark-primary-text');
  }
}

.file-size {
  white-space: nowrap;

  @include themify($themes) {
    color: themed('light-black');
  }
}

.hyp3-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;

  mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;

    @include themify($themes) {
      color: themed('light-black');
    }
  }
}

.chevron {
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  transition: transform 0.2s;

  @include themify($themes) {
    color: themed('dark-primary-text');
  }
}

.group-file-wrapper.expanded .chevron {
  transform: rotate(180deg);
}

.group-file-wrapper.leaf {
  margin-right: 30px;
}

.group-file-wrapper.parent:hover {
  @include themify($themes) {
    background-color: themed('dark-focused');
  }
}
