<form #pathForm="ngForm">
  <div class="flex-container">
    <div class="flex-item">
      @if (prop.isRelevant(p.PATH)) {
        <mat-form-field
          style="width: 160px"
          class="date-item"
          [class.invalid-input-animation]="typeHasError(inputTypes.PATH_START)"
        >
          <input
            matInput
            type="number"
            (input)="onValueChanged($event, inputTypes.PATH_START)"
            [(ngModel)]="pathStart"
            name="pathStart"
            [placeholder]="
              selectedDatasetIsNISARFormat || prop.isRelevant(p.USE_TRACK)
                ? ('TRACK_START' | translate)
                : ('PATH_START' | translate)
            "
          />
        </mat-form-field>
      }

      @if (prop.isRelevant(p.PATH)) {
        <mat-form-field
          style="width: 160px"
          class="range-form-input"
          class="date-item"
          [class.invalid-input-animation]="typeHasError(inputTypes.PATH_END)"
        >
          <input
            matInput
            type="number"
            (input)="onValueChanged($event, inputTypes.PATH_END)"
            [(ngModel)]="pathEnd"
            name="pathEnd"
            [placeholder]="
              selectedDatasetIsNISARFormat || prop.isRelevant(p.USE_TRACK)
                ? ('TRACK_END' | translate)
                : ('PATH_END' | translate)
            "
          />
        </mat-form-field>
      }
    </div>

    <div class="flex-item">
      @if (prop.isRelevant(p.FRAME)) {
        <mat-form-field
          style="width: 150px"
          class="date-item"
          [class.invalid-input-animation]="typeHasError(inputTypes.FRAME_START)"
        >
          <input
            matInput
            type="number"
            (input)="onValueChanged($event, inputTypes.FRAME_START)"
            [(ngModel)]="frameStart"
            name="frameStart"
            placeholder="{{ 'FRAME_START' | translate }}"
          />
        </mat-form-field>
      }

      @if (prop.isRelevant(p.FRAME)) {
        <mat-form-field
          style="width: 150px"
          class="range-form-input"
          class="date-item"
          [class.invalid-input-animation]="typeHasError(inputTypes.FRAME_END)"
        >
          <input
            matInput
            type="number"
            (input)="onValueChanged($event, inputTypes.FRAME_END)"
            [(ngModel)]="frameEnd"
            name="frameEnd"
            placeholder="{{ 'FRAME_END' | translate }}"
          />
        </mat-form-field>
      }
    </div>

    <div class="flex-item">
      <button
        mat-stroked-button
        class="clear-button"
        (click)="onClear()"
        mat-button
      >
        {{ 'CLEAR' | translate }}
        @if (selectedDatasetIsNISARFormat) {
          {{ 'TRACK' | translate }}
        } @else {
          {{ 'PATH' | translate }} / {{ 'FRAME' | translate }}
        }
      </button>
      <div class="clear-button">
        <app-aoi-clear></app-aoi-clear>
      </div>
    </div>
  </div>
</form>
