.content-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

.iframe-style {
  flex-grow: 1;
  border: none;
  margin: 0;
  padding: 0;
}

.mat-mdc-dialog-content {
  max-height: calc(100% - 75px);
  padding: 0;
  margin: -3px 0 0 0
}

.mat-mdc-dialog-actions {
  padding: 18px 30px;
}

.content-hr {
  padding: 0;
  margin: 0;
}
