@use "asf-help" as *;
@use "tokens" as *;

.link-pointer {
  cursor: pointer;
}

.icon-size {
  font-size: inherit;
  height: spacing(md) !important;
  line-height: spacing(md) !important;
  opacity: opacity(60);
}

.text-link {
  color: var(--asf-blue-link);
  text-decoration: underline;
}

.large-icon {
  @include md-icon-size(30px);
  min-height: 30px;
  margin-right: 0;
  color: var(--asf-dark-primary-text);
}
