@use "asf-help";

.link-pointer {
  cursor: pointer;
}

.icon-size {
  font-size: inherit;
  height: 16px !important;
  line-height: 16px !important;
  opacity: .6;
}

.text-link {
  @include asf-help.themify(asf-help.$themes) {
    color: asf-help.themed('blue-link');
  }
  text-decoration: underline;

}

.large-icon {
  @include asf-help.md-icon-size(30px);
  min-height: 30px;
  margin-right: 0;
  @include asf-help.themify(asf-help.$themes) {
    color: asf-help.themed('dark-primary-text');
  }
}
