<mat-card class="card-spacing">
    <h4>Product Type</h4>

    <mat-form-field *ngFor="let platform of selected">
      <mat-select
        *ngIf="platform.productTypes !== []"
        [(ngModel)]="productTypes[platform.name]"
        (selectionChange)="onTypesChanged($event)"
        placeholder="{{ platform.name }}" multiple>
          <mat-option
            *ngFor="let type of platform.productTypes"
            (click)="onTypeSelected(platform.name, type)"
            [value]="type"
            [matTooltip]="type.displayName">
              {{type.displayName}}
          </mat-option>
      </mat-select>
    </mat-form-field>


    <ng-template *ngFor="let platform of selected">
      <h4>Beam Mode</h4>
        <mat-form-field *ngIf="platform.beamModes !== []">
          <mat-select *ngIf="platform.beamModes !== []" placeholder="{{ platform.name }}" multiple>
            <mat-option *ngFor="let mode of platform.beamModes" [value]="beamModes">
              {{mode}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </ng-template>


    <ng-template *ngFor="let platform of selected">
      <h4>Polarization</h4>
      <mat-form-field *ngIf="platform.polarizations !== []">
        <mat-select placeholder="{{ platform.name }}" multiple>
          <mat-option *ngFor="let pol of platform.polarizations" [value]="pol">
            {{pol}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-template>

    <h4>Flight Direction</h4>

    <mat-form-field>
      <mat-select placeholder="{{ flightDirections[0] }}" multiple>
        <mat-option *ngFor="let direction of flightDirections" [value]="direction">
          {{direction}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</mat-card>
