@use "asf-theme-variables" as *;
@use "tokens" as *;

a {
  text-decoration: none;
  color: var(--asf-blue-link);
}

.scene-metadata {
  font-size: font-size(xs);
  margin-top: spacing(sm);
  columns: 2;

  .mat-icon {
    @include md-icon-size(12px);
    margin-left: spacing(xs);
  }
}
