<ul class="scene-metadata" *ngIf="eventType === eventTypes.QUAKE">
  <li>
    <span class="v-mid">
      <b>Magnitude </b> {{ (event | quakeEvent).magnitude }}
    </span>
    <mat-icon
    [matMenuTriggerFor]="addSceneMagnitudeMenu"
    [matMenuTriggerData]="{magnitude: (event | quakeEvent).magnitude}"
    class="v-mid clickable">
    settings
    </mat-icon>
  </li>
  <li>
    <span class="v-mid">
      <b>Depth </b> {{(event | quakeEvent).depth}}
    </span>
  </li>
  <li>
    <span class="v-mid">
      <b>USGS ID </b>
      <a target="_blank" href="{{
        'https://earthquake.usgs.gov/earthquakes/eventpage/' +
        (event | quakeEvent).usgs_event_id +
        '#executive'}}"
      >
        {{(event | quakeEvent).usgs_event_id}}
      </a>
    </span>
  </li>
  <li *ngIf="(event | quakeEvent).processing_timeframe.start !== null">
    <span class="v-mid">
      <b>Start Time </b> {{(event | quakeEvent).processing_timeframe.start | shortDateTime}}
    </span>
    <mat-icon
    [matMenuTriggerFor]="addSceneDateMenu"
    [matMenuTriggerData]="{eventDate: event.processing_timeframe.start}"
    class="v-mid clickable">
      settings
  </mat-icon>
  </li>
  <li *ngIf="(event | quakeEvent).processing_timeframe.end !== null">
    <span class="v-mid">
      <b>End Time </b> {{(event | quakeEvent).processing_timeframe.end | shortDateTime}}
    </span>
    <mat-icon
    [matMenuTriggerFor]="addSceneDateMenu"
    [matMenuTriggerData]="{eventDate: event.processing_timeframe.end}"
    class="v-mid clickable">
      settings
  </mat-icon>
  </li>
</ul>
<ul class="scene-metadata" *ngIf="eventType === eventTypes.VOLCANO">
  <li *ngIf="event.processing_timeframe.start !== null">
    <span class="v-mid">
      <b>Start Time </b> {{event.processing_timeframe.start | shortDateTime}}
    </span>
    <mat-icon
    [matMenuTriggerFor]="addSceneDateMenu"
    [matMenuTriggerData]="{eventDate: event.processing_timeframe.start}"
    class="v-mid clickable">
      settings
  </mat-icon>
  </li>
  <li *ngIf="event.processing_timeframe.end !== null">
    <span class="v-mid">
      <b>End Time </b> {{event.processing_timeframe.end | shortDateTime}}
    </span>
    <mat-icon
    [matMenuTriggerFor]="addSceneDateMenu"
    [matMenuTriggerData]="{eventDate: event.processing_timeframe.end}"
    class="v-mid clickable">
      settings
  </mat-icon>
  </li>
  <li>
    <span class="v-mid">
      <b>Smithsonian ID </b>
      <a target="_blank" href="{{
        'http://volcano.si.edu/volcano.cfm?vn=' +
        (event | volcanicEvent).smithsonian_event_id +
        '#executive'}}"
      >
        {{(event | volcanicEvent).smithsonian_event_id}}
      </a>
    </span>
  </li>
</ul>

<mat-menu #addSceneDateMenu="matMenu">
  <ng-template matMenuContent let-date="eventDate">
  <button (click)="onSetStartDate(date)" mat-menu-item>Set as Start Date</button>
  <button (click)="onSetEndDate(date)" mat-menu-item>Set as End Date</button>
</ng-template>
</mat-menu>

<mat-menu #addSceneMagnitudeMenu>
  <ng-template matMenuContent let-magnitude="magnitude">
    <button (click)="onSetStartMagnitude(magnitude)" mat-menu-item>Set as magnitude range start</button>
    <button (click)="onSetEndMagnitude(magnitude)" mat-menu-item>Set as magnitude range end</button>
  </ng-template>
</mat-menu>
