@use "asf-theme";
$mat-theme-ignore-duplication-warnings: true;

a {
  text-decoration: none;
  //@include asf-theme.themify(asf-theme.$themes) {
  //  color: asf-theme.themed('blue-link');
  //}
}

.scene-metadata {
  font-size: 12px;
  margin-top: 5px;
  columns: 2;

  .mat-icon {
    @include asf-theme.md-icon-size(12px);

    margin-left: 4px;
  }
}
