@use "sass:color";
@use "asf-theme";

$side-padding-only: 0 15px 0 15px;

.help-dialog-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  @include asf-theme.themify(asf-theme.$themes) {
    background-color: color.adjust(asf-theme.themed('primary-light'),$lightness: 15%);
  }
}

footer {
  @include asf-theme.themify(asf-theme.$themes) {
    background-color: asf-theme.themed('primary-light');
  }
}

section {
  height: 100%; /* takes the visible area of the "main" div */
  overflow: auto; /* recommended */
  border-bottom: 1px solid;
}

.help-header {
  @include asf-theme.themify(asf-theme.$themes) {
    background-color: asf-theme.themed('primary-light');
    color: asf-theme.themed('dark-primary-text');
  }
  display: flex;
  flex-direction: row;
  padding: $side-padding-only;
  margin: 0;

  h3 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
}

.help-menu {
  @include asf-theme.themify(asf-theme.$themes) {
    background-color: color.adjust(asf-theme.themed('primary-light'),$lightness: 15%);
  }
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.help-action-controls {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 15px 10px 15px;
}

