@use "asf-theme-variables" as *;
@use "tokens" as *;

$side-padding-only: 0 spacing(md) 0 spacing(md);

.help-dialog-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--asf-primary-light);
  filter: brightness(1.15); // Lighten effect
}

footer {
  background-color: var(--asf-primary-light);
}

section {
  height: 100%; /* takes the visible area of the "main" div */
  overflow: auto; /* recommended */
  border-bottom: 1px solid;
}

.help-header {
  background-color: var(--asf-primary-light);
  color: var(--asf-dark-primary-text);
  display: flex;
  flex-direction: row;
  padding: $side-padding-only;
  margin: 0;

  h3 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
}

.help-menu {
  background-color: var(--asf-primary-light);
  filter: brightness(1.15); // Lighten effect
  display: flex;
  flex-direction: row;
  padding-left: spacing(md);
  padding-right: spacing(md);
  padding-top: spacing(sm);
  padding-bottom: spacing(sm);
}

.help-action-controls {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: spacing(2) spacing(md) spacing(2) spacing(md);
}

