@use "sass:color";
@use "asf-theme";
.chart-wrapper {
  height: 100%;
  border-left: lightgrey 1px solid;
}

.chart-canvas {
  margin: 0 16px 16px;
  height: calc(100% - 80px);
}

#baseline-chart {
  height: calc(100% - 2cm);
}

ul {
  display: flex;
  justify-content: center;
  margin: 0.5em;
  height: 1em;

  li {
    display: flex;
    align-items: center;
  }
}

.box {
  width: 1em;
  height: 1em;
  border: 1px solid black;
  margin: 0.5em;
}

@media (max-width: 500px) {
  ul {
    font-size: 0.8em;
  }
}

@media (max-width: 340px) {
  ul {
    font-size: 0.6em;
  }
}
::ng-deep .baseline-label {
  @include asf-theme.themify(asf-theme.$themes) {
    fill: asf-theme.themed('dark-primary-text');
  }
}


::ng-deep .baseline-reference {
  @include asf-theme.themify(asf-theme.$themes) {
    fill: asf-theme.themed('dark-primary-text');
  }
}

::ng-deep .baseline-download {
  @include asf-theme.themify(asf-theme.$themes) {
    fill: color.adjust(asf-theme.themed('blue-link'), $lightness: -20%);
  }
}
::ng-deep .baseline-selected {
  @include asf-theme.themify(asf-theme.$themes) {
    fill: asf-theme.themed('err');
  }
}
::ng-deep .baseline-reference {
  @include asf-theme.themify(asf-theme.$themes) {
    fill: asf-theme.themed('dark-primary-text');
  }
}
::ng-deep .baseline-base {
  @include asf-theme.themify(asf-theme.$themes) {
    fill: color.adjust(asf-theme.themed('dark-primary-text'), $lightness: 45%);
  }
}
.baseline-box {
  @include asf-theme.themify(asf-theme.$themes) {
    background: color.adjust(asf-theme.themed('background-white'), $lightness: -5%);
  }
}
.reference-box {
  @include asf-theme.themify(asf-theme.$themes) {
    background: asf-theme.themed('dark-primary-text');
  }
}
.download-box {
  @include asf-theme.themify(asf-theme.$themes) {
    background: color.adjust(asf-theme.themed('blue-link'), $lightness: -20%);
  }
}
.selected-box {
  @include asf-theme.themify(asf-theme.$themes) {
    background: asf-theme.themed('err');
  }
}
