<div fxLayout="row wrap"
     fxFlexFill
     class="info-bar">

  <div fxFlex class="first-info">
    <ng-container *appBreak="'FULL'; op 'lt'">
      <span *ngIf="!!startDate">
        <b>Start:</b> {{ startDate | shortDate }}
      </span>
      <span *ngIf="!!endDate">
        <b>End:</b> {{ endDate | shortDate }}
      </span>
    </ng-container>

    <span *ngIf="pathRange.start || pathRange.end">
      <b>Path:</b> {{pathRange.start}} - {{pathRange.end}}
    </span>
    <span *ngIf="frameRange.start || frameRange.end">
      <b>Frame:</b> {{frameRange.start}} - {{frameRange.end}}
    </span>
    <span *ngIf="season.start || season.end">
      <b>Season:</b> {{season.start}} - {{season.end}}
    </span>
    <span *ngIf="shouldOmitSearchPolygon">
      <b>Omit Geo:</b> {{ shouldOmitSearchPolygon ? 'Yes' : 'No' }}
    </span>
    <span *ngIf="productTypes">
      <b>File Types:</b> {{ productTypes }}
    </span>
    <span *ngIf="beamModes.length">
      <b>Beam Modes:</b> {{beamModes}}
    </span>
    <span *ngIf="polarizations.length">
      <b>Polarizations:</b> {{polarizations}}
    </span>
    <span *ngIf="flightDirections.length">
      <b>Flight Dir:</b> {{flightDirections}}
    </span>
    <span *ngIf="subtypes">
      <b>Dataset:</b> {{ subtypes }}
    </span>

  </div>
</div>
