.processing-options {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  background-color: white;
}

.no-processing-options {
  color: #c9cac4;
  padding-left: 15px;
}

.flex-field {
  flex: 1 0 auto;
  margin: 5px;
}

.dropdown-option--description {
  margin-top: 0;
  margin-bottom: 20px;
}

.options-header {
  flex: 1 0 100%;
  font-weight: bold;
  margin-bottom: 10px;
}

.option-info--spacing {
  margin-left: 5px;
  color: lightgray;
}
