.processing-options {
  display: flex;
  flex-wrap: wrap;
  //height: 100%;
  //min-width: 320px;
  //margin: 10px;
}

.flex-field {
  flex: 1 0 auto;
}

.dropdown-option--description {
  margin-top: 0;
  margin-bottom: 20px;
}

.options-header {
  flex: 1 0 100%;
  font-weight: bold;
  margin-bottom: 10px;
}

.option-info--spacing {
  margin-left: 5px;
  color: lightgray;
}
