<div style="margin: 10px;">
  <div>
    <app-project-name-selector [processName]="true">
    </app-project-name-selector>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Processing Type</mat-label>
      <mat-select [(value)]="processingType"
        (selectionChange)="onSetProcessingType($event.value)">
        <mat-option value="RTC_GAMMA">RTC Gamma</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="options-header">Processing Options</div>
  <div>
    <mat-form-field>
      <mat-label>Radiometry</mat-label>
      <mat-select [(value)]="radiometry"
        (selectionChange)="onSetRadiometry($event.value)">
        <mat-option value="gamma0">gamma0</mat-option>
        <mat-option value="sigma0">sigma0</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Scale</mat-label>
      <mat-select [(value)]="scale"
        (selectionChange)="onSetScale($event.value)">
        <mat-option value="power">power</mat-option>
        <mat-option value="amplitude">amplitude</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-slide-toggle
      (change)="onSetDemMatching($event.checked)"
      [(ngModel)]="demMatching">
      Dem Matching
    </mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle
      (change)="onSetIncludeDem($event.checked)"
      [(ngModel)]="includeDem">
      Include Dem
    </mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle
      (change)="onSetIncludeIncMap($event.checked)"
      [(ngModel)]="includeIncMap">
      Include Inc Map
    </mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle
      (change)="onSetSpeckleFilter($event.checked)"
      [(ngModel)]="speckleFilter">
      Speckle Filter
    </mat-slide-toggle>
  </div>
</div>
