@use "asf-theme-variables" as *;
@use "tokens" as *;

.processing-options {
  background-color: var(--asf-surface);
  margin-top: spacing(sm);
}

.no-processing-options {
  color: #c9cac4; // TODO: check this
  padding-left: spacing(md);
}

.flex-field {
  flex: none;
  flex-direction: inherit !important;
  margin: 3px 0;
}

.margin-right {
  margin-right: spacing(md);
  display: inline-block;
}

.flex-row {
  display: flex !important;
  flex-direction: row !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  display: flex !important;
  flex-direction: column !important;
}

.flex-start {
  justify-content: flex-start;
}

.toggle-options {
  //margin-right: spacing(md);
}

.toggle-list,
.checkbox-list {
  margin-left: spacing(sm);
}

.dropdown-option--description {
  margin-top: 0;
  margin-bottom: spacing(md);
}

.options-header {
  flex: 1 0 100%;
  font-weight: bold;
  margin-bottom: spacing(sm);
}

.option-info--spacing {
  margin-left: spacing(xs);
  color: lightgray;
}

.option-header {
  font-weight: bold;
  margin: spacing(xs) 0 spacing(sm);
}
