.position {
  width: 400px;
  max-width: 100%;
  height: 100%;
  position: fixed;
  background: transparent;
  right: 100%;
  top: 0;
  z-index: 999;
}

.filter-list {
  height: 100%;
  width: 94%;
  float: right;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  background: rgba(238, 238, 238, 0.7);
}

.clickable {
  cursor: pointer;
}
