@import "asf-theme";

$menu-height: 500px;

.hidden {
  display: none;
}

.sidebar-position {
  width: 450px;
  max-width: calc(100% - 28px);
  height: calc(#{$menu_height} - 32px);
  position: fixed;
  background: white;
  right: 100%;
  margin: 0;
  top: 148px;
  z-index: 999;
}

$break-small: 500px;
$break-large: 1200px;

.dataset-filters-div {
  width: 100%;
}

.dataset-filters-card {
  position: relative;
  top: 15px;
  width: 60%;
  overflow-y: auto;
  margin: 0 auto;
  display: table;

  @media screen and (max-width: $break-small) {
    max-height: calc(78vh - 10px);
  }

  @media screen and (min-width: $break-large) {
    max-height: calc(80vh - 10px);
  }
}

.top-list-elements {
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 2;
  background: white;
}

.bottom-list-elements {
  padding: 1px 0;
  position: sticky;
  bottom: 0;
  z-index: 2;
  background: white;
}

.filter-list {
  height: $menu-height;
  //overflow-y: scroll;
  margin: 0;
  padding: 0;
}

.filter-scroll {
  z-index: 1;
}

.support_by {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  font-size: 12px;
  font-style: italic;
  color: gray;
  text-align: center;
}

.img-nasa-logo {
  max-width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

h3 {
  color: $asf-primary;
}

.close-x {
  position: absolute;
  top: 15px;
  right: 35px;
  text-align: right;
  float: right;
  cursor: pointer;
}
