<div
  [@changeMenuState]="(isSidebarOpen$ | async) ? 'shown' : 'hidden'"
  class="position ">

<app-toggle-button
  (click)="onToggleHide()"
  [isOpen]="isSidebarOpen$ | async">
</app-toggle-button>

<div class="filter-list">
  <div class="top-list-elements">
    <app-logo
       class="clickable"
      (click)="onAppReset()">
    </app-logo>
    <mat-card *ngIf="searchError$ | async as error" class="card-spacing">
      <b>Error:</b> {{error}}
    </mat-card>
  </div>

  <div class="filters-scoll">

  <mat-tab-group color="primary" backgroundColor="primary">
    <mat-tab label="Filters">
      <app-platform-selector
        [platforms]="platforms$ | async"
        [selected]="selectedPlatformNames$ | async"
        (removeSelected)="onPlatformRemoved($event)"
        (addSelected)="onPlatformAdded($event)">
      </app-platform-selector>

      <app-date-selector
        [startDate]="startDate$ | async"
        [endDate]="endDate$ | async"
        [extrema]="dateRangeExtrema$ | async"
        (newStart)="onNewStartDate($event)"
        (newEnd)="onNewEndDate($event)">
      </app-date-selector>

      <app-path-selector
        (newPathStart)="onNewPathStart($event)"
        (newPathEnd)="onNewPathEnd($event)"
        (newFrameStart)="onNewFrameStart($event)"
        (newFrameEnd)="onNewFrameEnd($event)"
        (newOmitSearchPolygon)="onNewOmitGeoRegion($event)"
        [pathRange]="pathRange$ | async"
        [shouldOmitSearchPolygon]="shouldOmitSearchPolygon$ | async"
        [frameRange]="frameRange$ | async"
        [selected]="selectedPlatforms$ | async">
      </app-path-selector>

      <app-other-selector
        (newFlightDirections)="onNewFlightDirections($event)"
        (newProductTypes)="onNewProductTypes($event)"
        (newBeamModes)="onNewBeamModes($event)"
        (newPolarizations)="onNewPolarizations($event)"
        [productTypes]="platformProductTypes$ | async"
        [selected]="selectedPlatforms$ | async"
        [flightDirections]="flightDirections$ | async"
        [beamModes]="beamModes$ | async"
        [polarizations]="polarizations$ | async">
      </app-other-selector>

      <app-max-results-selector
        [maxResults]="maxResults$ | async"
        (newMaxResults)="onNewMaxResults($event)">
      </app-max-results-selector>

      <app-list-search
        (newListSearchMode)="onNewListSearchMode($event)"
        (newListSearch)="onNewGranuleList($event)"
        [mode]="listSearchMode$ | async"
        [searchList]="searchList$ | async">
      </app-list-search>
    </mat-tab>

    <ng-container *ngIf="granules$ | async as granules">
      <mat-tab
        *ngIf="granules.length > 0"
        label="Results">

        <ng-container *ngIf="selectedGranule$ | async as selected">
          <app-granule-detail
              *ngIf="!!selected"
              (newFocusedGranule)="onNewFocusedGranule($event)"
              (clearFocusedGranule)="onClearFocusedGranule($event)"
              (newQueueItem)="onNewQueueItem($event)"
              (newQueueItems)="onNewQueueItems($event)"
              [granule]="selected"
              [products]="selectedProducts$ | async">
          </app-granule-detail>
        </ng-container>

        <mat-card class="card-spacing">
          <button (click)="onOpenSpreadsheet()" mat-raised-button>Open Spreadsheet</button>
        </mat-card>

        <app-granules-list
          (newFocusedGranule)="onNewFocusedGranule($event)"
          (clearFocusedGranule)="onClearFocusedGranule($event)"
          (newSelected)="onNewGranuleSelected($event)"
          (queueGranule)="onQueueGranuleProducts($event)"
          [granules]="granules"
          [selected]="(selectedGranule$ | async)?.name">
        </app-granules-list>
      </mat-tab>
    </ng-container>

    <ng-container *ngIf="queueProducts$ | async as queue">
      <mat-tab
        *ngIf="queue.length > 0"
        label="Queue">
          <app-queue
            (itemRemoved)="onRemoveItem($event)"
            (clear)="onClearQueue()"
            (makeDownloadScript)="onMakeDownloadScript()"
            (metadataDownload)="onMetadataDownload($event)"
            [products]="queue">
          </app-queue>
      </mat-tab>
    </ng-container>

  </mat-tab-group>
  </div>
  <div class="bottom-list-elements">
    <app-search-bar
      (newSearch)="onNewSearch()"
      (clearSearches)="onClearSearch()"
      [isLoading]="loading$ | async">
    </app-search-bar>
  </div>
</div>

</div>
