.expanded-row {
  height: 32px !important;
  align-items: flex-start;
}

.file-name {
  font-weight: 400;
  font-size: 16px;
  margin-left: 25px;
}

.download-cart-icons {
  //margin-left: 10px;
  //margin-bottom: 15px;
}

.file-size {
  font-weight: 400;
  font-size: 14px;
  font-style: italic;
  margin-left: 30px;
}

.tree {
  margin-top: -13px;
}
