::ng-deep .circumference {
    fill: none;
    stroke: #BCBCBC;
    stroke-width: 10px;
  }
  ::ng-deep .range {
      fill: none;
      stroke: #64685C;
      stroke-width: 10px;
  }
  ::ng-deep .dot circle:hover {
    cursor: pointer;
  }
  
  ::ng-deep .dot circle {
    fill: #64685C;
  //   stroke: steelblue;
  //   stroke-width: 1.5px;
  }
  ::ng-deep .start circle {
      fill: #aaff00;
  }
  ::ng-deep .dot circle.dragging {
    fill: red;
    stroke: brown;
  }
  