@import url("asf-theme");

.ls-example {
  font-style: italic;
  color: grey;
  word-break: break-all;
}

.file-upload-container {
  width: 30%;
  margin-bottom: 20px;
}

.drop-file-area {
  @include themify($themes) {
    background-color: darken(themed("background-white"), 10%);
    outline: 2px dashed themed("primary");
  }

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 350px;
  height: 180px;
  display: inline-block;
  outline-offset: -8px;
}

.drop-file-area-scenes {
  background-image: url("/assets/scene_file_upload.png");
}

.drop-file-area-files {
  background-image: url("/assets/file_upload.png");
}

.file-upload-text {
  margin-top: 25%;
  margin-right: 15%;
  margin-left: 20%;
  color: rgb(0 0 0 / 54%);
  font-weight: 400;
}

.file-list-container {
  width: 70%;
  margin-right: 15px;
}

.input-field-container {
  display: flex;
  flex-direction: row;
}

.panel-title {
  @include themify($themes) {
    color: themed("dark-primary-text") !important;
  }
}

.asf-manual-link {
  @include themify($themes) {
    color: themed("dark-secondary-text");
  }

  display: inline-block;
  line-height: 0;

  ::ng-deep.material-icons {
    font-size: 16px !important;
    margin-left: 5px;
    margin-top: 8px;
  }
}
