@import "asf-theme";

.ls-example {
  font-style: italic;
  color: grey;
  word-break: break-all;
}

.file-upload-container {
  width: 30%;
  margin-bottom: 20px;
}

//.drop-file-area {
//
//  @include themify($themes) {
//    background-color: darken(themed('background-white'), 10%);
//    outline: 2px dashed themed('primary');
//  }
//  background-size: contain;
//  background-repeat: no-repeat;
//  background-position: center;
//  width: 350px;
//  height: 180px;
//  display: inline-block;
//  outline-offset: -8px;
//}

.drop-file-area {
  @include themify($themes) {
    background-color: darken(themed('background-white'), 10%);
    outline: 2px dashed themed('primary');
  }

  background-image: url('/assets/icons/cloud_upload_black_48dp.svg');
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center 40%;
  width: 230px;
  height: 175px;
  display: inline-block;
  outline-offset: -8px;
}

.dd-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  @include themify($themes) {
    color: lighten(themed('dark-primary-text'), 20%);
  }

  .dd-text-1 {
    margin-top: 20px;
    font-size: 18px;
  }

  .dd-bottom-text {
    margin-bottom: 10px;
    .dd-text-2 {
      font-size: 12px;
    }
  }
}

.file-upload-text {
  margin-top: 25%;
  margin-right: 15%;
  margin-left: 20%;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400;
}

.file-list-container {
  width: 70%;
  margin-right: 15px;
}

.input-field-container {
  display: flex;
  flex-direction: row;
}

.panel-title {
  @include themify($themes) {
    color: themed('dark-primary-text') !important;
  }
}

.asf-manual-link {
  @include themify($themes) {
    color: themed('dark-secondary-text')
  }
  display: inline-block;
  line-height: 0;

  ::ng-deep.material-icons {
    font-size: 16px !important;
    margin-left: 5px;
    margin-top: 8px;
  }
}
