<div (dragover) = "onFileDragOver($event)" (drop)="onFileDrop($event)">
<ng-container *ngIf="listSearchMode$ | async as mode">
  <mat-accordion *ngIf="breakpoint$ | async as breakpoint" multi>
    <mat-expansion-panel
      *ngIf="breakpoint === breakpoints.MOBILE"
      [expanded]="defaultPanelOpenState" [disabled]="panelIsDisabled"
      (click)="selectPanel(panels.SEARCH)"
      [class.raised-section]="isSelected(panels.SEARCH)">

      <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
        <mat-panel-title>
          {{ 'SEARCH_OPTIONS' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div style="display: flex; margin-top: 25px;">
        <app-search-type-selector style="margin-right: 10px;">
        </app-search-type-selector>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel
      [expanded]="defaultPanelOpenState" [disabled]="panelIsDisabled"
      (click)="selectPanel(panels.LIST)"
      [class.raised-section]="isSelected(panels.LIST)">

      <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
        <mat-panel-title class="panel-title">
          {{ 'SEARCH_LIST_INPUT'| translate }}
          <div class="asf-manual-link">
            <app-docs-modal
              url="https://docs.asf.alaska.edu/vertex/manual/#list-search-options">
            </app-docs-modal>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div>
        <div>
          <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; margin-bottom: 10px;">
            <div style="margin-right: 15px;">
              <h4>
                <span>{{ 'LIST_TYPE'| translate }} </span>
              </h4>
            </div>
            <div>

              <mat-button-toggle-group [value]="mode">
                <mat-button-toggle
                  (click)="onSceneModeSelected()"
                  [value]="types.SCENE"
                  matTooltip="{{'SCENE_LIST_SEARCH' | translate}}">
                  {{ 'SCENE' | translate }}
                </mat-button-toggle>

                <mat-button-toggle
                  (click)="onProductModeSelected()"
                  [value]="types.PRODUCT"
                  matTooltip="{{ 'FILE_LIST_SEARCH' | translate }}">
                  {{ 'FILE' |  translate }}
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
          <div class="input-field-container">
            <mat-form-field class="w100 file-list-container">
              <textarea matInput
                        (input)="onTextInputChange($event)"
                        [(ngModel)]="searchList"
                        style="height: 150px;"
                        placeholder="{{ 'LIST_OF' | translate }} {{ mode === types.SCENE ? ( 'SCENE_NAMES' | translate ): ( 'FILE_IDS'|translate ) }}">
              </textarea>
            </mat-form-field>
            <div class="drop-file-area file-upload-container"
                 [class.drop-file-area-scenes]=" mode === types.SCENE "
                 [class.drop-file-area-files]=" mode != types.SCENE ">
              <div class="dd-text">
                <div class="dd-text-1">{{ 'DRAG_AND_DROP' | translate }}</div>
                <div class="dd-bottom-text">
                  <div>{{ 'FILES_HERE' | translate }}</div>
                  <div *ngIf="mode === types.SCENE" class="dd-text-2">(csv, geojson, metalink, kml)</div>
                  <div *ngIf="mode != types.SCENE" class="dd-text-2">(csv, geojson)</div>
                </div>
              </div>

            </div>
        </div>
        </div>
        <div class="ls-example">
          <div>
            <span>
              {{ 'EXAMPLE' | translate }} {{listExamples[mode]}}
            </span>
            <div>
              <app-copy-to-clipboard
                [value]="listExamples[mode]"
                [prompt]="mode === types.SCENE ? ('COPY_SCENE_NAMES' | translate) : ('COPY_FILE_IDS' | translate)"
                style="margin: 0 3px;"
                class="clipboard-icon">
              </app-copy-to-clipboard>
            </div>
            <div>
              <span>
                {{ 'FILE_IMPORT_SUPPORTED' | translate }} (csv, geojson{{ mode == types.SCENE ? ", metalink, kml" : ""}})
              </span>
            </div>
          </div>
        </div>

      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
</div>
