@use "asf-theme-variables" as *;

.interaction-icon {
  @include md-icon-size($asf-ribbon-icon-size);
  color: var(--asf-dark-primary-text);
}

.interaction-toggle-group {
  height: 26px !important;
}

.mobile-upload-button {
  background-color: var(--asf-surface);
  border-left: 1px #e0e0e0;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.control-mat-button-toggle {
  background: var(--asf-surface);
  color: var(--asf-dark-primary-text);
}
