@use "asf-theme-variables" as *;

.interaction-icon {
  @include md-icon-size($asf-ribbon-icon-size);

  @include themify($themes) {
    color: themed('dark-primary-text');
  }
}

.interaction-toggle-group {
  height: 26px !important;
}

.mobile-upload-button {
  @include themify($themes) {
    background-color: themed('background-white');
  }
  border-left: 1px #e0e0e0;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.control-mat-button-toggle {
  @include themify($themes) {
    background: themed('background-white');
    color: themed('dark-primary-text');
  }

  border-radius: 4px;
}

.mat-button-toggle-checked {
  @include themify($themes) {
    background: themed('primary-light') !important;
    color: themed('dark-primary-text');
  }
}
