<mat-button-toggle-group [value]="interaction" class="interaction-toggle-group"
  name="viewSelect" aria-label="Font Style">

  <app-draw-selector></app-draw-selector>

  <mat-button-toggle
    (click)="onEditSelected()"
    [value]="types.EDIT"
    class="control-mat-button-toggle"
    [matTooltip]="interaction === types.EDIT ? 'Stop editing' : 'Edit current area of interest'">
    <mat-icon class="interaction-icon">{{ 'EDIT' |  translate }}</mat-icon>
  </mat-button-toggle>

  <mat-button-toggle
    (click)="onDrawSelected()"
    [value]="types.DRAW"
    class="control-mat-button-toggle"
    [matTooltip]="interaction === types.DRAW ? 'Stop drawing' : 'Draw new area of interest'">
    <mat-icon class="interaction-icon">draw</mat-icon>
  </mat-button-toggle>

  <mat-button-toggle
    (click)="onClearSelected()"
    class="control-mat-button-toggle"
    matTooltip="Clear current area of interest"
    #clearButton>
    <mat-icon class="interaction-icon">delete</mat-icon>
  </mat-button-toggle>

  <app-file-upload-dialog
  *ngIf="(breakpoint$ | async) === breakpoints.MOBILE"
  class="mobile-upload-button">
  </app-file-upload-dialog>

</mat-button-toggle-group>
