@import "asf-theme";

.interaction-icon {
  @include md-icon-size($asf-ribbon-icon-size);
}

.interaction-toggle-group {
  height: 26px !important;
}

.mobile-upload-button {
  border-left: 1px #e0e0e0;
  background-color: $asf-background-white;
}
