@import "asf-theme";

.interaction-icon {
  @include md-icon-size($asf-ribbon-icon-size);
}

.interaction-toggle-group {
  height: 26px !important;
}

.mobile-upload-button {
  @include themify($themes) {
    background-color: themed('background-white');
  }
  border-left: 1px #e0e0e0;
}
