<app-compact-search-selector
  (newSearchType)="onSetSearchType($event)"
  [selectedSearchType]="searchType$ | async">
</app-compact-search-selector>

<ng-container *ngIf="selectedSearchType === searchTypes.DATASET">
  <app-dataset-search></app-dataset-search>
</ng-container>

<ng-container *ngIf="selectedSearchType === searchTypes.LIST">
  <app-list-search></app-list-search>
</ng-container>

<ng-container *ngIf="selectedSearchType === searchTypes.MISSION">
  <app-mission-search
    (newMissionSelected)="onNewMissionSelected($event)"
    [missionsByPlatform]="missionsByPlatform$ | async"
    [missionPlatforms]="missionPlatforms$ | async">
  </app-mission-search>
</ng-container>

