<ng-container *ngIf="selectedSearchType === searchTypes.DATASET">
  <app-dataset-search
    [platform]="platform$ | async">
  </app-dataset-search>
</ng-container>

<ng-container *ngIf="selectedSearchType === searchTypes.LIST">
  <app-list-search></app-list-search>
</ng-container>

<ng-container *ngIf="selectedSearchType === searchTypes.MISSION">
  <app-mission-search
    (newMissionSelected)="onNewMissionSelected($event)"
    [selectedMission]="selectedMission$ | async"
    [missionsByPlatform$]="missionsByPlatform$"
    [missionPlatforms$]="missionPlatforms$">
  </app-mission-search>
</ng-container>

