<div *ngIf="granule$ | async as granule" class="dialog-wrapper mp0">
  <div class="dialog-header">
    <div>
      <h3 class="mp0">{{ granule.name }}</h3>
      <span class="faint-text">{{ granule.metadata.date | shortDate }}</span>
    </div>
    <div>
      <button mat-icon-button>
        <mat-icon (click)="closeDialog()">close</mat-icon>
      </button>
    </div>
  </div>
  <div class="granule-browse-wrapper">
    <img
      class="granule-browse fit-to-container"
      [src]="granule.browse"
      onerror="this.src='assets/error.png'"
      alt="Sentinel1 granule browse image">
  </div>
  <div class="nav-buttons">
    <button (click)="selectPreviousProduct()" mat-button>Previous</button>
    <button (click)="selectNextProduct()" mat-button>Next</button>
  </div>
</div>
