@import "asf-help";

.help-video {
  height: 300px;
  background-size: contain;
  margin-bottom: 18px;
}

.help-toc-title-block {
  margin-top: 20px;
  margin-bottom: 20px;
}

.help-toc-all-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include themify($themes) {
    color: themed('primary');
  }
  h1,
  h2,
  h3,
  h4 {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.help-toc-icon {
  .material-icons {
    font-size: 53px;
    width: 54px;
    height: 53px;
    @include themify($themes) {
      color: themed('dark-secondary-text');
    }
  }
}

.mat-mdc-card-avatar.help-toc-icon {
  width: 0;
}

.videoWrapper {
  width: fit-content;
  display: flex;
}

.mat-mdc-card {
  padding: 16px 16px 0;
  height: 75px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
.mat-card-step {
  display: flex;
  margin: 0 3px;
  cursor: pointer;
}

.mat-mdc-card-title {
  margin-bottom: 8px;
}

.mat-mdc-card-subtitle {
  margin-bottom: 0;
}

.help-text-row {
  justify-content: space-around;
}

.help-toc-1,
.help-toc-2,
.help-toc-3 {
  flex: none;

  h3 {
    @include themify($themes) {
      color: themed('primary');
    }
  }

  li {
    cursor: pointer;
  }
}

.help-table {
  background: none  !important;
}

.help-table-header {
  @include themify($themes) {
    color: themed('primary');
  }
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  
  // color: #65665c;
}

.help-table-row {
  height: 20px !important;

  a {
    @include themify($themes) {
      color: themed('blue-link');
    }
  }
}

.description {
  padding: 0 !important;
  border: none !important;
}

.duration {
  text-align: right;
}
