.sbas-chart-row {
  display: flex;
  flex-direction: row;
  height: 80%;
}

.sbas-filter-row {
  display: flex;
  flex-direction: row;

}

.sbas-column-1 {
  flex: 20;
}

.sbas-column-2 {
  flex: 80;
}
