.sbas-slider-two-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sbas-label {
  color: grey;
}

.sbas-column-1 {
  flex-basis: 150px;
  flex-shrink: 0;
  flex-grow: 0;
  padding-left: 30px;
}

.sbas-column-2 {
  flex-basis: calc(100% - 230px);
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 20px;
  margin-right: 30px;
}
