.sbas-slider-two-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sbas-slider-two-wrapper-mobile {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.sbas-mobile-filter2.sbas-slider-two-wrapper,
.sbas-slider-two-wrapper.sbas-mobile-filter2 {
  height: 80px;
}

.sbas-label {
  color: grey;
}

.sbas-column-1 {
  flex-basis: 150px;
  flex-shrink: 0;
  flex-grow: 0;
  padding-left: 30px;
}

.sbas-column-2 {
  flex-basis: calc(100% - 230px);
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 20px;
  margin-right: 30px;
}

.sbas-mobile-filter2 .sbas-column-2 {
  width: 100%;
}

.field-spacing {
  width: 20px;
}
