@import "asf-theme";
@import "deluxe-menu";

.menu-item {
  display: flex;
  @include themify($themes) {
    color: themed('dark-primary-text');
  }
}
.mat-icon {
  @include themify($themes) {
    color: themed('dark-primary-text');
  }
}
.mat-mdc-button {
  min-width: 10px;
  padding: 0 13px;
}
.nav-icon-buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
}

