@import "asf-theme";
@import "deluxe-menu";

.menu-item {
  display: flex;
  @include themify($themes) {
    color: themed('dark-primary-text');
  }
}
.mat-icon {
  @include themify($themes) {
    color: themed('dark-primary-text');
  }
}