@use "asf-theme-variables" as *;
@use "deluxe-menu" as *;

.menu-item {
  display: flex;
  @include themify($themes) {
    color: themed('dark-primary-text');
  }
}
.mat-icon {
  @include themify($themes) {
    color: themed('dark-primary-text');
  }
}
.mat-mdc-button {
  min-width: 10px;
  padding: 0 13px;
}
.nav-icon-buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.external-link-icon {
  font-size: 12px;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  margin-left: 2px;
}

.storymap-icon {
  width: 30px;
  height: 30px;
}

.collapsed-buttons-panel {
  position: absolute;
  right: 100px;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 82px;
  padding: 0 8px;
  z-index: 1000;
  margin-top: -18px;
  margin-right: 5px;
  background-color: white;

  .nav-icon-buttons-raised {
    position: relative;
    top: 6px;
  }
}

.chevron-toggle {
  height: 52px;
  width: 15px;
  min-width: 15px;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: -7px;

  @include themify($themes) {
    background-color: themed("header");
    color: themed("dark-primary-text");
    border-color: themed("dark-secondary-text");

    &:hover {
      background-color: themed("hover-bg");
    }
  }

  .mat-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
  }
}
