<div *ngIf="breakpoint$ | async as breakpoint">
  <ng-container *ngIf="breakpoint > breakpoints.MOBILE">
    <button
        [matMenuTriggerFor]="onDemandQueue"
        class="spacing nav-icon-buttons" color="basic"
        matTooltip="On Demand Queue"
        mat-button>
        <mat-icon
          class="large-icon"
          svgIcon="hyp3"
          [matBadge]="queuedCustomProducts.length"
          [matBadgeColor]="this.queuedProducts.length > 0 ? this.accentPalette : this.primaryPalette"
          matBadgePosition="above after"
          matBadgeOverlap="true"
          matBadgeSize="small">
        </mat-icon>
      <div class="text-under faint-text">On Demand</div>
    </button>

    <mat-menu #onDemandQueue="matMenu">
      <button
      (click)="onOpenProcessingQueue()"
      mat-menu-item>On Demand Queue</button>

      <button
      (click)="onOpenSubscriptions()"
      [disabled]="!isLoggedIn"
      mat-menu-item>Subscriptions</button>

      <button mat-menu-item
      (click) = "onSetSearchTypeOnDemand()"
      [disabled]="!isLoggedIn">Submitted Products
      </button>

      <button mat-menu-item (click)="onOpenOnDemandDocs()">
        On Demand (HyP3) Docs
      </button>
    </mat-menu>
    <button
      (click)="onOpenDownloadQueue()"
      class="spacing nav-icon-buttons"
      color="basic"
      matTooltip="Downloads" mat-button>

      <mat-icon
        class="large-icon"
        [matBadge]="queuedProducts.length"
        [matBadgeColor]="this.queuedProducts.length > 0 ? this.accentPalette : this.primaryPalette"
        matBadgePosition="above after"
        matBadgeOverlap="true"
        matBadgeSize="small">
          shopping_cart
      </mat-icon>
      <div class="text-under faint-text">Downloads</div>
    </button>

    <button
      *ngIf="!isLoggedIn"
      (click)="onAccountButtonClicked()"
      class="spacing nav-icon-buttons" color="basic"
      matTooltip="Login" mat-button>
        <mat-icon class="large-icon">account_circle</mat-icon>
      <div class="text-under faint-text">Sign in</div>
    </button>

    <button
      *ngIf="isLoggedIn"
      [matMenuTriggerFor]="profileMenu"
      class="spacing nav-icon-buttons" color="basic"
      matTooltip="Profile" mat-button>
        <mat-icon class="large-icon">account_circle</mat-icon>
        <div class="text-under faint-text"> {{ this.userAuth.id }} </div>
    </button>

    <button
      [matMenuTriggerFor]="appMenu"
      matTooltip="ASF Apps"
      class="spacing" color="basic" mat-icon-button>
        <mat-icon class="large-icon">menu</mat-icon>
    </button>
  </ng-container>

  <ng-container *ngIf="breakpoint === breakpoints.MOBILE">
    <mat-icon
      [matMenuTriggerFor]="onDemandQueue"
      class="mobile-icon-spacing"
      matTooltip="On Demand Queue"
      svgIcon="hyp3"
      [matBadge]="queuedCustomProducts.length"
      [matBadgeColor]="this.queuedProducts.length > 0 ? this.accentPalette : this.primaryPalette"
      matBadgePosition="above after"
      matBadgeOverlap="true"
      matBadgeSize="small">
    </mat-icon>

    <mat-menu #onDemandQueue="matMenu">
      <button
      (click)="onOpenProcessingQueue()"
      mat-menu-item>On Demand Queue</button>

      <button
      (click)="onOpenSubscriptions()"
      [disabled]="!isLoggedIn"
      mat-menu-item>Subscriptions</button>

      <button mat-menu-item
      (click) = "onSetSearchTypeOnDemand()"
      [disabled]="!isLoggedIn">Submitted Products</button>

      <button mat-menu-item (click)="onOpenOnDemandDocs()">
        On Demand (HyP3) Docs
      </button>
    </mat-menu>

    <mat-icon
      (click)="onOpenDownloadQueue()"
      class="mobile-icon-spacing"
      [matBadge]="queuedProducts.length"
      [matBadgeColor]="this.queuedProducts.length > 0 ? this.accentPalette : this.primaryPalette"
      matBadgePosition="above after"
      matBadgeOverlap="true"
      matBadgeSize="small">
        shopping_cart
    </mat-icon>

    <mat-icon
      *ngIf="!isLoggedIn"
      class="mobile-icon-spacing"
      fontSet="material-icons-outlined"
      (click)="onAccountButtonClicked()">
        account_circle
    </mat-icon>

    <mat-icon
      *ngIf="isLoggedIn"
      class="mobile-icon-spacing"
      [matMenuTriggerFor]="profileMenu">
        account_circle
    </mat-icon>

    <mat-icon
      [matMenuTriggerFor]="appMenu"
      class="mobile-icon-spacing">
        menu
    </mat-icon>
  </ng-container>
</div>

<mat-menu #profileMenu="matMenu">
  <button (click)="onOpenSavedSearches()" mat-menu-item matSuffix>
    Saved Searches
  </button>
  <button (click)="onOpenSearchHistory()" mat-menu-item matSuffix>
    Search History
  </button>
  <button [disabled]="(searchType$ | async) === searchTypes.LIST || (searchType$ | async) === searchTypes.CUSTOM_PRODUCTS" (click)="onOpenSavedFilters()" mat-menu-item matSuffx>
    Saved Filters
  </button>
  <button (click)="onOpenPreferences()" mat-menu-item matSuffix>
    Preferences
  </button>
  <hr class="menu-hr">
  <button (click)="onLogout()"
      mat-menu-item matSuffix>
    Sign out
  </button>
</mat-menu>

<mat-menu #appMenu="matMenu">

  <button (click)="onCopy()"
      mat-menu-item matSuffix>
    <mat-icon>link</mat-icon>
    Copy Search Link
  </button>

  <a (click)="onShareWithEmail()"
      href="mailto:?subject=&body=:%20"
      target="_blank" title="Send email"
                      mat-menu-item matSuffix>
    <mat-icon>email</mat-icon>
    Share With Email
  </a>

  <button mat-menu-item matSuffix (click)="onOpenHelp('toc')">
    <mat-icon>video_library</mat-icon>
    Video Tutorials
  </button>

  <button mat-menu-item matSuffix (click)="onOpenUserGuide()">
    <mat-icon>book</mat-icon>
    Vertex User Guide
  </button>

  <button mat-menu-item matSuffix (click)="onOpenHyP3Guide()">
    <mat-icon>book</mat-icon>
    HyP3 User Guide
  </button>

  <button mat-menu-item [matMenuTriggerFor]="developerMenu">
    <mat-icon>build</mat-icon>
    Developer
  </button>

  <hr class="menu-hr">

  <button mat-menu-item (click)="onOpenASFWebSite()">
    <mat-icon>web</mat-icon>
    ASF Website
  </button>

  <button mat-menu-item (click)="onOpenAPIWebSite()">
    <mat-icon>web</mat-icon>
    ASF Search API
  </button>

  <hr class="menu-hr">

  <button [matMenuTriggerFor]="derivedDatasets"
      mat-menu-item>
    Derived Datasets
  </button>

  <ng-container *ngIf="(breakpoint$ | async) === breakpoints.MOBILE">
    <hr class="menu-hr">

    <button
        [matMenuTriggerFor]="copyrightMenu"
        mat-menu-item>
      Copyright
    </button>

    <button
        [matMenuTriggerFor]="asfMenu"
        mat-menu-item>
      ASF
    </button>

    <mat-menu #asfMenu="matMenu">
      <a mat-menu-item href="https://www.asf.alaska.edu/contact" target="_blank">Contact</a>
      <a mat-menu-item href="https://www.alaska.edu/nondiscrimination" target="_blank">Non-Discrimination</a>
    </mat-menu>

    <mat-menu #copyrightMenu="matMenu">
      <a mat-menu-item href="https://www.asf.alaska.edu/" target="_blank">© {{anio}} ASF</a>
      <a mat-menu-item href="https://www.maptiler.com/copyright/" target="_blank">© MapTiler</a>
      <a mat-menu-item href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>
    </mat-menu>
  </ng-container>
</mat-menu>

<mat-menu #derivedDatasets="matMenu">
  <a mat-menu-item (click)="onOpenDerivedDataset('/sar-data-sets/global-ice-sheet-mapping-orbiter-gismo', 'GISMO')">GISMO</a>
  <a mat-menu-item (click)="onOpenDerivedDataset('/sar-data-sets/glacier-speed', 'Glacier Speed')">Glacier Speed</a>
  <a mat-menu-item (click)="onOpenDerivedDataset('/sar-data-sets/international-polar-year-2007-2008', 'Polar Year')">Polar Year</a>
  <a mat-menu-item (click)="onOpenDerivedDataset('/sar-data-sets/radarsat-antarctic-mapping-project-ramp', 'RAMP')">RAMP</a>
  <a mat-menu-item (click)="onOpenDerivedDataset('/sar-data-sets/sea-ice-measures', 'Sea Ice MEaSUREs')">Sea Ice MEaSUREs</a>
  <a mat-menu-item (click)="onOpenDerivedDataset('/sar-data-sets/wetlands-measures', 'Wetlands MEaSUREs')">Wetlands MEaSUREs</a>
</mat-menu>

<mat-menu #apiMaturity="matMenu">
  <button [class.selected]="maturity === 'test'"
    (click)="onTestSelected()"
    mat-menu-item matSuffix>
      <span>Test</span>
  </button>

  <button [class.selected]="maturity === 'prod'"
    (click)="onProdSelected()"
    mat-menu-item matSuffix>
      <span>Production</span>
  </button>

  <button (click)="onOpenCustomizeEnv()" mat-menu-item matSuffix>
    <span>
      Customize Environments
    </span>
  </button>
</mat-menu>

<mat-menu #developerMenu="matMenu">
    <a mat-menu-item
        href="https://github.com/asfadmin/Discovery-SearchUI"
        target="_blank">
      <mat-icon>code</mat-icon>
      Vertex Code Repository
    </a>

    <a mat-menu-item
        [href]="commitUrl"
        target="_blank">
      <mat-icon>code</mat-icon>
      Build Commit
    </a>

    <a
       mat-menu-item
        href="https://cloudwatch.amazonaws.com/dashboard.html?dashboard=ASF-Discovery&context=eyJSIjoidXMtZWFzdC0xIiwiRCI6ImN3LWRiLTE1MzA4NzUzNzQ4NCIsIlUiOiJ1cy1lYXN0LTFfUDZSbVVnbldzIiwiQyI6IjYzZ2xoMHJ2dXIwajNpbjFiODM3cmJmc24iLCJJIjoidXMtZWFzdC0xOjNmOGU2Y2ZlLTA5YmQtNDQzZS04NDg1LTE4ZmJjZDdlZGUyMiIsIk8iOiJhcm46YXdzOmlhbTo6MTUzMDg3NTM3NDg0OnJvbGUvc2VydmljZS1yb2xlL0Nsb3VkV2F0Y2hEYXNoYm9hcmQtUHVibGljLVJlYWRPbmx5QWNjZXNzLUFTRi1EaXNjb3ZlcnktNTNaM1NBUDgiLCJNIjoiUHVibGljIn0%3D"
        target="_blank">
      <mat-icon>show_chart</mat-icon>
      Vertex Network Activity
    </a>

    <button *ngIf="isDevMode()"
            [matMenuTriggerFor]="apiMaturity"
            mat-menu-item>
      <mat-icon>swap_horizontal_circle</mat-icon>
      Select API Maturity
    </button>

</mat-menu>

