.burst-selector-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: stretch;
}

.burst-selector-filter {
  width: 100%;
  flex-basis: auto;
}
