<button mat-button mat-flat-button [matMenuTriggerFor]="filterPresetsMenu"  style="margin-right: 13px;">Options</button>

<mat-menu #filterPresetsMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="filtersSaveMenu">Save Filters</button>
  <button mat-menu-item [disabled]="userFilters.length == 0" [matMenuTriggerFor]="filtersLoadMenu">Load Filters</button>
</mat-menu>

<mat-menu #filtersLoadMenu="matMenu">
  <div *ngFor="let filterPreset of filterBySearchType(userFilters)">
    <button mat-menu-item (click)="loadPreset(filterPreset)">
      {{filterPreset.name}}
    </button>
  </div>
</mat-menu>

<mat-menu #filtersSaveMenu="matMenu">
  <div>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="newFilterName" (click)="$event.stopPropagation()">

</mat-form-field>
<button [disabled]="!isValidPresetName(newFilterName)" mat-button (click)="onSaveFilters()" >confirm</button>
</div>
</mat-menu>
