.hide {
  display: none;
}

.spreadsheet-card {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 0;
  width: 90vw;
  z-index: 999;
  overflow: auto;

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.inner-card {
  padding: 10px;
  margin: 10px;
}

table {
  max-height: 80%;
  width: 100%;
  overflow: scroll;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-select {
  overflow: initial;
}
