<mat-card>
  <mat-action-list>
    <button mat-list-item *ngFor="let product of products">

        <img matListAvatar class="size" [src]="product.thumbnail">

        <app-product-name [name]="product.name" matLine></app-product-name>

        <div matLine>
          <span matTooltip="Path" matTooltipPosition="after"> 100</span>,
          <span matTooltip="Frame" matTooltipPosition="after"> 100</span>,
          <span matTooltip="Polarization" matTooltipPosition="after">VV</span>,
          <span matTooltip="Flight Direction" matTooltipPosition="after">Ascending</span>,
          <span matTooltip="Absolute Orbit" matTooltipPosition="after">15390</span>
        </div>

        <a matLine [href]="product.downloadUrl">
          {{ getReadableSize(product.bytes) }}
          <fa-icon class="ml-2" [icon]="downloadIcon"></fa-icon>
        </a>

    </button>
  </mat-action-list>
</mat-card>
