/* You can add global styles to this file, and also import other style files */

@import './styles/asf-theme';
@import './styles/filter-list';

* {
  font-family: Roboto, sans-serif;
}

.card-spacing {
  margin: 4px;
}

.faint-text {
  color: rgba(0, 0, 0, 0.6);
}

.fainter-text {
  color: rgba(0, 0, 0, 0.4);
}

.v-mid {
  vertical-align: middle;
}

.active-btn {
  background-color: rgba(0, 0, 0, 0.07);
}

.clickable {
  cursor: pointer;
}

.spreadsheet-width {
  width: 100vw;
}

.invisible {
  visibility: hidden;
}

.w100 {
  width: 100%;
}

.w90 {
  width: 90%;
}

.h100 {
  height: 100%;
}

.mp0 {
  margin: 0 !important;
  padding: 0 !important;
}

.bold {
  font-weight: bold !important;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: $asf-warn;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-content {
  background-color: $asf-warn;
}

.max-width-100 {
  max-width: 115px !important;

  .mat-form-field-infix {
    width: 100px !important;
  }
}

.dl-list-global .mat-list-base .mat-list-item {
  height: 24px !important;
}

#dlQueueDialog {
  width: 900px;
  max-width: 900px;
  height: 650px;
  min-height: 50%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#processingQueueDialog {
  width: 1000px;
  max-width: 1000px;
  height: 650px;
  min-height: 50%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.control-mat-button-toggle {
  pointer-events: auto;

  .mat-button-toggle-label-content,
  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 26px !important;
  }
}

.ls-card .mat-button-toggle {
  font-size: $asf-font-size;

  .mat-button-toggle-label-content,
  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 24px;
  }
}

.ls-card-content-list .mat-form-field-infix {
  border-color: $asf-primary-light;
  width: 100%;
  border-style: solid;
  border-width: 1px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.invalid-input-animation {
  animation: shake 0.82s;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-asf-ribbon-icon { font-size: $asf-ribbon-icon-size; }

.no-drag {
  /* https://stackoverflow.com/questions/12906789/preventing-an-image-from-being-draggable-or-selectable-without-using-js */
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.selected {
  background-color: rgba(0, 0, 0, 0.09) !important;
}

.mat-dialog-container {
  border-radius: 0 !important;
}

.image-dialog {
  margin: 0;
  padding: 0;

  .mat-dialog-container {
    background-color: $asf-primary-light;
    padding-bottom: 20px;
    padding-top: 11px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.file-list {
  .mat-list-item-content {
    padding: 0 !important;
  }
}

.mini-button {
  font-size: 12px !important;
  padding: 0 8px !important;
  line-height: 24px !important;
  min-width: 1% !important;
}

.mat-select-panel {
  max-width: 340px !important;
  max-height: 312px !important;
}

.saved-searches__filter-form-mobile .mat-form-field-infix {
  width: 168px !important;
}

.mat-button-toggle-label-content .mat-button-toggle-appearance-standard .scene-actions {
  line-height: 24px;
  padding: 0 9px 1px;
}

#dataset-button-toggle-group .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 0;
  padding: 0;
}

.help-panel-config {
  .mat-dialog-container {
    padding: 0;
    overflow: hidden;
  }
}

.mat-list-base .mat-list-item.mat-2-line,
.mat-list-base .mat-list-option.mat-2-line {
  height: 58px !important;
}

.slider .noUi-connect {
  background: $asf-blue;
}

// for the sbas chart

.noUi-handle {
  background-color: $asf-primary-light;
  border-color: $asf-primary-dark;
}

.sbas-column-1 {
  div.noUi-handle.noUi-handle-lower {
    width: 16px;
    right: -5px;
  }

  .noUi-vertical .noUi-handle::after,
  .noUi-vertical .noUi-handle::before {
    width: 8px;
    left: 3px;
    background-color: $asf-primary-dark;
  }

  .noUi-value-vertical {
    font-size: 13px;
  }
}

.sbas-column-2.noUi-horizontal {
  height: 8px;

  .noUi-handle {
    height: 16px;
    top: -5px;
  }

  .noUi-handle::after,
  .noUi-handle::before {
    height: 8px;
    top: 3px;
    background-color: $asf-primary-dark;
  }

  .noUi-value-horizontal {
    font-size: 13px;
    top: 17px;
  }
}

.tick > line {
  opacity: 0.2;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 6px 10px;
  font: 12px sans-serif;
  background: #c9cac4;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
  z-index: 100000;
}
