/* You can add global styles to this file, and also import other style files */

// @import './styles/asf-theme';
@import './styles/filter-list';
@import "prismjs/themes/prism-dark.css";
@import "asf-theme";

$theme-map: null;

* {
  font-family: Roboto, sans-serif;
}

.cdk-overlay-container {
  position: absolute;
  z-index: unset;

  .cdk-overlay-connected-position-bounding-box {
    z-index: 2000;
  }

}

// regular style toast
@import 'ngx-toastr/toastr';

#toast-container {
  position: relative;
  top: 130px;
  right: 25px;
  float: right;
  z-index: 1099;
}

// toast style overrides
.toast.success,
#toast-container > .toast-success {
  color: $asf-background-white;
  background-color: $asf-blue;
  background-image: url("/assets/icons/check_circle_white_48dp.svg");
  box-shadow: none;

  .toast-close-button,
  #toast-container > .toast-close-button {

    color: $asf-background-white;
  }

  a {
    color: yellow;
  }
}

.toast-error,
#toast-container > .toast-error {
  color: $asf-background-white;
  background-color: red;
  background-image: url("/assets/icons/error_white_48dp.svg");
  box-shadow: none;

  .toast-message {
    color: antiquewhite;
  }

  .toast-close-button,
  #toast-container > .toast-close-button {
    color: $asf-background-white;
  }

  a {
    color: orange;
  }
}

.toast-info,
#toast-container > .toast-info {
  background-image: url("/assets/icons/info_black_48dp.svg");

  @include themify_non_host($themes) {
    box-shadow: 0 0 12px themed('primary');

    background-color: themed('background-white');
    color: themed('dark-primary-text');
    .toast-message {
      color: themed('dark-secondary-text');
    }
  }

  a {
    @include themify_non_host($themes) {
      color: themed('blue-link');
    }
  }
}

.toast-warning,
#toast-container > .toast-warning {
  color: $asf-primary-dark;
  background-color: $asf-warn;
  background-image: url("/assets/icons/warning_black_48dp.svg") !important;

  a {
    color: orangered;
  }
}

.toast-close-button,
#toast-container > .toast-close-button {
  @include themify_non_host($themes) {
    color: themed('dark-primary-text');
  }
}

#toast-container > .pinkToast.toast-info {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999;
  color: white;
  background-color: pink;
}

.toast-message a,
.toast-message label {
  color: $asf-primary;
}

.toast-message a:hover {
  color: $asf-blue;
  text-decoration: underline;
}

.banner-dialog {
  /* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
  mat-dialog-container {
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
  mat-dialog-content {
    padding: 15px 40px;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
  mat-dialog-actions {
    padding: 7px 15px 7px 15px;
    margin: 0;
  }
}

.card-spacing {
  margin: 4px;
}

.primary-text {
  @include themify_non_host($themes) {
    color: themed('dark-primary-text');
  }
}
.faint-text {
  @include themify_non_host($themes) {
    color: themed('dark-secondary-text');
  }
}

.fainter-text {
  @include themify_non_host($themes) {
    color: themed('dark-disabled-text');
  }
}

.v-mid {
  vertical-align: middle;
}

.active-btn {

  background-color: rgba(0, 0, 0, 0.07);
}

.clickable {
  cursor: pointer;
}

.spreadsheet-width {
  width: 100vw;
}

.invisible {
  visibility: hidden;
  display: none;
}

.w100 {
  width: 100%;
}

.w90 {
  width: 90%;
}

.h100 {
  height: 100%;
}

.mp0 {
  margin: 0 !important;
  padding: 0 !important;
}

.bold {
  font-weight: bold !important;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
.mat-mdc-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: $asf-primary;
}

/* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
.mat-mdc-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: darkgrey;
}

.max-width-100 {
  max-width: 115px !important;
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-infix {
    width: 100px !important;
  }
}

.dl-list-global .mat-mdc-list-base .mat-mdc-list-item {
  height: 24px !important;
}

#dlQueueDialog {
  @include themify_non_host($themes) {
    background-color: themed('primary-light') !important;
  }

  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#processingQueueDialog {
  @include themify_non_host($themes) {
    background-color: themed('primary-light');
  }
  position: relative;
  margin: 0;
  padding: 0 10px 10px 0 !important;
  overflow: hidden;
}

#subscriptionQueueDialog {
  @include themify_non_host($themes) {
    background-color: themed('primary-light');
  }
  position: relative;
  margin: 0;
  padding: 0 10px 10px 0 !important;
  overflow: hidden;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.control-mat-button-toggle {
  pointer-events: auto;
  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
  .mat-button-toggle-label-content,
  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 26px !important;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.ls-card .mat-button-toggle {
  font-size: $asf-font-size;
  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
  .mat-button-toggle-label-content,
  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 24px;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.ls-card-content-list .mat-form-field-infix {
  @include themify_non_host($themes) {
    border-color: themed('primary-light');
  }
  width: 100%;
  border-style: solid;
  border-width: 1px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.invalid-input-animation {
  animation: shake 0.82s;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-asf-ribbon-icon { font-size: $asf-ribbon-icon-size; }

.no-drag {
  /* https://stackoverflow.com/questions/12906789/preventing-an-image-from-being-draggable-or-selectable-without-using-js */
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.selected {
  background-color: rgba(0, 0, 0, 0.09) !important;
}

.mat-mdc-dialog-container {
  @include themify_non_host($themes) {
    background-color: themed('primary-light');
  }
  border-radius: 0 !important;
}

.image-dialog {
  margin: 0;
  padding: 0;

  .mat-mdc-dialog-container {
    @include themify_non_host($themes) {
      background-color: themed('primary-light');
    }
    padding-bottom: 0;
    padding-top: 11px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.file-list {
  /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
  .mat-list-item-content {
    padding: 0 !important;
  }
}

.mini-button {
  font-size: 12px !important;
  padding: 0 4px !important;
  line-height: 24px !important;
  min-width: 1% !important;
}

.mat-mdc-select-panel {
  max-width: 340px !important;
  max-height: 364px !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.saved-searches__filter-form-mobile .mat-form-field-infix {
  width: 143px !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-button-toggle-label-content .mat-button-toggle-appearance-standard .scene-actions {
  line-height: 24px;
  padding: 0 9px 1px;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
#dataset-button-toggle-group .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 0;
  padding: 0;
}

.help-panel-config {
  .mat-mdc-dialog-container {
    padding: 0;
    overflow: hidden;
  }
}

.mat-mdc-list-base .mat-mdc-list-item.mat-2-line,
.mat-list-base .mat-list-option.mat-2-line {
  height: 58px !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-list-base-item {
  .job-list-item {
    display: flex;
  }
}

.slider .noUi-connect {
  background: $asf-blue;
}

.slider [disabled] .noUi-connect {
  color: grey !important;
}

// for the sbas chart

.noUi-handle {
  background-color: $asf-primary-light;
  border-color: $asf-primary-dark;
}

.sbas-column-1 {
  div.noUi-handle.noUi-handle-lower {
    width: 16px;
    right: -5px;
  }

  .noUi-vertical .noUi-handle::after,
  .noUi-vertical .noUi-handle::before {
    width: 8px;
    left: 3px;
    background-color: $asf-primary-dark;
  }

  .noUi-value-vertical {
    font-size: 13px;
  }
}

.sbas-column-2.noUi-horizontal {
  height: 8px;

  .noUi-handle {
    height: 16px;
    top: -5px;
  }

  .noUi-handle::after,
  .noUi-handle::before {
    height: 8px;
    top: 3px;
    background-color: $asf-primary-dark;
  }

  .noUi-value-horizontal {
    font-size: 13px;
    top: 17px;
  }
}

.tick > line {
  opacity: 0.2;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 6px 10px;
  font: 12px sans-serif;
  background: #c9cac4;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
  z-index: 100000;
}

.jobs-display--mobile .mat-mdc-list-base .mat-mdc-list-item .mat-list-item-content,
.jobs-display--mobile .mat-list-base .mat-list-option .mat-list-item-content {
  width: 100%;
}

//$d-width: 600px;
$d-height: 500px;

#ConfirmProcess {
  @include themify_non_host($themes) {
    background: themed('primary-light') !important;
  }
  resize: none;
  overflow: hidden;
  //width: $d-width !important;
  height: $d-height !important;
  //max-width: $d-width !important;
  max-height: $d-height !important;

  .mat-mdc-list-base {
    padding-top: 0;
  }

  .mat-mdc-dialog-content {
    padding-right: 10px;
  }
}
#dlQueueDialog {
  resize: both;
  @include themify($themes) {
    background-color: themed('primary-light');
  }
  width: 80vw;
  height: 86vh;
  min-width: 350px;
  min-height: 500px;
}

#processingQueueDialog {
  @include themify($themes) {
    background: themed('primary-light');
  }
  resize: both;
  width: 80vw;
  height: 86vh;
  min-width: 360px;
  min-height: 600px;
}

#subscriptionQueueDialog {
  @include themify($themes) {
    background: themed('primary-light');
  }

  resize: both;
  width: 80vw;
  height: 86vh;
  min-width: 350px;
  min-height: 500px;
}

#preferencesDialog {
  .mat-mdc-dialog-content {
    @include themify($themes) {
      background-color: themed("background-white");
    }

    padding: 0;
  }

  width: 80vw;
  max-width: 100vw;
  max-height: 100vh;
  min-width: 350px;
  min-height: 500px;
}

.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate {
  background: gray !important;
}

.on-demand-tooltip {
  font-size: 16px;
}

.content-block .mat-step-header .mat-step-icon-selected {
  background-color: $asf-blue !important;
  @include themify_non_host($themes) {
    color: themed('dark-primary-text');
  }
}
/* TODO(mdc-migration): The following rule targets internal classes of menu that may no longer apply for the MDC version. */
.mat-menu {
  @include themify_non_host($themes) {
    background-color: themed('background-white') !important;
  }
}

.content-block .mat-step-header .mat-step-icon {
  @include themify_non_host($themes) {
    background-color: themed('primary');
    color: themed('light-primary-text');
  }
}

.content-block .mat-step-label-selected {
  font-size: 16px !important;
}

.content-block .mat-step-label {
  font-size: 20px;
}

.content-block .mat-horizontal-stepper-header-container {
  margin-bottom: 20px;
}
/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-button-toggle {
  background: #424242;
}

.event-slider {
  .noUi-handle::after,
  .noUi-handle::before {
    height: 10px;
    top: 4px;
  }

  .noUi-handle::before {
    left: 12px;
  }

  .noUi-handle::after {
    left: 16px;
  }

  .noUi-handle {
    width: 30px !important;
    height: 20px !important;
  }

  .noUi-pips {
    font-size: 14px !important;
  }

  .noUi-value {
    margin-top: 4px;
  }
}
.mat-mdc-form-field.mat-focused {
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-label {
    @include themify_non_host($themes) {
      color: themed('dark-secondary-text') !important;
    }
  }
}

.opacity-slider-title {
  @include themify_non_host($themes) {
    color: themed('dark-primary-text');
  }
}
.draw-svg {
  @include themify_non_host($themes) {
    fill: themed('dark-secondary-text');
  }
}
.view-btn {
  @include themify_non_host($themes) {
    fill: themed('dark-primary-text');
  }
}
.critical-baseline {
  @include themify_non_host($themes) {
    fill: darken(themed('background-white'), 5%);
  }
}
.md-icon {
  @include themify_non_host($themes) {
    color: themed('dark-primary-text');
  }
}
.blue-link {
  @include themify_non_host($themes) {
    color: themed('blue-link') !important;
  }
}

.ol-custom-scale-line {
  height: 14px;
  width: auto;
  color: $asf-primary-light;
  background: $asf-primary-dark;
  border-style: solid;
  border-color: $asf-primary-light;
  border-width: 0 2px 0 2px;
  text-align: center;
}

.fx-row {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}

.fx-col {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
}

.fx-empty {
  flex: 1 1 0%;
  box-sizing: border-box;
}

.fx-auto {
  flex: 1 1 auto;
  box-sizing: border-box;
}

.fx-nogrow {
  flex: 0 1 auto;
  box-sizing: border-box;
}

.fx-75 {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 75%;
}

.fx-25 {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 25%;
}

.fx-row-center {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: stretch center;
  align-items: stretch;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.pair-row .mat-list-item-content {
  width: 100%;
  justify-content: space-between;
}
