@use "@angular/material" as mat;
@use "./styles/asf-theme" as *;
@use "ngx-toastr/toastr";
@use "./styles/global/material";
@use "./styles/global/targeted";
@use "./styles/global/noui";
@use "./styles/global/toast";
@use "./styles/global/timeseries";
@use "./styles/global/shortcuts";
@import "prismjs/themes/prism-solarizedlight.css";

@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
$theme-map: null;

* {
  font-family: Roboto, sans-serif;
  letter-spacing: normal;
}

#dlQueueDialog {
  // USED in app.component
  resize: both;

  @include themify($themes) {
    // background-color: themed('primary-light');
  }

  width: 80vw;
  height: 86vh;
  min-width: 350px;
  min-height: 500px;
}

#processingQueueDialog {
  // USED IN app.component
  @include themify($themes) {
    // background: themed('primary-light');
  }

  resize: both;
  width: 80vw;
  height: 86vh;
  min-width: 360px;
  min-height: 600px;
}
