/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.card-spacing {
  margin: 4px;
}

.spreadsheet-width {
  width: 100vw;
}

.w100 {
  width: 100%;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
  padding-left: 0;
}
