<mat-card class="card-spacing" *ngIf="listSearchMode$ | async as mode">
  <div *ngIf="mode === types.GRANULE">
    Enter a list of granule names.
    <br>
    For example:
    <ul>
      <li> ALPSRP253527180 </li>
      <li> E2_15295_STD_F469 </li>
    </ul>
  </div>

  <div *ngIf="mode === types.PRODUCT">
    Enter a list of product ids.
    <br>
    For example:
    <ul>
      <li> ALPSRP253527180-KMZ </li>
      <li> E2_15295_STD_F469-L1 </li>
    </ul>
  </div>

  <h4>List Search Type</h4>

  <mat-button-toggle-group [value]="mode" style="margin-bottom: 10px" name="fontStyle" aria-label="Font Style">
    <mat-button-toggle
      (click)="onGranuleModeSelected()"
      [value]="types.GRANULE"
      matTooltip="Granule List Search">
        Granule
    </mat-button-toggle>

    <mat-button-toggle
      (click)="onProductModeSelected()"
      [value]="types.PRODUCT"
      matTooltip="Product List Search">
        Product
    </mat-button-toggle>
  </mat-button-toggle-group>

  <h4>List Input</h4>

  <mat-form-field style="width: 90%">
    <textarea matInput
      (change)="onTextInputChange($event.target.value)"
      [(ngModel)]="searchList"
      placeholder="{{ mode === types.GRANULE ? 'Granule' : 'Product' }} List">
    </textarea>
  </mat-form-field>
</mat-card>
