<div>
  <app-product-type-selector
    style="padding-right: 10px;"
    (typesChange)="onNewProductTypes($event)"
    [dataset]="dataset"
    *ngIf="dataset.id !== 'SENTINEL-1 BURSTS'">
  </app-product-type-selector>

  <mat-form-field>
    <mat-select
      (selectionChange)="onNewDatasetBeamModes($event.value)"
      [(ngModel)]="beamModes"
      [disabled]="!prop.isRelevant(p.BEAM_MODE)"
      placeholder="Beam Mode" multiple>
        <mat-option *ngFor="let mode of dataset.beamModes" [value]="mode">
          {{mode}}
        </mat-option>
    </mat-select>
    <mat-hint *ngIf="prop.isRelevant(p.BEAM_MODE)"  align="start">
      {{ beamModes?.length || 0 }}/{{ dataset.beamModes.length }}
      beam modes selected
    </mat-hint>

    <mat-hint *ngIf="!prop.isRelevant(p.BEAM_MODE)" align="start">
      No beam modes to select
    </mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-select
      (selectionChange)="onNewDatasetPolarizations($event.value)"
      [(ngModel)]="polarizations"
      [disabled]="!prop.isRelevant(p.POLARIZATION)"
      placeholder="Polarization" multiple>
      <mat-option *ngFor="let pol of dataset.polarizations" [value]="pol">
        {{pol}}
      </mat-option>
    </mat-select>
    <mat-hint *ngIf="prop.isRelevant(p.POLARIZATION)"  align="start">
      {{ polarizations?.length || 0 }}/{{ dataset.polarizations.length }}
      polarizations selected
    </mat-hint>
    <mat-hint *ngIf="!prop.isRelevant(p.POLARIZATION)" align="start">
      No polarizations to select
    </mat-hint>

  </mat-form-field>

  <mat-form-field>
    <mat-select
      (selectionChange)="onNewFlightDirectionsSelected($event.value)"
      [(ngModel)]="flightDirections"
      [disabled]="!prop.isRelevant(p.FLIGHT_DIRECTION)"
      placeholder="Direction" multiple>
      <mat-option *ngFor="let direction of flightDirectionTypes" [value]="direction">
        {{direction}}
      </mat-option>
    </mat-select>

    <mat-hint *ngIf="prop.isRelevant(p.FLIGHT_DIRECTION)" align="start">
      {{ flightDirections?.length || 0 }}/{{ flightDirectionTypes.length }}
      flight directions selected
    </mat-hint>
    <mat-hint *ngIf="!prop.isRelevant(p.FLIGHT_DIRECTION)" align="start">
      No flight directions to select
    </mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-select
      (selectionChange)="onNewSubtypeSelected($event.value)"
      [(ngModel)]="subtypes"
      [disabled]="!prop.isRelevant(p.SUBTYPE)"
      placeholder="Subtype" multiple>
      <mat-option *ngFor="let subtype of dataset.subtypes" [value]="subtype">
        {{ subtype.apiValue }}
      </mat-option>
    </mat-select>

    <mat-hint *ngIf="prop.isRelevant(p.SUBTYPE)" align="start">
      {{ subtypes?.length || 0 }}/{{ dataset.subtypes?.length }}
      subtypes selected
    </mat-hint>
    <mat-hint *ngIf="!prop.isRelevant(p.SUBTYPE)" align="start">
      No subtypes to select
    </mat-hint>
  </mat-form-field>
</div>
