<div>
  @if (dataset.id !== 'SENTINEL-1 BURSTS' && dataset.productTypes.length > 0) {
    <app-product-type-selector
      style="padding-right: 10px"
      (typesChange)="onNewProductTypes($event)"
    >
    </app-product-type-selector>
  }

  @if (prop.isRelevant(p.BEAM_MODE)) {
    <mat-form-field>
      <mat-select
        (selectionChange)="onNewDatasetBeamModes($event.value)"
        [(ngModel)]="beamModes"
        [disabled]="!prop.isRelevant(p.BEAM_MODE)"
        placeholder="{{ 'BEAM_MODE' | translate }}"
        multiple
      >
        @for (mode of dataset.beamModes; track mode) {
          <mat-option [value]="mode">
            {{ mode }}
          </mat-option>
        }
      </mat-select>
      @if (prop.isRelevant(p.BEAM_MODE)) {
        <mat-hint align="start">
          {{ beamModes?.length || 0 }}/{{ dataset.beamModes.length }}
          {{ 'BEAM_MODES_SELECTED' | translate }}
        </mat-hint>
      }
      @if (!prop.isRelevant(p.BEAM_MODE)) {
        <mat-hint align="start">
          {{ 'NO_BEAM_MODES_TO_SELECT' | translate }}
        </mat-hint>
      }
    </mat-form-field>
  }

  <mat-form-field>
    <mat-select
      (selectionChange)="onNewDatasetPolarizations($event.value)"
      [(ngModel)]="polarizations"
      [disabled]="!prop.isRelevant(p.POLARIZATION)"
      placeholder="{{ 'POLARIZATION' | translate }}"
      multiple
    >
      @for (pol of dataset.polarizations; track pol) {
        <mat-option [value]="pol">
          {{ pol }}
        </mat-option>
      }
    </mat-select>
    @if (prop.isRelevant(p.POLARIZATION)) {
      <mat-hint align="start">
        {{ polarizations?.length || 0 }}/{{ dataset.polarizations.length }}
        {{ 'POLARIZATIONS_SELECTED' | translate }}
      </mat-hint>
    }
    @if (!prop.isRelevant(p.POLARIZATION)) {
      <mat-hint align="start">
        {{ 'NO_POLARIZATIONS_TO_SELECT' | translate }}
      </mat-hint>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-select
      (selectionChange)="onNewFlightDirectionsSelected($event.value)"
      [(ngModel)]="flightDirections"
      [disabled]="!prop.isRelevant(p.FLIGHT_DIRECTION)"
      placeholder="{{ 'DIRECTION' | translate }}"
      multiple
    >
      @for (direction of flightDirectionTypes; track direction) {
        <mat-option [value]="direction">
          {{ direction.toUpperCase() | translate }}
        </mat-option>
      }
    </mat-select>

    @if (prop.isRelevant(p.FLIGHT_DIRECTION)) {
      <mat-hint align="start">
        {{ flightDirections?.length || 0 }}/{{ flightDirectionTypes.length }}
        {{ 'FLIGHT_DIRECTIONS_SELECTED' | translate }}
      </mat-hint>
    }
    @if (!prop.isRelevant(p.FLIGHT_DIRECTION)) {
      <mat-hint align="start">
        {{ 'NO_FLIGHT_DIRECTIONS_TO_SELECT' | translate }}
      </mat-hint>
    }
  </mat-form-field>

  @if (prop.isRelevant(p.SUBTYPE)) {
    <mat-form-field>
      <mat-select
        (selectionChange)="onNewSubtypeSelected($event.value)"
        [(ngModel)]="subtypes"
        [disabled]="!prop.isRelevant(p.SUBTYPE)"
        placeholder="{{ 'SUBTYPE' | translate }}"
        multiple
      >
        @for (subtype of dataset.subtypes; track subtype) {
          <mat-option [value]="subtype">
            {{ subtype.apiValue }}
          </mat-option>
        }
      </mat-select>
      @if (prop.isRelevant(p.SUBTYPE)) {
        <mat-hint align="start">
          {{ subtypes?.length || 0 }}/{{ dataset.subtypes?.length }}
          {{ 'SUBTYPES_SELECTED' | translate }}
        </mat-hint>
      }
      @if (!prop.isRelevant(p.SUBTYPE)) {
        <mat-hint align="start">
          {{ 'NO_SUBTYPES_TO_SELECT' | translate }}
        </mat-hint>
      }
    </mat-form-field>
  }

  @if (
    ['SENTINEL-1', 'SENTINEL-1 BURSTS', 'OPERA-S1', 'TROPO'].includes(
      dataset.id
    )
  ) {
    <mat-form-field>
      <input
        matInput
        (input)="onNewGroupID()"
        [(ngModel)]="groupID"
        [maxlength]="29"
        type="text"
        [placeholder]="'GROUP_ID' | translate"
      />
      <!-- <mat-hint *ngIf="prop.isRelevant(p.SUBTYPE)" align="start">
      {{ subtypes?.length || 0 }}/{{ dataset.subtypes?.length }}
      {{ 'SUBTYPES_SELECTED' | translate }}
    </mat-hint>
    <mat-hint *ngIf="!prop.isRelevant(p.SUBTYPE)" align="start">
      {{ 'NO_SUBTYPES_TO_SELECT' | translate }}
    </mat-hint> -->
    </mat-form-field>
  }

  @if (dataset.id === 'NISAR') {
    <app-short-name-selector
      class="short-name-selector"
      (shortNamesChange)="onNewShortNames($event)"
    ></app-short-name-selector>
  }
  <!-- <app-opera-calibration-data-selector *ngIf="dataset.id === 'OPERA-S1'"></app-opera-calibration-data-selector> -->
</div>
