<div *ngFor="let dataset of selected">
  <mat-form-field>
    <mat-select
      [(ngModel)]="productTypes[dataset.name]"
      (selectionChange)="onNewProductTypes(dataset, $event.value)"
      [disabled]="dataset.productTypes.length < 2"
      placeholder="Product Type" multiple>
        <mat-option
          *ngFor="let type of dataset.productTypes"
          [value]="type"
          [matTooltip]="type.displayName">
            {{type.displayName}}
        </mat-option>
    </mat-select>
    <mat-hint *ngIf="dataset.productTypes.length >= 2" align="start">
      {{ productTypes[dataset.name]?.length || 0 }}/{{ dataset.productTypes.length }}
      product types selected
    </mat-hint>

    <mat-hint *ngIf="dataset.productTypes.length < 2" align="start">
      No product types to select
    </mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-select
      (selectionChange)="onNewDatasetBeamModes(dataset, $event.value)"
      [(ngModel)]="beamModes[dataset.name]"
      [disabled]="dataset.beamModes.length < 2"
      placeholder="Beam Mode"
      multiple>
        <mat-option *ngFor="let mode of dataset.beamModes" [value]="mode">
          {{mode}}
        </mat-option>
    </mat-select>
    <mat-hint *ngIf="dataset.beamModes.length >= 2"  align="start">
      {{ beamModes[dataset.name]?.length || 0 }}/{{ dataset.beamModes.length }}
      beam modes selected
    </mat-hint>

    <mat-hint *ngIf="dataset.beamModes.length < 2" align="start">
      No beam modes to select
    </mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-select
      (selectionChange)="onNewDatasetPolarizations(dataset, $event.value)"
      [(ngModel)]="polarizations[dataset.name]"
      [disabled]="dataset.polarizations.length < 2"
      placeholder="Polarization" multiple>
      <mat-option *ngFor="let pol of dataset.polarizations" [value]="pol">
        {{pol}}
      </mat-option>
    </mat-select>
    <mat-hint *ngIf="dataset.polarizations.length >= 2"  align="start">
      {{ polarizations[dataset.name]?.length || 0 }}/{{ dataset.polarizations.length }}
      polarizations selected
    </mat-hint>
    <mat-hint *ngIf="dataset.polarizations.length < 2" align="start">
      No polarizations to select
    </mat-hint>

  </mat-form-field>

  <mat-form-field>
    <mat-select
      (selectionChange)="onNewFlightDirectionsSelected($event.value)"
      [(ngModel)]="flightDirections"
      placeholder="Direction"
      multiple>
      <mat-option *ngFor="let direction of flightDirectionTypes" [value]="direction">
        {{direction}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
