<mat-form-field class="short-name-form">
  <mat-label>{{ 'SHORT_NAME' | translate }}</mat-label>
  <mat-select
    class="short-name-dropdown"
    [(value)]="shortNamesList"
    (selectionChange)="onNewShortNames($event)"
    [disabled]="selectableShortNames.length === 0"
    panelClass="short-name-selector"
    multiple
  >
    @for (type of selectableShortNames(); track type) {
      <mat-option [value]="type.apiValue" [matTooltip]="type.apiValue">
        {{ type.displayName }}
      </mat-option>
    }
  </mat-select>

  @if (selectableShortNames().length >= 1) {
    <mat-hint align="start">
      {{ shortNamesList?.length || 0 }}/{{ selectableShortNames().length }}
      {{ 'SHORT_NAMES_SELECTED' | translate }}
    </mat-hint>
  }
</mat-form-field>
