<mat-button-toggle-group [value]="interaction"
  class="position" name="viewSelect" aria-label="Font Style">

  <mat-button-toggle
    (click)="onDrawSelected()"
    [value]="types.DRAW"
    matTooltip="Draw mode">
    <mat-icon class="interaction-icon">add</mat-icon>
  </mat-button-toggle>

  <mat-button-toggle
    (click)="onEditSelected()"
    [value]="types.EDIT"
    matTooltip="Edit mode">
    <mat-icon class="interaction-icon">edit</mat-icon>
  </mat-button-toggle>

</mat-button-toggle-group>
