@import "asf-theme";

%card-base {
  background-color: $asf-primary;
  color: white;
  border-radius: 0;
  margin-bottom: 10px;
  padding-left: 30px;
}

.bounds {
  display: block;
  position: fixed;
  width: 400px;
  height: 130px;
  z-index: 9999;
}

.content {
  @extend %card-base;
}

.sec1 {
}

.sec2 {
}

.example-header-image {
  background-image: url('/assets/meatball.jpg');
  background-size: cover;
}

.logo-card {
  background-color: $asf-primary;

  .header {
    font-size: 38px;
    line-height: 38px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: $asf-warn;
  }

  .subhead {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: lightgray;
    margin-bottom: 10px;
  }

  p {
    margin-top: -10px;
    font-size: 12px;
    color: lightgray;
    font-style: italic;
    letter-spacing: 0.02em;
  }
}
