@import "variables";

.example-header-image {
  background-image: url('/assets/meatball.jpg');
  background-size: cover;
}

%mat-card-shared {
  background-color: $uaf-accent-4;
  color: $uaf-neutrals-3;
}

.mat-card {
  @extend %mat-card-shared;

  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-radius: 0;
}

.mat-card-title {
  @extend %mat-card-shared;

  text-align: center;
  color: $uaf-primary-yellow;
}

.mat-card-subtitle {
  @extend %mat-card-shared;
}
