<div class="bounds">
  <mat-card class="content logo-card mat-elevation-z10"
       fxLayout="row"
       fxFlexFill >
    <div fxFlex="100%" class="sec1" >
      <app-toggle-button
        (click)="onToggleHide()"
        [isOpen]="isSidebarOpen$ | async">
      </app-toggle-button>
    </div>

<!--    <div fxFlex="80%" class="sec2" >-->
<!--        <div class="header">Vertex</div>-->
<!--        <div class="subhead">The SAR Search GUI</div>-->
<!--        <p>Made by the Alaska Satellite Facility</p>-->
<!--    </div>-->
  </mat-card>
</div>
