<mat-card>
  <!--<img width="66%" src="./assets/asf-logo.png" />-->
  <!--<p></p>-->
  <mat-card-title>Vertex - SAR Search UI</mat-card-title>
  <!--<mat-card-subtitle>SAR Search UI</mat-card-subtitle>-->
  <p></p>
  <img mat-card-image src="/assets/nav-map.png">
  <!--<mat-card-content>Primary card content. Intended for blocks of text</mat-card-content>-->
  <!--<mat-card-actions>Container for buttons at the bottom of the card</mat-card-actions>-->
  <!--<mat-card-footer>Section anchored to the bottom of the card</mat-card-footer>-->
</mat-card>
