.map-info--layout {
  align-self: flex-end;
  flex: 1 1 0%;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
}

.lat--layout {
  flex: 1 1 75px;
  box-sizing: border-box;
  max-width: 80px;
  min-width: 80px;
}

.lon--layout {
  flex: 1 1 85px;
  box-sizing: border-box;
  max-width: 90px;
  min-width: 90px;
}
