.map-info--layout {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  align-self: flex-end;
}

.lat--layout {
  box-sizing: border-box;
  flex: 1 1 75px;
  min-width: 75px;
  max-width: 75px;
}

.lon--layout {
  box-sizing: border-box;
  flex: 1 1 85px;
  min-width: 85px;
  max-width: 85px;
}
