<form class="container" [formGroup]="signupForm">
  <div class="form-column">
    <h1>{{ 'REQUEST_ON_DEMAND_ACCESS' | translate }}</h1>
    <p>{{ 'ON_DEMAND_ACCESS_DESCRIPTION' | translate }}</p>
    <h4>{{ 'VERIFY_EARTHDATA_LOGIN_PROFILE' | translate }}</h4>
    {{ 'VERIFY_EARTHDATA_LOGIN_PROFILE_DESCRIPTION' | translate }}
    <ul class="data-list">
      <li><b>{{ 'NAME' | translate }}:</b> {{ userInfo.first_name }} {{ userInfo.last_name }}</li>
      <li><b>{{ 'USERNAME' | translate }}:</b> {{ userInfo.uid }}</li>
      <li><b>{{ 'EMAIL_ADDRESS' | translate }}:</b> {{ userInfo.email_address }}</li>
      <li><b>{{ 'ORGANIZATION' | translate }}:</b> {{ userInfo.organization }}</li>
      <li></li>
      <li><b>{{ 'COUNTRY' | translate }}:</b> {{ userInfo.country }}</li>
    </ul>
    <mat-checkbox color="primary" formControlName="infoConfirmation"
      >{{ 'CONFIRM_EARTHDATA_LOGIN_INFO_PART1' | translate }}
      <b>{{ userInfo.email_address }}</b> {{ 'CONFIRM_EARTHDATA_LOGIN_INFO_PART2' | translate }}</mat-checkbox
    >
  </div>
  <div class="form-column">
    <h3>{{ 'HOW_TO_USE_SERVICE' | translate }}</h3>
    <p>{{ 'HOW_TO_USE_SERVICE_DESCRIPTION' | translate }}</p>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'EXAMPLES' | translate }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item class="list-item">
            <span matListItemTitle>{{ 'EXAMPLE_1' | translate }}: </span>
            <span matListItemLine class="list-item-content">{{ 'EXAMPLE_1_DESCRIPTION' | translate }}</span>
          </mat-list-item>
          <mat-list-item class="list-item">
            <span matListItemTitle>{{ 'EXAMPLE_2' | translate }}: </span>
            <span matListItemLine class="list-item-content">{{ 'EXAMPLE_2_DESCRIPTION' | translate }}</span>
          </mat-list-item>
          <mat-list-item class="list-item">
            <span matListItemTitle>{{ 'EXAMPLE_3' | translate }}: </span>
            <span matListItemLine class="list-item-content">{{ 'EXAMPLE_3_DESCRIPTION' | translate }}</span>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
    <br />
    <mat-form-field style="width: 100%">
      <mat-label>{{ 'HOW_TO_USE_SERVICE' | translate }}</mat-label>
      <textarea
        matInput
        [placeholder]="'PLACEHOLDER_USE_CASE' | translate"
        style="height: 150px"
        formControlName="useCase"
      ></textarea>
    </mat-form-field>
    <h4 style="margin-bottom: 5px">{{ 'WORKSHOP_TUTORIAL_PARTICIPANT' | translate }}</h4>
    <span>{{ 'WORKSHOP_TUTORIAL_PARTICIPANT_DESCRIPTION' | translate }}</span>
    <mat-form-field style="width: 100%">
      <mat-label>{{ 'ACCESS_CODE_OPTIONAL' | translate }}</mat-label>
      <input
        matInput
        style="height: 50px"
        formControlName="accessCode"
        type="text"
      />
      <mat-error>{{ accessCodeErrorMessage }}</mat-error>
    </mat-form-field>
    <div
      [matTooltip]="submitButtonTooltip"
      class="form-submit-button-container"
    >
      <button
        mat-flat-button
        color="primary"
        (click)="onRegisterPressed()"
        [disabled]="signupForm.invalid"
        class="form-submit-button"
      >
        {{ submitButtonText }}
      </button>
    </div>
  </div>
</form>
