<mat-form-field [matTooltip]="optionInfo"
  matTooltipClass="on-demand-tooltip"
  >
  <mat-label>{{ optionName }}</mat-label>
  <mat-select [(value)]="value"
    (selectionChange)="onValueChange($event.value)">
    <mat-option *ngFor="let option of options"
      [value]="option.apiValue">
      {{ option.name | uppercase | translate  }}
      <ng-container *ngIf="!!costsTable">
        ({{ costsTable[option.apiValue] }} <span [ngPlural]="costsTable[option.apiValue]">
            <ng-template ngPluralCase="=1">{{ 'CREDIT' | translate }}</ng-template>
            <ng-template ngPluralCase="other">{{ 'CREDITS' | translate }}</ng-template>
          </span>)
      </ng-container>
    </mat-option>
  </mat-select>
</mat-form-field>
