.sbas-slider {
  line-height: 42px;
  font-weight: normal;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0 20px 60px 20px;
}

.sbas-label {
  color: grey;
}

.sbas-mat-slider {
  width: 80%;
}
