.sbas-slider-wrapper {
  line-height: 27px;
  font-weight: normal;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 20px 0 60px 20px;
  flex-direction: column;
  height: 90%;
}

.sbas-label {
  color: grey;
}

.sbas-slider-result {
  flex: none;
  margin-top: 32px;
}

.sbas-slider {
  flex: none;
  height: 80%;
}
