.name-edit-form {
  display: inline;
}

.saved-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  margin: 0;
}

.search-description {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
}

.expand-arrow {
  margin-right: 20px;
  margin-top: -2px;
}

.expand-arrow--icon {
  font-size: 38px;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 38px;
  width: 38px;
}

.edit-icon {
  font-size: 18px;
}

.search-name {
  font-weight: bold;
}

.search-preview {
  margin-top: 5px;
}

.search-action-group {
  display: flex;
  flex: initial;
}

.search-action {
  margin: 0 !important;
  padding: 0 !important;
  background-color: inherit;
}

.detailed-view {
  padding: 0 10px 15px 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  word-break: break-all;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-form-field-infix {
  max-width: 50% !important;
}