<div class="saved-search">
  <div class="search-description">
    <div (click)="expandSearch()" class="clickable expand-arrow">
      @if (!isExpanded) {
        <mat-icon class="expand-arrow--icon">keyboard_arrow_right</mat-icon>
      }
      @if (isExpanded) {
        <mat-icon class="expand-arrow--icon">keyboard_arrow_down</mat-icon>
      }
    </div>
    <div class="">
      <div class="search-title">
        @if (!isEditingName) {
          <span
            (click)="onEditName()"
            [matTooltip]="isSavedSearch ? ('EDIT_NAME' | translate) : ''"
            [class.clickable]="isSavedSearch"
            class="search-name clickable"
          >
            {{ formatName(search.name) }}
            @if (isSavedSearch) {
              <mat-icon class="edit-icon">edit</mat-icon>
            }
          </span>
        }

        @if (isEditingName) {
          <span>
            <form
              class="name-edit-form"
              #nameEditForm="ngForm"
              onsubmit="return false"
            >
              <mat-form-field>
                <input
                  matInput
                  [(ngModel)]="editName"
                  (change)="onNewName($event)"
                  (keyup.enter)="onEditFocusLeave()"
                  (focusout)="onEditFocusLeave()"
                  name="editNameInput"
                  [placeholder]="'SEARCH_NAME' | translate"
                  #nameEditInput
                />
              </mat-form-field>
            </form>
          </span>
        }

        <span>
          {{ searchTranslation[search.searchType] | translate }}
        </span>
      </div>

      @if (!isEditingName) {
        <div class="search-preview">
          @if (search.searchType === SearchType.DATASET) {
            <span>
              {{ (search.filters | geographicFilter).selectedDataset }}
              {{ formatDatesFor(search.filters | geographicFilter) }}
            </span>
          }
          @if (search.searchType === SearchType.LIST) {
            <span>
              {{ listPreview(search.filters | listFilter) }}
            </span>
          }
        </div>
      }
    </div>
  </div>

  <div class="search-action-group">
    <button (click)="onSetSearch()" class="search-action" mat-flat-button>
      <i class="material-icons">image_search</i>
    </button>

    @if (isSavedSearch) {
      <button (click)="onDeleteSearch()" class="search-action" mat-flat-button>
        <i class="material-icons">delete_forever</i>
      </button>
    }
  </div>
</div>

@if (isExpanded) {
  <div class="detailed-view">
    <app-search-filters [search]="search"> </app-search-filters>
    @if (isSavedSearch) {
      <div
        [matTooltip]="
          search.searchType === searchType
            ? ('UPDATE_SAVED_SEARCH' | translate)
            : ('SEARCH_TYPE_MISMATCH' | translate)
        "
      >
        <button
          (click)="onUpdateFilters(search.id)"
          class="search-action"
          color="secondary"
          mat-flat-button
          [disabled]="search.searchType !== searchType"
        >
          {{ 'UPDATE' | translate }}
        </button>
      </div>
    }
  </div>
}
