<mat-form-field class="w100">
  <mat-label> {{ 'SEARCH_FOR_A_LOCATION' | translate}} </mat-label>

  <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="search_key" (ngModelChange)="onChange($event)">
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete" (optionSelected)='onSelect($event.option.value)' autoActiveFirstOption="'true"
  [displayWith]="displayFunc">
  <mat-option *ngFor="let option of options" [value]="option">
    {{option.name}}
  </mat-option>
</mat-autocomplete>
