@use "asf-theme-variables" as *;
@use "tokens" as *;

$header-height: 120px;
$footer-height: 60px;
$bottom-offset: spacing(sm);

:host .tab-menu .mat-mdc-menu-content {
  width: 160px !important;
}

[mat-dialog-title] {
  background: #369; // TODO: check this
  color: var(--asf-light-primary-text);
  cursor: move;
  text-align: center;
}

.processing-queue {
  color: var(--asf-dark-primary-text);
  background-color: var(--asf-primary-light);
  min-width: 350px;
  height: 100%;
  min-height: 500px;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 25px;
  font-weight: bold;
}

.pq-card-title-group {
  color: var(--asf-dark-primary-text);
  background-color: var(--asf-primary-light);
  header-bottom-color: var(--asf-primary-dark);
  padding: spacing(sm) 0 0 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 100%;
  height: $header-height;
  position: absolute;
  top: 0;
  flex: 1 1 auto;
  text-align: left;
}

.jobs-dialog {
  width: 100%;
  height: calc(100% - #{$footer-height});
}

.jobs-display--mobile {
  height: 463px;
  overflow: visible;
}

.jobs-list-panel {
  width: 100%;
}

.jobs-detail {
  overflow: hidden;
}

.no-job-selected {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-filter {
  background-color: var(--asf-surface);
  border-bottom: solid grey 1px;
  height: 60px;
}

.loading-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.loading-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: spacing(md);
  font-size: 28px;
}

.on-demand-branding {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
  margin-bottom: -#{spacing(xs)};
}

.on-demand-icon {
  @include md-icon-size(72px);
  color: var(--asf-dark-primary-text);
}

.on-demand-text {
  vertical-align: middle;
  margin-top: -16px;
}

.close-x {
  position: absolute;
  top: 10px;
  right: 16px;
  text-align: right;
  float: right;
  cursor: pointer;
}

.close-x-mobile {
  right: 32px;
}

.project-name {
  display: inline-block;
  font-size: 14px;
  margin-top: spacing(sm);
  margin-left: spacing(md);
}

.project-name-mobile {
  transform: scale(0.75);
  margin-left: spacing(2);
}

.dataset-menu {
  background-color: var(--asf-primary-light);
  filter: brightness(1.07); // Lighten effect
  display: block;
  position: absolute;
  top: 84px;
  height: 36px;
  width: 100%;
  text-align: left;
  border-top-color: #3d3e38; // TODO: check this
  border-top-width: 1px;
  border-top-style: solid;
}

.processing-type-text {
  font-size: 16px;
  margin: 0 spacing(sm);
}

.processing-type-count {
  font-size: 8px;
  vertical-align: super;
}

.error-header {
  background-color: var(--asf-surface);
  border-bottom-color: var(--asf-primary-dark);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-tab-selector {
  border-bottom-color: var(--asf-primary-dark);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.doc-feedback-div {
  display: flex;
  justify-content: flex-end;
  margin-top: -42px;
  margin-right: spacing(md);
}

.doc-feedback-div-mobile {
  margin-right: 36px;
}

.docs-div {
  cursor: pointer;
  flex: 0 1 auto;
  margin-right: spacing(md);
  margin-top: 2px;
}

.feedback-div {
  cursor: pointer;
  flex: 0 1 auto;
  width: 133px;
}

.header-link {
  font-size: 18px;

  a {
    text-decoration: underline;
    color: var(--asf-blue-link);
  }
}

.help-div {
  position: absolute;
  top: 53px;
  right: 130px;
  text-align: right;
  float: right;
  cursor: pointer;
}

.on-demand-subtitle {
  color: var(--asf-dark-secondary-text);
  font-style: italic;
  font-size: 14px;
  line-height: 12px;
}

.mat-mdc-dialog-content {
  background-color: var(--asf-surface);
  position: absolute;
  display: block;
  top: $header-height;
  height: calc(100% - #{$header-height} - #{$footer-height} - #{$bottom-offset});
  max-height: calc(100% - #{$header-height} - #{$footer-height} - #{$bottom-offset});
  width: 100%;
  overflow-y: auto !important;
  overflow-x: hidden;
  padding: 0;
  margin: 0;

  /* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
  .mat-dialog-content-2 {
    top: initial;
    height: calc(100% - #{$footer-height});
    overflow: initial;
  }
}

.dialog-content-mobile {
  overflow-y: auto !important;
}

.content-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}

.content-message-area {
  flex: 1 0 100%;
  width: 100%;
  margin-left: spacing(sm);
}

.content-top-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0 spacing(sm) spacing(md);
  border-bottom: solid 2px grey;
  height: 100%;
}

.top-item {
  flex: 1 0 auto;
  height: 100%;
  min-width: 200px;
}

.content-bottom-area {
  display: flex;
  flex-direction: row;
  height: 100%;
  //overflow-y: auto;
}

.content-bottom-area-mobile {
  overflow-y: visible;
}

.bottom-item {
  height: 100%;
  width: 100%;
}

.mat-mdc-dialog-actions {
  background-color: var(--asf-primary-light);
  position: absolute;
  display: flex;
  width: 100%;
  height: $footer-height;
  bottom: $bottom-offset;
  margin-bottom: 0;
  padding: 0;
}

.hyp3-footer {
  background-color: var(--asf-primary-light);
  border-top-color: var(--asf-primary-dark);
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  border-top-style: solid;
  border-top-width: 1px;
}

.footer-clear {
  flex: none;
  align-self: center;
}

.footer-submit {
  flex: none;
  margin: 12px spacing(sm) 12px 0;
}

.footer-submit-mobile {
  margin-top: 19px;
}

.footer-job-notification {
  color: var(--asf-dark-primary-text);
  flex: none;
  margin-right: spacing(sm);
  margin-left: spacing(sm);
  align-self: center;
  font-size: 14px;
}

.footer-submit-button {
  display: inline-flex;
  align-self: center;
}

.footer-mini-text {
  font-size: 12px;
}

.mwlResizable {
  box-sizing: border-box;
}

.rectangle {
  color: var(--asf-warn);
  border-color: var(--asf-warn);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 300px;
  border-style: solid;
  font-size: 25px;
  font-weight: bold;
  background-color: grey;
}

.resize-handle-top,
.resize-handle-bottom {
  position: absolute;
  height: 5px;
  cursor: row-resize;
  width: 100%;
}

.resize-handle-top {
  top: 0;
}

.resize-handle-bottom {
  bottom: 0;
}

.resize-handle-left,
.resize-handle-right {
  position: absolute;
  height: 100%;
  cursor: col-resize;
  width: 5px;
}

.resize-handle-left {
  left: 0;
}

.resize-handle-right {
  right: 0;
}

.job-type--button {
  margin-right: spacing(xs);
}

.hyp3-url {
  color: var(--asf-dark-secondary-text);
  height: 32px;
  font-size: 12px;
  margin: -4px 0 6px 0;
}

.hyp3-url-mobile {
  margin: 17px 0 0 0;
}

.branding-block {
  display: flex;
  flex-direction: column;
}

a {
  color: var(--asf-blue-link);
}
