@import "asf-theme";

$header-height: 120px;
$footer-height: 60px;
$bottom-offset: 10px;
$background-color: $asf-primary-light;
$color: $asf-primary-dark;

::ng-deep.mat-dialog-container {
  resize: both;
  overflow: auto;
  background: $background-color;
  width: 80vw;
  height: 86vh;
  min-width: 350px;
  min-height: 500px;
}

::ng-deep .tab-menu .mat-menu-content {
  width: 160px !important;
}

[mat-dialog-title] {
  background: #369;
  color: #fff;
  cursor: move;
  text-align: center;
}

.processing-queue {
  min-width: 350px;
  height: 100%;
  min-height: 500px;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 25px;
  font-weight: bold;
  color: $asf-primary-dark;
  background-color: $background-color;
}

.pq-card-title-group {
  background-color: $asf-primary-light;
  color: $asf-primary-dark;
  padding: 10px 10px 0 0;
  border-bottom-style: solid;
  border-bottom-color: $asf-primary-dark;
  border-bottom-width: 1px;
  width: 100%;
  height: $header-height;
  position: absolute;
  top: 0;
  flex: 1 1 auto;
  text-align: left;
}

.jobs-dialog {
  width: 100%;
  height: calc(100% - #{$footer-height});
}

.jobs-display--mobile {
  height: 463px;
  overflow: visible;
}

.jobs-list-panel {
  width: 100%;
}

.jobs-detail {
  overflow: hidden;
}

.no-job-selected {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-filter {
  border-bottom: solid grey 1px;
  background: white;
  height: 60px;
}

.loading-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.loading-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  font-size: 28px;
}

.on-demand-branding {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
  margin-bottom: -5px;
}

.on-demand-icon {
  @include md-icon-size(72px);

  color: $asf-primary-dark;
}

.on-demand-text {
  display: inline-block;
  vertical-align: middle;
  margin-top: -16px;
}

.close-x {
  position: absolute;
  top: 10px;
  right: 16px;
  text-align: right;
  float: right;
  cursor: pointer;
}

.project-name {
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 20px;
}

.project-name-mobile {
  transform: scale(0.75);
  margin-left: 4px;
}

.dataset-menu {
  display: block;
  position: absolute;
  top: 84px;
  height: 36px;
  width: 100%;
  text-align: left;
  background-color: adjust-color($asf-primary-light, $lightness: +7%);
  border-top-color: #3d3e38;
  border-top-width: 1px;
  border-top-style: solid;
}

.processing-type-text {
  font-size: 16px;
  margin: 0 10px;
}

.processing-type-count {
  font-size: 8px;
  vertical-align: super;
}

.error-header {
  border-bottom-style: solid;
  border-bottom-color: $asf-primary-dark;
  border-bottom-width: 1px;
  background: white;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-tab-selector {
  border-bottom-style: solid;
  border-bottom-color: $asf-primary-dark;
  border-bottom-width: 1px;
}

.feedback-div {
  position: absolute;
  top: 53px;
  right: 16px;
  text-align: right;
  float: right;
  cursor: pointer;
}

.docs-div {
  position: absolute;
  top: 53px;
  right: 130px;
  text-align: right;
  float: right;
  cursor: pointer;
}

.header-link {
  font-size: 18px;

  a {
    text-decoration: none;
    color: $asf-primary;
  }
}

.help-div {
  position: absolute;
  top: 53px;
  right: 130px;
  text-align: right;
  float: right;
  cursor: pointer;
}

.on-demand-subtitle {
  margin-top: -42px;
  font-style: italic;
  margin-left: 75px;
  font-size: 14px;
  margin-bottom: 17px;
  color: #65665c;
  display: block;
  position: absolute;
}

.mat-dialog-content {
  position: absolute;
  display: block;
  top: $header-height;
  height: calc(100% - #{$header-height} - #{$footer-height} - #{$bottom-offset});
  max-height: calc(100% - #{$header-height} - #{$footer-height} - #{$bottom-offset});
  width: 100%;
  overflow-y: auto !important;
  overflow-x: hidden;
  background-color: white;
  padding: 0;
  margin: 0;

  .mat-dialog-content-2 {
    top: initial;
    height: calc(100% - #{$footer-height});
    overflow: initial;
  }
}

.dialog-content-mobile {
  overflow-y: auto !important;
}

.content-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}

.content-message-area {
  flex: 1 0 100%;
  width: 100%;
  margin-left: 10px;
}

.content-top-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0 8px 15px;
  border-bottom: solid 2px grey;
  height: 100%;
}

.top-item {
  flex: 1 0 auto;
  height: 100%;
  min-width: 200px;
}

.content-bottom-area {
  display: flex;
  flex-direction: row;
  height: 100%;
  //overflow-y: auto;
}

.content-bottom-area-mobile {
  overflow-y: visible;
}

.bottom-item {
  height: 100%;
  width: 100%;
}

.mat-dialog-actions {
  position: absolute;
  display: flex;
  background-color: $background-color;
  width: 100%;
  height: $footer-height;
  bottom: $bottom-offset;
  margin-bottom: 0;
  padding: 0;
}

.hyp3-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  background-color: $asf-primary-light;
  border-top-style: solid;
  border-top-color: $asf-primary-dark;
  border-top-width: 1px;
}

.footer-clear {
  flex: none;
  align-self: center;
}

.footer-submit {
  flex: none;
  margin: 12px 16px 12px 0;
}

.footer-job-notification {
  flex: none;
  margin-right: 20px;
  align-self: center;
  color: $asf-primary-dark;
  font-size: 14px;
}

.footer-submit-button {
  display: inline-flex;
  align-self: center;
}

.mwlResizable {
  box-sizing: border-box;
}

.rectangle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 300px;
  border-color: red;
  border-style: solid;
  font-size: 25px;
  font-weight: bold;
  color: red;
  background-color: grey;
}

.resize-handle-top,
.resize-handle-bottom {
  position: absolute;
  height: 5px;
  cursor: row-resize;
  width: 100%;
}

.resize-handle-top {
  top: 0;
}

.resize-handle-bottom {
  bottom: 0;
}

.resize-handle-left,
.resize-handle-right {
  position: absolute;
  height: 100%;
  cursor: col-resize;
  width: 5px;
}

.resize-handle-left {
  left: 0;
}

.resize-handle-right {
  right: 0;
}

.job-type--button {
  margin-right: 5px;
}
