@use "asf-theme-variables" as *;

.dataset-filters-div {
  /* autoprefixer: off */
  position: absolute;
  inset: 0;
  z-index: 2020;
  width: 900px;
  max-width: 100vw;
  margin: 0 auto;
  overflow: hidden;
}

.dataset-filters-card {
  @include themify($themes) {
    background-color: themed('background-white');
  }

  z-index: 1020;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  overflow: hidden;
  box-shadow:
    0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%),
    0 5px 5px -3px rgb(0 0 0 / 40%);

  @media screen and (width <= 800px) {
    height: calc(100% - 32px);
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 1020;
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-size: 24px;

    @include themify($themes) {
      background-color: themed('primary-light');
      border-bottom: 1px solid themed('primary-dark');

    }
  }

  .header-title {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .save-search-btn {
    margin-left: 5px;
  }

  .filters-list {
    flex-grow: 1;
    min-height: 4em;
    padding: 10px;
    overflow: auto;
  }

  .footer {
    position: sticky;
    bottom: 0;
    z-index: 1020;
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: flex-end;
    min-height: 30px;
    padding: 10px;

    @include themify($themes) {
      background-color: themed('primary-light');
      border-top: 1px solid themed('primary-dark');

    }
  }
}

.filter-scroll {
  z-index: 1;
}

.max-results-spacing {
  align-self: center;
  margin-right: 10px;
}

h3 {
  @include themify($themes) {
    color: themed('primary')
  }
}

.info-icon {
  @include themify($themes) {
    color: themed('primary')
  }

  flex-shrink: 0;
  padding-left: 5px;
  margin-top: 6px;
}

.no-pointer {
  pointer-events: none;
}

.pointer {
  pointer-events: auto;
}

.hidden {
  display: none;
}
