@use "asf-theme-variables" as *;
@use "tokens" as *;

.hidden {
  display: none;
}

.dataset-filters-div {
  /* autoprefixer: off */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 900px;
  height: -webkit-fill-available;
  max-width: 100vw;
  //max-height: calc(100vh - 32px);
  max-height: 100vh;
  overflow: hidden;
  z-index: 2020; // Custom z-index for filters overlay
}

.no-pointer {
  pointer-events: none;
}

.pointer {
  pointer-events: auto;
}

.dataset-filters-card {
  background-color: var(--asf-surface);
  z-index: z-index(sticky);
  display: flex;
  height: -webkit-fill-available;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: nowrap;
  box-shadow: var(--shadow-lg);

  .header {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--asf-primary-light);
    border-bottom: 1px solid var(--asf-borders);
    font-size: font-size(xxl);
    padding: spacing(md);
    z-index: z-index(sticky);
  }

  .header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-grow: 1;
  }

  .save-search-btn {
    margin-left: spacing(sm);
  }

  .filters-list {
    flex-grow: 1;
    overflow: auto;
    min-height: 4em;
    max-height: calc(100vh - 170px);
    padding: spacing(2);

  }

  .filters-list-mobile {
    //max-height: calc(100vh - 300px);
  }

  .footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: sticky;
    bottom: 0;
    background-color: var(--asf-primary-light);
    border-top: 1px solid var(--asf-borders);
    z-index: z-index(sticky);
    padding: spacing(2);
    min-height: 30px;

  }
}

.filter-scroll {
  z-index: 1;
}

h3 {
  color: var(--asf-primary);
}

.info-icon {
  color: var(--asf-primary);
  padding-left: spacing(sm);
  flex-shrink: 0;
  margin-top: spacing(sm);
}
