@import "asf-theme";

.hidden {
  display: none;
}

.dataset-filters-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 900px;
  max-width: 100vw;
  max-height: calc(100vh - 32px);
  overflow: hidden;
  z-index: 1020;
}

.no-pointer {
  pointer-events: none;
}

.pointer {
  pointer-events: auto;
}

.dataset-filters-card {
  background-color: $asf-background-white;
  z-index: 1020;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: nowrap;
  box-shadow:
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.4);

  .header {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: $asf-primary-light;
    border-bottom: 1px solid $asf-primary-dark;
    font-size: 24px;
    padding: 15px;
    z-index: 1020;
  }

  .header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .save-search-btn {
    margin-left: 5px;
  }

  .filters-list {
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
    max-height: calc(100vh - 170px);
    padding: 10px;
  }

  .filters-list-mobile {
    max-height: calc(100vh - 300px);
  }

  .footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: sticky;
    bottom: 0;
    background-color: $asf-primary-light;
    border-top: 1px solid $asf-primary-dark;
    z-index: 1020;
    padding: 10px;
    min-height: 30px;
  }
}

.filter-scroll {
  z-index: 1;
}

h3 {
  color: $asf-primary;
}

.info-icon {
  position: absolute;
  margin-left: 212px;
  margin-top: 6px;
  color: $asf-primary;
}
