<div *ngIf="searchType$ | async as selectedSearchType"
  [@isOpen]="isFiltersMenuOpen$ | async"
  [class.no-pointer]="breakpoint === breakpoints.FULL"
  class="dataset-filters-div padding-for-box-shadow">
  <div class="dataset-filters-card"
    [class.pointer]="breakpoint === breakpoints.FULL"
    >
    <div class="header">
      <div class="header-title">
        <ng-container *ngIf="selectedSearchType === searchTypes.DATASET">
          Search Filters
        </ng-container>

        <ng-container *ngIf="selectedSearchType === searchTypes.LIST">
          List Search
        </ng-container>

        <ng-container *ngIf="selectedSearchType === searchTypes.BASELINE">
          Baseline Search
        </ng-container>

        <ng-container *ngIf="selectedSearchType === searchTypes.SBAS">
          SBAS Search
        </ng-container>

        <ng-container *ngIf="selectedSearchType === searchTypes.CUSTOM_PRODUCTS">
          On Demand Search
        </ng-container>

        <ng-container *ngIf="selectedSearchType === searchTypes.SARVIEWS_EVENTS">
          Event Search
        </ng-container>
      </div>
    </div>

    <div class="filters-list">
      <ng-container *ngIf="selectedSearchType === searchTypes.DATASET">
        <app-dataset-filters [dataset]="(dataset$ | async)">
        </app-dataset-filters>
      </ng-container>

      <ng-container *ngIf="selectedSearchType === searchTypes.LIST">
        <app-list-filters></app-list-filters>
      </ng-container>

      <ng-container *ngIf="selectedSearchType === searchTypes.BASELINE">
        <app-baseline-filters></app-baseline-filters>
      </ng-container>

      <ng-container *ngIf="selectedSearchType === searchTypes.SBAS">
        <app-sbas-filters></app-sbas-filters>
      </ng-container>

      <ng-container *ngIf="selectedSearchType === searchTypes.CUSTOM_PRODUCTS">
        <app-custom-products-filters></app-custom-products-filters>
      </ng-container>
      <ng-container *ngIf="selectedSearchType === searchTypes.SARVIEWS_EVENTS">
        <app-sarviews-filters></app-sarviews-filters>
      </ng-container>
    </div>

    <div class="footer">
      <ng-container>
        <app-max-results-selector class = "search-button"
          *ngIf="
             selectedSearchType !== searchTypes.BASELINE && selectedSearchType !== searchTypes.SBAS &&
             selectedSearchType !== searchTypes.CUSTOM_PRODUCTS && selectedSearchType !== searchTypes.SARVIEWS_EVENTS
          "
          style="margin-right: 10px;">
        </app-max-results-selector>
        <!-- <app-save-user-filters></app-save-user-filters> -->
        <app-cancel-filter-changes></app-cancel-filter-changes>
        <app-search-button></app-search-button>
      </ng-container>
    </div>
  </div>
</div>
